@reference '@acorex/styles/themes/default.css';
@font-face {
  font-family: "kufam";
  src: url("/assets/fonts/ar/kufam/Kufam-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
