/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 246, 248, 251;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 35, 40, 52;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 245, 246, 246;
  --ax-sys-color-on-lighter-surface: 45, 46, 46;
  --ax-sys-color-border-lighter-surface: 226, 227, 229;
  --ax-sys-color-light-surface: 238, 238, 240;
  --ax-sys-color-on-light-surface: 45, 46, 47;
  --ax-sys-color-border-light-surface: 219, 220, 223;
  --ax-sys-color-surface: 231, 231, 233;
  --ax-sys-color-on-surface: 45, 46, 47;
  --ax-sys-color-border-surface: 212, 213, 216;
  --ax-sys-color-dark-surface: 223, 224, 227;
  --ax-sys-color-on-dark-surface: 45, 46, 48;
  --ax-sys-color-border-dark-surface: 204, 206, 210;
  --ax-sys-color-darker-surface: 216, 217, 220;
  --ax-sys-color-on-darker-surface: 45, 46, 48;
  --ax-sys-color-border-darker-surface: 197, 199, 203;
  --ax-sys-color-darkest-surface: 206, 208, 212;
  --ax-sys-color-on-darkest-surface: 44, 46, 49;
  --ax-sys-color-border-darkest-surface: 187, 189, 195;
  /* Ranges */
  --ax-sys-color-primary-50: 230, 243, 255;
  --ax-sys-color-primary-100: 208, 228, 255;
  --ax-sys-color-primary-200: 177, 207, 255;
  --ax-sys-color-primary-300: 136, 173, 253;
  --ax-sys-color-primary-400: 98, 133, 210;
  --ax-sys-color-primary-500: 75, 108, 183;
  --ax-sys-color-primary-600: 63, 95, 169;
  --ax-sys-color-primary-700: 49, 79, 152;
  --ax-sys-color-primary-800: 41, 68, 133;
  --ax-sys-color-primary-900: 41, 61, 107;
  --ax-sys-color-primary-950: 23, 37, 69;
  --ax-sys-color-secondary-50: 232, 246, 255;
  --ax-sys-color-secondary-100: 213, 233, 255;
  --ax-sys-color-secondary-200: 186, 215, 255;
  --ax-sys-color-secondary-300: 159, 188, 240;
  --ax-sys-color-secondary-400: 126, 154, 204;
  --ax-sys-color-secondary-500: 106, 133, 182;
  --ax-sys-color-secondary-600: 90, 116, 164;
  --ax-sys-color-secondary-700: 71, 96, 142;
  --ax-sys-color-secondary-800: 58, 80, 122;
  --ax-sys-color-secondary-900: 52, 69, 98;
  --ax-sys-color-secondary-950: 26, 36, 56;
  --ax-sys-color-success-50: 191, 255, 253;
  --ax-sys-color-success-100: 144, 255, 244;
  --ax-sys-color-success-200: 127, 242, 228;
  --ax-sys-color-success-300: 101, 217, 204;
  --ax-sys-color-success-400: 65, 186, 173;
  --ax-sys-color-success-500: 38, 166, 154;
  --ax-sys-color-success-600: 0, 146, 135;
  --ax-sys-color-success-700: 0, 122, 112;
  --ax-sys-color-success-800: 21, 101, 92;
  --ax-sys-color-success-900: 40, 83, 77;
  --ax-sys-color-success-950: 24, 41, 39;
  --ax-sys-color-warning-50: 255, 247, 218;
  --ax-sys-color-warning-100: 255, 240, 202;
  --ax-sys-color-warning-200: 255, 230, 180;
  --ax-sys-color-warning-300: 255, 214, 141;
  --ax-sys-color-warning-400: 255, 193, 88;
  --ax-sys-color-warning-500: 255, 183, 77;
  --ax-sys-color-warning-600: 223, 153, 38;
  --ax-sys-color-warning-700: 184, 117, 0;
  --ax-sys-color-warning-800: 146, 92, 22;
  --ax-sys-color-warning-900: 110, 77, 42;
  --ax-sys-color-warning-950: 41, 28, 17;
  --ax-sys-color-danger-50: 255, 238, 237;
  --ax-sys-color-danger-100: 255, 224, 222;
  --ax-sys-color-danger-200: 255, 203, 200;
  --ax-sys-color-danger-300: 255, 169, 166;
  --ax-sys-color-danger-400: 249, 133, 132;
  --ax-sys-color-danger-500: 229, 115, 115;
  --ax-sys-color-danger-600: 205, 93, 95;
  --ax-sys-color-danger-700: 176, 67, 71;
  --ax-sys-color-danger-800: 148, 51, 55;
  --ax-sys-color-danger-900: 117, 50, 50;
  --ax-sys-color-danger-950: 60, 26, 23;
  --ax-sys-color-accent1-50: 249, 240, 255;
  --ax-sys-color-accent1-100: 238, 225, 255;
  --ax-sys-color-accent1-200: 224, 203, 255;
  --ax-sys-color-accent1-300: 202, 170, 255;
  --ax-sys-color-accent1-400: 169, 137, 227;
  --ax-sys-color-accent1-500: 149, 117, 205;
  --ax-sys-color-accent1-600: 131, 99, 185;
  --ax-sys-color-accent1-700: 110, 78, 162;
  --ax-sys-color-accent1-800: 93, 63, 139;
  --ax-sys-color-accent1-900: 77, 57, 110;
  --ax-sys-color-accent1-950: 41, 27, 63;
  --ax-sys-color-accent2-50: 231, 251, 255;
  --ax-sys-color-accent2-100: 215, 244, 255;
  --ax-sys-color-accent2-200: 193, 234, 255;
  --ax-sys-color-accent2-300: 157, 217, 255;
  --ax-sys-color-accent2-400: 115, 196, 255;
  --ax-sys-color-accent2-500: 100, 181, 246;
  --ax-sys-color-accent2-600: 74, 155, 219;
  --ax-sys-color-accent2-700: 40, 125, 186;
  --ax-sys-color-accent2-800: 22, 101, 155;
  --ax-sys-color-accent2-900: 42, 83, 121;
  --ax-sys-color-accent2-950: 20, 35, 54;
  --ax-sys-color-accent3-50: 220, 255, 220;
  --ax-sys-color-accent3-100: 191, 255, 193;
  --ax-sys-color-accent3-200: 180, 252, 182;
  --ax-sys-color-accent3-300: 163, 234, 165;
  --ax-sys-color-accent3-400: 142, 213, 145;
  --ax-sys-color-accent3-500: 129, 199, 132;
  --ax-sys-color-accent3-600: 103, 172, 107;
  --ax-sys-color-accent3-700: 72, 140, 77;
  --ax-sys-color-accent3-800: 52, 114, 57;
  --ax-sys-color-accent3-900: 50, 91, 52;
  --ax-sys-color-accent3-950: 21, 39, 20;
  --ax-sys-color-neutral-50: 236, 247, 255;
  --ax-sys-color-neutral-100: 224, 237, 255;
  --ax-sys-color-neutral-200: 210, 222, 248;
  --ax-sys-color-neutral-300: 188, 200, 225;
  --ax-sys-color-neutral-400: 160, 172, 197;
  --ax-sys-color-neutral-500: 143, 155, 179;
  --ax-sys-color-neutral-600: 122, 134, 157;
  --ax-sys-color-neutral-700: 98, 109, 131;
  --ax-sys-color-neutral-800: 79, 89, 109;
  --ax-sys-color-neutral-900: 67, 74, 88;
  --ax-sys-color-neutral-950: 30, 34, 44;
  --ax-sys-color-primary-lightest-surface: 208, 228, 255;
  --ax-sys-color-on-primary-lightest-surface: 31, 47, 67;
  --ax-sys-color-border-primary-lightest-surface: 172, 207, 255;
  --ax-sys-color-primary-lighter-surface: 177, 207, 255;
  --ax-sys-color-on-primary-lighter-surface: 22, 45, 83;
  --ax-sys-color-border-primary-lighter-surface: 141, 185, 255;
  --ax-sys-color-primary-light-surface: 136, 173, 253;
  --ax-sys-color-on-primary-light-surface: 13, 38, 106;
  --ax-sys-color-border-primary-light-surface: 101, 149, 252;
  --ax-sys-color-primary-surface: 75, 108, 183;
  --ax-sys-color-on-primary-surface: 246, 254, 255;
  --ax-sys-color-border-primary-surface: 64, 93, 159;
  --ax-sys-color-primary-dark-surface: 63, 95, 169;
  --ax-sys-color-on-primary-dark-surface: 246, 254, 255;
  --ax-sys-color-border-primary-dark-surface: 53, 80, 143;
  --ax-sys-color-primary-darker-surface: 49, 79, 152;
  --ax-sys-color-on-primary-darker-surface: 246, 254, 255;
  --ax-sys-color-border-primary-darker-surface: 40, 65, 125;
  --ax-sys-color-primary-darkest-surface: 41, 68, 133;
  --ax-sys-color-on-primary-darkest-surface: 246, 254, 255;
  --ax-sys-color-border-primary-darkest-surface: 33, 54, 106;
  --ax-sys-color-secondary-lightest-surface: 213, 233, 255;
  --ax-sys-color-on-secondary-lightest-surface: 32, 47, 64;
  --ax-sys-color-border-secondary-lightest-surface: 177, 214, 255;
  --ax-sys-color-secondary-lighter-surface: 186, 215, 255;
  --ax-sys-color-on-secondary-lighter-surface: 23, 46, 77;
  --ax-sys-color-border-secondary-lighter-surface: 150, 194, 255;
  --ax-sys-color-secondary-light-surface: 159, 188, 240;
  --ax-sys-color-on-secondary-light-surface: 22, 44, 86;
  --ax-sys-color-border-secondary-light-surface: 128, 166, 235;
  --ax-sys-color-secondary-surface: 106, 133, 182;
  --ax-sys-color-on-secondary-surface: 245, 254, 255;
  --ax-sys-color-border-secondary-surface: 83, 114, 169;
  --ax-sys-color-secondary-dark-surface: 90, 116, 164;
  --ax-sys-color-on-secondary-dark-surface: 245, 254, 255;
  --ax-sys-color-border-secondary-dark-surface: 77, 100, 141;
  --ax-sys-color-secondary-darker-surface: 71, 96, 142;
  --ax-sys-color-on-secondary-darker-surface: 245, 254, 255;
  --ax-sys-color-border-secondary-darker-surface: 59, 80, 118;
  --ax-sys-color-secondary-darkest-surface: 58, 80, 122;
  --ax-sys-color-on-secondary-darkest-surface: 245, 254, 255;
  --ax-sys-color-border-secondary-darkest-surface: 46, 64, 98;
  --ax-sys-color-success-lightest-surface: 144, 255, 244;
  --ax-sys-color-on-success-lightest-surface: 0, 57, 52;
  --ax-sys-color-border-success-lightest-surface: 108, 255, 240;
  --ax-sys-color-success-lighter-surface: 127, 242, 228;
  --ax-sys-color-on-success-lighter-surface: 0, 57, 51;
  --ax-sys-color-border-success-lighter-surface: 95, 239, 221;
  --ax-sys-color-success-light-surface: 101, 217, 204;
  --ax-sys-color-on-success-light-surface: 0, 57, 51;
  --ax-sys-color-border-success-light-surface: 72, 210, 195;
  --ax-sys-color-success-surface: 38, 166, 154;
  --ax-sys-color-on-success-surface: 225, 255, 255;
  --ax-sys-color-border-success-surface: 31, 137, 127;
  --ax-sys-color-success-dark-surface: 0, 146, 135;
  --ax-sys-color-on-success-dark-surface: 225, 255, 255;
  --ax-sys-color-border-success-dark-surface: 0, 110, 102;
  --ax-sys-color-success-darker-surface: 0, 122, 112;
  --ax-sys-color-on-success-darker-surface: 225, 255, 255;
  --ax-sys-color-border-success-darker-surface: 0, 86, 79;
  --ax-sys-color-success-darkest-surface: 21, 101, 92;
  --ax-sys-color-on-success-darkest-surface: 225, 255, 255;
  --ax-sys-color-border-success-darkest-surface: 15, 71, 65;
  --ax-sys-color-warning-lightest-surface: 255, 240, 202;
  --ax-sys-color-on-warning-lightest-surface: 56, 44, 10;
  --ax-sys-color-border-warning-lightest-surface: 255, 230, 166;
  --ax-sys-color-warning-lighter-surface: 255, 230, 180;
  --ax-sys-color-on-warning-lighter-surface: 62, 42, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 218, 144;
  --ax-sys-color-warning-light-surface: 255, 214, 141;
  --ax-sys-color-on-warning-light-surface: 66, 40, 0;
  --ax-sys-color-border-warning-light-surface: 255, 201, 105;
  --ax-sys-color-warning-surface: 255, 183, 77;
  --ax-sys-color-on-warning-surface: 70, 37, 0;
  --ax-sys-color-border-warning-surface: 255, 169, 41;
  --ax-sys-color-warning-dark-surface: 223, 153, 38;
  --ax-sys-color-on-warning-dark-surface: 255, 250, 226;
  --ax-sys-color-border-warning-dark-surface: 196, 133, 29;
  --ax-sys-color-warning-darker-surface: 184, 117, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 250, 228;
  --ax-sys-color-border-warning-darker-surface: 148, 94, 0;
  --ax-sys-color-warning-darkest-surface: 146, 92, 22;
  --ax-sys-color-on-warning-darkest-surface: 255, 250, 230;
  --ax-sys-color-border-warning-darkest-surface: 115, 72, 17;
  --ax-sys-color-danger-lightest-surface: 255, 224, 222;
  --ax-sys-color-on-danger-lightest-surface: 62, 39, 38;
  --ax-sys-color-border-danger-lightest-surface: 255, 190, 186;
  --ax-sys-color-danger-lighter-surface: 255, 203, 200;
  --ax-sys-color-on-danger-lighter-surface: 71, 33, 32;
  --ax-sys-color-border-danger-lighter-surface: 255, 169, 164;
  --ax-sys-color-danger-light-surface: 255, 169, 166;
  --ax-sys-color-on-danger-light-surface: 86, 15, 21;
  --ax-sys-color-border-danger-light-surface: 255, 135, 130;
  --ax-sys-color-danger-surface: 229, 115, 115;
  --ax-sys-color-on-danger-surface: 255, 248, 246;
  --ax-sys-color-border-danger-surface: 223, 85, 85;
  --ax-sys-color-danger-dark-surface: 205, 93, 95;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 246;
  --ax-sys-color-border-danger-dark-surface: 197, 66, 68;
  --ax-sys-color-danger-darker-surface: 176, 67, 71;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 246;
  --ax-sys-color-border-danger-darker-surface: 150, 57, 61;
  --ax-sys-color-danger-darkest-surface: 148, 51, 55;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 246;
  --ax-sys-color-border-danger-darkest-surface: 121, 42, 45;
  --ax-sys-color-accent1-lightest-surface: 238, 225, 255;
  --ax-sys-color-on-accent1-lightest-surface: 51, 40, 63;
  --ax-sys-color-border-accent1-lightest-surface: 218, 189, 255;
  --ax-sys-color-accent1-lighter-surface: 224, 203, 255;
  --ax-sys-color-on-accent1-lighter-surface: 54, 35, 76;
  --ax-sys-color-border-accent1-lighter-surface: 203, 167, 255;
  --ax-sys-color-accent1-light-surface: 202, 170, 255;
  --ax-sys-color-on-accent1-light-surface: 57, 23, 96;
  --ax-sys-color-border-accent1-light-surface: 180, 134, 255;
  --ax-sys-color-accent1-surface: 149, 117, 205;
  --ax-sys-color-on-accent1-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-surface: 129, 91, 196;
  --ax-sys-color-accent1-dark-surface: 131, 99, 185;
  --ax-sys-color-on-accent1-dark-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-dark-surface: 112, 77, 171;
  --ax-sys-color-accent1-darker-surface: 110, 78, 162;
  --ax-sys-color-on-accent1-darker-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-darker-surface: 94, 66, 138;
  --ax-sys-color-accent1-darkest-surface: 93, 63, 139;
  --ax-sys-color-on-accent1-darkest-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-darkest-surface: 77, 52, 114;
  --ax-sys-color-accent2-lightest-surface: 215, 244, 255;
  --ax-sys-color-on-accent2-lightest-surface: 26, 50, 58;
  --ax-sys-color-border-accent2-lightest-surface: 179, 234, 255;
  --ax-sys-color-accent2-lighter-surface: 193, 234, 255;
  --ax-sys-color-on-accent2-lighter-surface: 12, 50, 67;
  --ax-sys-color-border-accent2-lighter-surface: 157, 222, 255;
  --ax-sys-color-accent2-light-surface: 157, 217, 255;
  --ax-sys-color-on-accent2-light-surface: 0, 50, 81;
  --ax-sys-color-border-accent2-light-surface: 121, 203, 255;
  --ax-sys-color-accent2-surface: 100, 181, 246;
  --ax-sys-color-on-accent2-surface: 0, 48, 94;
  --ax-sys-color-border-accent2-surface: 66, 165, 244;
  --ax-sys-color-accent2-dark-surface: 74, 155, 219;
  --ax-sys-color-on-accent2-dark-surface: 240, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 44, 139, 213;
  --ax-sys-color-accent2-darker-surface: 40, 125, 186;
  --ax-sys-color-on-accent2-darker-surface: 240, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 34, 105, 157;
  --ax-sys-color-accent2-darkest-surface: 22, 101, 155;
  --ax-sys-color-on-accent2-darkest-surface: 240, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 18, 81, 124;
  --ax-sys-color-accent3-lightest-surface: 191, 255, 193;
  --ax-sys-color-on-accent3-lightest-surface: 0, 58, 3;
  --ax-sys-color-border-accent3-lightest-surface: 155, 255, 158;
  --ax-sys-color-accent3-lighter-surface: 180, 252, 182;
  --ax-sys-color-on-accent3-lighter-surface: 0, 59, 0;
  --ax-sys-color-border-accent3-lighter-surface: 146, 251, 149;
  --ax-sys-color-accent3-light-surface: 163, 234, 165;
  --ax-sys-color-on-accent3-light-surface: 0, 59, 0;
  --ax-sys-color-border-accent3-light-surface: 134, 227, 137;
  --ax-sys-color-accent3-surface: 129, 199, 132;
  --ax-sys-color-on-accent3-surface: 0, 59, 0;
  --ax-sys-color-border-accent3-surface: 104, 188, 108;
  --ax-sys-color-accent3-dark-surface: 103, 172, 107;
  --ax-sys-color-on-accent3-dark-surface: 235, 255, 235;
  --ax-sys-color-border-accent3-dark-surface: 85, 155, 89;
  --ax-sys-color-accent3-darker-surface: 72, 140, 77;
  --ax-sys-color-on-accent3-darker-surface: 234, 255, 235;
  --ax-sys-color-border-accent3-darker-surface: 60, 116, 64;
  --ax-sys-color-accent3-darkest-surface: 52, 114, 57;
  --ax-sys-color-on-accent3-darkest-surface: 235, 255, 235;
  --ax-sys-color-border-accent3-darkest-surface: 41, 89, 45;
  --ax-sys-color-neutral-lightest-surface: 224, 237, 255;
  --ax-sys-color-on-neutral-lightest-surface: 37, 46, 60;
  --ax-sys-color-border-neutral-lightest-surface: 188, 216, 255;
  --ax-sys-color-neutral-lighter-surface: 210, 222, 248;
  --ax-sys-color-on-neutral-lighter-surface: 37, 45, 65;
  --ax-sys-color-border-neutral-lighter-surface: 179, 199, 243;
  --ax-sys-color-neutral-light-surface: 188, 200, 225;
  --ax-sys-color-on-neutral-light-surface: 37, 46, 65;
  --ax-sys-color-border-neutral-light-surface: 163, 180, 214;
  --ax-sys-color-neutral-surface: 143, 155, 179;
  --ax-sys-color-on-neutral-surface: 36, 46, 65;
  --ax-sys-color-border-neutral-surface: 122, 136, 165;
  --ax-sys-color-neutral-dark-surface: 122, 134, 157;
  --ax-sys-color-on-neutral-dark-surface: 246, 254, 255;
  --ax-sys-color-border-neutral-dark-surface: 103, 116, 140;
  --ax-sys-color-neutral-darker-surface: 98, 109, 131;
  --ax-sys-color-on-neutral-darker-surface: 246, 254, 255;
  --ax-sys-color-border-neutral-darker-surface: 83, 92, 111;
  --ax-sys-color-neutral-darkest-surface: 79, 89, 109;
  --ax-sys-color-on-neutral-darkest-surface: 246, 254, 255;
  --ax-sys-color-border-neutral-darkest-surface: 64, 72, 88;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 246, 248, 251;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 35, 40, 52;
  --ax-sys-color-lightest-surface: 44, 51, 71;
  --ax-sys-color-on-lightest-surface: 247, 253, 255;
  --ax-sys-color-border-lightest-surface: 62, 71, 99;
  --ax-sys-color-lighter-surface: 40, 47, 66;
  --ax-sys-color-on-lighter-surface: 247, 253, 255;
  --ax-sys-color-border-lighter-surface: 58, 67, 94;
  --ax-sys-color-light-surface: 38, 44, 62;
  --ax-sys-color-on-light-surface: 247, 253, 255;
  --ax-sys-color-border-light-surface: 55, 64, 90;
  --ax-sys-color-surface: 35, 41, 58;
  --ax-sys-color-on-surface: 247, 253, 255;
  --ax-sys-color-border-surface: 52, 61, 86;
  --ax-sys-color-dark-surface: 32, 38, 53;
  --ax-sys-color-on-dark-surface: 247, 253, 255;
  --ax-sys-color-border-dark-surface: 50, 58, 82;
  --ax-sys-color-darker-surface: 30, 35, 49;
  --ax-sys-color-on-darker-surface: 247, 253, 255;
  --ax-sys-color-border-darker-surface: 47, 55, 78;
  --ax-sys-color-darkest-surface: 26, 31, 44;
  --ax-sys-color-on-darkest-surface: 247, 253, 255;
  --ax-sys-color-border-darkest-surface: 43, 51, 73;
  /* Ranges */
  --ax-sys-color-primary-50: 232, 245, 255;
  --ax-sys-color-primary-100: 216, 234, 255;
  --ax-sys-color-primary-200: 185, 212, 255;
  --ax-sys-color-primary-300: 153, 190, 255;
  --ax-sys-color-primary-400: 132, 168, 249;
  --ax-sys-color-primary-500: 112, 148, 226;
  --ax-sys-color-primary-600: 93, 128, 205;
  --ax-sys-color-primary-700: 75, 108, 183;
  --ax-sys-color-primary-800: 66, 98, 172;
  --ax-sys-color-primary-900: 56, 88, 161;
  --ax-sys-color-primary-950: 52, 82, 155;
  --ax-sys-color-secondary-50: 234, 247, 255;
  --ax-sys-color-secondary-100: 220, 238, 255;
  --ax-sys-color-secondary-200: 192, 220, 255;
  --ax-sys-color-secondary-300: 172, 202, 255;
  --ax-sys-color-secondary-400: 155, 184, 236;
  --ax-sys-color-secondary-500: 139, 167, 218;
  --ax-sys-color-secondary-600: 122, 150, 200;
  --ax-sys-color-secondary-700: 106, 133, 182;
  --ax-sys-color-secondary-800: 93, 120, 168;
  --ax-sys-color-secondary-900: 80, 106, 153;
  --ax-sys-color-secondary-950: 74, 100, 146;
  --ax-sys-color-success-50: 196, 255, 253;
  --ax-sys-color-success-100: 150, 255, 248;
  --ax-sys-color-success-200: 131, 246, 232;
  --ax-sys-color-success-300: 115, 230, 216;
  --ax-sys-color-success-400: 97, 213, 200;
  --ax-sys-color-success-500: 79, 197, 185;
  --ax-sys-color-success-600: 60, 182, 169;
  --ax-sys-color-success-700: 38, 166, 154;
  --ax-sys-color-success-800: 0, 150, 139;
  --ax-sys-color-success-900: 0, 134, 123;
  --ax-sys-color-success-950: 0, 127, 116;
  --ax-sys-color-warning-50: 255, 247, 219;
  --ax-sys-color-warning-100: 255, 242, 208;
  --ax-sys-color-warning-200: 255, 232, 185;
  --ax-sys-color-warning-300: 255, 222, 161;
  --ax-sys-color-warning-400: 255, 211, 135;
  --ax-sys-color-warning-500: 255, 200, 107;
  --ax-sys-color-warning-600: 255, 191, 86;
  --ax-sys-color-warning-700: 255, 183, 77;
  --ax-sys-color-warning-800: 229, 159, 47;
  --ax-sys-color-warning-900: 204, 135, 0;
  --ax-sys-color-warning-950: 192, 123, 0;
  --ax-sys-color-danger-50: 255, 240, 238;
  --ax-sys-color-danger-100: 255, 229, 227;
  --ax-sys-color-danger-200: 255, 208, 206;
  --ax-sys-color-danger-300: 255, 186, 184;
  --ax-sys-color-danger-400: 255, 163, 161;
  --ax-sys-color-danger-500: 255, 143, 142;
  --ax-sys-color-danger-600: 245, 129, 128;
  --ax-sys-color-danger-700: 229, 115, 115;
  --ax-sys-color-danger-800: 210, 98, 99;
  --ax-sys-color-danger-900: 191, 81, 83;
  --ax-sys-color-danger-950: 181, 72, 75;
  --ax-sys-color-accent1-50: 250, 241, 255;
  --ax-sys-color-accent1-100: 242, 230, 255;
  --ax-sys-color-accent1-200: 228, 208, 255;
  --ax-sys-color-accent1-300: 214, 186, 255;
  --ax-sys-color-accent1-400: 198, 166, 255;
  --ax-sys-color-accent1-500: 182, 150, 240;
  --ax-sys-color-accent1-600: 165, 133, 223;
  --ax-sys-color-accent1-700: 149, 117, 205;
  --ax-sys-color-accent1-800: 135, 103, 189;
  --ax-sys-color-accent1-900: 121, 89, 174;
  --ax-sys-color-accent1-950: 114, 82, 167;
  --ax-sys-color-accent2-50: 232, 252, 255;
  --ax-sys-color-accent2-100: 221, 247, 255;
  --ax-sys-color-accent2-200: 199, 236, 255;
  --ax-sys-color-accent2-300: 175, 226, 255;
  --ax-sys-color-accent2-400: 151, 215, 255;
  --ax-sys-color-accent2-500: 126, 204, 255;
  --ax-sys-color-accent2-600: 112, 193, 255;
  --ax-sys-color-accent2-700: 100, 181, 246;
  --ax-sys-color-accent2-800: 79, 161, 224;
  --ax-sys-color-accent2-900: 58, 141, 203;
  --ax-sys-color-accent2-950: 47, 131, 193;
  --ax-sys-color-accent3-50: 222, 255, 222;
  --ax-sys-color-accent3-100: 202, 255, 204;
  --ax-sys-color-accent3-200: 182, 254, 184;
  --ax-sys-color-accent3-300: 171, 243, 174;
  --ax-sys-color-accent3-400: 161, 232, 163;
  --ax-sys-color-accent3-500: 150, 221, 153;
  --ax-sys-color-accent3-600: 139, 210, 142;
  --ax-sys-color-accent3-700: 129, 199, 132;
  --ax-sys-color-accent3-800: 108, 178, 112;
  --ax-sys-color-accent3-900: 88, 157, 92;
  --ax-sys-color-accent3-950: 78, 146, 82;
  --ax-sys-color-neutral-50: 237, 248, 255;
  --ax-sys-color-neutral-100: 228, 241, 255;
  --ax-sys-color-neutral-200: 213, 226, 252;
  --ax-sys-color-neutral-300: 199, 211, 237;
  --ax-sys-color-neutral-400: 184, 197, 222;
  --ax-sys-color-neutral-500: 170, 183, 208;
  --ax-sys-color-neutral-600: 157, 169, 193;
  --ax-sys-color-neutral-700: 143, 155, 179;
  --ax-sys-color-neutral-800: 126, 138, 162;
  --ax-sys-color-neutral-900: 110, 122, 145;
  --ax-sys-color-neutral-950: 102, 114, 136;
  --ax-sys-color-primary-lightest-surface: 216, 234, 255;
  --ax-sys-color-on-primary-lightest-surface: 10, 23, 37;
  --ax-sys-color-border-primary-lightest-surface: 262, 259, 255;
  --ax-sys-color-primary-lighter-surface: 185, 212, 255;
  --ax-sys-color-on-primary-lighter-surface: 3, 20, 52;
  --ax-sys-color-border-primary-lighter-surface: 231, 240, 255;
  --ax-sys-color-primary-light-surface: 153, 190, 255;
  --ax-sys-color-on-primary-light-surface: 0, 15, 67;
  --ax-sys-color-border-primary-light-surface: 199, 219, 255;
  --ax-sys-color-primary-surface: 112, 148, 226;
  --ax-sys-color-on-primary-surface: 0, 6, 76;
  --ax-sys-color-border-primary-surface: 150, 177, 234;
  --ax-sys-color-primary-dark-surface: 93, 128, 205;
  --ax-sys-color-on-primary-dark-surface: 0, 6, 77;
  --ax-sys-color-border-primary-dark-surface: 128, 155, 216;
  --ax-sys-color-primary-darker-surface: 75, 108, 183;
  --ax-sys-color-on-primary-darker-surface: 1, 6, 76;
  --ax-sys-color-border-primary-darker-surface: 108, 135, 196;
  --ax-sys-color-primary-darkest-surface: 66, 98, 172;
  --ax-sys-color-on-primary-darkest-surface: 246, 254, 255;
  --ax-sys-color-border-primary-darkest-surface: 92, 122, 192;
  --ax-sys-color-secondary-lightest-surface: 220, 238, 255;
  --ax-sys-color-on-secondary-lightest-surface: 10, 23, 35;
  --ax-sys-color-border-secondary-lightest-surface: 266, 260, 255;
  --ax-sys-color-secondary-lighter-surface: 192, 220, 255;
  --ax-sys-color-on-secondary-lighter-surface: 2, 22, 47;
  --ax-sys-color-border-secondary-lighter-surface: 238, 246, 255;
  --ax-sys-color-secondary-light-surface: 172, 202, 255;
  --ax-sys-color-on-secondary-light-surface: 1, 18, 58;
  --ax-sys-color-border-secondary-light-surface: 218, 231, 255;
  --ax-sys-color-secondary-surface: 139, 167, 218;
  --ax-sys-color-on-secondary-surface: 2, 18, 58;
  --ax-sys-color-border-secondary-surface: 174, 193, 229;
  --ax-sys-color-secondary-dark-surface: 122, 150, 200;
  --ax-sys-color-on-secondary-dark-surface: 2, 18, 58;
  --ax-sys-color-border-secondary-dark-surface: 154, 176, 213;
  --ax-sys-color-secondary-darker-surface: 106, 133, 182;
  --ax-sys-color-on-secondary-darker-surface: 2, 18, 58;
  --ax-sys-color-border-secondary-darker-surface: 137, 158, 197;
  --ax-sys-color-secondary-darkest-surface: 93, 120, 168;
  --ax-sys-color-on-secondary-darkest-surface: 1, 18, 58;
  --ax-sys-color-border-secondary-darkest-surface: 123, 145, 184;
  --ax-sys-color-success-lightest-surface: 150, 255, 248;
  --ax-sys-color-on-success-lightest-surface: 0, 29, 27;
  --ax-sys-color-border-success-lightest-surface: 196, 255, 251;
  --ax-sys-color-success-lighter-surface: 131, 246, 232;
  --ax-sys-color-on-success-lighter-surface: 0, 29, 25;
  --ax-sys-color-border-success-lighter-surface: 174, 249, 240;
  --ax-sys-color-success-light-surface: 115, 230, 216;
  --ax-sys-color-on-success-light-surface: 0, 29, 25;
  --ax-sys-color-border-success-light-surface: 154, 237, 227;
  --ax-sys-color-success-surface: 79, 197, 185;
  --ax-sys-color-on-success-surface: 0, 29, 26;
  --ax-sys-color-border-success-surface: 114, 208, 199;
  --ax-sys-color-success-dark-surface: 60, 182, 169;
  --ax-sys-color-on-success-dark-surface: 0, 29, 25;
  --ax-sys-color-border-success-dark-surface: 88, 200, 188;
  --ax-sys-color-success-darker-surface: 38, 166, 154;
  --ax-sys-color-on-success-darker-surface: 0, 29, 25;
  --ax-sys-color-border-success-darker-surface: 47, 203, 189;
  --ax-sys-color-success-darkest-surface: 0, 150, 139;
  --ax-sys-color-on-success-darkest-surface: 0, 29, 26;
  --ax-sys-color-border-success-darkest-surface: 0, 196, 182;
  --ax-sys-color-warning-lightest-surface: 255, 242, 208;
  --ax-sys-color-on-warning-lightest-surface: 30, 20, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 255, 254;
  --ax-sys-color-warning-lighter-surface: 255, 232, 185;
  --ax-sys-color-on-warning-lighter-surface: 34, 19, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 247, 231;
  --ax-sys-color-warning-light-surface: 255, 222, 161;
  --ax-sys-color-on-warning-light-surface: 35, 18, 0;
  --ax-sys-color-border-warning-light-surface: 255, 238, 207;
  --ax-sys-color-warning-surface: 255, 200, 107;
  --ax-sys-color-on-warning-surface: 36, 17, 0;
  --ax-sys-color-border-warning-surface: 255, 217, 153;
  --ax-sys-color-warning-dark-surface: 255, 191, 86;
  --ax-sys-color-on-warning-dark-surface: 37, 17, 0;
  --ax-sys-color-border-warning-dark-surface: 255, 208, 132;
  --ax-sys-color-warning-darker-surface: 255, 183, 77;
  --ax-sys-color-on-warning-darker-surface: 38, 16, 0;
  --ax-sys-color-border-warning-darker-surface: 255, 202, 123;
  --ax-sys-color-warning-darkest-surface: 229, 159, 47;
  --ax-sys-color-on-warning-darkest-surface: 38, 16, 0;
  --ax-sys-color-border-warning-darkest-surface: 234, 178, 88;
  --ax-sys-color-danger-lightest-surface: 255, 229, 227;
  --ax-sys-color-on-danger-lightest-surface: 34, 17, 16;
  --ax-sys-color-border-danger-lightest-surface: 255, 272, 273;
  --ax-sys-color-danger-lighter-surface: 255, 208, 206;
  --ax-sys-color-on-danger-lighter-surface: 42, 10, 11;
  --ax-sys-color-border-danger-lighter-surface: 255, 252, 252;
  --ax-sys-color-danger-light-surface: 255, 186, 184;
  --ax-sys-color-on-danger-light-surface: 50, 0, 5;
  --ax-sys-color-border-danger-light-surface: 255, 231, 230;
  --ax-sys-color-danger-surface: 255, 143, 142;
  --ax-sys-color-on-danger-surface: 55, 0, 2;
  --ax-sys-color-border-danger-surface: 255, 188, 188;
  --ax-sys-color-danger-dark-surface: 245, 129, 128;
  --ax-sys-color-on-danger-dark-surface: 55, 0, 1;
  --ax-sys-color-border-danger-dark-surface: 248, 171, 171;
  --ax-sys-color-danger-darker-surface: 229, 115, 115;
  --ax-sys-color-on-danger-darker-surface: 55, 0, 1;
  --ax-sys-color-border-danger-darker-surface: 236, 154, 154;
  --ax-sys-color-danger-darkest-surface: 210, 98, 99;
  --ax-sys-color-on-danger-darkest-surface: 55, 0, 2;
  --ax-sys-color-border-danger-darkest-surface: 220, 134, 134;
  --ax-sys-color-accent1-lightest-surface: 242, 230, 255;
  --ax-sys-color-on-accent1-lightest-surface: 26, 17, 35;
  --ax-sys-color-border-accent1-lightest-surface: 266, 276, 255;
  --ax-sys-color-accent1-lighter-surface: 228, 208, 255;
  --ax-sys-color-on-accent1-lighter-surface: 29, 12, 46;
  --ax-sys-color-border-accent1-lighter-surface: 254, 254, 255;
  --ax-sys-color-accent1-light-surface: 214, 186, 255;
  --ax-sys-color-on-accent1-light-surface: 32, 2, 58;
  --ax-sys-color-border-accent1-light-surface: 241, 232, 255;
  --ax-sys-color-accent1-surface: 182, 150, 240;
  --ax-sys-color-on-accent1-surface: 33, 0, 70;
  --ax-sys-color-border-accent1-surface: 210, 190, 246;
  --ax-sys-color-accent1-dark-surface: 165, 133, 223;
  --ax-sys-color-on-accent1-dark-surface: 33, 0, 70;
  --ax-sys-color-border-accent1-dark-surface: 192, 169, 233;
  --ax-sys-color-accent1-darker-surface: 149, 117, 205;
  --ax-sys-color-on-accent1-darker-surface: 33, 0, 70;
  --ax-sys-color-border-accent1-darker-surface: 175, 151, 217;
  --ax-sys-color-accent1-darkest-surface: 135, 103, 189;
  --ax-sys-color-on-accent1-darkest-surface: 33, 0, 70;
  --ax-sys-color-border-accent1-darkest-surface: 160, 135, 203;
  --ax-sys-color-accent2-lightest-surface: 221, 247, 255;
  --ax-sys-color-on-accent2-lightest-surface: 5, 25, 31;
  --ax-sys-color-border-accent2-lightest-surface: 267, 258, 255;
  --ax-sys-color-accent2-lighter-surface: 199, 236, 255;
  --ax-sys-color-on-accent2-lighter-surface: 0, 25, 39;
  --ax-sys-color-border-accent2-lighter-surface: 245, 252, 255;
  --ax-sys-color-accent2-light-surface: 175, 226, 255;
  --ax-sys-color-on-accent2-light-surface: 0, 25, 47;
  --ax-sys-color-border-accent2-light-surface: 221, 243, 255;
  --ax-sys-color-accent2-surface: 126, 204, 255;
  --ax-sys-color-on-accent2-surface: 0, 24, 50;
  --ax-sys-color-border-accent2-surface: 172, 222, 255;
  --ax-sys-color-accent2-dark-surface: 112, 193, 255;
  --ax-sys-color-on-accent2-dark-surface: 0, 23, 54;
  --ax-sys-color-border-accent2-dark-surface: 158, 213, 255;
  --ax-sys-color-accent2-darker-surface: 100, 181, 246;
  --ax-sys-color-on-accent2-darker-surface: 0, 22, 56;
  --ax-sys-color-border-accent2-darker-surface: 143, 202, 249;
  --ax-sys-color-accent2-darkest-surface: 79, 161, 224;
  --ax-sys-color-on-accent2-darkest-surface: 0, 23, 55;
  --ax-sys-color-border-accent2-darkest-surface: 118, 182, 231;
  --ax-sys-color-accent3-lightest-surface: 202, 255, 204;
  --ax-sys-color-on-accent3-lightest-surface: 0, 31, 0;
  --ax-sys-color-border-accent3-lightest-surface: 248, 255, 248;
  --ax-sys-color-accent3-lighter-surface: 182, 254, 184;
  --ax-sys-color-on-accent3-lighter-surface: 0, 31, 0;
  --ax-sys-color-border-accent3-lighter-surface: 227, 255, 228;
  --ax-sys-color-accent3-light-surface: 171, 243, 174;
  --ax-sys-color-on-accent3-light-surface: 0, 31, 0;
  --ax-sys-color-border-accent3-light-surface: 211, 249, 213;
  --ax-sys-color-accent3-surface: 150, 221, 153;
  --ax-sys-color-on-accent3-surface: 0, 31, 0;
  --ax-sys-color-border-accent3-surface: 185, 232, 187;
  --ax-sys-color-accent3-dark-surface: 139, 210, 142;
  --ax-sys-color-on-accent3-dark-surface: 0, 31, 0;
  --ax-sys-color-border-accent3-dark-surface: 172, 223, 174;
  --ax-sys-color-accent3-darker-surface: 129, 199, 132;
  --ax-sys-color-on-accent3-darker-surface: 0, 31, 0;
  --ax-sys-color-border-accent3-darker-surface: 161, 213, 163;
  --ax-sys-color-accent3-darkest-surface: 108, 178, 112;
  --ax-sys-color-on-accent3-darkest-surface: 0, 31, 0;
  --ax-sys-color-border-accent3-darkest-surface: 138, 194, 141;
  --ax-sys-color-neutral-lightest-surface: 228, 241, 255;
  --ax-sys-color-on-neutral-lightest-surface: 14, 23, 32;
  --ax-sys-color-border-neutral-lightest-surface: 274, 265, 255;
  --ax-sys-color-neutral-lighter-surface: 213, 226, 252;
  --ax-sys-color-on-neutral-lighter-surface: 13, 21, 39;
  --ax-sys-color-border-neutral-lighter-surface: 256, 256, 255;
  --ax-sys-color-neutral-light-surface: 199, 211, 237;
  --ax-sys-color-on-neutral-light-surface: 14, 21, 39;
  --ax-sys-color-border-neutral-light-surface: 234, 238, 248;
  --ax-sys-color-neutral-surface: 170, 183, 208;
  --ax-sys-color-on-neutral-surface: 13, 22, 39;
  --ax-sys-color-border-neutral-surface: 200, 208, 224;
  --ax-sys-color-neutral-dark-surface: 157, 169, 193;
  --ax-sys-color-on-neutral-dark-surface: 13, 21, 39;
  --ax-sys-color-border-neutral-dark-surface: 185, 194, 211;
  --ax-sys-color-neutral-darker-surface: 143, 155, 179;
  --ax-sys-color-on-neutral-darker-surface: 13, 21, 39;
  --ax-sys-color-border-neutral-darker-surface: 170, 179, 198;
  --ax-sys-color-neutral-darkest-surface: 126, 138, 162;
  --ax-sys-color-on-neutral-darkest-surface: 13, 21, 40;
  --ax-sys-color-border-neutral-darkest-surface: 153, 162, 181;
}
