/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 253, 248, 244;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 37, 20, 14;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 247, 246, 245;
  --ax-sys-color-on-lighter-surface: 46, 46, 45;
  --ax-sys-color-border-lighter-surface: 230, 227, 225;
  --ax-sys-color-light-surface: 240, 238, 237;
  --ax-sys-color-on-light-surface: 47, 45, 44;
  --ax-sys-color-border-light-surface: 224, 220, 218;
  --ax-sys-color-surface: 234, 231, 229;
  --ax-sys-color-on-surface: 47, 45, 44;
  --ax-sys-color-border-surface: 218, 213, 210;
  --ax-sys-color-dark-surface: 228, 224, 222;
  --ax-sys-color-on-dark-surface: 48, 45, 43;
  --ax-sys-color-border-dark-surface: 211, 206, 202;
  --ax-sys-color-darker-surface: 221, 217, 214;
  --ax-sys-color-on-darker-surface: 48, 45, 43;
  --ax-sys-color-border-darker-surface: 205, 199, 195;
  --ax-sys-color-darkest-surface: 213, 208, 204;
  --ax-sys-color-on-darkest-surface: 49, 45, 42;
  --ax-sys-color-border-darkest-surface: 197, 189, 184;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 238, 221;
  --ax-sys-color-primary-100: 255, 222, 197;
  --ax-sys-color-primary-200: 255, 199, 160;
  --ax-sys-color-primary-300: 255, 159, 94;
  --ax-sys-color-primary-400: 233, 126, 56;
  --ax-sys-color-primary-500: 210, 105, 30;
  --ax-sys-color-primary-600: 189, 86, 0;
  --ax-sys-color-primary-700: 165, 64, 0;
  --ax-sys-color-primary-800: 136, 55, 15;
  --ax-sys-color-primary-900: 106, 54, 34;
  --ax-sys-color-primary-950: 54, 29, 21;
  --ax-sys-color-secondary-50: 255, 241, 217;
  --ax-sys-color-secondary-100: 255, 227, 191;
  --ax-sys-color-secondary-200: 255, 207, 154;
  --ax-sys-color-secondary-300: 255, 180, 111;
  --ax-sys-color-secondary-400: 224, 151, 82;
  --ax-sys-color-secondary-500: 205, 133, 63;
  --ax-sys-color-secondary-600: 183, 112, 39;
  --ax-sys-color-secondary-700: 156, 88, 0;
  --ax-sys-color-secondary-800: 131, 70, 17;
  --ax-sys-color-secondary-900: 103, 63, 36;
  --ax-sys-color-secondary-950: 49, 30, 20;
  --ax-sys-color-success-50: 202, 255, 197;
  --ax-sys-color-success-100: 157, 255, 152;
  --ax-sys-color-success-200: 137, 236, 132;
  --ax-sys-color-success-300: 105, 204, 101;
  --ax-sys-color-success-400: 64, 164, 62;
  --ax-sys-color-success-500: 34, 139, 34;
  --ax-sys-color-success-600: 7, 125, 13;
  --ax-sys-color-success-700: 0, 108, 0;
  --ax-sys-color-success-800: 16, 92, 14;
  --ax-sys-color-success-900: 35, 77, 32;
  --ax-sys-color-success-950: 26, 46, 24;
  --ax-sys-color-warning-50: 255, 246, 199;
  --ax-sys-color-warning-100: 255, 236, 170;
  --ax-sys-color-warning-200: 255, 222, 125;
  --ax-sys-color-warning-300: 255, 202, 82;
  --ax-sys-color-warning-400: 233, 179, 54;
  --ax-sys-color-warning-500: 218, 165, 32;
  --ax-sys-color-warning-600: 191, 140, 0;
  --ax-sys-color-warning-700: 157, 110, 0;
  --ax-sys-color-warning-800: 125, 89, 20;
  --ax-sys-color-warning-900: 97, 75, 39;
  --ax-sys-color-warning-950: 41, 31, 19;
  --ax-sys-color-danger-50: 255, 232, 227;
  --ax-sys-color-danger-100: 255, 208, 201;
  --ax-sys-color-danger-200: 255, 174, 163;
  --ax-sys-color-danger-300: 255, 114, 103;
  --ax-sys-color-danger-400: 210, 68, 61;
  --ax-sys-color-danger-500: 178, 34, 34;
  --ax-sys-color-danger-600: 166, 16, 22;
  --ax-sys-color-danger-700: 151, 0, 5;
  --ax-sys-color-danger-800: 133, 18, 11;
  --ax-sys-color-danger-900: 107, 37, 29;
  --ax-sys-color-danger-950: 68, 31, 25;
  --ax-sys-color-accent1-50: 255, 233, 212;
  --ax-sys-color-accent1-100: 255, 209, 175;
  --ax-sys-color-accent1-200: 255, 178, 132;
  --ax-sys-color-accent1-300: 219, 142, 96;
  --ax-sys-color-accent1-400: 170, 97, 51;
  --ax-sys-color-accent1-500: 139, 69, 19;
  --ax-sys-color-accent1-600: 129, 60, 5;
  --ax-sys-color-accent1-700: 118, 49, 0;
  --ax-sys-color-accent1-800: 105, 44, 10;
  --ax-sys-color-accent1-900: 88, 45, 27;
  --ax-sys-color-accent1-950: 60, 33, 24;
  --ax-sys-color-accent2-50: 224, 248, 255;
  --ax-sys-color-accent2-100: 198, 235, 255;
  --ax-sys-color-accent2-200: 161, 218, 255;
  --ax-sys-color-accent2-300: 128, 189, 242;
  --ax-sys-color-accent2-400: 92, 153, 204;
  --ax-sys-color-accent2-500: 70, 130, 180;
  --ax-sys-color-accent2-600: 54, 114, 163;
  --ax-sys-color-accent2-700: 34, 96, 144;
  --ax-sys-color-accent2-800: 25, 81, 124;
  --ax-sys-color-accent2-900: 34, 70, 100;
  --ax-sys-color-accent2-950: 24, 40, 61;
  --ax-sys-color-accent3-50: 211, 248, 247;
  --ax-sys-color-accent3-100: 192, 228, 228;
  --ax-sys-color-accent3-200: 165, 201, 200;
  --ax-sys-color-accent3-300: 125, 159, 159;
  --ax-sys-color-accent3-400: 76, 109, 109;
  --ax-sys-color-accent3-500: 47, 79, 79;
  --ax-sys-color-accent3-600: 42, 74, 74;
  --ax-sys-color-accent3-700: 36, 68, 68;
  --ax-sys-color-accent3-800: 34, 62, 63;
  --ax-sys-color-accent3-900: 38, 57, 57;
  --ax-sys-color-accent3-950: 32, 46, 46;
  --ax-sys-color-neutral-50: 255, 243, 218;
  --ax-sys-color-neutral-100: 251, 233, 208;
  --ax-sys-color-neutral-200: 236, 217, 193;
  --ax-sys-color-neutral-300: 212, 194, 170;
  --ax-sys-color-neutral-400: 183, 165, 142;
  --ax-sys-color-neutral-500: 164, 147, 124;
  --ax-sys-color-neutral-600: 143, 127, 104;
  --ax-sys-color-neutral-700: 119, 103, 81;
  --ax-sys-color-neutral-800: 99, 84, 65;
  --ax-sys-color-neutral-900: 81, 71, 57;
  --ax-sys-color-neutral-950: 40, 34, 25;
  --ax-sys-color-primary-lightest-surface: 255, 222, 197;
  --ax-sys-color-on-primary-lightest-surface: 64, 39, 19;
  --ax-sys-color-border-primary-lightest-surface: 255, 202, 161;
  --ax-sys-color-primary-lighter-surface: 255, 199, 160;
  --ax-sys-color-on-primary-lighter-surface: 75, 32, 0;
  --ax-sys-color-border-primary-lighter-surface: 255, 178, 124;
  --ax-sys-color-primary-light-surface: 255, 159, 94;
  --ax-sys-color-on-primary-light-surface: 81, 26, 0;
  --ax-sys-color-border-primary-light-surface: 255, 138, 58;
  --ax-sys-color-primary-surface: 210, 105, 30;
  --ax-sys-color-on-primary-surface: 255, 249, 237;
  --ax-sys-color-border-primary-surface: 179, 89, 26;
  --ax-sys-color-primary-dark-surface: 189, 86, 0;
  --ax-sys-color-on-primary-dark-surface: 255, 249, 238;
  --ax-sys-color-border-primary-dark-surface: 153, 70, 0;
  --ax-sys-color-primary-darker-surface: 165, 64, 0;
  --ax-sys-color-on-primary-darker-surface: 255, 248, 240;
  --ax-sys-color-border-primary-darker-surface: 129, 50, 0;
  --ax-sys-color-primary-darkest-surface: 136, 55, 15;
  --ax-sys-color-on-primary-darkest-surface: 255, 248, 240;
  --ax-sys-color-border-primary-darkest-surface: 104, 42, 11;
  --ax-sys-color-secondary-lightest-surface: 255, 227, 191;
  --ax-sys-color-on-secondary-lightest-surface: 62, 41, 7;
  --ax-sys-color-border-secondary-lightest-surface: 255, 211, 155;
  --ax-sys-color-secondary-lighter-surface: 255, 207, 154;
  --ax-sys-color-on-secondary-lighter-surface: 72, 35, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 190, 118;
  --ax-sys-color-secondary-light-surface: 255, 180, 111;
  --ax-sys-color-on-secondary-light-surface: 76, 32, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 161, 75;
  --ax-sys-color-secondary-surface: 205, 133, 63;
  --ax-sys-color-on-secondary-surface: 255, 249, 232;
  --ax-sys-color-border-secondary-surface: 184, 115, 48;
  --ax-sys-color-secondary-dark-surface: 183, 112, 39;
  --ax-sys-color-on-secondary-dark-surface: 255, 249, 233;
  --ax-sys-color-border-secondary-dark-surface: 154, 94, 33;
  --ax-sys-color-secondary-darker-surface: 156, 88, 0;
  --ax-sys-color-on-secondary-darker-surface: 255, 249, 233;
  --ax-sys-color-border-secondary-darker-surface: 120, 68, 0;
  --ax-sys-color-secondary-darkest-surface: 131, 70, 17;
  --ax-sys-color-on-secondary-darkest-surface: 255, 249, 235;
  --ax-sys-color-border-secondary-darkest-surface: 99, 53, 13;
  --ax-sys-color-success-lightest-surface: 157, 255, 152;
  --ax-sys-color-on-success-lightest-surface: 0, 59, 0;
  --ax-sys-color-border-success-lightest-surface: 123, 255, 116;
  --ax-sys-color-success-lighter-surface: 137, 236, 132;
  --ax-sys-color-on-success-lighter-surface: 0, 59, 0;
  --ax-sys-color-border-success-lighter-surface: 107, 231, 101;
  --ax-sys-color-success-light-surface: 105, 204, 101;
  --ax-sys-color-on-success-light-surface: 0, 59, 0;
  --ax-sys-color-border-success-light-surface: 79, 195, 74;
  --ax-sys-color-success-surface: 34, 139, 34;
  --ax-sys-color-on-success-surface: 235, 255, 233;
  --ax-sys-color-border-success-surface: 27, 110, 27;
  --ax-sys-color-success-dark-surface: 7, 125, 13;
  --ax-sys-color-on-success-dark-surface: 235, 255, 233;
  --ax-sys-color-border-success-dark-surface: 5, 91, 9;
  --ax-sys-color-success-darker-surface: 0, 108, 0;
  --ax-sys-color-on-success-darker-surface: 235, 255, 232;
  --ax-sys-color-border-success-darker-surface: 0, 72, 0;
  --ax-sys-color-success-darkest-surface: 16, 92, 14;
  --ax-sys-color-on-success-darkest-surface: 235, 255, 232;
  --ax-sys-color-border-success-darkest-surface: 11, 61, 9;
  --ax-sys-color-warning-lightest-surface: 255, 236, 170;
  --ax-sys-color-on-warning-lightest-surface: 59, 44, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 228, 134;
  --ax-sys-color-warning-lighter-surface: 255, 222, 125;
  --ax-sys-color-on-warning-lighter-surface: 61, 43, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 213, 89;
  --ax-sys-color-warning-light-surface: 255, 202, 82;
  --ax-sys-color-on-warning-light-surface: 64, 41, 0;
  --ax-sys-color-border-warning-light-surface: 255, 191, 46;
  --ax-sys-color-warning-surface: 218, 165, 32;
  --ax-sys-color-on-warning-surface: 255, 251, 216;
  --ax-sys-color-border-warning-surface: 187, 141, 27;
  --ax-sys-color-warning-dark-surface: 191, 140, 0;
  --ax-sys-color-on-warning-dark-surface: 255, 251, 217;
  --ax-sys-color-border-warning-dark-surface: 155, 114, 0;
  --ax-sys-color-warning-darker-surface: 157, 110, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 251, 221;
  --ax-sys-color-border-warning-darker-surface: 121, 85, 0;
  --ax-sys-color-warning-darkest-surface: 125, 89, 20;
  --ax-sys-color-on-warning-darkest-surface: 255, 251, 222;
  --ax-sys-color-border-warning-darkest-surface: 94, 67, 15;
  --ax-sys-color-danger-lightest-surface: 255, 208, 201;
  --ax-sys-color-on-danger-lightest-surface: 69, 34, 30;
  --ax-sys-color-border-danger-lightest-surface: 255, 177, 165;
  --ax-sys-color-danger-lighter-surface: 255, 174, 163;
  --ax-sys-color-on-danger-lighter-surface: 84, 19, 15;
  --ax-sys-color-border-danger-lighter-surface: 255, 143, 127;
  --ax-sys-color-danger-light-surface: 255, 114, 103;
  --ax-sys-color-on-danger-light-surface: 255, 248, 245;
  --ax-sys-color-border-danger-light-surface: 255, 81, 67;
  --ax-sys-color-danger-surface: 178, 34, 34;
  --ax-sys-color-on-danger-surface: 255, 248, 245;
  --ax-sys-color-border-danger-surface: 148, 28, 28;
  --ax-sys-color-danger-dark-surface: 166, 16, 22;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 245;
  --ax-sys-color-border-danger-dark-surface: 133, 13, 18;
  --ax-sys-color-danger-darker-surface: 151, 0, 5;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darker-surface: 115, 0, 4;
  --ax-sys-color-danger-darkest-surface: 133, 18, 11;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darkest-surface: 100, 14, 8;
  --ax-sys-color-accent1-lightest-surface: 255, 209, 175;
  --ax-sys-color-on-accent1-lightest-surface: 71, 36, 3;
  --ax-sys-color-border-accent1-lightest-surface: 255, 188, 139;
  --ax-sys-color-accent1-lighter-surface: 255, 178, 132;
  --ax-sys-color-on-accent1-lighter-surface: 83, 24, 0;
  --ax-sys-color-border-accent1-lighter-surface: 255, 156, 96;
  --ax-sys-color-accent1-light-surface: 219, 142, 96;
  --ax-sys-color-on-accent1-light-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-light-surface: 212, 121, 67;
  --ax-sys-color-accent1-surface: 139, 69, 19;
  --ax-sys-color-on-accent1-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-surface: 108, 53, 15;
  --ax-sys-color-accent1-dark-surface: 129, 60, 5;
  --ax-sys-color-on-accent1-dark-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-dark-surface: 95, 44, 4;
  --ax-sys-color-accent1-darker-surface: 118, 49, 0;
  --ax-sys-color-on-accent1-darker-surface: 255, 249, 238;
  --ax-sys-color-border-accent1-darker-surface: 82, 34, 0;
  --ax-sys-color-accent1-darkest-surface: 105, 44, 10;
  --ax-sys-color-on-accent1-darkest-surface: 255, 249, 239;
  --ax-sys-color-border-accent1-darkest-surface: 72, 30, 7;
  --ax-sys-color-accent2-lightest-surface: 198, 235, 255;
  --ax-sys-color-on-accent2-lightest-surface: 17, 50, 65;
  --ax-sys-color-border-accent2-lightest-surface: 162, 222, 255;
  --ax-sys-color-accent2-lighter-surface: 161, 218, 255;
  --ax-sys-color-on-accent2-lighter-surface: 0, 50, 80;
  --ax-sys-color-border-accent2-lighter-surface: 125, 204, 255;
  --ax-sys-color-accent2-light-surface: 128, 189, 242;
  --ax-sys-color-on-accent2-light-surface: 0, 48, 91;
  --ax-sys-color-border-accent2-light-surface: 96, 172, 239;
  --ax-sys-color-accent2-surface: 70, 130, 180;
  --ax-sys-color-on-accent2-surface: 240, 255, 255;
  --ax-sys-color-border-accent2-surface: 60, 111, 154;
  --ax-sys-color-accent2-dark-surface: 54, 114, 163;
  --ax-sys-color-on-accent2-dark-surface: 240, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 45, 95, 136;
  --ax-sys-color-accent2-darker-surface: 34, 96, 144;
  --ax-sys-color-on-accent2-darker-surface: 240, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 27, 77, 115;
  --ax-sys-color-accent2-darkest-surface: 25, 81, 124;
  --ax-sys-color-on-accent2-darkest-surface: 240, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 19, 62, 94;
  --ax-sys-color-accent3-lightest-surface: 192, 228, 228;
  --ax-sys-color-on-accent3-lightest-surface: 20, 52, 52;
  --ax-sys-color-border-accent3-lightest-surface: 167, 217, 217;
  --ax-sys-color-accent3-lighter-surface: 165, 201, 200;
  --ax-sys-color-on-accent3-lighter-surface: 19, 52, 51;
  --ax-sys-color-border-accent3-lighter-surface: 143, 188, 186;
  --ax-sys-color-accent3-light-surface: 125, 159, 159;
  --ax-sys-color-on-accent3-light-surface: 225, 255, 255;
  --ax-sys-color-border-accent3-light-surface: 105, 143, 143;
  --ax-sys-color-accent3-surface: 47, 79, 79;
  --ax-sys-color-on-accent3-surface: 225, 255, 255;
  --ax-sys-color-border-accent3-surface: 34, 57, 57;
  --ax-sys-color-accent3-dark-surface: 42, 74, 74;
  --ax-sys-color-on-accent3-dark-surface: 225, 255, 255;
  --ax-sys-color-border-accent3-dark-surface: 29, 51, 51;
  --ax-sys-color-accent3-darker-surface: 36, 68, 68;
  --ax-sys-color-on-accent3-darker-surface: 225, 255, 255;
  --ax-sys-color-border-accent3-darker-surface: 24, 45, 45;
  --ax-sys-color-accent3-darkest-surface: 34, 62, 63;
  --ax-sys-color-on-accent3-darkest-surface: 228, 255, 255;
  --ax-sys-color-border-accent3-darkest-surface: 21, 39, 40;
  --ax-sys-color-neutral-lightest-surface: 251, 233, 208;
  --ax-sys-color-on-neutral-lightest-surface: 57, 43, 23;
  --ax-sys-color-border-neutral-lightest-surface: 248, 218, 175;
  --ax-sys-color-neutral-lighter-surface: 236, 217, 193;
  --ax-sys-color-on-neutral-lighter-surface: 57, 43, 23;
  --ax-sys-color-border-neutral-lighter-surface: 228, 200, 166;
  --ax-sys-color-neutral-light-surface: 212, 194, 170;
  --ax-sys-color-on-neutral-light-surface: 57, 43, 23;
  --ax-sys-color-border-neutral-light-surface: 200, 177, 146;
  --ax-sys-color-neutral-surface: 164, 147, 124;
  --ax-sys-color-on-neutral-surface: 255, 251, 225;
  --ax-sys-color-border-neutral-surface: 149, 130, 103;
  --ax-sys-color-neutral-dark-surface: 143, 127, 104;
  --ax-sys-color-on-neutral-dark-surface: 255, 251, 225;
  --ax-sys-color-border-neutral-dark-surface: 122, 109, 89;
  --ax-sys-color-neutral-darker-surface: 119, 103, 81;
  --ax-sys-color-on-neutral-darker-surface: 255, 251, 225;
  --ax-sys-color-border-neutral-darker-surface: 98, 85, 67;
  --ax-sys-color-neutral-darkest-surface: 99, 84, 65;
  --ax-sys-color-on-neutral-darkest-surface: 255, 250, 228;
  --ax-sys-color-border-neutral-darkest-surface: 77, 66, 51;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 253, 248, 244;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 37, 20, 14;
  --ax-sys-color-lightest-surface: 47, 27, 20;
  --ax-sys-color-on-lightest-surface: 255, 248, 241;
  --ax-sys-color-border-lightest-surface: 79, 45, 34;
  --ax-sys-color-lighter-surface: 43, 25, 18;
  --ax-sys-color-on-lighter-surface: 255, 248, 241;
  --ax-sys-color-border-lighter-surface: 75, 43, 32;
  --ax-sys-color-light-surface: 40, 23, 17;
  --ax-sys-color-on-light-surface: 255, 248, 240;
  --ax-sys-color-border-light-surface: 72, 41, 30;
  --ax-sys-color-surface: 37, 21, 15;
  --ax-sys-color-on-surface: 255, 248, 240;
  --ax-sys-color-border-surface: 69, 40, 28;
  --ax-sys-color-dark-surface: 33, 19, 14;
  --ax-sys-color-on-dark-surface: 255, 248, 240;
  --ax-sys-color-border-dark-surface: 66, 38, 27;
  --ax-sys-color-darker-surface: 30, 17, 12;
  --ax-sys-color-on-darker-surface: 255, 249, 241;
  --ax-sys-color-border-darker-surface: 63, 36, 25;
  --ax-sys-color-darkest-surface: 26, 15, 10;
  --ax-sys-color-on-darkest-surface: 255, 249, 242;
  --ax-sys-color-border-darkest-surface: 59, 34, 23;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 240, 223;
  --ax-sys-color-primary-100: 255, 228, 206;
  --ax-sys-color-primary-200: 255, 205, 169;
  --ax-sys-color-primary-300: 255, 180, 130;
  --ax-sys-color-primary-400: 255, 154, 87;
  --ax-sys-color-primary-500: 246, 138, 70;
  --ax-sys-color-primary-600: 228, 121, 51;
  --ax-sys-color-primary-700: 210, 105, 30;
  --ax-sys-color-primary-800: 194, 90, 0;
  --ax-sys-color-primary-900: 178, 75, 0;
  --ax-sys-color-primary-950: 170, 68, 0;
  --ax-sys-color-secondary-50: 255, 242, 219;
  --ax-sys-color-secondary-100: 255, 232, 201;
  --ax-sys-color-secondary-200: 255, 212, 163;
  --ax-sys-color-secondary-300: 255, 191, 122;
  --ax-sys-color-secondary-400: 252, 176, 107;
  --ax-sys-color-secondary-500: 236, 162, 93;
  --ax-sys-color-secondary-600: 220, 147, 78;
  --ax-sys-color-secondary-700: 205, 133, 63;
  --ax-sys-color-secondary-800: 187, 117, 44;
  --ax-sys-color-secondary-900: 170, 100, 22;
  --ax-sys-color-secondary-950: 161, 92, 6;
  --ax-sys-color-success-50: 206, 255, 202;
  --ax-sys-color-success-100: 164, 255, 158;
  --ax-sys-color-success-200: 142, 241, 137;
  --ax-sys-color-success-300: 121, 220, 116;
  --ax-sys-color-success-400: 101, 199, 97;
  --ax-sys-color-success-500: 80, 179, 77;
  --ax-sys-color-success-600: 58, 159, 56;
  --ax-sys-color-success-700: 34, 139, 34;
  --ax-sys-color-success-800: 15, 128, 18;
  --ax-sys-color-success-900: 0, 116, 0;
  --ax-sys-color-success-950: 0, 111, 0;
  --ax-sys-color-warning-50: 255, 247, 202;
  --ax-sys-color-warning-100: 255, 240, 181;
  --ax-sys-color-warning-200: 255, 225, 137;
  --ax-sys-color-warning-300: 255, 211, 92;
  --ax-sys-color-warning-400: 254, 199, 79;
  --ax-sys-color-warning-500: 242, 188, 65;
  --ax-sys-color-warning-600: 230, 176, 50;
  --ax-sys-color-warning-700: 218, 165, 32;
  --ax-sys-color-warning-800: 197, 145, 0;
  --ax-sys-color-warning-900: 176, 125, 0;
  --ax-sys-color-warning-950: 164, 116, 0;
  --ax-sys-color-danger-50: 255, 234, 229;
  --ax-sys-color-danger-100: 255, 217, 210;
  --ax-sys-color-danger-200: 255, 182, 172;
  --ax-sys-color-danger-300: 255, 144, 132;
  --ax-sys-color-danger-400: 255, 109, 98;
  --ax-sys-color-danger-500: 229, 86, 77;
  --ax-sys-color-danger-600: 203, 61, 56;
  --ax-sys-color-danger-700: 178, 34, 34;
  --ax-sys-color-danger-800: 168, 20, 25;
  --ax-sys-color-danger-900: 158, 0, 15;
  --ax-sys-color-danger-950: 154, 0, 8;
  --ax-sys-color-accent1-50: 255, 235, 215;
  --ax-sys-color-accent1-100: 255, 218, 189;
  --ax-sys-color-accent1-200: 255, 184, 137;
  --ax-sys-color-accent1-300: 239, 160, 114;
  --ax-sys-color-accent1-400: 213, 136, 91;
  --ax-sys-color-accent1-500: 188, 113, 68;
  --ax-sys-color-accent1-600: 163, 91, 45;
  --ax-sys-color-accent1-700: 139, 69, 19;
  --ax-sys-color-accent1-800: 131, 62, 8;
  --ax-sys-color-accent1-900: 124, 55, 0;
  --ax-sys-color-accent1-950: 120, 52, 0;
  --ax-sys-color-accent2-50: 226, 249, 255;
  --ax-sys-color-accent2-100: 208, 240, 255;
  --ax-sys-color-accent2-200: 170, 223, 255;
  --ax-sys-color-accent2-300: 142, 204, 255;
  --ax-sys-color-accent2-400: 124, 185, 238;
  --ax-sys-color-accent2-500: 106, 166, 218;
  --ax-sys-color-accent2-600: 88, 148, 199;
  --ax-sys-color-accent2-700: 70, 130, 180;
  --ax-sys-color-accent2-800: 58, 118, 167;
  --ax-sys-color-accent2-900: 45, 105, 154;
  --ax-sys-color-accent2-950: 38, 99, 147;
  --ax-sys-color-accent3-50: 213, 249, 249;
  --ax-sys-color-accent3-100: 199, 235, 235;
  --ax-sys-color-accent3-200: 172, 207, 207;
  --ax-sys-color-accent3-300: 145, 180, 180;
  --ax-sys-color-accent3-400: 119, 153, 153;
  --ax-sys-color-accent3-500: 94, 128, 128;
  --ax-sys-color-accent3-600: 70, 103, 103;
  --ax-sys-color-accent3-700: 47, 79, 79;
  --ax-sys-color-accent3-800: 43, 75, 75;
  --ax-sys-color-accent3-900: 39, 71, 71;
  --ax-sys-color-accent3-950: 37, 69, 69;
  --ax-sys-color-neutral-50: 255, 244, 219;
  --ax-sys-color-neutral-100: 255, 237, 212;
  --ax-sys-color-neutral-200: 239, 221, 197;
  --ax-sys-color-neutral-300: 224, 206, 182;
  --ax-sys-color-neutral-400: 209, 191, 167;
  --ax-sys-color-neutral-500: 194, 176, 152;
  --ax-sys-color-neutral-600: 179, 161, 138;
  --ax-sys-color-neutral-700: 164, 147, 124;
  --ax-sys-color-neutral-800: 148, 131, 108;
  --ax-sys-color-neutral-900: 132, 115, 93;
  --ax-sys-color-neutral-950: 124, 108, 86;
  --ax-sys-color-primary-lightest-surface: 255, 228, 206;
  --ax-sys-color-on-primary-lightest-surface: 35, 17, 2;
  --ax-sys-color-border-primary-lightest-surface: 255, 253, 252;
  --ax-sys-color-primary-lighter-surface: 255, 205, 169;
  --ax-sys-color-on-primary-lighter-surface: 44, 10, 0;
  --ax-sys-color-border-primary-lighter-surface: 255, 232, 215;
  --ax-sys-color-primary-light-surface: 255, 180, 130;
  --ax-sys-color-on-primary-light-surface: 45, 8, 0;
  --ax-sys-color-border-primary-light-surface: 255, 208, 176;
  --ax-sys-color-primary-surface: 246, 138, 70;
  --ax-sys-color-on-primary-surface: 47, 6, 0;
  --ax-sys-color-border-primary-surface: 248, 166, 114;
  --ax-sys-color-primary-dark-surface: 228, 121, 51;
  --ax-sys-color-on-primary-dark-surface: 47, 6, 0;
  --ax-sys-color-border-primary-dark-surface: 233, 148, 92;
  --ax-sys-color-primary-darker-surface: 210, 105, 30;
  --ax-sys-color-on-primary-darker-surface: 47, 6, 0;
  --ax-sys-color-border-primary-darker-surface: 227, 129, 59;
  --ax-sys-color-primary-darkest-surface: 194, 90, 0;
  --ax-sys-color-on-primary-darkest-surface: 255, 249, 238;
  --ax-sys-color-border-primary-darkest-surface: 240, 111, 0;
  --ax-sys-color-secondary-lightest-surface: 255, 232, 201;
  --ax-sys-color-on-secondary-lightest-surface: 34, 18, 0;
  --ax-sys-color-border-secondary-lightest-surface: 255, 252, 247;
  --ax-sys-color-secondary-lighter-surface: 255, 212, 163;
  --ax-sys-color-on-secondary-lighter-surface: 39, 15, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 233, 209;
  --ax-sys-color-secondary-light-surface: 255, 191, 122;
  --ax-sys-color-on-secondary-light-surface: 40, 14, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 213, 168;
  --ax-sys-color-secondary-surface: 236, 162, 93;
  --ax-sys-color-on-secondary-surface: 42, 12, 0;
  --ax-sys-color-border-secondary-surface: 241, 186, 134;
  --ax-sys-color-secondary-dark-surface: 220, 147, 78;
  --ax-sys-color-on-secondary-dark-surface: 42, 12, 0;
  --ax-sys-color-border-secondary-dark-surface: 228, 170, 116;
  --ax-sys-color-secondary-darker-surface: 205, 133, 63;
  --ax-sys-color-on-secondary-darker-surface: 42, 12, 0;
  --ax-sys-color-border-secondary-darker-surface: 214, 156, 99;
  --ax-sys-color-secondary-darkest-surface: 187, 117, 44;
  --ax-sys-color-on-secondary-darkest-surface: 255, 249, 232;
  --ax-sys-color-border-secondary-darkest-surface: 211, 140, 66;
  --ax-sys-color-success-lightest-surface: 164, 255, 158;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 0;
  --ax-sys-color-border-success-lightest-surface: 207, 255, 204;
  --ax-sys-color-success-lighter-surface: 142, 241, 137;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 0;
  --ax-sys-color-border-success-lighter-surface: 181, 246, 178;
  --ax-sys-color-success-light-surface: 121, 220, 116;
  --ax-sys-color-on-success-light-surface: 0, 31, 0;
  --ax-sys-color-border-success-light-surface: 156, 229, 153;
  --ax-sys-color-success-surface: 80, 179, 77;
  --ax-sys-color-on-success-surface: 0, 31, 0;
  --ax-sys-color-border-success-surface: 112, 193, 109;
  --ax-sys-color-success-dark-surface: 58, 159, 56;
  --ax-sys-color-on-success-dark-surface: 0, 31, 0;
  --ax-sys-color-border-success-dark-surface: 73, 190, 71;
  --ax-sys-color-success-darker-surface: 34, 139, 34;
  --ax-sys-color-on-success-darker-surface: 235, 255, 233;
  --ax-sys-color-border-success-darker-surface: 43, 176, 43;
  --ax-sys-color-success-darkest-surface: 15, 128, 18;
  --ax-sys-color-on-success-darkest-surface: 235, 255, 233;
  --ax-sys-color-border-success-darkest-surface: 20, 169, 24;
  --ax-sys-color-warning-lightest-surface: 255, 240, 181;
  --ax-sys-color-on-warning-lightest-surface: 30, 21, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 249, 227;
  --ax-sys-color-warning-lighter-surface: 255, 225, 137;
  --ax-sys-color-on-warning-lighter-surface: 32, 20, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 237, 183;
  --ax-sys-color-warning-light-surface: 255, 211, 92;
  --ax-sys-color-on-warning-light-surface: 33, 19, 0;
  --ax-sys-color-border-warning-light-surface: 255, 223, 138;
  --ax-sys-color-warning-surface: 242, 188, 65;
  --ax-sys-color-on-warning-surface: 34, 18, 0;
  --ax-sys-color-border-warning-surface: 245, 203, 108;
  --ax-sys-color-warning-dark-surface: 230, 176, 50;
  --ax-sys-color-on-warning-dark-surface: 35, 18, 0;
  --ax-sys-color-border-warning-dark-surface: 235, 192, 91;
  --ax-sys-color-warning-darker-surface: 218, 165, 32;
  --ax-sys-color-on-warning-darker-surface: 34, 18, 0;
  --ax-sys-color-border-warning-darker-surface: 228, 182, 68;
  --ax-sys-color-warning-darkest-surface: 197, 145, 0;
  --ax-sys-color-on-warning-darkest-surface: 35, 18, 0;
  --ax-sys-color-border-warning-darkest-surface: 243, 179, 0;
  --ax-sys-color-danger-lightest-surface: 255, 217, 210;
  --ax-sys-color-on-danger-lightest-surface: 39, 13, 10;
  --ax-sys-color-border-danger-lightest-surface: 255, 256, 256;
  --ax-sys-color-danger-lighter-surface: 255, 182, 172;
  --ax-sys-color-on-danger-lighter-surface: 52, 0, 0;
  --ax-sys-color-border-danger-lighter-surface: 255, 222, 218;
  --ax-sys-color-danger-light-surface: 255, 144, 132;
  --ax-sys-color-on-danger-light-surface: 56, 0, 0;
  --ax-sys-color-border-danger-light-surface: 255, 185, 178;
  --ax-sys-color-danger-surface: 229, 86, 77;
  --ax-sys-color-on-danger-surface: 56, 0, 0;
  --ax-sys-color-border-danger-surface: 235, 124, 117;
  --ax-sys-color-danger-dark-surface: 203, 61, 56;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 245;
  --ax-sys-color-border-danger-dark-surface: 213, 96, 92;
  --ax-sys-color-danger-darker-surface: 178, 34, 34;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darker-surface: 215, 43, 43;
  --ax-sys-color-danger-darkest-surface: 168, 20, 25;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darkest-surface: 209, 25, 31;
  --ax-sys-color-accent1-lightest-surface: 255, 218, 189;
  --ax-sys-color-on-accent1-lightest-surface: 40, 14, 0;
  --ax-sys-color-border-accent1-lightest-surface: 255, 244, 235;
  --ax-sys-color-accent1-lighter-surface: 255, 184, 137;
  --ax-sys-color-on-accent1-lighter-surface: 45, 8, 0;
  --ax-sys-color-border-accent1-lighter-surface: 255, 212, 183;
  --ax-sys-color-accent1-light-surface: 239, 160, 114;
  --ax-sys-color-on-accent1-light-surface: 47, 6, 0;
  --ax-sys-color-border-accent1-light-surface: 244, 188, 155;
  --ax-sys-color-accent1-surface: 188, 113, 68;
  --ax-sys-color-on-accent1-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-surface: 200, 139, 102;
  --ax-sys-color-accent1-dark-surface: 163, 91, 45;
  --ax-sys-color-on-accent1-dark-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-dark-surface: 199, 111, 55;
  --ax-sys-color-accent1-darker-surface: 139, 69, 19;
  --ax-sys-color-on-accent1-darker-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-darker-surface: 179, 89, 25;
  --ax-sys-color-accent1-darkest-surface: 131, 62, 8;
  --ax-sys-color-on-accent1-darkest-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-darkest-surface: 174, 82, 11;
  --ax-sys-color-accent2-lightest-surface: 208, 240, 255;
  --ax-sys-color-on-accent2-lightest-surface: 0, 25, 36;
  --ax-sys-color-border-accent2-lightest-surface: 254, 255, 255;
  --ax-sys-color-accent2-lighter-surface: 170, 223, 255;
  --ax-sys-color-on-accent2-lighter-surface: 0, 25, 48;
  --ax-sys-color-border-accent2-lighter-surface: 216, 240, 255;
  --ax-sys-color-accent2-light-surface: 142, 204, 255;
  --ax-sys-color-on-accent2-light-surface: 0, 23, 55;
  --ax-sys-color-border-accent2-light-surface: 188, 225, 255;
  --ax-sys-color-accent2-surface: 106, 166, 218;
  --ax-sys-color-on-accent2-surface: 0, 22, 57;
  --ax-sys-color-border-accent2-surface: 143, 188, 227;
  --ax-sys-color-accent2-dark-surface: 88, 148, 199;
  --ax-sys-color-on-accent2-dark-surface: 0, 22, 57;
  --ax-sys-color-border-accent2-dark-surface: 122, 170, 211;
  --ax-sys-color-accent2-darker-surface: 70, 130, 180;
  --ax-sys-color-on-accent2-darker-surface: 0, 22, 57;
  --ax-sys-color-border-accent2-darker-surface: 101, 152, 195;
  --ax-sys-color-accent2-darkest-surface: 58, 118, 167;
  --ax-sys-color-on-accent2-darkest-surface: 0, 22, 57;
  --ax-sys-color-border-accent2-darkest-surface: 78, 141, 193;
  --ax-sys-color-accent3-lightest-surface: 199, 235, 235;
  --ax-sys-color-on-accent3-lightest-surface: 0, 27, 28;
  --ax-sys-color-border-accent3-lightest-surface: 233, 247, 247;
  --ax-sys-color-accent3-lighter-surface: 172, 207, 207;
  --ax-sys-color-on-accent3-lighter-surface: 0, 27, 28;
  --ax-sys-color-border-accent3-lighter-surface: 201, 224, 224;
  --ax-sys-color-accent3-light-surface: 145, 180, 180;
  --ax-sys-color-on-accent3-light-surface: 0, 27, 28;
  --ax-sys-color-border-accent3-light-surface: 172, 199, 199;
  --ax-sys-color-accent3-surface: 94, 128, 128;
  --ax-sys-color-on-accent3-surface: 0, 27, 28;
  --ax-sys-color-border-accent3-surface: 115, 152, 152;
  --ax-sys-color-accent3-dark-surface: 70, 103, 103;
  --ax-sys-color-on-accent3-dark-surface: 225, 255, 255;
  --ax-sys-color-border-accent3-dark-surface: 89, 130, 130;
  --ax-sys-color-accent3-darker-surface: 47, 79, 79;
  --ax-sys-color-on-accent3-darker-surface: 225, 255, 255;
  --ax-sys-color-border-accent3-darker-surface: 64, 108, 108;
  --ax-sys-color-accent3-darkest-surface: 43, 75, 75;
  --ax-sys-color-on-accent3-darkest-surface: 225, 255, 255;
  --ax-sys-color-border-accent3-darkest-surface: 60, 104, 104;
  --ax-sys-color-neutral-lightest-surface: 255, 237, 212;
  --ax-sys-color-on-neutral-lightest-surface: 32, 19, 2;
  --ax-sys-color-border-neutral-lightest-surface: 255, 256, 258;
  --ax-sys-color-neutral-lighter-surface: 239, 221, 197;
  --ax-sys-color-on-neutral-lighter-surface: 32, 19, 2;
  --ax-sys-color-border-neutral-lighter-surface: 249, 242, 233;
  --ax-sys-color-neutral-light-surface: 224, 206, 182;
  --ax-sys-color-on-neutral-light-surface: 32, 19, 2;
  --ax-sys-color-border-neutral-light-surface: 238, 228, 214;
  --ax-sys-color-neutral-surface: 194, 176, 152;
  --ax-sys-color-on-neutral-surface: 32, 19, 1;
  --ax-sys-color-border-neutral-surface: 211, 198, 181;
  --ax-sys-color-neutral-dark-surface: 179, 161, 138;
  --ax-sys-color-on-neutral-dark-surface: 32, 19, 2;
  --ax-sys-color-border-neutral-dark-surface: 197, 183, 166;
  --ax-sys-color-neutral-darker-surface: 164, 147, 124;
  --ax-sys-color-on-neutral-darker-surface: 32, 19, 2;
  --ax-sys-color-border-neutral-darker-surface: 183, 169, 151;
  --ax-sys-color-neutral-darkest-surface: 148, 131, 108;
  --ax-sys-color-on-neutral-darkest-surface: 255, 250, 225;
  --ax-sys-color-border-neutral-darkest-surface: 167, 153, 135;
}
