/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 244, 244, 244;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 28, 23, 29;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 245, 245, 245;
  --ax-sys-color-on-lighter-surface: 46, 46, 46;
  --ax-sys-color-border-lighter-surface: 227, 227, 227;
  --ax-sys-color-light-surface: 237, 237, 237;
  --ax-sys-color-on-light-surface: 46, 46, 46;
  --ax-sys-color-border-light-surface: 219, 219, 219;
  --ax-sys-color-surface: 229, 229, 229;
  --ax-sys-color-on-surface: 46, 46, 46;
  --ax-sys-color-border-surface: 212, 211, 212;
  --ax-sys-color-dark-surface: 222, 222, 222;
  --ax-sys-color-on-dark-surface: 46, 46, 46;
  --ax-sys-color-border-dark-surface: 204, 204, 204;
  --ax-sys-color-darker-surface: 214, 214, 214;
  --ax-sys-color-on-darker-surface: 46, 46, 46;
  --ax-sys-color-border-darker-surface: 196, 196, 196;
  --ax-sys-color-darkest-surface: 204, 204, 204;
  --ax-sys-color-on-darkest-surface: 46, 46, 46;
  --ax-sys-color-border-darkest-surface: 186, 186, 186;
  /* Ranges */
  --ax-sys-color-primary-50: 235, 234, 235;
  --ax-sys-color-primary-100: 210, 208, 210;
  --ax-sys-color-primary-200: 175, 173, 175;
  --ax-sys-color-primary-300: 123, 121, 123;
  --ax-sys-color-primary-400: 62, 61, 62;
  --ax-sys-color-primary-500: 27, 26, 27;
  --ax-sys-color-primary-600: 30, 29, 30;
  --ax-sys-color-primary-700: 35, 34, 35;
  --ax-sys-color-primary-800: 38, 37, 38;
  --ax-sys-color-primary-900: 41, 40, 41;
  --ax-sys-color-primary-950: 48, 48, 48;
  --ax-sys-color-secondary-50: 235, 235, 235;
  --ax-sys-color-secondary-100: 211, 211, 211;
  --ax-sys-color-secondary-200: 177, 177, 177;
  --ax-sys-color-secondary-300: 128, 128, 128;
  --ax-sys-color-secondary-400: 69, 69, 69;
  --ax-sys-color-secondary-500: 35, 35, 35;
  --ax-sys-color-secondary-600: 37, 37, 37;
  --ax-sys-color-secondary-700: 39, 39, 39;
  --ax-sys-color-secondary-800: 41, 41, 41;
  --ax-sys-color-secondary-900: 43, 43, 43;
  --ax-sys-color-secondary-950: 47, 47, 47;
  --ax-sys-color-success-50: 204, 255, 222;
  --ax-sys-color-success-100: 170, 255, 199;
  --ax-sys-color-success-200: 154, 241, 183;
  --ax-sys-color-success-300: 129, 216, 159;
  --ax-sys-color-success-400: 97, 184, 129;
  --ax-sys-color-success-500: 77, 164, 110;
  --ax-sys-color-success-600: 56, 144, 92;
  --ax-sys-color-success-700: 26, 121, 70;
  --ax-sys-color-success-800: 20, 101, 56;
  --ax-sys-color-success-900: 40, 84, 52;
  --ax-sys-color-success-950: 24, 43, 26;
  --ax-sys-color-warning-50: 255, 242, 216;
  --ax-sys-color-warning-100: 255, 229, 191;
  --ax-sys-color-warning-200: 255, 211, 155;
  --ax-sys-color-warning-300: 255, 182, 95;
  --ax-sys-color-warning-400: 235, 155, 66;
  --ax-sys-color-warning-500: 217, 138, 45;
  --ax-sys-color-warning-600: 193, 116, 2;
  --ax-sys-color-warning-700: 164, 89, 0;
  --ax-sys-color-warning-800: 133, 74, 18;
  --ax-sys-color-warning-900: 103, 65, 37;
  --ax-sys-color-warning-950: 47, 30, 20;
  --ax-sys-color-danger-50: 255, 235, 232;
  --ax-sys-color-danger-100: 255, 216, 212;
  --ax-sys-color-danger-200: 255, 189, 183;
  --ax-sys-color-danger-300: 255, 142, 135;
  --ax-sys-color-danger-400: 238, 95, 92;
  --ax-sys-color-danger-500: 212, 71, 71;
  --ax-sys-color-danger-600: 193, 52, 56;
  --ax-sys-color-danger-700: 170, 26, 37;
  --ax-sys-color-danger-800: 147, 21, 28;
  --ax-sys-color-danger-900: 118, 42, 36;
  --ax-sys-color-danger-950: 64, 28, 23;
  --ax-sys-color-accent1-50: 246, 231, 255;
  --ax-sys-color-accent1-100: 231, 204, 255;
  --ax-sys-color-accent1-200: 210, 168, 255;
  --ax-sys-color-accent1-300: 167, 126, 219;
  --ax-sys-color-accent1-400: 116, 74, 163;
  --ax-sys-color-accent1-500: 85, 42, 128;
  --ax-sys-color-accent1-600: 81, 37, 123;
  --ax-sys-color-accent1-700: 75, 31, 117;
  --ax-sys-color-accent1-800: 70, 31, 108;
  --ax-sys-color-accent1-900: 62, 37, 90;
  --ax-sys-color-accent1-950: 51, 33, 71;
  --ax-sys-color-accent2-50: 178, 255, 255;
  --ax-sys-color-accent2-100: 160, 243, 255;
  --ax-sys-color-accent2-200: 139, 221, 233;
  --ax-sys-color-accent2-300: 105, 188, 199;
  --ax-sys-color-accent2-400: 62, 147, 158;
  --ax-sys-color-accent2-500: 31, 121, 132;
  --ax-sys-color-accent2-600: 8, 109, 120;
  --ax-sys-color-accent2-700: 0, 94, 105;
  --ax-sys-color-accent2-800: 15, 82, 91;
  --ax-sys-color-accent2-900: 34, 71, 78;
  --ax-sys-color-accent2-950: 27, 44, 48;
  --ax-sys-color-accent3-50: 255, 241, 240;
  --ax-sys-color-accent3-100: 255, 231, 230;
  --ax-sys-color-accent3-200: 255, 217, 216;
  --ax-sys-color-accent3-300: 249, 200, 199;
  --ax-sys-color-accent3-400: 228, 180, 179;
  --ax-sys-color-accent3-500: 214, 167, 166;
  --ax-sys-color-accent3-600: 186, 141, 140;
  --ax-sys-color-accent3-700: 154, 110, 109;
  --ax-sys-color-accent3-800: 125, 87, 87;
  --ax-sys-color-accent3-900: 99, 72, 72;
  --ax-sys-color-accent3-950: 44, 27, 27;
  --ax-sys-color-neutral-50: 243, 243, 243;
  --ax-sys-color-neutral-100: 228, 228, 228;
  --ax-sys-color-neutral-200: 207, 207, 207;
  --ax-sys-color-neutral-300: 175, 175, 175;
  --ax-sys-color-neutral-400: 135, 135, 135;
  --ax-sys-color-neutral-500: 111, 111, 111;
  --ax-sys-color-neutral-600: 99, 99, 99;
  --ax-sys-color-neutral-700: 84, 84, 84;
  --ax-sys-color-neutral-800: 72, 72, 72;
  --ax-sys-color-neutral-900: 63, 63, 63;
  --ax-sys-color-neutral-950: 39, 39, 39;
  --ax-sys-color-primary-lightest-surface: 210, 208, 210;
  --ax-sys-color-on-primary-lightest-surface: 47, 45, 47;
  --ax-sys-color-border-primary-lightest-surface: 193, 190, 193;
  --ax-sys-color-primary-lighter-surface: 175, 173, 175;
  --ax-sys-color-on-primary-lighter-surface: 47, 45, 47;
  --ax-sys-color-border-primary-lighter-surface: 157, 155, 157;
  --ax-sys-color-primary-light-surface: 123, 121, 123;
  --ax-sys-color-on-primary-light-surface: 255, 253, 255;
  --ax-sys-color-border-primary-light-surface: 105, 103, 105;
  --ax-sys-color-primary-surface: 27, 26, 27;
  --ax-sys-color-on-primary-surface: 254, 253, 254;
  --ax-sys-color-border-primary-surface: 9, 8, 9;
  --ax-sys-color-primary-dark-surface: 30, 29, 30;
  --ax-sys-color-on-primary-dark-surface: 254, 253, 254;
  --ax-sys-color-border-primary-dark-surface: 12, 11, 12;
  --ax-sys-color-primary-darker-surface: 35, 34, 35;
  --ax-sys-color-on-primary-darker-surface: 254, 253, 254;
  --ax-sys-color-border-primary-darker-surface: 17, 16, 17;
  --ax-sys-color-primary-darkest-surface: 38, 37, 38;
  --ax-sys-color-on-primary-darkest-surface: 254, 253, 254;
  --ax-sys-color-border-primary-darkest-surface: 20, 19, 20;
  --ax-sys-color-secondary-lightest-surface: 211, 211, 211;
  --ax-sys-color-on-secondary-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-secondary-lightest-surface: 193, 193, 193;
  --ax-sys-color-secondary-lighter-surface: 177, 177, 177;
  --ax-sys-color-on-secondary-lighter-surface: 46, 46, 46;
  --ax-sys-color-border-secondary-lighter-surface: 159, 159, 159;
  --ax-sys-color-secondary-light-surface: 128, 128, 128;
  --ax-sys-color-on-secondary-light-surface: 253, 253, 253;
  --ax-sys-color-border-secondary-light-surface: 110, 110, 110;
  --ax-sys-color-secondary-surface: 35, 35, 35;
  --ax-sys-color-on-secondary-surface: 253, 253, 253;
  --ax-sys-color-border-secondary-surface: 17, 17, 17;
  --ax-sys-color-secondary-dark-surface: 37, 37, 37;
  --ax-sys-color-on-secondary-dark-surface: 253, 253, 253;
  --ax-sys-color-border-secondary-dark-surface: 19, 19, 19;
  --ax-sys-color-secondary-darker-surface: 39, 39, 39;
  --ax-sys-color-on-secondary-darker-surface: 253, 253, 253;
  --ax-sys-color-border-secondary-darker-surface: 21, 21, 21;
  --ax-sys-color-secondary-darkest-surface: 41, 41, 41;
  --ax-sys-color-on-secondary-darkest-surface: 253, 253, 253;
  --ax-sys-color-border-secondary-darkest-surface: 23, 23, 23;
  --ax-sys-color-success-lightest-surface: 170, 255, 199;
  --ax-sys-color-on-success-lightest-surface: 0, 59, 20;
  --ax-sys-color-border-success-lightest-surface: 134, 255, 175;
  --ax-sys-color-success-lighter-surface: 154, 241, 183;
  --ax-sys-color-on-success-lighter-surface: 0, 60, 18;
  --ax-sys-color-border-success-lighter-surface: 123, 237, 161;
  --ax-sys-color-success-light-surface: 129, 216, 159;
  --ax-sys-color-on-success-light-surface: 0, 59, 18;
  --ax-sys-color-border-success-light-surface: 102, 208, 138;
  --ax-sys-color-success-surface: 77, 164, 110;
  --ax-sys-color-on-success-surface: 232, 255, 241;
  --ax-sys-color-border-success-surface: 66, 140, 94;
  --ax-sys-color-success-dark-surface: 56, 144, 92;
  --ax-sys-color-on-success-dark-surface: 232, 255, 241;
  --ax-sys-color-border-success-dark-surface: 46, 118, 76;
  --ax-sys-color-success-darker-surface: 26, 121, 70;
  --ax-sys-color-on-success-darker-surface: 232, 255, 241;
  --ax-sys-color-border-success-darker-surface: 20, 92, 53;
  --ax-sys-color-success-darkest-surface: 20, 101, 56;
  --ax-sys-color-on-success-darkest-surface: 232, 255, 240;
  --ax-sys-color-border-success-darkest-surface: 14, 71, 39;
  --ax-sys-color-warning-lightest-surface: 255, 229, 191;
  --ax-sys-color-on-warning-lightest-surface: 62, 42, 6;
  --ax-sys-color-border-warning-lightest-surface: 255, 214, 155;
  --ax-sys-color-warning-lighter-surface: 255, 211, 155;
  --ax-sys-color-on-warning-lighter-surface: 70, 37, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 195, 119;
  --ax-sys-color-warning-light-surface: 255, 182, 95;
  --ax-sys-color-on-warning-light-surface: 72, 35, 0;
  --ax-sys-color-border-warning-light-surface: 255, 166, 59;
  --ax-sys-color-warning-surface: 217, 138, 45;
  --ax-sys-color-on-warning-surface: 255, 250, 231;
  --ax-sys-color-border-warning-surface: 192, 120, 35;
  --ax-sys-color-warning-dark-surface: 193, 116, 2;
  --ax-sys-color-on-warning-dark-surface: 255, 250, 231;
  --ax-sys-color-border-warning-dark-surface: 158, 95, 2;
  --ax-sys-color-warning-darker-surface: 164, 89, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 249, 234;
  --ax-sys-color-border-warning-darker-surface: 128, 70, 0;
  --ax-sys-color-warning-darkest-surface: 133, 74, 18;
  --ax-sys-color-on-warning-darkest-surface: 255, 249, 234;
  --ax-sys-color-border-warning-darkest-surface: 102, 57, 14;
  --ax-sys-color-danger-lightest-surface: 255, 216, 212;
  --ax-sys-color-on-danger-lightest-surface: 65, 37, 35;
  --ax-sys-color-border-danger-lightest-surface: 255, 184, 176;
  --ax-sys-color-danger-lighter-surface: 255, 189, 183;
  --ax-sys-color-on-danger-lighter-surface: 78, 27, 25;
  --ax-sys-color-border-danger-lighter-surface: 255, 156, 147;
  --ax-sys-color-danger-light-surface: 255, 142, 135;
  --ax-sys-color-on-danger-light-surface: 97, 0, 3;
  --ax-sys-color-border-danger-light-surface: 255, 108, 99;
  --ax-sys-color-danger-surface: 212, 71, 71;
  --ax-sys-color-on-danger-surface: 255, 248, 245;
  --ax-sys-color-border-danger-surface: 200, 47, 47;
  --ax-sys-color-danger-dark-surface: 193, 52, 56;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 246;
  --ax-sys-color-border-danger-dark-surface: 165, 44, 48;
  --ax-sys-color-danger-darker-surface: 170, 26, 37;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 246;
  --ax-sys-color-border-danger-darker-surface: 139, 21, 30;
  --ax-sys-color-danger-darkest-surface: 147, 21, 28;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darkest-surface: 116, 17, 22;
  --ax-sys-color-accent1-lightest-surface: 231, 204, 255;
  --ax-sys-color-on-accent1-lightest-surface: 57, 34, 74;
  --ax-sys-color-border-accent1-lightest-surface: 214, 168, 255;
  --ax-sys-color-accent1-lighter-surface: 210, 168, 255;
  --ax-sys-color-on-accent1-lighter-surface: 62, 18, 95;
  --ax-sys-color-border-accent1-lighter-surface: 192, 132, 255;
  --ax-sys-color-accent1-light-surface: 167, 126, 219;
  --ax-sys-color-on-accent1-light-surface: 255, 249, 255;
  --ax-sys-color-border-accent1-light-surface: 148, 98, 211;
  --ax-sys-color-accent1-surface: 85, 42, 128;
  --ax-sys-color-on-accent1-surface: 255, 249, 255;
  --ax-sys-color-border-accent1-surface: 67, 33, 101;
  --ax-sys-color-accent1-dark-surface: 81, 37, 123;
  --ax-sys-color-on-accent1-dark-surface: 255, 249, 255;
  --ax-sys-color-border-accent1-dark-surface: 63, 29, 96;
  --ax-sys-color-accent1-darker-surface: 75, 31, 117;
  --ax-sys-color-on-accent1-darker-surface: 255, 249, 255;
  --ax-sys-color-border-accent1-darker-surface: 57, 24, 89;
  --ax-sys-color-accent1-darkest-surface: 70, 31, 108;
  --ax-sys-color-on-accent1-darkest-surface: 255, 249, 255;
  --ax-sys-color-border-accent1-darkest-surface: 52, 23, 80;
  --ax-sys-color-accent2-lightest-surface: 160, 243, 255;
  --ax-sys-color-on-accent2-lightest-surface: 0, 55, 64;
  --ax-sys-color-border-accent2-lightest-surface: 124, 238, 255;
  --ax-sys-color-accent2-lighter-surface: 139, 221, 233;
  --ax-sys-color-on-accent2-lighter-surface: 0, 55, 64;
  --ax-sys-color-border-accent2-lighter-surface: 109, 212, 227;
  --ax-sys-color-accent2-light-surface: 105, 188, 199;
  --ax-sys-color-on-accent2-light-surface: 0, 55, 63;
  --ax-sys-color-border-accent2-light-surface: 79, 176, 189;
  --ax-sys-color-accent2-surface: 31, 121, 132;
  --ax-sys-color-on-accent2-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-surface: 24, 94, 103;
  --ax-sys-color-accent2-dark-surface: 8, 109, 120;
  --ax-sys-color-on-accent2-dark-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 6, 79, 87;
  --ax-sys-color-accent2-darker-surface: 0, 94, 105;
  --ax-sys-color-on-accent2-darker-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 0, 62, 69;
  --ax-sys-color-accent2-darkest-surface: 15, 82, 91;
  --ax-sys-color-on-accent2-darkest-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 10, 54, 60;
  --ax-sys-color-accent3-lightest-surface: 255, 231, 230;
  --ax-sys-color-on-accent3-lightest-surface: 58, 41, 40;
  --ax-sys-color-border-accent3-lightest-surface: 255, 197, 194;
  --ax-sys-color-accent3-lighter-surface: 255, 217, 216;
  --ax-sys-color-on-accent3-lighter-surface: 65, 37, 37;
  --ax-sys-color-border-accent3-lighter-surface: 255, 182, 180;
  --ax-sys-color-accent3-light-surface: 249, 200, 199;
  --ax-sys-color-on-accent3-light-surface: 70, 33, 34;
  --ax-sys-color-border-accent3-light-surface: 246, 168, 167;
  --ax-sys-color-accent3-surface: 214, 167, 166;
  --ax-sys-color-on-accent3-surface: 70, 33, 34;
  --ax-sys-color-border-accent3-surface: 203, 143, 142;
  --ax-sys-color-accent3-dark-surface: 186, 141, 140;
  --ax-sys-color-on-accent3-dark-surface: 255, 247, 247;
  --ax-sys-color-border-accent3-dark-surface: 173, 119, 118;
  --ax-sys-color-accent3-darker-surface: 154, 110, 109;
  --ax-sys-color-on-accent3-darker-surface: 255, 247, 247;
  --ax-sys-color-border-accent3-darker-surface: 134, 94, 93;
  --ax-sys-color-accent3-darkest-surface: 125, 87, 87;
  --ax-sys-color-on-accent3-darkest-surface: 255, 247, 247;
  --ax-sys-color-border-accent3-darkest-surface: 104, 72, 72;
  --ax-sys-color-neutral-lightest-surface: 228, 228, 228;
  --ax-sys-color-on-neutral-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-neutral-lightest-surface: 210, 210, 210;
  --ax-sys-color-neutral-lighter-surface: 207, 207, 207;
  --ax-sys-color-on-neutral-lighter-surface: 46, 46, 46;
  --ax-sys-color-border-neutral-lighter-surface: 189, 189, 189;
  --ax-sys-color-neutral-light-surface: 175, 175, 175;
  --ax-sys-color-on-neutral-light-surface: 46, 46, 46;
  --ax-sys-color-border-neutral-light-surface: 157, 157, 157;
  --ax-sys-color-neutral-surface: 111, 111, 111;
  --ax-sys-color-on-neutral-surface: 253, 253, 253;
  --ax-sys-color-border-neutral-surface: 93, 93, 93;
  --ax-sys-color-neutral-dark-surface: 99, 99, 99;
  --ax-sys-color-on-neutral-dark-surface: 253, 253, 253;
  --ax-sys-color-border-neutral-dark-surface: 81, 81, 81;
  --ax-sys-color-neutral-darker-surface: 84, 84, 84;
  --ax-sys-color-on-neutral-darker-surface: 253, 253, 253;
  --ax-sys-color-border-neutral-darker-surface: 66, 66, 66;
  --ax-sys-color-neutral-darkest-surface: 72, 72, 72;
  --ax-sys-color-on-neutral-darkest-surface: 253, 253, 253;
  --ax-sys-color-border-neutral-darkest-surface: 54, 54, 54;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 244, 244, 244;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 28, 23, 29;
  --ax-sys-color-lightest-surface: 48, 48, 48;
  --ax-sys-color-on-lightest-surface: 253, 253, 253;
  --ax-sys-color-border-lightest-surface: 71, 71, 71;
  --ax-sys-color-lighter-surface: 45, 45, 45;
  --ax-sys-color-on-lighter-surface: 253, 253, 253;
  --ax-sys-color-border-lighter-surface: 68, 68, 68;
  --ax-sys-color-light-surface: 42, 42, 42;
  --ax-sys-color-on-light-surface: 253, 253, 253;
  --ax-sys-color-border-light-surface: 65, 65, 65;
  --ax-sys-color-surface: 40, 40, 40;
  --ax-sys-color-on-surface: 253, 253, 253;
  --ax-sys-color-border-surface: 63, 63, 63;
  --ax-sys-color-dark-surface: 38, 38, 38;
  --ax-sys-color-on-dark-surface: 253, 253, 253;
  --ax-sys-color-border-dark-surface: 61, 61, 61;
  --ax-sys-color-darker-surface: 35, 35, 35;
  --ax-sys-color-on-darker-surface: 253, 253, 253;
  --ax-sys-color-border-darker-surface: 58, 58, 58;
  --ax-sys-color-darkest-surface: 32, 32, 32;
  --ax-sys-color-on-darkest-surface: 253, 253, 253;
  --ax-sys-color-border-darkest-surface: 55, 55, 55;
  /* Ranges */
  --ax-sys-color-primary-50: 253, 253, 253;
  --ax-sys-color-primary-100: 250, 250, 250;
  --ax-sys-color-primary-200: 246, 246, 246;
  --ax-sys-color-primary-300: 241, 241, 241;
  --ax-sys-color-primary-400: 237, 237, 237;
  --ax-sys-color-primary-500: 232, 232, 232;
  --ax-sys-color-primary-600: 228, 228, 228;
  --ax-sys-color-primary-700: 223, 223, 223;
  --ax-sys-color-primary-800: 195, 195, 195;
  --ax-sys-color-primary-900: 168, 168, 168;
  --ax-sys-color-primary-950: 155, 155, 155;
  --ax-sys-color-secondary-50: 237, 237, 237;
  --ax-sys-color-secondary-100: 220, 220, 220;
  --ax-sys-color-secondary-200: 186, 186, 186;
  --ax-sys-color-secondary-300: 152, 152, 152;
  --ax-sys-color-secondary-400: 121, 121, 121;
  --ax-sys-color-secondary-500: 90, 90, 90;
  --ax-sys-color-secondary-600: 62, 62, 62;
  --ax-sys-color-secondary-700: 35, 35, 35;
  --ax-sys-color-secondary-800: 37, 37, 37;
  --ax-sys-color-secondary-900: 38, 38, 38;
  --ax-sys-color-secondary-950: 39, 39, 39;
  --ax-sys-color-success-50: 208, 255, 224;
  --ax-sys-color-success-100: 174, 255, 203;
  --ax-sys-color-success-200: 158, 245, 187;
  --ax-sys-color-success-300: 141, 229, 171;
  --ax-sys-color-success-400: 125, 212, 155;
  --ax-sys-color-success-500: 109, 196, 140;
  --ax-sys-color-success-600: 93, 180, 125;
  --ax-sys-color-success-700: 77, 164, 110;
  --ax-sys-color-success-800: 60, 148, 95;
  --ax-sys-color-success-900: 43, 133, 81;
  --ax-sys-color-success-950: 33, 126, 74;
  --ax-sys-color-warning-50: 255, 243, 218;
  --ax-sys-color-warning-100: 255, 234, 200;
  --ax-sys-color-warning-200: 255, 215, 164;
  --ax-sys-color-warning-300: 255, 196, 124;
  --ax-sys-color-warning-400: 255, 179, 92;
  --ax-sys-color-warning-500: 246, 165, 77;
  --ax-sys-color-warning-600: 231, 151, 62;
  --ax-sys-color-warning-700: 217, 138, 45;
  --ax-sys-color-warning-800: 198, 120, 15;
  --ax-sys-color-warning-900: 179, 103, 0;
  --ax-sys-color-warning-950: 170, 94, 0;
  --ax-sys-color-danger-50: 255, 237, 234;
  --ax-sys-color-danger-100: 255, 223, 219;
  --ax-sys-color-danger-200: 255, 196, 190;
  --ax-sys-color-danger-300: 255, 167, 160;
  --ax-sys-color-danger-400: 255, 134, 128;
  --ax-sys-color-danger-500: 253, 109, 105;
  --ax-sys-color-danger-600: 233, 90, 88;
  --ax-sys-color-danger-700: 212, 71, 71;
  --ax-sys-color-danger-800: 197, 56, 59;
  --ax-sys-color-danger-900: 182, 41, 47;
  --ax-sys-color-danger-950: 175, 32, 41;
  --ax-sys-color-accent1-50: 247, 233, 255;
  --ax-sys-color-accent1-100: 237, 214, 255;
  --ax-sys-color-accent1-200: 216, 176, 255;
  --ax-sys-color-accent1-300: 189, 147, 242;
  --ax-sys-color-accent1-400: 161, 120, 212;
  --ax-sys-color-accent1-500: 135, 93, 184;
  --ax-sys-color-accent1-600: 109, 68, 155;
  --ax-sys-color-accent1-700: 85, 42, 128;
  --ax-sys-color-accent1-800: 82, 38, 124;
  --ax-sys-color-accent1-900: 78, 34, 120;
  --ax-sys-color-accent1-950: 76, 32, 118;
  --ax-sys-color-accent2-50: 184, 255, 255;
  --ax-sys-color-accent2-100: 166, 249, 255;
  --ax-sys-color-accent2-200: 144, 227, 238;
  --ax-sys-color-accent2-300: 122, 205, 216;
  --ax-sys-color-accent2-400: 101, 183, 194;
  --ax-sys-color-accent2-500: 79, 162, 173;
  --ax-sys-color-accent2-600: 56, 141, 152;
  --ax-sys-color-accent2-700: 31, 121, 132;
  --ax-sys-color-accent2-800: 14, 111, 122;
  --ax-sys-color-accent2-900: 0, 102, 113;
  --ax-sys-color-accent2-950: 0, 97, 108;
  --ax-sys-color-accent3-50: 255, 242, 241;
  --ax-sys-color-accent3-100: 255, 235, 234;
  --ax-sys-color-accent3-200: 255, 219, 218;
  --ax-sys-color-accent3-300: 255, 209, 208;
  --ax-sys-color-accent3-400: 247, 198, 197;
  --ax-sys-color-accent3-500: 236, 188, 187;
  --ax-sys-color-accent3-600: 225, 177, 176;
  --ax-sys-color-accent3-700: 214, 167, 166;
  --ax-sys-color-accent3-800: 192, 146, 145;
  --ax-sys-color-accent3-900: 170, 126, 125;
  --ax-sys-color-accent3-950: 160, 116, 115;
  --ax-sys-color-neutral-50: 244, 244, 244;
  --ax-sys-color-neutral-100: 233, 233, 233;
  --ax-sys-color-neutral-200: 212, 212, 212;
  --ax-sys-color-neutral-300: 191, 191, 191;
  --ax-sys-color-neutral-400: 170, 170, 170;
  --ax-sys-color-neutral-500: 150, 150, 150;
  --ax-sys-color-neutral-600: 130, 130, 130;
  --ax-sys-color-neutral-700: 111, 111, 111;
  --ax-sys-color-neutral-800: 101, 101, 101;
  --ax-sys-color-neutral-900: 91, 91, 91;
  --ax-sys-color-neutral-950: 87, 87, 87;
  --ax-sys-color-primary-lightest-surface: 250, 250, 250;
  --ax-sys-color-on-primary-lightest-surface: 22, 22, 22;
  --ax-sys-color-border-primary-lightest-surface: 273, 273, 273;
  --ax-sys-color-primary-lighter-surface: 246, 246, 246;
  --ax-sys-color-on-primary-lighter-surface: 22, 22, 22;
  --ax-sys-color-border-primary-lighter-surface: 269, 269, 269;
  --ax-sys-color-primary-light-surface: 241, 241, 241;
  --ax-sys-color-on-primary-light-surface: 22, 22, 22;
  --ax-sys-color-border-primary-light-surface: 264, 264, 264;
  --ax-sys-color-primary-surface: 232, 232, 232;
  --ax-sys-color-on-primary-surface: 22, 22, 22;
  --ax-sys-color-border-primary-surface: 255, 255, 255;
  --ax-sys-color-primary-dark-surface: 228, 228, 228;
  --ax-sys-color-on-primary-dark-surface: 22, 22, 22;
  --ax-sys-color-border-primary-dark-surface: 251, 251, 251;
  --ax-sys-color-primary-darker-surface: 223, 223, 223;
  --ax-sys-color-on-primary-darker-surface: 22, 22, 22;
  --ax-sys-color-border-primary-darker-surface: 246, 246, 246;
  --ax-sys-color-primary-darkest-surface: 195, 195, 195;
  --ax-sys-color-on-primary-darkest-surface: 22, 22, 22;
  --ax-sys-color-border-primary-darkest-surface: 218, 218, 218;
  --ax-sys-color-secondary-lightest-surface: 220, 220, 220;
  --ax-sys-color-on-secondary-lightest-surface: 22, 22, 22;
  --ax-sys-color-border-secondary-lightest-surface: 243, 243, 243;
  --ax-sys-color-secondary-lighter-surface: 186, 186, 186;
  --ax-sys-color-on-secondary-lighter-surface: 22, 22, 22;
  --ax-sys-color-border-secondary-lighter-surface: 209, 209, 209;
  --ax-sys-color-secondary-light-surface: 152, 152, 152;
  --ax-sys-color-on-secondary-light-surface: 22, 22, 22;
  --ax-sys-color-border-secondary-light-surface: 175, 175, 175;
  --ax-sys-color-secondary-surface: 90, 90, 90;
  --ax-sys-color-on-secondary-surface: 253, 253, 253;
  --ax-sys-color-border-secondary-surface: 113, 113, 113;
  --ax-sys-color-secondary-dark-surface: 62, 62, 62;
  --ax-sys-color-on-secondary-dark-surface: 253, 253, 253;
  --ax-sys-color-border-secondary-dark-surface: 85, 85, 85;
  --ax-sys-color-secondary-darker-surface: 35, 35, 35;
  --ax-sys-color-on-secondary-darker-surface: 253, 253, 253;
  --ax-sys-color-border-secondary-darker-surface: 58, 58, 58;
  --ax-sys-color-secondary-darkest-surface: 37, 37, 37;
  --ax-sys-color-on-secondary-darkest-surface: 253, 253, 253;
  --ax-sys-color-border-secondary-darkest-surface: 60, 60, 60;
  --ax-sys-color-success-lightest-surface: 174, 255, 203;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 5;
  --ax-sys-color-border-success-lightest-surface: 220, 255, 232;
  --ax-sys-color-success-lighter-surface: 158, 245, 187;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 4;
  --ax-sys-color-border-success-lighter-surface: 200, 249, 216;
  --ax-sys-color-success-light-surface: 141, 229, 171;
  --ax-sys-color-on-success-light-surface: 0, 31, 4;
  --ax-sys-color-border-success-light-surface: 178, 238, 199;
  --ax-sys-color-success-surface: 109, 196, 140;
  --ax-sys-color-on-success-surface: 0, 31, 4;
  --ax-sys-color-border-success-surface: 142, 209, 166;
  --ax-sys-color-success-dark-surface: 93, 180, 125;
  --ax-sys-color-on-success-dark-surface: 0, 31, 4;
  --ax-sys-color-border-success-dark-surface: 124, 195, 150;
  --ax-sys-color-success-darker-surface: 77, 164, 110;
  --ax-sys-color-on-success-darker-surface: 0, 31, 4;
  --ax-sys-color-border-success-darker-surface: 103, 184, 134;
  --ax-sys-color-success-darkest-surface: 60, 148, 95;
  --ax-sys-color-on-success-darkest-surface: 232, 255, 241;
  --ax-sys-color-border-success-darkest-surface: 73, 181, 116;
  --ax-sys-color-warning-lightest-surface: 255, 234, 200;
  --ax-sys-color-on-warning-lightest-surface: 34, 19, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 252, 246;
  --ax-sys-color-warning-lighter-surface: 255, 215, 164;
  --ax-sys-color-on-warning-lighter-surface: 38, 16, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 235, 210;
  --ax-sys-color-warning-light-surface: 255, 196, 124;
  --ax-sys-color-on-warning-light-surface: 39, 15, 0;
  --ax-sys-color-border-warning-light-surface: 255, 217, 170;
  --ax-sys-color-warning-surface: 246, 165, 77;
  --ax-sys-color-on-warning-surface: 41, 13, 0;
  --ax-sys-color-border-warning-surface: 248, 187, 121;
  --ax-sys-color-warning-dark-surface: 231, 151, 62;
  --ax-sys-color-on-warning-dark-surface: 41, 13, 0;
  --ax-sys-color-border-warning-dark-surface: 236, 173, 103;
  --ax-sys-color-warning-darker-surface: 217, 138, 45;
  --ax-sys-color-on-warning-darker-surface: 41, 13, 0;
  --ax-sys-color-border-warning-darker-surface: 224, 160, 84;
  --ax-sys-color-warning-darkest-surface: 198, 120, 15;
  --ax-sys-color-on-warning-darkest-surface: 41, 13, 0;
  --ax-sys-color-border-warning-darkest-surface: 237, 145, 22;
  --ax-sys-color-danger-lightest-surface: 255, 223, 219;
  --ax-sys-color-on-danger-lightest-surface: 36, 15, 13;
  --ax-sys-color-border-danger-lightest-surface: 255, 264, 265;
  --ax-sys-color-danger-lighter-surface: 255, 196, 190;
  --ax-sys-color-on-danger-lighter-surface: 46, 5, 5;
  --ax-sys-color-border-danger-lighter-surface: 255, 238, 236;
  --ax-sys-color-danger-light-surface: 255, 167, 160;
  --ax-sys-color-on-danger-light-surface: 56, 0, 0;
  --ax-sys-color-border-danger-light-surface: 255, 210, 206;
  --ax-sys-color-danger-surface: 253, 109, 105;
  --ax-sys-color-on-danger-surface: 55, 0, 0;
  --ax-sys-color-border-danger-surface: 254, 153, 150;
  --ax-sys-color-danger-dark-surface: 233, 90, 88;
  --ax-sys-color-on-danger-dark-surface: 55, 0, 0;
  --ax-sys-color-border-danger-dark-surface: 238, 130, 129;
  --ax-sys-color-danger-darker-surface: 212, 71, 71;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darker-surface: 221, 108, 108;
  --ax-sys-color-danger-darkest-surface: 197, 56, 59;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 246;
  --ax-sys-color-border-danger-darkest-surface: 208, 91, 93;
  --ax-sys-color-accent1-lightest-surface: 237, 214, 255;
  --ax-sys-color-on-accent1-lightest-surface: 30, 12, 42;
  --ax-sys-color-border-accent1-lightest-surface: 257, 260, 255;
  --ax-sys-color-accent1-lighter-surface: 216, 176, 255;
  --ax-sys-color-on-accent1-lighter-surface: 36, 0, 61;
  --ax-sys-color-border-accent1-lighter-surface: 239, 222, 255;
  --ax-sys-color-accent1-light-surface: 189, 147, 242;
  --ax-sys-color-on-accent1-light-surface: 36, 0, 67;
  --ax-sys-color-border-accent1-light-surface: 214, 188, 247;
  --ax-sys-color-accent1-surface: 135, 93, 184;
  --ax-sys-color-on-accent1-surface: 36, 0, 67;
  --ax-sys-color-border-accent1-surface: 159, 125, 198;
  --ax-sys-color-accent1-dark-surface: 109, 68, 155;
  --ax-sys-color-on-accent1-dark-surface: 255, 249, 255;
  --ax-sys-color-border-accent1-dark-surface: 132, 87, 181;
  --ax-sys-color-accent1-darker-surface: 85, 42, 128;
  --ax-sys-color-on-accent1-darker-surface: 255, 249, 255;
  --ax-sys-color-border-accent1-darker-surface: 108, 53, 163;
  --ax-sys-color-accent1-darkest-surface: 82, 38, 124;
  --ax-sys-color-on-accent1-darkest-surface: 255, 249, 255;
  --ax-sys-color-border-accent1-darkest-surface: 105, 49, 159;
  --ax-sys-color-accent2-lightest-surface: 166, 249, 255;
  --ax-sys-color-on-accent2-lightest-surface: 0, 28, 32;
  --ax-sys-color-border-accent2-lightest-surface: 212, 252, 255;
  --ax-sys-color-accent2-lighter-surface: 144, 227, 238;
  --ax-sys-color-on-accent2-lighter-surface: 0, 28, 34;
  --ax-sys-color-border-accent2-lighter-surface: 184, 237, 244;
  --ax-sys-color-accent2-light-surface: 122, 205, 216;
  --ax-sys-color-on-accent2-light-surface: 0, 28, 34;
  --ax-sys-color-border-accent2-light-surface: 157, 218, 226;
  --ax-sys-color-accent2-surface: 79, 162, 173;
  --ax-sys-color-on-accent2-surface: 0, 28, 34;
  --ax-sys-color-border-accent2-surface: 109, 179, 189;
  --ax-sys-color-accent2-dark-surface: 56, 141, 152;
  --ax-sys-color-on-accent2-dark-surface: 0, 28, 34;
  --ax-sys-color-border-accent2-dark-surface: 68, 172, 186;
  --ax-sys-color-accent2-darker-surface: 31, 121, 132;
  --ax-sys-color-on-accent2-darker-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 40, 155, 169;
  --ax-sys-color-accent2-darkest-surface: 14, 111, 122;
  --ax-sys-color-on-accent2-darkest-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 19, 148, 163;
  --ax-sys-color-accent3-lightest-surface: 255, 235, 234;
  --ax-sys-color-on-accent3-lightest-surface: 31, 18, 18;
  --ax-sys-color-border-accent3-lightest-surface: 255, 279, 280;
  --ax-sys-color-accent3-lighter-surface: 255, 219, 218;
  --ax-sys-color-on-accent3-lighter-surface: 37, 14, 14;
  --ax-sys-color-border-accent3-lighter-surface: 255, 264, 264;
  --ax-sys-color-accent3-light-surface: 255, 209, 208;
  --ax-sys-color-on-accent3-light-surface: 41, 10, 12;
  --ax-sys-color-border-accent3-light-surface: 255, 254, 254;
  --ax-sys-color-accent3-surface: 236, 188, 187;
  --ax-sys-color-on-accent3-surface: 42, 9, 11;
  --ax-sys-color-border-accent3-surface: 246, 223, 223;
  --ax-sys-color-accent3-dark-surface: 225, 177, 176;
  --ax-sys-color-on-accent3-dark-surface: 43, 9, 11;
  --ax-sys-color-border-accent3-dark-surface: 238, 210, 209;
  --ax-sys-color-accent3-darker-surface: 214, 167, 166;
  --ax-sys-color-on-accent3-darker-surface: 42, 9, 11;
  --ax-sys-color-border-accent3-darker-surface: 228, 198, 197;
  --ax-sys-color-accent3-darkest-surface: 192, 146, 145;
  --ax-sys-color-on-accent3-darkest-surface: 43, 9, 11;
  --ax-sys-color-border-accent3-darkest-surface: 209, 175, 174;
  --ax-sys-color-neutral-lightest-surface: 233, 233, 233;
  --ax-sys-color-on-neutral-lightest-surface: 22, 22, 22;
  --ax-sys-color-border-neutral-lightest-surface: 256, 256, 256;
  --ax-sys-color-neutral-lighter-surface: 212, 212, 212;
  --ax-sys-color-on-neutral-lighter-surface: 22, 22, 22;
  --ax-sys-color-border-neutral-lighter-surface: 235, 235, 235;
  --ax-sys-color-neutral-light-surface: 191, 191, 191;
  --ax-sys-color-on-neutral-light-surface: 22, 22, 22;
  --ax-sys-color-border-neutral-light-surface: 214, 214, 214;
  --ax-sys-color-neutral-surface: 150, 150, 150;
  --ax-sys-color-on-neutral-surface: 22, 22, 22;
  --ax-sys-color-border-neutral-surface: 173, 173, 173;
  --ax-sys-color-neutral-dark-surface: 130, 130, 130;
  --ax-sys-color-on-neutral-dark-surface: 22, 22, 22;
  --ax-sys-color-border-neutral-dark-surface: 153, 153, 153;
  --ax-sys-color-neutral-darker-surface: 111, 111, 111;
  --ax-sys-color-on-neutral-darker-surface: 253, 253, 253;
  --ax-sys-color-border-neutral-darker-surface: 134, 134, 134;
  --ax-sys-color-neutral-darkest-surface: 101, 101, 101;
  --ax-sys-color-on-neutral-darkest-surface: 253, 253, 253;
  --ax-sys-color-border-neutral-darkest-surface: 124, 124, 124;
}
