/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 253, 245, 249;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 37, 24, 33;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 247, 245, 246;
  --ax-sys-color-on-lighter-surface: 47, 45, 46;
  --ax-sys-color-border-lighter-surface: 230, 226, 228;
  --ax-sys-color-light-surface: 240, 237, 239;
  --ax-sys-color-on-light-surface: 47, 45, 46;
  --ax-sys-color-border-light-surface: 224, 218, 221;
  --ax-sys-color-surface: 234, 230, 232;
  --ax-sys-color-on-surface: 48, 45, 46;
  --ax-sys-color-border-surface: 218, 211, 214;
  --ax-sys-color-dark-surface: 228, 222, 225;
  --ax-sys-color-on-dark-surface: 48, 44, 46;
  --ax-sys-color-border-dark-surface: 211, 203, 207;
  --ax-sys-color-darker-surface: 221, 215, 218;
  --ax-sys-color-on-darker-surface: 49, 44, 47;
  --ax-sys-color-border-darker-surface: 205, 195, 200;
  --ax-sys-color-darkest-surface: 213, 205, 209;
  --ax-sys-color-on-darkest-surface: 50, 44, 47;
  --ax-sys-color-border-darkest-surface: 197, 185, 191;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 233, 245;
  --ax-sys-color-primary-100: 255, 213, 233;
  --ax-sys-color-primary-200: 255, 184, 215;
  --ax-sys-color-primary-300: 255, 132, 188;
  --ax-sys-color-primary-400: 240, 78, 154;
  --ax-sys-color-primary-500: 214, 51, 132;
  --ax-sys-color-primary-600: 195, 27, 116;
  --ax-sys-color-primary-700: 172, 0, 98;
  --ax-sys-color-primary-800: 144, 20, 82;
  --ax-sys-color-primary-900: 113, 40, 71;
  --ax-sys-color-primary-950: 61, 27, 40;
  --ax-sys-color-secondary-50: 255, 243, 251;
  --ax-sys-color-secondary-100: 255, 235, 246;
  --ax-sys-color-secondary-200: 255, 224, 238;
  --ax-sys-color-secondary-300: 255, 207, 227;
  --ax-sys-color-secondary-400: 255, 189, 212;
  --ax-sys-color-secondary-500: 248, 180, 203;
  --ax-sys-color-secondary-600: 215, 150, 172;
  --ax-sys-color-secondary-700: 176, 114, 136;
  --ax-sys-color-secondary-800: 143, 88, 107;
  --ax-sys-color-secondary-900: 111, 72, 86;
  --ax-sys-color-secondary-950: 46, 21, 30;
  --ax-sys-color-success-50: 209, 255, 239;
  --ax-sys-color-success-100: 171, 255, 225;
  --ax-sys-color-success-200: 112, 255, 206;
  --ax-sys-color-success-300: 90, 240, 188;
  --ax-sys-color-success-400: 59, 216, 165;
  --ax-sys-color-success-500: 32, 201, 151;
  --ax-sys-color-success-600: 0, 175, 127;
  --ax-sys-color-success-700: 0, 143, 99;
  --ax-sys-color-success-800: 24, 115, 81;
  --ax-sys-color-success-900: 45, 92, 70;
  --ax-sys-color-success-950: 22, 39, 30;
  --ax-sys-color-warning-50: 255, 242, 226;
  --ax-sys-color-warning-100: 255, 230, 207;
  --ax-sys-color-warning-200: 255, 213, 180;
  --ax-sys-color-warning-300: 255, 184, 135;
  --ax-sys-color-warning-400: 255, 145, 60;
  --ax-sys-color-warning-500: 253, 126, 20;
  --ax-sys-color-warning-600: 226, 101, 0;
  --ax-sys-color-warning-700: 187, 77, 0;
  --ax-sys-color-warning-800: 150, 64, 18;
  --ax-sys-color-warning-900: 114, 61, 38;
  --ax-sys-color-warning-950: 50, 27, 19;
  --ax-sys-color-danger-50: 255, 235, 233;
  --ax-sys-color-danger-100: 255, 216, 213;
  --ax-sys-color-danger-200: 255, 188, 185;
  --ax-sys-color-danger-300: 255, 140, 140;
  --ax-sys-color-danger-400: 247, 80, 90;
  --ax-sys-color-danger-500: 220, 53, 69;
  --ax-sys-color-danger-600: 201, 29, 54;
  --ax-sys-color-danger-700: 178, 0, 35;
  --ax-sys-color-danger-800: 150, 21, 31;
  --ax-sys-color-danger-900: 117, 41, 40;
  --ax-sys-color-danger-950: 64, 28, 25;
  --ax-sys-color-accent1-50: 243, 237, 255;
  --ax-sys-color-accent1-100: 228, 217, 255;
  --ax-sys-color-accent1-200: 208, 188, 255;
  --ax-sys-color-accent1-300: 178, 140, 255;
  --ax-sys-color-accent1-400: 136, 95, 223;
  --ax-sys-color-accent1-500: 111, 66, 193;
  --ax-sys-color-accent1-600: 101, 54, 181;
  --ax-sys-color-accent1-700: 89, 39, 166;
  --ax-sys-color-accent1-800: 78, 32, 147;
  --ax-sys-color-accent1-900: 67, 40, 118;
  --ax-sys-color-accent1-950: 46, 33, 79;
  --ax-sys-color-accent2-50: 215, 255, 255;
  --ax-sys-color-accent2-100: 196, 253, 255;
  --ax-sys-color-accent2-200: 165, 246, 255;
  --ax-sys-color-accent2-300: 104, 234, 255;
  --ax-sys-color-accent2-400: 48, 215, 254;
  --ax-sys-color-accent2-500: 13, 202, 240;
  --ax-sys-color-accent2-600: 0, 174, 212;
  --ax-sys-color-accent2-700: 0, 140, 173;
  --ax-sys-color-accent2-800: 25, 112, 138;
  --ax-sys-color-accent2-900: 45, 90, 105;
  --ax-sys-color-accent2-950: 21, 36, 43;
  --ax-sys-color-accent3-50: 235, 245, 254;
  --ax-sys-color-accent3-100: 220, 230, 239;
  --ax-sys-color-accent3-200: 200, 210, 219;
  --ax-sys-color-accent3-300: 169, 179, 187;
  --ax-sys-color-accent3-400: 131, 141, 149;
  --ax-sys-color-accent3-500: 108, 117, 125;
  --ax-sys-color-accent3-600: 95, 104, 111;
  --ax-sys-color-accent3-700: 79, 88, 95;
  --ax-sys-color-accent3-800: 67, 75, 82;
  --ax-sys-color-accent3-900: 60, 65, 70;
  --ax-sys-color-accent3-950: 35, 39, 42;
  --ax-sys-color-neutral-50: 255, 245, 255;
  --ax-sys-color-neutral-100: 250, 238, 249;
  --ax-sys-color-neutral-200: 240, 228, 239;
  --ax-sys-color-neutral-300: 224, 213, 223;
  --ax-sys-color-neutral-400: 204, 193, 203;
  --ax-sys-color-neutral-500: 192, 181, 191;
  --ax-sys-color-neutral-600: 165, 154, 164;
  --ax-sys-color-neutral-700: 132, 122, 131;
  --ax-sys-color-neutral-800: 106, 97, 105;
  --ax-sys-color-neutral-900: 85, 79, 85;
  --ax-sys-color-neutral-950: 34, 30, 34;
  --ax-sys-color-primary-lightest-surface: 255, 213, 233;
  --ax-sys-color-on-primary-lightest-surface: 65, 34, 51;
  --ax-sys-color-border-primary-lightest-surface: 255, 177, 214;
  --ax-sys-color-primary-lighter-surface: 255, 184, 215;
  --ax-sys-color-on-primary-lighter-surface: 77, 22, 51;
  --ax-sys-color-border-primary-lighter-surface: 255, 148, 195;
  --ax-sys-color-primary-light-surface: 255, 132, 188;
  --ax-sys-color-on-primary-light-surface: 93, 0, 52;
  --ax-sys-color-border-primary-light-surface: 255, 96, 169;
  --ax-sys-color-primary-surface: 214, 51, 132;
  --ax-sys-color-on-primary-surface: 255, 246, 254;
  --ax-sys-color-border-primary-surface: 191, 38, 114;
  --ax-sys-color-primary-dark-surface: 195, 27, 116;
  --ax-sys-color-on-primary-dark-surface: 255, 246, 254;
  --ax-sys-color-border-primary-dark-surface: 164, 23, 97;
  --ax-sys-color-primary-darker-surface: 172, 0, 98;
  --ax-sys-color-on-primary-darker-surface: 255, 246, 254;
  --ax-sys-color-border-primary-darker-surface: 136, 0, 78;
  --ax-sys-color-primary-darkest-surface: 144, 20, 82;
  --ax-sys-color-on-primary-darkest-surface: 255, 246, 254;
  --ax-sys-color-border-primary-darkest-surface: 113, 16, 64;
  --ax-sys-color-secondary-lightest-surface: 255, 235, 246;
  --ax-sys-color-on-secondary-lightest-surface: 55, 41, 49;
  --ax-sys-color-border-secondary-lightest-surface: 255, 199, 230;
  --ax-sys-color-secondary-lighter-surface: 255, 224, 238;
  --ax-sys-color-on-secondary-lighter-surface: 60, 38, 49;
  --ax-sys-color-border-secondary-lighter-surface: 255, 188, 218;
  --ax-sys-color-secondary-light-surface: 255, 207, 227;
  --ax-sys-color-on-secondary-light-surface: 68, 32, 49;
  --ax-sys-color-border-secondary-light-surface: 255, 171, 206;
  --ax-sys-color-secondary-surface: 248, 180, 203;
  --ax-sys-color-on-secondary-surface: 77, 24, 46;
  --ax-sys-color-border-secondary-surface: 245, 147, 180;
  --ax-sys-color-secondary-dark-surface: 215, 150, 172;
  --ax-sys-color-on-secondary-dark-surface: 255, 246, 254;
  --ax-sys-color-border-secondary-dark-surface: 205, 124, 152;
  --ax-sys-color-secondary-darker-surface: 176, 114, 136;
  --ax-sys-color-on-secondary-darker-surface: 255, 246, 254;
  --ax-sys-color-border-secondary-darker-surface: 163, 91, 117;
  --ax-sys-color-secondary-darkest-surface: 143, 88, 107;
  --ax-sys-color-on-secondary-darkest-surface: 255, 247, 253;
  --ax-sys-color-border-secondary-darkest-surface: 121, 74, 90;
  --ax-sys-color-success-lightest-surface: 171, 255, 225;
  --ax-sys-color-on-success-lightest-surface: 0, 58, 39;
  --ax-sys-color-border-success-lightest-surface: 135, 255, 212;
  --ax-sys-color-success-lighter-surface: 112, 255, 206;
  --ax-sys-color-on-success-lighter-surface: 0, 58, 37;
  --ax-sys-color-border-success-lighter-surface: 76, 255, 194;
  --ax-sys-color-success-light-surface: 90, 240, 188;
  --ax-sys-color-on-success-light-surface: 0, 58, 36;
  --ax-sys-color-border-success-light-surface: 57, 237, 175;
  --ax-sys-color-success-surface: 32, 201, 151;
  --ax-sys-color-on-success-surface: 0, 58, 36;
  --ax-sys-color-border-success-surface: 27, 170, 128;
  --ax-sys-color-success-dark-surface: 0, 175, 127;
  --ax-sys-color-on-success-dark-surface: 230, 255, 247;
  --ax-sys-color-border-success-dark-surface: 0, 139, 101;
  --ax-sys-color-success-darker-surface: 0, 143, 99;
  --ax-sys-color-on-success-darker-surface: 230, 255, 246;
  --ax-sys-color-border-success-darker-surface: 0, 107, 74;
  --ax-sys-color-success-darkest-surface: 24, 115, 81;
  --ax-sys-color-on-success-darkest-surface: 230, 255, 246;
  --ax-sys-color-border-success-darkest-surface: 18, 85, 60;
  --ax-sys-color-warning-lightest-surface: 255, 230, 207;
  --ax-sys-color-on-warning-lightest-surface: 60, 41, 23;
  --ax-sys-color-border-warning-lightest-surface: 255, 211, 171;
  --ax-sys-color-warning-lighter-surface: 255, 213, 180;
  --ax-sys-color-on-warning-lighter-surface: 69, 37, 5;
  --ax-sys-color-border-warning-lighter-surface: 255, 193, 144;
  --ax-sys-color-warning-light-surface: 255, 184, 135;
  --ax-sys-color-on-warning-light-surface: 80, 28, 0;
  --ax-sys-color-border-warning-light-surface: 255, 163, 99;
  --ax-sys-color-warning-surface: 253, 126, 20;
  --ax-sys-color-on-warning-surface: 255, 249, 237;
  --ax-sys-color-border-warning-surface: 235, 108, 2;
  --ax-sys-color-warning-dark-surface: 226, 101, 0;
  --ax-sys-color-on-warning-dark-surface: 255, 249, 238;
  --ax-sys-color-border-warning-dark-surface: 190, 85, 0;
  --ax-sys-color-warning-darker-surface: 187, 77, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 249, 239;
  --ax-sys-color-border-warning-darker-surface: 151, 62, 0;
  --ax-sys-color-warning-darkest-surface: 150, 64, 18;
  --ax-sys-color-on-warning-darkest-surface: 255, 248, 239;
  --ax-sys-color-border-warning-darkest-surface: 118, 50, 14;
  --ax-sys-color-danger-lightest-surface: 255, 216, 213;
  --ax-sys-color-on-danger-lightest-surface: 65, 37, 35;
  --ax-sys-color-border-danger-lightest-surface: 255, 183, 177;
  --ax-sys-color-danger-lighter-surface: 255, 188, 185;
  --ax-sys-color-on-danger-lighter-surface: 78, 26, 28;
  --ax-sys-color-border-danger-lighter-surface: 255, 154, 149;
  --ax-sys-color-danger-light-surface: 255, 140, 140;
  --ax-sys-color-on-danger-light-surface: 98, 0, 10;
  --ax-sys-color-border-danger-light-surface: 255, 104, 104;
  --ax-sys-color-danger-surface: 220, 53, 69;
  --ax-sys-color-on-danger-surface: 255, 248, 246;
  --ax-sys-color-border-danger-surface: 202, 35, 51;
  --ax-sys-color-danger-dark-surface: 201, 29, 54;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 246;
  --ax-sys-color-border-danger-dark-surface: 170, 24, 46;
  --ax-sys-color-danger-darker-surface: 178, 0, 35;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 246;
  --ax-sys-color-border-danger-darker-surface: 142, 0, 28;
  --ax-sys-color-danger-darkest-surface: 150, 21, 31;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darkest-surface: 119, 17, 25;
  --ax-sys-color-accent1-lightest-surface: 228, 217, 255;
  --ax-sys-color-on-accent1-lightest-surface: 49, 40, 69;
  --ax-sys-color-border-accent1-lightest-surface: 203, 181, 255;
  --ax-sys-color-accent1-lighter-surface: 208, 188, 255;
  --ax-sys-color-on-accent1-lighter-surface: 52, 32, 86;
  --ax-sys-color-border-accent1-lighter-surface: 183, 152, 255;
  --ax-sys-color-accent1-light-surface: 178, 140, 255;
  --ax-sys-color-on-accent1-light-surface: 59, 0, 115;
  --ax-sys-color-border-accent1-light-surface: 154, 104, 255;
  --ax-sys-color-accent1-surface: 111, 66, 193;
  --ax-sys-color-on-accent1-surface: 254, 250, 255;
  --ax-sys-color-border-accent1-surface: 95, 55, 168;
  --ax-sys-color-accent1-dark-surface: 101, 54, 181;
  --ax-sys-color-on-accent1-dark-surface: 254, 250, 255;
  --ax-sys-color-border-accent1-dark-surface: 86, 46, 154;
  --ax-sys-color-accent1-darker-surface: 89, 39, 166;
  --ax-sys-color-on-accent1-darker-surface: 254, 250, 255;
  --ax-sys-color-border-accent1-darker-surface: 74, 32, 137;
  --ax-sys-color-accent1-darkest-surface: 78, 32, 147;
  --ax-sys-color-on-accent1-darkest-surface: 254, 250, 255;
  --ax-sys-color-border-accent1-darkest-surface: 62, 26, 118;
  --ax-sys-color-accent2-lightest-surface: 196, 253, 255;
  --ax-sys-color-on-accent2-lightest-surface: 0, 54, 57;
  --ax-sys-color-border-accent2-lightest-surface: 160, 252, 255;
  --ax-sys-color-accent2-lighter-surface: 165, 246, 255;
  --ax-sys-color-on-accent2-lighter-surface: 0, 55, 62;
  --ax-sys-color-border-accent2-lighter-surface: 129, 242, 255;
  --ax-sys-color-accent2-light-surface: 104, 234, 255;
  --ax-sys-color-on-accent2-light-surface: 0, 55, 65;
  --ax-sys-color-border-accent2-light-surface: 68, 229, 255;
  --ax-sys-color-accent2-surface: 13, 202, 240;
  --ax-sys-color-on-accent2-surface: 0, 54, 70;
  --ax-sys-color-border-accent2-surface: 11, 173, 206;
  --ax-sys-color-accent2-dark-surface: 0, 174, 212;
  --ax-sys-color-on-accent2-dark-surface: 229, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 0, 145, 176;
  --ax-sys-color-accent2-darker-surface: 0, 140, 173;
  --ax-sys-color-on-accent2-darker-surface: 230, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 0, 111, 137;
  --ax-sys-color-accent2-darkest-surface: 25, 112, 138;
  --ax-sys-color-on-accent2-darkest-surface: 231, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 20, 87, 108;
  --ax-sys-color-accent3-lightest-surface: 220, 230, 239;
  --ax-sys-color-on-accent3-lightest-surface: 39, 47, 54;
  --ax-sys-color-border-accent3-lightest-surface: 195, 212, 228;
  --ax-sys-color-accent3-lighter-surface: 200, 210, 219;
  --ax-sys-color-on-accent3-lighter-surface: 39, 47, 54;
  --ax-sys-color-border-accent3-lighter-surface: 178, 192, 205;
  --ax-sys-color-accent3-light-surface: 169, 179, 187;
  --ax-sys-color-on-accent3-light-surface: 39, 47, 53;
  --ax-sys-color-border-accent3-light-surface: 149, 161, 171;
  --ax-sys-color-accent3-surface: 108, 117, 125;
  --ax-sys-color-on-accent3-surface: 245, 255, 255;
  --ax-sys-color-border-accent3-surface: 91, 99, 106;
  --ax-sys-color-accent3-dark-surface: 95, 104, 111;
  --ax-sys-color-on-accent3-dark-surface: 245, 255, 255;
  --ax-sys-color-border-accent3-dark-surface: 79, 86, 92;
  --ax-sys-color-accent3-darker-surface: 79, 88, 95;
  --ax-sys-color-on-accent3-darker-surface: 244, 255, 255;
  --ax-sys-color-border-accent3-darker-surface: 63, 70, 76;
  --ax-sys-color-accent3-darkest-surface: 67, 75, 82;
  --ax-sys-color-on-accent3-darkest-surface: 245, 255, 255;
  --ax-sys-color-border-accent3-darkest-surface: 51, 57, 62;
  --ax-sys-color-neutral-lightest-surface: 250, 238, 249;
  --ax-sys-color-on-neutral-lightest-surface: 51, 42, 51;
  --ax-sys-color-border-neutral-lightest-surface: 242, 210, 239;
  --ax-sys-color-neutral-lighter-surface: 240, 228, 239;
  --ax-sys-color-on-neutral-lighter-surface: 51, 42, 51;
  --ax-sys-color-border-neutral-lighter-surface: 227, 205, 225;
  --ax-sys-color-neutral-light-surface: 224, 213, 223;
  --ax-sys-color-on-neutral-light-surface: 51, 43, 50;
  --ax-sys-color-border-neutral-light-surface: 209, 192, 207;
  --ax-sys-color-neutral-surface: 192, 181, 191;
  --ax-sys-color-on-neutral-surface: 51, 43, 51;
  --ax-sys-color-border-neutral-surface: 176, 162, 174;
  --ax-sys-color-neutral-dark-surface: 165, 154, 164;
  --ax-sys-color-on-neutral-dark-surface: 255, 249, 255;
  --ax-sys-color-border-neutral-dark-surface: 148, 135, 147;
  --ax-sys-color-neutral-darker-surface: 132, 122, 131;
  --ax-sys-color-on-neutral-darker-surface: 255, 249, 255;
  --ax-sys-color-border-neutral-darker-surface: 113, 105, 113;
  --ax-sys-color-neutral-darkest-surface: 106, 97, 105;
  --ax-sys-color-on-neutral-darkest-surface: 255, 250, 255;
  --ax-sys-color-border-neutral-darkest-surface: 87, 80, 87;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 253, 245, 249;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 37, 24, 33;
  --ax-sys-color-lightest-surface: 45, 27, 36;
  --ax-sys-color-on-lightest-surface: 255, 246, 255;
  --ax-sys-color-border-lightest-surface: 74, 44, 59;
  --ax-sys-color-lighter-surface: 41, 24, 33;
  --ax-sys-color-on-lighter-surface: 255, 246, 255;
  --ax-sys-color-border-lighter-surface: 70, 41, 56;
  --ax-sys-color-light-surface: 38, 22, 30;
  --ax-sys-color-on-light-surface: 255, 246, 255;
  --ax-sys-color-border-light-surface: 67, 39, 53;
  --ax-sys-color-surface: 36, 21, 28;
  --ax-sys-color-on-surface: 255, 246, 255;
  --ax-sys-color-border-surface: 65, 37, 51;
  --ax-sys-color-dark-surface: 33, 19, 26;
  --ax-sys-color-on-dark-surface: 255, 247, 255;
  --ax-sys-color-border-dark-surface: 62, 35, 49;
  --ax-sys-color-darker-surface: 30, 17, 23;
  --ax-sys-color-on-darker-surface: 255, 247, 255;
  --ax-sys-color-border-darker-surface: 59, 33, 46;
  --ax-sys-color-darkest-surface: 26, 14, 20;
  --ax-sys-color-on-darkest-surface: 255, 248, 255;
  --ax-sys-color-border-darkest-surface: 56, 30, 43;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 235, 247;
  --ax-sys-color-primary-100: 255, 221, 237;
  --ax-sys-color-primary-200: 255, 191, 219;
  --ax-sys-color-primary-300: 255, 160, 202;
  --ax-sys-color-primary-400: 255, 124, 185;
  --ax-sys-color-primary-500: 255, 93, 167;
  --ax-sys-color-primary-600: 235, 73, 149;
  --ax-sys-color-primary-700: 214, 51, 132;
  --ax-sys-color-primary-800: 199, 32, 120;
  --ax-sys-color-primary-900: 184, 2, 107;
  --ax-sys-color-primary-950: 176, 0, 101;
  --ax-sys-color-secondary-50: 255, 243, 251;
  --ax-sys-color-secondary-100: 255, 238, 248;
  --ax-sys-color-secondary-200: 255, 227, 240;
  --ax-sys-color-secondary-300: 255, 215, 233;
  --ax-sys-color-secondary-400: 255, 204, 225;
  --ax-sys-color-secondary-500: 255, 195, 218;
  --ax-sys-color-secondary-600: 255, 187, 210;
  --ax-sys-color-secondary-700: 248, 180, 203;
  --ax-sys-color-secondary-800: 222, 156, 178;
  --ax-sys-color-secondary-900: 196, 132, 155;
  --ax-sys-color-secondary-950: 184, 121, 143;
  --ax-sys-color-success-50: 212, 255, 240;
  --ax-sys-color-success-100: 186, 255, 230;
  --ax-sys-color-success-200: 116, 255, 209;
  --ax-sys-color-success-300: 102, 250, 197;
  --ax-sys-color-success-400: 87, 237, 185;
  --ax-sys-color-success-500: 72, 225, 174;
  --ax-sys-color-success-600: 54, 213, 162;
  --ax-sys-color-success-700: 32, 201, 151;
  --ax-sys-color-success-800: 0, 180, 132;
  --ax-sys-color-success-900: 0, 160, 113;
  --ax-sys-color-success-950: 0, 150, 104;
  --ax-sys-color-warning-50: 255, 243, 227;
  --ax-sys-color-warning-100: 255, 234, 214;
  --ax-sys-color-warning-200: 255, 217, 187;
  --ax-sys-color-warning-300: 255, 199, 158;
  --ax-sys-color-warning-400: 255, 180, 128;
  --ax-sys-color-warning-500: 255, 160, 93;
  --ax-sys-color-warning-600: 255, 139, 45;
  --ax-sys-color-warning-700: 253, 126, 20;
  --ax-sys-color-warning-800: 231, 106, 0;
  --ax-sys-color-warning-900: 209, 88, 0;
  --ax-sys-color-warning-950: 196, 81, 0;
  --ax-sys-color-danger-50: 255, 236, 235;
  --ax-sys-color-danger-100: 255, 223, 221;
  --ax-sys-color-danger-200: 255, 195, 192;
  --ax-sys-color-danger-300: 255, 165, 163;
  --ax-sys-color-danger-400: 255, 132, 133;
  --ax-sys-color-danger-500: 255, 95, 103;
  --ax-sys-color-danger-600: 241, 75, 86;
  --ax-sys-color-danger-700: 220, 53, 69;
  --ax-sys-color-danger-800: 205, 35, 57;
  --ax-sys-color-danger-900: 190, 6, 45;
  --ax-sys-color-danger-950: 183, 0, 39;
  --ax-sys-color-accent1-50: 245, 238, 255;
  --ax-sys-color-accent1-100: 234, 224, 255;
  --ax-sys-color-accent1-200: 213, 195, 255;
  --ax-sys-color-accent1-300: 193, 165, 255;
  --ax-sys-color-accent1-400: 173, 134, 255;
  --ax-sys-color-accent1-500: 152, 111, 242;
  --ax-sys-color-accent1-600: 131, 89, 217;
  --ax-sys-color-accent1-700: 111, 66, 193;
  --ax-sys-color-accent1-800: 103, 57, 183;
  --ax-sys-color-accent1-900: 95, 47, 174;
  --ax-sys-color-accent1-950: 92, 42, 169;
  --ax-sys-color-accent2-50: 217, 255, 255;
  --ax-sys-color-accent2-100: 204, 254, 255;
  --ax-sys-color-accent2-200: 173, 247, 255;
  --ax-sys-color-accent2-300: 137, 240, 255;
  --ax-sys-color-accent2-400: 93, 233, 255;
  --ax-sys-color-accent2-500: 61, 223, 255;
  --ax-sys-color-accent2-600: 42, 213, 251;
  --ax-sys-color-accent2-700: 13, 202, 240;
  --ax-sys-color-accent2-800: 0, 180, 217;
  --ax-sys-color-accent2-900: 0, 158, 194;
  --ax-sys-color-accent2-950: 0, 147, 181;
  --ax-sys-color-accent3-50: 236, 246, 255;
  --ax-sys-color-accent3-100: 225, 236, 245;
  --ax-sys-color-accent3-200: 205, 215, 224;
  --ax-sys-color-accent3-300: 185, 194, 203;
  --ax-sys-color-accent3-400: 165, 174, 183;
  --ax-sys-color-accent3-500: 145, 155, 163;
  --ax-sys-color-accent3-600: 126, 136, 144;
  --ax-sys-color-accent3-700: 108, 117, 125;
  --ax-sys-color-accent3-800: 98, 106, 114;
  --ax-sys-color-accent3-900: 87, 96, 104;
  --ax-sys-color-accent3-950: 82, 91, 98;
  --ax-sys-color-neutral-50: 255, 246, 255;
  --ax-sys-color-neutral-100: 252, 241, 251;
  --ax-sys-color-neutral-200: 242, 231, 241;
  --ax-sys-color-neutral-300: 232, 220, 231;
  --ax-sys-color-neutral-400: 222, 210, 221;
  --ax-sys-color-neutral-500: 212, 201, 211;
  --ax-sys-color-neutral-600: 202, 191, 201;
  --ax-sys-color-neutral-700: 192, 181, 191;
  --ax-sys-color-neutral-800: 170, 159, 169;
  --ax-sys-color-neutral-900: 149, 138, 148;
  --ax-sys-color-neutral-950: 138, 128, 137;
  --ax-sys-color-primary-lightest-surface: 255, 221, 237;
  --ax-sys-color-on-primary-lightest-surface: 36, 13, 25;
  --ax-sys-color-border-primary-lightest-surface: 255, 267, 261;
  --ax-sys-color-primary-lighter-surface: 255, 191, 219;
  --ax-sys-color-on-primary-lighter-surface: 46, 1, 26;
  --ax-sys-color-border-primary-lighter-surface: 255, 237, 245;
  --ax-sys-color-primary-light-surface: 255, 160, 202;
  --ax-sys-color-on-primary-light-surface: 52, 0, 27;
  --ax-sys-color-border-primary-light-surface: 255, 206, 228;
  --ax-sys-color-primary-surface: 255, 93, 167;
  --ax-sys-color-on-primary-surface: 52, 0, 24;
  --ax-sys-color-border-primary-surface: 255, 139, 192;
  --ax-sys-color-primary-dark-surface: 235, 73, 149;
  --ax-sys-color-on-primary-dark-surface: 52, 0, 24;
  --ax-sys-color-border-primary-dark-surface: 240, 114, 173;
  --ax-sys-color-primary-darker-surface: 214, 51, 132;
  --ax-sys-color-on-primary-darker-surface: 255, 246, 254;
  --ax-sys-color-border-primary-darker-surface: 222, 89, 155;
  --ax-sys-color-primary-darkest-surface: 199, 32, 120;
  --ax-sys-color-on-primary-darkest-surface: 255, 246, 254;
  --ax-sys-color-border-primary-darkest-surface: 223, 54, 143;
  --ax-sys-color-secondary-lightest-surface: 255, 238, 248;
  --ax-sys-color-on-secondary-lightest-surface: 29, 18, 25;
  --ax-sys-color-border-secondary-lightest-surface: 255, 284, 267;
  --ax-sys-color-secondary-lighter-surface: 255, 227, 240;
  --ax-sys-color-on-secondary-lighter-surface: 34, 15, 25;
  --ax-sys-color-border-secondary-lighter-surface: 255, 273, 265;
  --ax-sys-color-secondary-light-surface: 255, 215, 233;
  --ax-sys-color-on-secondary-light-surface: 38, 11, 25;
  --ax-sys-color-border-secondary-light-surface: 255, 261, 258;
  --ax-sys-color-secondary-surface: 255, 195, 218;
  --ax-sys-color-on-secondary-surface: 45, 3, 24;
  --ax-sys-color-border-secondary-surface: 255, 241, 246;
  --ax-sys-color-secondary-dark-surface: 255, 187, 210;
  --ax-sys-color-on-secondary-dark-surface: 48, 0, 23;
  --ax-sys-color-border-secondary-dark-surface: 255, 233, 240;
  --ax-sys-color-secondary-darker-surface: 248, 180, 203;
  --ax-sys-color-on-secondary-darker-surface: 48, 0, 23;
  --ax-sys-color-border-secondary-darker-surface: 252, 222, 232;
  --ax-sys-color-secondary-darkest-surface: 222, 156, 178;
  --ax-sys-color-on-secondary-darkest-surface: 48, 0, 22;
  --ax-sys-color-border-secondary-darkest-surface: 233, 190, 205;
  --ax-sys-color-success-lightest-surface: 186, 255, 230;
  --ax-sys-color-on-success-lightest-surface: 0, 30, 18;
  --ax-sys-color-border-success-lightest-surface: 232, 255, 247;
  --ax-sys-color-success-lighter-surface: 116, 255, 209;
  --ax-sys-color-on-success-lighter-surface: 0, 30, 17;
  --ax-sys-color-border-success-lighter-surface: 162, 255, 224;
  --ax-sys-color-success-light-surface: 102, 250, 197;
  --ax-sys-color-on-success-light-surface: 0, 30, 15;
  --ax-sys-color-border-success-light-surface: 146, 251, 214;
  --ax-sys-color-success-surface: 72, 225, 174;
  --ax-sys-color-on-success-surface: 0, 30, 15;
  --ax-sys-color-border-success-surface: 111, 231, 191;
  --ax-sys-color-success-dark-surface: 54, 213, 162;
  --ax-sys-color-on-success-dark-surface: 0, 30, 15;
  --ax-sys-color-border-success-dark-surface: 92, 221, 180;
  --ax-sys-color-success-darker-surface: 32, 201, 151;
  --ax-sys-color-on-success-darker-surface: 0, 30, 15;
  --ax-sys-color-border-success-darker-surface: 56, 223, 174;
  --ax-sys-color-success-darkest-surface: 0, 180, 132;
  --ax-sys-color-on-success-darkest-surface: 0, 30, 15;
  --ax-sys-color-border-success-darkest-surface: 0, 226, 166;
  --ax-sys-color-warning-lightest-surface: 255, 234, 214;
  --ax-sys-color-on-warning-lightest-surface: 33, 18, 4;
  --ax-sys-color-border-warning-lightest-surface: 255, 258, 260;
  --ax-sys-color-warning-lighter-surface: 255, 217, 187;
  --ax-sys-color-on-warning-lighter-surface: 40, 14, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 243, 233;
  --ax-sys-color-warning-light-surface: 255, 199, 158;
  --ax-sys-color-on-warning-light-surface: 44, 10, 0;
  --ax-sys-color-border-warning-light-surface: 255, 225, 204;
  --ax-sys-color-warning-surface: 255, 160, 93;
  --ax-sys-color-on-warning-surface: 45, 8, 0;
  --ax-sys-color-border-warning-surface: 255, 187, 139;
  --ax-sys-color-warning-dark-surface: 255, 139, 45;
  --ax-sys-color-on-warning-dark-surface: 45, 8, 0;
  --ax-sys-color-border-warning-dark-surface: 255, 164, 91;
  --ax-sys-color-warning-darker-surface: 253, 126, 20;
  --ax-sys-color-on-warning-darker-surface: 46, 7, 0;
  --ax-sys-color-border-warning-darker-surface: 253, 151, 66;
  --ax-sys-color-warning-darkest-surface: 231, 106, 0;
  --ax-sys-color-on-warning-darkest-surface: 48, 5, 0;
  --ax-sys-color-border-warning-darkest-surface: 255, 129, 22;
  --ax-sys-color-danger-lightest-surface: 255, 223, 221;
  --ax-sys-color-on-danger-lightest-surface: 36, 15, 15;
  --ax-sys-color-border-danger-lightest-surface: 255, 266, 267;
  --ax-sys-color-danger-lighter-surface: 255, 195, 192;
  --ax-sys-color-on-danger-lighter-surface: 47, 4, 7;
  --ax-sys-color-border-danger-lighter-surface: 255, 239, 238;
  --ax-sys-color-danger-light-surface: 255, 165, 163;
  --ax-sys-color-on-danger-light-surface: 55, 0, 2;
  --ax-sys-color-border-danger-light-surface: 255, 210, 209;
  --ax-sys-color-danger-surface: 255, 95, 103;
  --ax-sys-color-on-danger-surface: 55, 0, 2;
  --ax-sys-color-border-danger-surface: 255, 141, 147;
  --ax-sys-color-danger-dark-surface: 241, 75, 86;
  --ax-sys-color-on-danger-dark-surface: 55, 0, 2;
  --ax-sys-color-border-danger-dark-surface: 244, 118, 126;
  --ax-sys-color-danger-darker-surface: 220, 53, 69;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 246;
  --ax-sys-color-border-danger-darker-surface: 227, 92, 105;
  --ax-sys-color-danger-darkest-surface: 205, 35, 57;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 246;
  --ax-sys-color-border-danger-darkest-surface: 222, 64, 84;
  --ax-sys-color-accent1-lightest-surface: 234, 224, 255;
  --ax-sys-color-on-accent1-lightest-surface: 25, 17, 38;
  --ax-sys-color-border-accent1-lightest-surface: 265, 270, 255;
  --ax-sys-color-accent1-lighter-surface: 213, 195, 255;
  --ax-sys-color-on-accent1-lighter-surface: 28, 8, 54;
  --ax-sys-color-border-accent1-lighter-surface: 245, 241, 255;
  --ax-sys-color-accent1-light-surface: 193, 165, 255;
  --ax-sys-color-on-accent1-light-surface: 32, 0, 71;
  --ax-sys-color-border-accent1-light-surface: 225, 211, 255;
  --ax-sys-color-accent1-surface: 152, 111, 242;
  --ax-sys-color-on-accent1-surface: 31, 0, 73;
  --ax-sys-color-border-accent1-surface: 182, 153, 246;
  --ax-sys-color-accent1-dark-surface: 131, 89, 217;
  --ax-sys-color-on-accent1-dark-surface: 31, 0, 73;
  --ax-sys-color-border-accent1-dark-surface: 159, 126, 226;
  --ax-sys-color-accent1-darker-surface: 111, 66, 193;
  --ax-sys-color-on-accent1-darker-surface: 254, 250, 255;
  --ax-sys-color-border-accent1-darker-surface: 137, 101, 204;
  --ax-sys-color-accent1-darkest-surface: 103, 57, 183;
  --ax-sys-color-on-accent1-darkest-surface: 254, 250, 255;
  --ax-sys-color-border-accent1-darkest-surface: 127, 84, 202;
  --ax-sys-color-accent2-lightest-surface: 204, 254, 255;
  --ax-sys-color-on-accent2-lightest-surface: 0, 28, 30;
  --ax-sys-color-border-accent2-lightest-surface: 250, 255, 255;
  --ax-sys-color-accent2-lighter-surface: 173, 247, 255;
  --ax-sys-color-on-accent2-lighter-surface: 0, 28, 33;
  --ax-sys-color-border-accent2-lighter-surface: 219, 251, 255;
  --ax-sys-color-accent2-light-surface: 137, 240, 255;
  --ax-sys-color-on-accent2-light-surface: 0, 28, 34;
  --ax-sys-color-border-accent2-light-surface: 183, 246, 255;
  --ax-sys-color-accent2-surface: 61, 223, 255;
  --ax-sys-color-on-accent2-surface: 0, 27, 37;
  --ax-sys-color-border-accent2-surface: 107, 231, 255;
  --ax-sys-color-accent2-dark-surface: 42, 213, 251;
  --ax-sys-color-on-accent2-dark-surface: 0, 27, 39;
  --ax-sys-color-border-accent2-dark-surface: 87, 222, 252;
  --ax-sys-color-accent2-darker-surface: 13, 202, 240;
  --ax-sys-color-on-accent2-darker-surface: 0, 27, 39;
  --ax-sys-color-border-accent2-darker-surface: 55, 212, 244;
  --ax-sys-color-accent2-darkest-surface: 0, 180, 217;
  --ax-sys-color-on-accent2-darkest-surface: 0, 27, 40;
  --ax-sys-color-border-accent2-darkest-surface: 8, 213, 255;
  --ax-sys-color-accent3-lightest-surface: 225, 236, 245;
  --ax-sys-color-on-accent3-lightest-surface: 15, 23, 29;
  --ax-sys-color-border-accent3-lightest-surface: 259, 258, 256;
  --ax-sys-color-accent3-lighter-surface: 205, 215, 224;
  --ax-sys-color-on-accent3-lighter-surface: 16, 23, 29;
  --ax-sys-color-border-accent3-lighter-surface: 233, 238, 242;
  --ax-sys-color-accent3-light-surface: 185, 194, 203;
  --ax-sys-color-on-accent3-light-surface: 16, 23, 29;
  --ax-sys-color-border-accent3-light-surface: 211, 217, 223;
  --ax-sys-color-accent3-surface: 145, 155, 163;
  --ax-sys-color-on-accent3-surface: 15, 23, 29;
  --ax-sys-color-border-accent3-surface: 170, 178, 184;
  --ax-sys-color-accent3-dark-surface: 126, 136, 144;
  --ax-sys-color-on-accent3-dark-surface: 15, 23, 29;
  --ax-sys-color-border-accent3-dark-surface: 151, 159, 165;
  --ax-sys-color-accent3-darker-surface: 108, 117, 125;
  --ax-sys-color-on-accent3-darker-surface: 16, 23, 29;
  --ax-sys-color-border-accent3-darker-surface: 131, 140, 148;
  --ax-sys-color-accent3-darkest-surface: 98, 106, 114;
  --ax-sys-color-on-accent3-darkest-surface: 245, 255, 255;
  --ax-sys-color-border-accent3-darkest-surface: 119, 129, 138;
  --ax-sys-color-neutral-lightest-surface: 252, 241, 251;
  --ax-sys-color-on-neutral-lightest-surface: 27, 19, 26;
  --ax-sys-color-border-neutral-lightest-surface: 260, 279, 262;
  --ax-sys-color-neutral-lighter-surface: 242, 231, 241;
  --ax-sys-color-on-neutral-lighter-surface: 27, 19, 26;
  --ax-sys-color-border-neutral-lighter-surface: 258, 261, 258;
  --ax-sys-color-neutral-light-surface: 232, 220, 231;
  --ax-sys-color-on-neutral-light-surface: 27, 19, 27;
  --ax-sys-color-border-neutral-light-surface: 250, 248, 250;
  --ax-sys-color-neutral-surface: 212, 201, 211;
  --ax-sys-color-on-neutral-surface: 27, 19, 26;
  --ax-sys-color-border-neutral-surface: 232, 227, 232;
  --ax-sys-color-neutral-dark-surface: 202, 191, 201;
  --ax-sys-color-on-neutral-dark-surface: 27, 19, 26;
  --ax-sys-color-border-neutral-dark-surface: 223, 216, 222;
  --ax-sys-color-neutral-darker-surface: 192, 181, 191;
  --ax-sys-color-on-neutral-darker-surface: 27, 19, 26;
  --ax-sys-color-border-neutral-darker-surface: 213, 206, 212;
  --ax-sys-color-neutral-darkest-surface: 170, 159, 169;
  --ax-sys-color-on-neutral-darkest-surface: 27, 19, 26;
  --ax-sys-color-border-neutral-darkest-surface: 192, 183, 191;
}
