/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 244, 248, 250;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 20, 27, 32;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 245, 246, 246;
  --ax-sys-color-on-lighter-surface: 45, 46, 46;
  --ax-sys-color-border-lighter-surface: 226, 228, 229;
  --ax-sys-color-light-surface: 237, 238, 239;
  --ax-sys-color-on-light-surface: 45, 46, 46;
  --ax-sys-color-border-light-surface: 218, 221, 223;
  --ax-sys-color-surface: 229, 231, 232;
  --ax-sys-color-on-surface: 45, 46, 47;
  --ax-sys-color-border-surface: 210, 214, 216;
  --ax-sys-color-dark-surface: 222, 224, 226;
  --ax-sys-color-on-dark-surface: 44, 46, 47;
  --ax-sys-color-border-dark-surface: 203, 207, 209;
  --ax-sys-color-darker-surface: 214, 217, 219;
  --ax-sys-color-on-darker-surface: 44, 46, 48;
  --ax-sys-color-border-darker-surface: 195, 200, 202;
  --ax-sys-color-darkest-surface: 204, 208, 210;
  --ax-sys-color-on-darkest-surface: 43, 46, 48;
  --ax-sys-color-border-darkest-surface: 185, 190, 193;
  /* Ranges */
  --ax-sys-color-primary-50: 216, 247, 255;
  --ax-sys-color-primary-100: 182, 233, 255;
  --ax-sys-color-primary-200: 140, 213, 255;
  --ax-sys-color-primary-300: 105, 178, 225;
  --ax-sys-color-primary-400: 62, 135, 180;
  --ax-sys-color-primary-500: 31, 108, 152;
  --ax-sys-color-primary-600: 14, 97, 140;
  --ax-sys-color-primary-700: 0, 84, 127;
  --ax-sys-color-primary-800: 13, 73, 112;
  --ax-sys-color-primary-900: 32, 65, 92;
  --ax-sys-color-primary-950: 26, 43, 60;
  --ax-sys-color-secondary-50: 219, 252, 255;
  --ax-sys-color-secondary-100: 193, 243, 255;
  --ax-sys-color-secondary-200: 155, 231, 255;
  --ax-sys-color-secondary-300: 128, 206, 245;
  --ax-sys-color-secondary-400: 98, 175, 213;
  --ax-sys-color-secondary-500: 78, 156, 193;
  --ax-sys-color-secondary-600: 57, 136, 172;
  --ax-sys-color-secondary-700: 28, 113, 148;
  --ax-sys-color-secondary-800: 19, 93, 125;
  --ax-sys-color-secondary-900: 39, 78, 100;
  --ax-sys-color-secondary-950: 23, 39, 51;
  --ax-sys-color-success-50: 213, 255, 209;
  --ax-sys-color-success-100: 174, 255, 168;
  --ax-sys-color-success-200: 127, 255, 121;
  --ax-sys-color-success-300: 103, 232, 98;
  --ax-sys-color-success-400: 70, 203, 68;
  --ax-sys-color-success-500: 46, 184, 46;
  --ax-sys-color-success-600: 0, 162, 6;
  --ax-sys-color-success-700: 0, 134, 0;
  --ax-sys-color-success-800: 21, 109, 19;
  --ax-sys-color-success-900: 41, 88, 38;
  --ax-sys-color-success-950: 23, 41, 21;
  --ax-sys-color-warning-50: 255, 244, 217;
  --ax-sys-color-warning-100: 255, 234, 196;
  --ax-sys-color-warning-200: 255, 220, 166;
  --ax-sys-color-warning-300: 255, 197, 113;
  --ax-sys-color-warning-400: 255, 170, 45;
  --ax-sys-color-warning-500: 243, 156, 18;
  --ax-sys-color-warning-600: 215, 130, 0;
  --ax-sys-color-warning-700: 175, 102, 0;
  --ax-sys-color-warning-800: 139, 83, 20;
  --ax-sys-color-warning-900: 107, 71, 40;
  --ax-sys-color-warning-950: 44, 29, 18;
  --ax-sys-color-danger-50: 255, 235, 233;
  --ax-sys-color-danger-100: 255, 216, 213;
  --ax-sys-color-danger-200: 255, 188, 185;
  --ax-sys-color-danger-300: 255, 140, 140;
  --ax-sys-color-danger-400: 247, 80, 90;
  --ax-sys-color-danger-500: 220, 53, 69;
  --ax-sys-color-danger-600: 201, 29, 54;
  --ax-sys-color-danger-700: 178, 0, 35;
  --ax-sys-color-danger-800: 150, 21, 31;
  --ax-sys-color-danger-900: 117, 41, 40;
  --ax-sys-color-danger-950: 64, 28, 25;
  --ax-sys-color-accent1-50: 226, 255, 255;
  --ax-sys-color-accent1-100: 211, 250, 255;
  --ax-sys-color-accent1-200: 189, 244, 255;
  --ax-sys-color-accent1-300: 165, 231, 255;
  --ax-sys-color-accent1-400: 147, 213, 243;
  --ax-sys-color-accent1-500: 136, 201, 231;
  --ax-sys-color-accent1-600: 108, 172, 201;
  --ax-sys-color-accent1-700: 74, 138, 166;
  --ax-sys-color-accent1-800: 52, 110, 135;
  --ax-sys-color-accent1-900: 50, 88, 106;
  --ax-sys-color-accent1-950: 20, 35, 45;
  --ax-sys-color-accent2-50: 255, 254, 188;
  --ax-sys-color-accent2-100: 255, 251, 185;
  --ax-sys-color-accent2-200: 255, 247, 181;
  --ax-sys-color-accent2-300: 255, 240, 175;
  --ax-sys-color-accent2-400: 246, 232, 167;
  --ax-sys-color-accent2-500: 241, 227, 162;
  --ax-sys-color-accent2-600: 205, 191, 127;
  --ax-sys-color-accent2-700: 162, 149, 86;
  --ax-sys-color-accent2-800: 128, 116, 60;
  --ax-sys-color-accent2-900: 100, 92, 53;
  --ax-sys-color-accent2-950: 33, 28, 16;
  --ax-sys-color-accent3-50: 255, 244, 239;
  --ax-sys-color-accent3-100: 255, 235, 229;
  --ax-sys-color-accent3-200: 255, 224, 215;
  --ax-sys-color-accent3-300: 255, 205, 193;
  --ax-sys-color-accent3-400: 255, 185, 171;
  --ax-sys-color-accent3-500: 247, 174, 161;
  --ax-sys-color-accent3-600: 216, 145, 133;
  --ax-sys-color-accent3-700: 178, 111, 99;
  --ax-sys-color-accent3-800: 145, 86, 76;
  --ax-sys-color-accent3-900: 113, 71, 64;
  --ax-sys-color-accent3-950: 49, 22, 18;
  --ax-sys-color-neutral-50: 229, 248, 255;
  --ax-sys-color-neutral-100: 218, 236, 255;
  --ax-sys-color-neutral-200: 201, 220, 239;
  --ax-sys-color-neutral-300: 176, 194, 213;
  --ax-sys-color-neutral-400: 145, 163, 181;
  --ax-sys-color-neutral-500: 126, 143, 161;
  --ax-sys-color-neutral-600: 108, 125, 142;
  --ax-sys-color-neutral-700: 87, 103, 120;
  --ax-sys-color-neutral-800: 71, 85, 100;
  --ax-sys-color-neutral-900: 62, 72, 82;
  --ax-sys-color-neutral-950: 30, 37, 44;
  --ax-sys-color-primary-lightest-surface: 182, 233, 255;
  --ax-sys-color-on-primary-lightest-surface: 0, 51, 69;
  --ax-sys-color-border-primary-lightest-surface: 146, 222, 255;
  --ax-sys-color-primary-lighter-surface: 140, 213, 255;
  --ax-sys-color-on-primary-lighter-surface: 0, 51, 83;
  --ax-sys-color-border-primary-lighter-surface: 104, 200, 255;
  --ax-sys-color-primary-light-surface: 105, 178, 225;
  --ax-sys-color-on-primary-light-surface: 0, 50, 87;
  --ax-sys-color-border-primary-light-surface: 75, 163, 219;
  --ax-sys-color-primary-surface: 31, 108, 152;
  --ax-sys-color-on-primary-surface: 237, 255, 255;
  --ax-sys-color-border-primary-surface: 25, 87, 122;
  --ax-sys-color-primary-dark-surface: 14, 97, 140;
  --ax-sys-color-on-primary-dark-surface: 237, 255, 255;
  --ax-sys-color-border-primary-dark-surface: 11, 75, 108;
  --ax-sys-color-primary-darker-surface: 0, 84, 127;
  --ax-sys-color-on-primary-darker-surface: 238, 255, 255;
  --ax-sys-color-border-primary-darker-surface: 0, 60, 91;
  --ax-sys-color-primary-darkest-surface: 13, 73, 112;
  --ax-sys-color-on-primary-darkest-surface: 239, 255, 255;
  --ax-sys-color-border-primary-darkest-surface: 9, 52, 80;
  --ax-sys-color-secondary-lightest-surface: 193, 243, 255;
  --ax-sys-color-on-secondary-lightest-surface: 0, 52, 62;
  --ax-sys-color-border-secondary-lightest-surface: 157, 236, 255;
  --ax-sys-color-secondary-lighter-surface: 155, 231, 255;
  --ax-sys-color-on-secondary-lighter-surface: 0, 53, 71;
  --ax-sys-color-border-secondary-lighter-surface: 119, 222, 255;
  --ax-sys-color-secondary-light-surface: 128, 206, 245;
  --ax-sys-color-on-secondary-light-surface: 0, 52, 80;
  --ax-sys-color-border-secondary-light-surface: 95, 193, 242;
  --ax-sys-color-secondary-surface: 78, 156, 193;
  --ax-sys-color-on-secondary-surface: 234, 255, 255;
  --ax-sys-color-border-secondary-surface: 61, 138, 174;
  --ax-sys-color-secondary-dark-surface: 57, 136, 172;
  --ax-sys-color-on-secondary-dark-surface: 234, 255, 255;
  --ax-sys-color-border-secondary-dark-surface: 48, 115, 145;
  --ax-sys-color-secondary-darker-surface: 28, 113, 148;
  --ax-sys-color-on-secondary-darker-surface: 234, 255, 255;
  --ax-sys-color-border-secondary-darker-surface: 22, 90, 118;
  --ax-sys-color-secondary-darkest-surface: 19, 93, 125;
  --ax-sys-color-on-secondary-darkest-surface: 235, 255, 255;
  --ax-sys-color-border-secondary-darkest-surface: 14, 70, 94;
  --ax-sys-color-success-lightest-surface: 174, 255, 168;
  --ax-sys-color-on-success-lightest-surface: 0, 59, 0;
  --ax-sys-color-border-success-lightest-surface: 141, 255, 132;
  --ax-sys-color-success-lighter-surface: 127, 255, 121;
  --ax-sys-color-on-success-lighter-surface: 0, 59, 0;
  --ax-sys-color-border-success-lighter-surface: 93, 255, 85;
  --ax-sys-color-success-light-surface: 103, 232, 98;
  --ax-sys-color-on-success-light-surface: 0, 59, 0;
  --ax-sys-color-border-success-light-surface: 73, 227, 67;
  --ax-sys-color-success-surface: 46, 184, 46;
  --ax-sys-color-on-success-surface: 235, 255, 233;
  --ax-sys-color-border-success-surface: 39, 155, 39;
  --ax-sys-color-success-dark-surface: 0, 162, 6;
  --ax-sys-color-on-success-dark-surface: 235, 255, 233;
  --ax-sys-color-border-success-dark-surface: 0, 126, 5;
  --ax-sys-color-success-darker-surface: 0, 134, 0;
  --ax-sys-color-on-success-darker-surface: 235, 255, 232;
  --ax-sys-color-border-success-darker-surface: 0, 98, 0;
  --ax-sys-color-success-darkest-surface: 21, 109, 19;
  --ax-sys-color-on-success-darkest-surface: 235, 255, 232;
  --ax-sys-color-border-success-darkest-surface: 15, 79, 14;
  --ax-sys-color-warning-lightest-surface: 255, 234, 196;
  --ax-sys-color-on-warning-lightest-surface: 59, 43, 8;
  --ax-sys-color-border-warning-lightest-surface: 255, 221, 160;
  --ax-sys-color-warning-lighter-surface: 255, 220, 166;
  --ax-sys-color-on-warning-lighter-surface: 67, 39, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 206, 130;
  --ax-sys-color-warning-light-surface: 255, 197, 113;
  --ax-sys-color-on-warning-light-surface: 69, 38, 0;
  --ax-sys-color-border-warning-light-surface: 255, 182, 77;
  --ax-sys-color-warning-surface: 243, 156, 18;
  --ax-sys-color-on-warning-surface: 255, 250, 229;
  --ax-sys-color-border-warning-surface: 214, 136, 11;
  --ax-sys-color-warning-dark-surface: 215, 130, 0;
  --ax-sys-color-on-warning-dark-surface: 255, 250, 231;
  --ax-sys-color-border-warning-dark-surface: 179, 108, 0;
  --ax-sys-color-warning-darker-surface: 175, 102, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 249, 232;
  --ax-sys-color-border-warning-darker-surface: 139, 81, 0;
  --ax-sys-color-warning-darkest-surface: 139, 83, 20;
  --ax-sys-color-on-warning-darkest-surface: 255, 249, 232;
  --ax-sys-color-border-warning-darkest-surface: 108, 64, 16;
  --ax-sys-color-danger-lightest-surface: 255, 216, 213;
  --ax-sys-color-on-danger-lightest-surface: 65, 37, 35;
  --ax-sys-color-border-danger-lightest-surface: 255, 183, 177;
  --ax-sys-color-danger-lighter-surface: 255, 188, 185;
  --ax-sys-color-on-danger-lighter-surface: 78, 26, 28;
  --ax-sys-color-border-danger-lighter-surface: 255, 154, 149;
  --ax-sys-color-danger-light-surface: 255, 140, 140;
  --ax-sys-color-on-danger-light-surface: 98, 0, 10;
  --ax-sys-color-border-danger-light-surface: 255, 104, 104;
  --ax-sys-color-danger-surface: 220, 53, 69;
  --ax-sys-color-on-danger-surface: 255, 248, 246;
  --ax-sys-color-border-danger-surface: 202, 35, 51;
  --ax-sys-color-danger-dark-surface: 201, 29, 54;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 246;
  --ax-sys-color-border-danger-dark-surface: 170, 24, 46;
  --ax-sys-color-danger-darker-surface: 178, 0, 35;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 246;
  --ax-sys-color-border-danger-darker-surface: 142, 0, 28;
  --ax-sys-color-danger-darkest-surface: 150, 21, 31;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darkest-surface: 119, 17, 25;
  --ax-sys-color-accent1-lightest-surface: 211, 250, 255;
  --ax-sys-color-on-accent1-lightest-surface: 16, 52, 56;
  --ax-sys-color-border-accent1-lightest-surface: 175, 246, 255;
  --ax-sys-color-accent1-lighter-surface: 189, 244, 255;
  --ax-sys-color-on-accent1-lighter-surface: 0, 53, 62;
  --ax-sys-color-border-accent1-lighter-surface: 153, 238, 255;
  --ax-sys-color-accent1-light-surface: 165, 231, 255;
  --ax-sys-color-on-accent1-light-surface: 0, 53, 72;
  --ax-sys-color-border-accent1-light-surface: 129, 221, 255;
  --ax-sys-color-accent1-surface: 136, 201, 231;
  --ax-sys-color-on-accent1-surface: 0, 52, 77;
  --ax-sys-color-border-accent1-surface: 106, 188, 225;
  --ax-sys-color-accent1-dark-surface: 108, 172, 201;
  --ax-sys-color-on-accent1-dark-surface: 0, 52, 76;
  --ax-sys-color-border-accent1-dark-surface: 82, 157, 191;
  --ax-sys-color-accent1-darker-surface: 74, 138, 166;
  --ax-sys-color-on-accent1-darker-surface: 233, 255, 255;
  --ax-sys-color-border-accent1-darker-surface: 63, 117, 141;
  --ax-sys-color-accent1-darkest-surface: 52, 110, 135;
  --ax-sys-color-on-accent1-darkest-surface: 233, 255, 255;
  --ax-sys-color-border-accent1-darkest-surface: 42, 89, 109;
  --ax-sys-color-accent2-lightest-surface: 255, 251, 185;
  --ax-sys-color-on-accent2-lightest-surface: 53, 47, 0;
  --ax-sys-color-border-accent2-lightest-surface: 255, 249, 149;
  --ax-sys-color-accent2-lighter-surface: 255, 247, 181;
  --ax-sys-color-on-accent2-lighter-surface: 54, 46, 0;
  --ax-sys-color-border-accent2-lighter-surface: 255, 243, 145;
  --ax-sys-color-accent2-light-surface: 255, 240, 175;
  --ax-sys-color-on-accent2-light-surface: 58, 45, 0;
  --ax-sys-color-border-accent2-light-surface: 255, 233, 139;
  --ax-sys-color-accent2-surface: 241, 227, 162;
  --ax-sys-color-on-accent2-surface: 57, 45, 0;
  --ax-sys-color-border-accent2-surface: 236, 218, 131;
  --ax-sys-color-accent2-dark-surface: 205, 191, 127;
  --ax-sys-color-on-accent2-dark-surface: 57, 45, 0;
  --ax-sys-color-border-accent2-dark-surface: 195, 178, 101;
  --ax-sys-color-accent2-darker-surface: 162, 149, 86;
  --ax-sys-color-on-accent2-darker-surface: 255, 255, 188;
  --ax-sys-color-border-accent2-darker-surface: 139, 128, 74;
  --ax-sys-color-accent2-darkest-surface: 128, 116, 60;
  --ax-sys-color-on-accent2-darkest-surface: 255, 255, 194;
  --ax-sys-color-border-accent2-darkest-surface: 104, 94, 49;
  --ax-sys-color-accent3-lightest-surface: 255, 235, 229;
  --ax-sys-color-on-accent3-lightest-surface: 56, 42, 37;
  --ax-sys-color-border-accent3-lightest-surface: 255, 208, 193;
  --ax-sys-color-accent3-lighter-surface: 255, 224, 215;
  --ax-sys-color-on-accent3-lighter-surface: 62, 39, 33;
  --ax-sys-color-border-accent3-lighter-surface: 255, 196, 179;
  --ax-sys-color-accent3-light-surface: 255, 205, 193;
  --ax-sys-color-on-accent3-light-surface: 71, 34, 25;
  --ax-sys-color-border-accent3-light-surface: 255, 176, 157;
  --ax-sys-color-accent3-surface: 247, 174, 161;
  --ax-sys-color-on-accent3-surface: 81, 23, 16;
  --ax-sys-color-border-accent3-surface: 244, 146, 128;
  --ax-sys-color-accent3-dark-surface: 216, 145, 133;
  --ax-sys-color-on-accent3-dark-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-dark-surface: 207, 121, 106;
  --ax-sys-color-accent3-darker-surface: 178, 111, 99;
  --ax-sys-color-on-accent3-darker-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-darker-surface: 162, 92, 80;
  --ax-sys-color-accent3-darkest-surface: 145, 86, 76;
  --ax-sys-color-on-accent3-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-darkest-surface: 122, 72, 64;
  --ax-sys-color-neutral-lightest-surface: 218, 236, 255;
  --ax-sys-color-on-neutral-lightest-surface: 33, 47, 61;
  --ax-sys-color-border-neutral-lightest-surface: 182, 218, 255;
  --ax-sys-color-neutral-lighter-surface: 201, 220, 239;
  --ax-sys-color-on-neutral-lighter-surface: 32, 47, 62;
  --ax-sys-color-border-neutral-lighter-surface: 173, 202, 231;
  --ax-sys-color-neutral-light-surface: 176, 194, 213;
  --ax-sys-color-on-neutral-light-surface: 33, 47, 62;
  --ax-sys-color-border-neutral-light-surface: 153, 176, 201;
  --ax-sys-color-neutral-surface: 126, 143, 161;
  --ax-sys-color-on-neutral-surface: 242, 255, 255;
  --ax-sys-color-border-neutral-surface: 106, 125, 145;
  --ax-sys-color-neutral-dark-surface: 108, 125, 142;
  --ax-sys-color-on-neutral-dark-surface: 241, 255, 255;
  --ax-sys-color-border-neutral-dark-surface: 93, 107, 122;
  --ax-sys-color-neutral-darker-surface: 87, 103, 120;
  --ax-sys-color-on-neutral-darker-surface: 242, 255, 255;
  --ax-sys-color-border-neutral-darker-surface: 72, 85, 99;
  --ax-sys-color-neutral-darkest-surface: 71, 85, 100;
  --ax-sys-color-on-neutral-darkest-surface: 242, 255, 255;
  --ax-sys-color-border-neutral-darkest-surface: 56, 67, 79;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 244, 248, 250;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 20, 27, 32;
  --ax-sys-color-lightest-surface: 26, 35, 41;
  --ax-sys-color-on-lightest-surface: 243, 255, 255;
  --ax-sys-color-border-lightest-surface: 44, 59, 69;
  --ax-sys-color-lighter-surface: 23, 31, 36;
  --ax-sys-color-on-lighter-surface: 244, 255, 255;
  --ax-sys-color-border-lighter-surface: 41, 55, 64;
  --ax-sys-color-light-surface: 20, 28, 33;
  --ax-sys-color-on-light-surface: 245, 255, 255;
  --ax-sys-color-border-light-surface: 38, 52, 61;
  --ax-sys-color-surface: 18, 25, 29;
  --ax-sys-color-on-surface: 245, 255, 255;
  --ax-sys-color-border-surface: 36, 49, 57;
  --ax-sys-color-dark-surface: 16, 22, 25;
  --ax-sys-color-on-dark-surface: 246, 255, 255;
  --ax-sys-color-border-dark-surface: 33, 47, 54;
  --ax-sys-color-darker-surface: 13, 19, 22;
  --ax-sys-color-on-darker-surface: 247, 255, 255;
  --ax-sys-color-border-darker-surface: 31, 44, 50;
  --ax-sys-color-darkest-surface: 10, 15, 17;
  --ax-sys-color-on-darkest-surface: 247, 255, 255;
  --ax-sys-color-border-darkest-surface: 27, 41, 46;
  /* Ranges */
  --ax-sys-color-primary-50: 218, 248, 255;
  --ax-sys-color-primary-100: 195, 238, 255;
  --ax-sys-color-primary-200: 145, 218, 255;
  --ax-sys-color-primary-300: 123, 195, 244;
  --ax-sys-color-primary-400: 100, 173, 220;
  --ax-sys-color-primary-500: 78, 151, 197;
  --ax-sys-color-primary-600: 56, 129, 174;
  --ax-sys-color-primary-700: 31, 108, 152;
  --ax-sys-color-primary-800: 18, 99, 143;
  --ax-sys-color-primary-900: 1, 91, 134;
  --ax-sys-color-primary-950: 0, 87, 129;
  --ax-sys-color-secondary-50: 221, 253, 255;
  --ax-sys-color-secondary-100: 203, 246, 255;
  --ax-sys-color-secondary-200: 165, 234, 255;
  --ax-sys-color-secondary-300: 140, 219, 255;
  --ax-sys-color-secondary-400: 125, 203, 241;
  --ax-sys-color-secondary-500: 109, 187, 225;
  --ax-sys-color-secondary-600: 94, 171, 209;
  --ax-sys-color-secondary-700: 78, 156, 193;
  --ax-sys-color-secondary-800: 61, 140, 177;
  --ax-sys-color-secondary-900: 44, 125, 160;
  --ax-sys-color-secondary-950: 34, 117, 152;
  --ax-sys-color-success-50: 216, 255, 212;
  --ax-sys-color-success-100: 190, 255, 184;
  --ax-sys-color-success-200: 131, 255, 125;
  --ax-sys-color-success-300: 115, 244, 110;
  --ax-sys-color-success-400: 99, 229, 95;
  --ax-sys-color-success-500: 83, 214, 79;
  --ax-sys-color-success-600: 65, 199, 63;
  --ax-sys-color-success-700: 46, 184, 46;
  --ax-sys-color-success-800: 9, 166, 18;
  --ax-sys-color-success-900: 0, 149, 0;
  --ax-sys-color-success-950: 0, 140, 0;
  --ax-sys-color-warning-50: 255, 245, 219;
  --ax-sys-color-warning-100: 255, 238, 204;
  --ax-sys-color-warning-200: 255, 224, 174;
  --ax-sys-color-warning-300: 255, 209, 141;
  --ax-sys-color-warning-400: 255, 194, 104;
  --ax-sys-color-warning-500: 255, 178, 57;
  --ax-sys-color-warning-600: 255, 167, 41;
  --ax-sys-color-warning-700: 243, 156, 18;
  --ax-sys-color-warning-800: 220, 135, 0;
  --ax-sys-color-warning-900: 196, 116, 0;
  --ax-sys-color-warning-950: 183, 107, 0;
  --ax-sys-color-danger-50: 255, 236, 235;
  --ax-sys-color-danger-100: 255, 223, 221;
  --ax-sys-color-danger-200: 255, 195, 192;
  --ax-sys-color-danger-300: 255, 165, 163;
  --ax-sys-color-danger-400: 255, 132, 133;
  --ax-sys-color-danger-500: 255, 95, 103;
  --ax-sys-color-danger-600: 241, 75, 86;
  --ax-sys-color-danger-700: 220, 53, 69;
  --ax-sys-color-danger-800: 205, 35, 57;
  --ax-sys-color-danger-900: 190, 6, 45;
  --ax-sys-color-danger-950: 183, 0, 39;
  --ax-sys-color-accent1-50: 227, 255, 255;
  --ax-sys-color-accent1-100: 217, 252, 255;
  --ax-sys-color-accent1-200: 195, 245, 255;
  --ax-sys-color-accent1-300: 172, 238, 255;
  --ax-sys-color-accent1-400: 163, 229, 255;
  --ax-sys-color-accent1-500: 154, 219, 250;
  --ax-sys-color-accent1-600: 145, 210, 240;
  --ax-sys-color-accent1-700: 136, 201, 231;
  --ax-sys-color-accent1-800: 114, 178, 207;
  --ax-sys-color-accent1-900: 91, 155, 184;
  --ax-sys-color-accent1-950: 80, 144, 173;
  --ax-sys-color-accent2-50: 255, 254, 188;
  --ax-sys-color-accent2-100: 255, 252, 186;
  --ax-sys-color-accent2-200: 255, 248, 182;
  --ax-sys-color-accent2-300: 255, 244, 178;
  --ax-sys-color-accent2-400: 254, 240, 174;
  --ax-sys-color-accent2-500: 249, 235, 170;
  --ax-sys-color-accent2-600: 245, 231, 166;
  --ax-sys-color-accent2-700: 241, 227, 162;
  --ax-sys-color-accent2-800: 212, 198, 134;
  --ax-sys-color-accent2-900: 184, 171, 108;
  --ax-sys-color-accent2-950: 171, 157, 94;
  --ax-sys-color-accent3-50: 255, 244, 239;
  --ax-sys-color-accent3-100: 255, 238, 233;
  --ax-sys-color-accent3-200: 255, 226, 219;
  --ax-sys-color-accent3-300: 255, 214, 204;
  --ax-sys-color-accent3-400: 255, 202, 190;
  --ax-sys-color-accent3-500: 255, 191, 177;
  --ax-sys-color-accent3-600: 255, 182, 169;
  --ax-sys-color-accent3-700: 247, 174, 161;
  --ax-sys-color-accent3-800: 222, 151, 138;
  --ax-sys-color-accent3-900: 197, 128, 116;
  --ax-sys-color-accent3-950: 185, 117, 105;
  --ax-sys-color-neutral-50: 230, 249, 255;
  --ax-sys-color-neutral-100: 222, 241, 255;
  --ax-sys-color-neutral-200: 205, 224, 243;
  --ax-sys-color-neutral-300: 189, 207, 226;
  --ax-sys-color-neutral-400: 173, 191, 210;
  --ax-sys-color-neutral-500: 157, 174, 193;
  --ax-sys-color-neutral-600: 141, 159, 177;
  --ax-sys-color-neutral-700: 126, 143, 161;
  --ax-sys-color-neutral-800: 112, 128, 146;
  --ax-sys-color-neutral-900: 98, 114, 131;
  --ax-sys-color-neutral-950: 91, 107, 124;
  --ax-sys-color-primary-lightest-surface: 195, 238, 255;
  --ax-sys-color-on-primary-lightest-surface: 0, 26, 39;
  --ax-sys-color-border-primary-lightest-surface: 241, 251, 255;
  --ax-sys-color-primary-lighter-surface: 145, 218, 255;
  --ax-sys-color-on-primary-lighter-surface: 0, 26, 45;
  --ax-sys-color-border-primary-lighter-surface: 191, 233, 255;
  --ax-sys-color-primary-light-surface: 123, 195, 244;
  --ax-sys-color-on-primary-light-surface: 0, 24, 51;
  --ax-sys-color-border-primary-light-surface: 165, 214, 248;
  --ax-sys-color-primary-surface: 78, 151, 197;
  --ax-sys-color-on-primary-surface: 0, 24, 50;
  --ax-sys-color-border-primary-surface: 113, 171, 208;
  --ax-sys-color-primary-dark-surface: 56, 129, 174;
  --ax-sys-color-on-primary-dark-surface: 0, 24, 51;
  --ax-sys-color-border-primary-dark-surface: 78, 152, 198;
  --ax-sys-color-primary-darker-surface: 31, 108, 152;
  --ax-sys-color-on-primary-darker-surface: 237, 255, 255;
  --ax-sys-color-border-primary-darker-surface: 39, 135, 190;
  --ax-sys-color-primary-darkest-surface: 18, 99, 143;
  --ax-sys-color-on-primary-darkest-surface: 238, 255, 255;
  --ax-sys-color-border-primary-darkest-surface: 23, 127, 184;
  --ax-sys-color-secondary-lightest-surface: 203, 246, 255;
  --ax-sys-color-on-secondary-lightest-surface: 0, 27, 34;
  --ax-sys-color-border-secondary-lightest-surface: 249, 254, 255;
  --ax-sys-color-secondary-lighter-surface: 165, 234, 255;
  --ax-sys-color-on-secondary-lighter-surface: 0, 27, 39;
  --ax-sys-color-border-secondary-lighter-surface: 211, 245, 255;
  --ax-sys-color-secondary-light-surface: 140, 219, 255;
  --ax-sys-color-on-secondary-light-surface: 0, 26, 44;
  --ax-sys-color-border-secondary-light-surface: 186, 233, 255;
  --ax-sys-color-secondary-surface: 109, 187, 225;
  --ax-sys-color-on-secondary-surface: 0, 26, 45;
  --ax-sys-color-border-secondary-surface: 147, 205, 233;
  --ax-sys-color-secondary-dark-surface: 94, 171, 209;
  --ax-sys-color-on-secondary-dark-surface: 0, 26, 46;
  --ax-sys-color-border-secondary-dark-surface: 130, 190, 219;
  --ax-sys-color-secondary-darker-surface: 78, 156, 193;
  --ax-sys-color-on-secondary-darker-surface: 0, 26, 45;
  --ax-sys-color-border-secondary-darker-surface: 112, 175, 205;
  --ax-sys-color-secondary-darkest-surface: 61, 140, 177;
  --ax-sys-color-on-secondary-darkest-surface: 0, 26, 46;
  --ax-sys-color-border-secondary-darkest-surface: 87, 162, 197;
  --ax-sys-color-success-lightest-surface: 190, 255, 184;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 0;
  --ax-sys-color-border-success-lightest-surface: 232, 255, 230;
  --ax-sys-color-success-lighter-surface: 131, 255, 125;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 0;
  --ax-sys-color-border-success-lighter-surface: 175, 255, 171;
  --ax-sys-color-success-light-surface: 115, 244, 110;
  --ax-sys-color-on-success-light-surface: 0, 31, 0;
  --ax-sys-color-border-success-light-surface: 156, 247, 153;
  --ax-sys-color-success-surface: 83, 214, 79;
  --ax-sys-color-on-success-surface: 0, 31, 0;
  --ax-sys-color-border-success-surface: 119, 223, 116;
  --ax-sys-color-success-dark-surface: 65, 199, 63;
  --ax-sys-color-on-success-dark-surface: 0, 31, 0;
  --ax-sys-color-border-success-dark-surface: 100, 209, 99;
  --ax-sys-color-success-darker-surface: 46, 184, 46;
  --ax-sys-color-on-success-darker-surface: 0, 31, 0;
  --ax-sys-color-border-success-darker-surface: 68, 208, 68;
  --ax-sys-color-success-darkest-surface: 9, 166, 18;
  --ax-sys-color-on-success-darkest-surface: 0, 31, 0;
  --ax-sys-color-border-success-darkest-surface: 11, 210, 23;
  --ax-sys-color-warning-lightest-surface: 255, 238, 204;
  --ax-sys-color-on-warning-lightest-surface: 32, 20, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 253, 250;
  --ax-sys-color-warning-lighter-surface: 255, 224, 174;
  --ax-sys-color-on-warning-lighter-surface: 36, 17, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 242, 220;
  --ax-sys-color-warning-light-surface: 255, 209, 141;
  --ax-sys-color-on-warning-light-surface: 37, 17, 0;
  --ax-sys-color-border-warning-light-surface: 255, 228, 187;
  --ax-sys-color-warning-surface: 255, 178, 57;
  --ax-sys-color-on-warning-surface: 38, 16, 0;
  --ax-sys-color-border-warning-surface: 255, 196, 103;
  --ax-sys-color-warning-dark-surface: 255, 167, 41;
  --ax-sys-color-on-warning-dark-surface: 39, 15, 0;
  --ax-sys-color-border-warning-dark-surface: 255, 186, 87;
  --ax-sys-color-warning-darker-surface: 243, 156, 18;
  --ax-sys-color-on-warning-darker-surface: 39, 15, 0;
  --ax-sys-color-border-warning-darker-surface: 245, 174, 62;
  --ax-sys-color-warning-darkest-surface: 220, 135, 0;
  --ax-sys-color-on-warning-darkest-surface: 40, 14, 0;
  --ax-sys-color-border-warning-darkest-surface: 255, 161, 11;
  --ax-sys-color-danger-lightest-surface: 255, 223, 221;
  --ax-sys-color-on-danger-lightest-surface: 36, 15, 15;
  --ax-sys-color-border-danger-lightest-surface: 255, 266, 267;
  --ax-sys-color-danger-lighter-surface: 255, 195, 192;
  --ax-sys-color-on-danger-lighter-surface: 47, 4, 7;
  --ax-sys-color-border-danger-lighter-surface: 255, 239, 238;
  --ax-sys-color-danger-light-surface: 255, 165, 163;
  --ax-sys-color-on-danger-light-surface: 55, 0, 2;
  --ax-sys-color-border-danger-light-surface: 255, 210, 209;
  --ax-sys-color-danger-surface: 255, 95, 103;
  --ax-sys-color-on-danger-surface: 55, 0, 2;
  --ax-sys-color-border-danger-surface: 255, 141, 147;
  --ax-sys-color-danger-dark-surface: 241, 75, 86;
  --ax-sys-color-on-danger-dark-surface: 55, 0, 2;
  --ax-sys-color-border-danger-dark-surface: 244, 118, 126;
  --ax-sys-color-danger-darker-surface: 220, 53, 69;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 246;
  --ax-sys-color-border-danger-darker-surface: 227, 92, 105;
  --ax-sys-color-danger-darkest-surface: 205, 35, 57;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 246;
  --ax-sys-color-border-danger-darkest-surface: 222, 64, 84;
  --ax-sys-color-accent1-lightest-surface: 217, 252, 255;
  --ax-sys-color-on-accent1-lightest-surface: 0, 27, 29;
  --ax-sys-color-border-accent1-lightest-surface: 263, 256, 255;
  --ax-sys-color-accent1-lighter-surface: 195, 245, 255;
  --ax-sys-color-on-accent1-lighter-surface: 0, 28, 35;
  --ax-sys-color-border-accent1-lighter-surface: 241, 253, 255;
  --ax-sys-color-accent1-light-surface: 172, 238, 255;
  --ax-sys-color-on-accent1-light-surface: 0, 27, 38;
  --ax-sys-color-border-accent1-light-surface: 218, 247, 255;
  --ax-sys-color-accent1-surface: 154, 219, 250;
  --ax-sys-color-on-accent1-surface: 0, 26, 44;
  --ax-sys-color-border-accent1-surface: 198, 235, 252;
  --ax-sys-color-accent1-dark-surface: 145, 210, 240;
  --ax-sys-color-on-accent1-dark-surface: 0, 26, 44;
  --ax-sys-color-border-accent1-dark-surface: 185, 227, 246;
  --ax-sys-color-accent1-darker-surface: 136, 201, 231;
  --ax-sys-color-on-accent1-darker-surface: 0, 26, 44;
  --ax-sys-color-border-accent1-darker-surface: 174, 218, 239;
  --ax-sys-color-accent1-darkest-surface: 114, 178, 207;
  --ax-sys-color-on-accent1-darkest-surface: 0, 26, 44;
  --ax-sys-color-border-accent1-darkest-surface: 148, 197, 219;
  --ax-sys-color-accent2-lightest-surface: 255, 252, 186;
  --ax-sys-color-on-accent2-lightest-surface: 26, 23, 0;
  --ax-sys-color-border-accent2-lightest-surface: 255, 254, 232;
  --ax-sys-color-accent2-lighter-surface: 255, 248, 182;
  --ax-sys-color-on-accent2-lighter-surface: 28, 22, 0;
  --ax-sys-color-border-accent2-lighter-surface: 255, 252, 228;
  --ax-sys-color-accent2-light-surface: 255, 244, 178;
  --ax-sys-color-on-accent2-light-surface: 29, 22, 0;
  --ax-sys-color-border-accent2-light-surface: 255, 251, 224;
  --ax-sys-color-accent2-surface: 249, 235, 170;
  --ax-sys-color-on-accent2-surface: 30, 21, 0;
  --ax-sys-color-border-accent2-surface: 252, 245, 213;
  --ax-sys-color-accent2-dark-surface: 245, 231, 166;
  --ax-sys-color-on-accent2-dark-surface: 30, 21, 0;
  --ax-sys-color-border-accent2-dark-surface: 250, 242, 207;
  --ax-sys-color-accent2-darker-surface: 241, 227, 162;
  --ax-sys-color-on-accent2-darker-surface: 30, 21, 0;
  --ax-sys-color-border-accent2-darker-surface: 247, 239, 202;
  --ax-sys-color-accent2-darkest-surface: 212, 198, 134;
  --ax-sys-color-on-accent2-darkest-surface: 30, 21, 0;
  --ax-sys-color-border-accent2-darkest-surface: 224, 214, 168;
  --ax-sys-color-accent3-lightest-surface: 255, 238, 233;
  --ax-sys-color-on-accent3-lightest-surface: 30, 19, 16;
  --ax-sys-color-border-accent3-lightest-surface: 255, 273, 279;
  --ax-sys-color-accent3-lighter-surface: 255, 226, 219;
  --ax-sys-color-on-accent3-lighter-surface: 35, 16, 12;
  --ax-sys-color-border-accent3-lighter-surface: 255, 263, 265;
  --ax-sys-color-accent3-light-surface: 255, 214, 204;
  --ax-sys-color-on-accent3-light-surface: 40, 12, 7;
  --ax-sys-color-border-accent3-light-surface: 255, 251, 250;
  --ax-sys-color-accent3-surface: 255, 191, 177;
  --ax-sys-color-on-accent3-surface: 49, 2, 0;
  --ax-sys-color-border-accent3-surface: 255, 229, 223;
  --ax-sys-color-accent3-dark-surface: 255, 182, 169;
  --ax-sys-color-on-accent3-dark-surface: 52, 0, 0;
  --ax-sys-color-border-accent3-dark-surface: 255, 221, 215;
  --ax-sys-color-accent3-darker-surface: 247, 174, 161;
  --ax-sys-color-on-accent3-darker-surface: 52, 0, 0;
  --ax-sys-color-border-accent3-darker-surface: 251, 210, 203;
  --ax-sys-color-accent3-darkest-surface: 222, 151, 138;
  --ax-sys-color-on-accent3-darkest-surface: 52, 0, 0;
  --ax-sys-color-border-accent3-darkest-surface: 232, 183, 174;
  --ax-sys-color-neutral-lightest-surface: 222, 241, 255;
  --ax-sys-color-on-neutral-lightest-surface: 9, 24, 33;
  --ax-sys-color-border-neutral-lightest-surface: 268, 260, 255;
  --ax-sys-color-neutral-lighter-surface: 205, 224, 243;
  --ax-sys-color-on-neutral-lighter-surface: 9, 23, 36;
  --ax-sys-color-border-neutral-lighter-surface: 242, 247, 252;
  --ax-sys-color-neutral-light-surface: 189, 207, 226;
  --ax-sys-color-on-neutral-light-surface: 10, 23, 36;
  --ax-sys-color-border-neutral-light-surface: 221, 230, 240;
  --ax-sys-color-neutral-surface: 157, 174, 193;
  --ax-sys-color-on-neutral-surface: 10, 23, 37;
  --ax-sys-color-border-neutral-surface: 185, 197, 211;
  --ax-sys-color-neutral-dark-surface: 141, 159, 177;
  --ax-sys-color-on-neutral-dark-surface: 9, 23, 36;
  --ax-sys-color-border-neutral-dark-surface: 168, 182, 196;
  --ax-sys-color-neutral-darker-surface: 126, 143, 161;
  --ax-sys-color-on-neutral-darker-surface: 9, 23, 37;
  --ax-sys-color-border-neutral-darker-surface: 153, 166, 180;
  --ax-sys-color-neutral-darkest-surface: 112, 128, 146;
  --ax-sys-color-on-neutral-darkest-surface: 10, 23, 37;
  --ax-sys-color-border-neutral-darkest-surface: 138, 151, 166;
}
