/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 247, 246, 251;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 23, 22, 39;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 245, 245, 246;
  --ax-sys-color-on-lighter-surface: 46, 46, 46;
  --ax-sys-color-border-lighter-surface: 227, 226, 229;
  --ax-sys-color-light-surface: 238, 238, 240;
  --ax-sys-color-on-light-surface: 46, 45, 47;
  --ax-sys-color-border-light-surface: 220, 219, 223;
  --ax-sys-color-surface: 231, 230, 233;
  --ax-sys-color-on-surface: 46, 45, 47;
  --ax-sys-color-border-surface: 213, 212, 216;
  --ax-sys-color-dark-surface: 224, 223, 226;
  --ax-sys-color-on-dark-surface: 46, 45, 48;
  --ax-sys-color-border-dark-surface: 206, 204, 209;
  --ax-sys-color-darker-surface: 217, 216, 220;
  --ax-sys-color-on-darker-surface: 46, 45, 48;
  --ax-sys-color-border-darker-surface: 199, 197, 203;
  --ax-sys-color-darkest-surface: 207, 206, 211;
  --ax-sys-color-on-darkest-surface: 46, 45, 49;
  --ax-sys-color-border-darkest-surface: 189, 187, 194;
  /* Ranges */
  --ax-sys-color-primary-50: 241, 236, 255;
  --ax-sys-color-primary-100: 225, 216, 255;
  --ax-sys-color-primary-200: 202, 187, 255;
  --ax-sys-color-primary-300: 168, 144, 250;
  --ax-sys-color-primary-400: 124, 99, 201;
  --ax-sys-color-primary-500: 98, 71, 170;
  --ax-sys-color-primary-600: 89, 61, 160;
  --ax-sys-color-primary-700: 79, 49, 147;
  --ax-sys-color-primary-800: 70, 43, 131;
  --ax-sys-color-primary-900: 61, 45, 106;
  --ax-sys-color-primary-950: 42, 32, 74;
  --ax-sys-color-secondary-50: 247, 237, 255;
  --ax-sys-color-secondary-100: 234, 219, 255;
  --ax-sys-color-secondary-200: 218, 193, 255;
  --ax-sys-color-secondary-300: 191, 153, 255;
  --ax-sys-color-secondary-400: 153, 114, 219;
  --ax-sys-color-secondary-500: 129, 90, 192;
  --ax-sys-color-secondary-600: 116, 76, 177;
  --ax-sys-color-secondary-700: 100, 59, 159;
  --ax-sys-color-secondary-800: 86, 49, 138;
  --ax-sys-color-secondary-900: 72, 49, 111;
  --ax-sys-color-secondary-950: 45, 30, 71;
  --ax-sys-color-success-50: 193, 255, 255;
  --ax-sys-color-success-100: 146, 255, 253;
  --ax-sys-color-success-200: 131, 246, 239;
  --ax-sys-color-success-300: 108, 223, 217;
  --ax-sys-color-success-400: 78, 196, 189;
  --ax-sys-color-success-500: 56, 178, 172;
  --ax-sys-color-success-600: 17, 156, 150;
  --ax-sys-color-success-700: 0, 129, 124;
  --ax-sys-color-success-800: 22, 106, 102;
  --ax-sys-color-success-900: 42, 86, 83;
  --ax-sys-color-success-950: 23, 40, 39;
  --ax-sys-color-warning-50: 255, 245, 220;
  --ax-sys-color-warning-100: 255, 237, 203;
  --ax-sys-color-warning-200: 255, 225, 178;
  --ax-sys-color-warning-300: 255, 206, 137;
  --ax-sys-color-warning-400: 255, 185, 97;
  --ax-sys-color-warning-500: 246, 173, 85;
  --ax-sys-color-warning-600: 216, 144, 53;
  --ax-sys-color-warning-700: 179, 111, 0;
  --ax-sys-color-warning-800: 146, 86, 21;
  --ax-sys-color-warning-900: 111, 74, 41;
  --ax-sys-color-warning-950: 43, 28, 18;
  --ax-sys-color-danger-50: 255, 236, 232;
  --ax-sys-color-danger-100: 255, 218, 212;
  --ax-sys-color-danger-200: 255, 192, 184;
  --ax-sys-color-danger-300: 255, 148, 138;
  --ax-sys-color-danger-400: 254, 87, 83;
  --ax-sys-color-danger-500: 229, 62, 62;
  --ax-sys-color-danger-600: 209, 39, 45;
  --ax-sys-color-danger-700: 184, 0, 21;
  --ax-sys-color-danger-800: 155, 22, 18;
  --ax-sys-color-danger-900: 120, 43, 35;
  --ax-sys-color-danger-950: 63, 28, 23;
  --ax-sys-color-accent1-50: 193, 255, 255;
  --ax-sys-color-accent1-100: 146, 255, 253;
  --ax-sys-color-accent1-200: 131, 246, 239;
  --ax-sys-color-accent1-300: 108, 223, 217;
  --ax-sys-color-accent1-400: 78, 196, 189;
  --ax-sys-color-accent1-500: 56, 178, 172;
  --ax-sys-color-accent1-600: 17, 156, 150;
  --ax-sys-color-accent1-700: 0, 129, 124;
  --ax-sys-color-accent1-800: 22, 106, 102;
  --ax-sys-color-accent1-900: 42, 86, 83;
  --ax-sys-color-accent1-950: 23, 40, 39;
  --ax-sys-color-accent2-50: 255, 245, 204;
  --ax-sys-color-accent2-100: 255, 234, 175;
  --ax-sys-color-accent2-200: 255, 218, 132;
  --ax-sys-color-accent2-300: 255, 197, 92;
  --ax-sys-color-accent2-400: 230, 173, 65;
  --ax-sys-color-accent2-500: 214, 158, 46;
  --ax-sys-color-accent2-600: 188, 134, 0;
  --ax-sys-color-accent2-700: 157, 105, 0;
  --ax-sys-color-accent2-800: 126, 86, 19;
  --ax-sys-color-accent2-900: 98, 73, 38;
  --ax-sys-color-accent2-950: 42, 31, 19;
  --ax-sys-color-accent3-50: 226, 247, 255;
  --ax-sys-color-accent3-100: 202, 235, 255;
  --ax-sys-color-accent3-200: 169, 217, 255;
  --ax-sys-color-accent3-300: 111, 189, 255;
  --ax-sys-color-accent3-400: 73, 153, 231;
  --ax-sys-color-accent3-500: 49, 130, 206;
  --ax-sys-color-accent3-600: 29, 114, 188;
  --ax-sys-color-accent3-700: 0, 94, 167;
  --ax-sys-color-accent3-800: 15, 79, 145;
  --ax-sys-color-accent3-900: 34, 69, 115;
  --ax-sys-color-accent3-950: 23, 39, 64;
  --ax-sys-color-neutral-50: 243, 246, 255;
  --ax-sys-color-neutral-100: 233, 236, 255;
  --ax-sys-color-neutral-200: 219, 223, 248;
  --ax-sys-color-neutral-300: 199, 202, 227;
  --ax-sys-color-neutral-400: 173, 176, 201;
  --ax-sys-color-neutral-500: 157, 160, 184;
  --ax-sys-color-neutral-600: 135, 137, 161;
  --ax-sys-color-neutral-700: 108, 111, 133;
  --ax-sys-color-neutral-800: 88, 90, 110;
  --ax-sys-color-neutral-900: 73, 75, 89;
  --ax-sys-color-neutral-950: 32, 33, 42;
  --ax-sys-color-primary-lightest-surface: 225, 216, 255;
  --ax-sys-color-on-primary-lightest-surface: 48, 40, 70;
  --ax-sys-color-border-primary-lightest-surface: 198, 180, 255;
  --ax-sys-color-primary-lighter-surface: 202, 187, 255;
  --ax-sys-color-on-primary-lighter-surface: 50, 33, 88;
  --ax-sys-color-border-primary-lighter-surface: 174, 151, 255;
  --ax-sys-color-primary-light-surface: 168, 144, 250;
  --ax-sys-color-on-primary-light-surface: 53, 12, 113;
  --ax-sys-color-border-primary-light-surface: 141, 110, 248;
  --ax-sys-color-primary-surface: 98, 71, 170;
  --ax-sys-color-on-primary-surface: 253, 251, 255;
  --ax-sys-color-border-primary-surface: 83, 60, 145;
  --ax-sys-color-primary-dark-surface: 89, 61, 160;
  --ax-sys-color-on-primary-dark-surface: 253, 251, 255;
  --ax-sys-color-border-primary-dark-surface: 75, 51, 134;
  --ax-sys-color-primary-darker-surface: 79, 49, 147;
  --ax-sys-color-on-primary-darker-surface: 253, 251, 255;
  --ax-sys-color-border-primary-darker-surface: 65, 40, 120;
  --ax-sys-color-primary-darkest-surface: 70, 43, 131;
  --ax-sys-color-on-primary-darkest-surface: 253, 251, 255;
  --ax-sys-color-border-primary-darkest-surface: 56, 34, 104;
  --ax-sys-color-secondary-lightest-surface: 234, 219, 255;
  --ax-sys-color-on-secondary-lightest-surface: 51, 39, 66;
  --ax-sys-color-border-secondary-lightest-surface: 213, 183, 255;
  --ax-sys-color-secondary-lighter-surface: 218, 193, 255;
  --ax-sys-color-on-secondary-lighter-surface: 55, 32, 82;
  --ax-sys-color-border-secondary-lighter-surface: 197, 157, 255;
  --ax-sys-color-secondary-light-surface: 191, 153, 255;
  --ax-sys-color-on-secondary-light-surface: 60, 10, 106;
  --ax-sys-color-border-secondary-light-surface: 169, 117, 255;
  --ax-sys-color-secondary-surface: 129, 90, 192;
  --ax-sys-color-on-secondary-surface: 255, 250, 255;
  --ax-sys-color-border-secondary-surface: 110, 68, 178;
  --ax-sys-color-secondary-dark-surface: 116, 76, 177;
  --ax-sys-color-on-secondary-dark-surface: 255, 250, 255;
  --ax-sys-color-border-secondary-dark-surface: 100, 65, 152;
  --ax-sys-color-secondary-darker-surface: 100, 59, 159;
  --ax-sys-color-on-secondary-darker-surface: 255, 250, 255;
  --ax-sys-color-border-secondary-darker-surface: 84, 49, 133;
  --ax-sys-color-secondary-darkest-surface: 86, 49, 138;
  --ax-sys-color-on-secondary-darkest-surface: 255, 250, 255;
  --ax-sys-color-border-secondary-darkest-surface: 70, 40, 112;
  --ax-sys-color-success-lightest-surface: 146, 255, 253;
  --ax-sys-color-on-success-lightest-surface: 0, 56, 56;
  --ax-sys-color-border-success-lightest-surface: 110, 255, 252;
  --ax-sys-color-success-lighter-surface: 131, 246, 239;
  --ax-sys-color-on-success-lighter-surface: 0, 56, 54;
  --ax-sys-color-border-success-lighter-surface: 98, 244, 235;
  --ax-sys-color-success-light-surface: 108, 223, 217;
  --ax-sys-color-on-success-light-surface: 0, 56, 54;
  --ax-sys-color-border-success-light-surface: 79, 217, 209;
  --ax-sys-color-success-surface: 56, 178, 172;
  --ax-sys-color-on-success-surface: 223, 255, 255;
  --ax-sys-color-border-success-surface: 47, 151, 146;
  --ax-sys-color-success-dark-surface: 17, 156, 150;
  --ax-sys-color-on-success-dark-surface: 223, 255, 255;
  --ax-sys-color-border-success-dark-surface: 13, 124, 119;
  --ax-sys-color-success-darker-surface: 0, 129, 124;
  --ax-sys-color-on-success-darker-surface: 223, 255, 255;
  --ax-sys-color-border-success-darker-surface: 0, 93, 90;
  --ax-sys-color-success-darkest-surface: 22, 106, 102;
  --ax-sys-color-on-success-darkest-surface: 223, 255, 255;
  --ax-sys-color-border-success-darkest-surface: 16, 76, 74;
  --ax-sys-color-warning-lightest-surface: 255, 237, 203;
  --ax-sys-color-on-warning-lightest-surface: 57, 43, 14;
  --ax-sys-color-border-warning-lightest-surface: 255, 225, 167;
  --ax-sys-color-warning-lighter-surface: 255, 225, 178;
  --ax-sys-color-on-warning-lighter-surface: 64, 41, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 211, 142;
  --ax-sys-color-warning-light-surface: 255, 206, 137;
  --ax-sys-color-on-warning-light-surface: 69, 38, 0;
  --ax-sys-color-border-warning-light-surface: 255, 191, 101;
  --ax-sys-color-warning-surface: 246, 173, 85;
  --ax-sys-color-on-warning-surface: 72, 35, 0;
  --ax-sys-color-border-warning-surface: 244, 157, 51;
  --ax-sys-color-warning-dark-surface: 216, 144, 53;
  --ax-sys-color-on-warning-dark-surface: 255, 250, 229;
  --ax-sys-color-border-warning-dark-surface: 196, 126, 38;
  --ax-sys-color-warning-darker-surface: 179, 111, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 250, 229;
  --ax-sys-color-border-warning-darker-surface: 143, 89, 0;
  --ax-sys-color-warning-darkest-surface: 146, 86, 21;
  --ax-sys-color-on-warning-darkest-surface: 255, 249, 233;
  --ax-sys-color-border-warning-darkest-surface: 115, 68, 17;
  --ax-sys-color-danger-lightest-surface: 255, 218, 212;
  --ax-sys-color-on-danger-lightest-surface: 65, 37, 34;
  --ax-sys-color-border-danger-lightest-surface: 255, 187, 176;
  --ax-sys-color-danger-lighter-surface: 255, 192, 184;
  --ax-sys-color-on-danger-lighter-surface: 76, 28, 25;
  --ax-sys-color-border-danger-lighter-surface: 255, 160, 148;
  --ax-sys-color-danger-light-surface: 255, 148, 138;
  --ax-sys-color-on-danger-light-surface: 95, 0, 2;
  --ax-sys-color-border-danger-light-surface: 255, 115, 102;
  --ax-sys-color-danger-surface: 229, 62, 62;
  --ax-sys-color-on-danger-surface: 255, 248, 245;
  --ax-sys-color-border-danger-surface: 225, 31, 31;
  --ax-sys-color-danger-dark-surface: 209, 39, 45;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 245;
  --ax-sys-color-border-danger-dark-surface: 179, 33, 39;
  --ax-sys-color-danger-darker-surface: 184, 0, 21;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darker-surface: 148, 0, 17;
  --ax-sys-color-danger-darkest-surface: 155, 22, 18;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darkest-surface: 123, 17, 14;
  --ax-sys-color-accent1-lightest-surface: 146, 255, 253;
  --ax-sys-color-on-accent1-lightest-surface: 0, 56, 56;
  --ax-sys-color-border-accent1-lightest-surface: 110, 255, 252;
  --ax-sys-color-accent1-lighter-surface: 131, 246, 239;
  --ax-sys-color-on-accent1-lighter-surface: 0, 56, 54;
  --ax-sys-color-border-accent1-lighter-surface: 98, 244, 235;
  --ax-sys-color-accent1-light-surface: 108, 223, 217;
  --ax-sys-color-on-accent1-light-surface: 0, 56, 54;
  --ax-sys-color-border-accent1-light-surface: 79, 217, 209;
  --ax-sys-color-accent1-surface: 56, 178, 172;
  --ax-sys-color-on-accent1-surface: 223, 255, 255;
  --ax-sys-color-border-accent1-surface: 47, 151, 146;
  --ax-sys-color-accent1-dark-surface: 17, 156, 150;
  --ax-sys-color-on-accent1-dark-surface: 223, 255, 255;
  --ax-sys-color-border-accent1-dark-surface: 13, 124, 119;
  --ax-sys-color-accent1-darker-surface: 0, 129, 124;
  --ax-sys-color-on-accent1-darker-surface: 223, 255, 255;
  --ax-sys-color-border-accent1-darker-surface: 0, 93, 90;
  --ax-sys-color-accent1-darkest-surface: 22, 106, 102;
  --ax-sys-color-on-accent1-darkest-surface: 223, 255, 255;
  --ax-sys-color-border-accent1-darkest-surface: 16, 76, 74;
  --ax-sys-color-accent2-lightest-surface: 255, 234, 175;
  --ax-sys-color-on-accent2-lightest-surface: 61, 43, 0;
  --ax-sys-color-border-accent2-lightest-surface: 255, 225, 139;
  --ax-sys-color-accent2-lighter-surface: 255, 218, 132;
  --ax-sys-color-on-accent2-lighter-surface: 63, 42, 0;
  --ax-sys-color-border-accent2-lighter-surface: 255, 207, 96;
  --ax-sys-color-accent2-light-surface: 255, 197, 92;
  --ax-sys-color-on-accent2-light-surface: 67, 39, 0;
  --ax-sys-color-border-accent2-light-surface: 255, 184, 56;
  --ax-sys-color-accent2-surface: 214, 158, 46;
  --ax-sys-color-on-accent2-surface: 255, 251, 220;
  --ax-sys-color-border-accent2-surface: 188, 137, 37;
  --ax-sys-color-accent2-dark-surface: 188, 134, 0;
  --ax-sys-color-on-accent2-dark-surface: 255, 251, 220;
  --ax-sys-color-border-accent2-dark-surface: 152, 109, 0;
  --ax-sys-color-accent2-darker-surface: 157, 105, 0;
  --ax-sys-color-on-accent2-darker-surface: 255, 250, 225;
  --ax-sys-color-border-accent2-darker-surface: 121, 81, 0;
  --ax-sys-color-accent2-darkest-surface: 126, 86, 19;
  --ax-sys-color-on-accent2-darkest-surface: 255, 250, 225;
  --ax-sys-color-border-accent2-darkest-surface: 95, 65, 14;
  --ax-sys-color-accent3-lightest-surface: 202, 235, 255;
  --ax-sys-color-on-accent3-lightest-surface: 21, 49, 65;
  --ax-sys-color-border-accent3-lightest-surface: 166, 222, 255;
  --ax-sys-color-accent3-lighter-surface: 169, 217, 255;
  --ax-sys-color-on-accent3-lighter-surface: 0, 49, 79;
  --ax-sys-color-border-accent3-lighter-surface: 133, 201, 255;
  --ax-sys-color-accent3-light-surface: 111, 189, 255;
  --ax-sys-color-on-accent3-light-surface: 0, 47, 96;
  --ax-sys-color-border-accent3-light-surface: 75, 173, 255;
  --ax-sys-color-accent3-surface: 49, 130, 206;
  --ax-sys-color-on-accent3-surface: 242, 255, 255;
  --ax-sys-color-border-accent3-surface: 42, 112, 177;
  --ax-sys-color-accent3-dark-surface: 29, 114, 188;
  --ax-sys-color-on-accent3-dark-surface: 242, 255, 255;
  --ax-sys-color-border-accent3-dark-surface: 24, 95, 157;
  --ax-sys-color-accent3-darker-surface: 0, 94, 167;
  --ax-sys-color-on-accent3-darker-surface: 242, 255, 255;
  --ax-sys-color-border-accent3-darker-surface: 0, 74, 131;
  --ax-sys-color-accent3-darkest-surface: 15, 79, 145;
  --ax-sys-color-on-accent3-darkest-surface: 243, 255, 255;
  --ax-sys-color-border-accent3-darkest-surface: 12, 61, 113;
  --ax-sys-color-neutral-lightest-surface: 233, 236, 255;
  --ax-sys-color-on-neutral-lightest-surface: 43, 45, 59;
  --ax-sys-color-border-neutral-lightest-surface: 197, 205, 255;
  --ax-sys-color-neutral-lighter-surface: 219, 223, 248;
  --ax-sys-color-on-neutral-lighter-surface: 42, 44, 63;
  --ax-sys-color-border-neutral-lighter-surface: 189, 196, 242;
  --ax-sys-color-neutral-light-surface: 199, 202, 227;
  --ax-sys-color-on-neutral-light-surface: 42, 44, 63;
  --ax-sys-color-border-neutral-light-surface: 175, 179, 215;
  --ax-sys-color-neutral-surface: 157, 160, 184;
  --ax-sys-color-on-neutral-surface: 42, 44, 63;
  --ax-sys-color-border-neutral-surface: 136, 140, 169;
  --ax-sys-color-neutral-dark-surface: 135, 137, 161;
  --ax-sys-color-on-neutral-dark-surface: 250, 252, 255;
  --ax-sys-color-border-neutral-dark-surface: 115, 117, 145;
  --ax-sys-color-neutral-darker-surface: 108, 111, 133;
  --ax-sys-color-on-neutral-darker-surface: 250, 252, 255;
  --ax-sys-color-border-neutral-darker-surface: 92, 95, 113;
  --ax-sys-color-neutral-darkest-surface: 88, 90, 110;
  --ax-sys-color-on-neutral-darkest-surface: 250, 252, 255;
  --ax-sys-color-border-neutral-darkest-surface: 72, 74, 90;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 247, 246, 251;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 23, 22, 39;
  --ax-sys-color-lightest-surface: 26, 32, 44;
  --ax-sys-color-on-lightest-surface: 246, 254, 255;
  --ax-sys-color-border-lightest-surface: 43, 53, 73;
  --ax-sys-color-lighter-surface: 23, 28, 40;
  --ax-sys-color-on-lighter-surface: 247, 253, 255;
  --ax-sys-color-border-lighter-surface: 40, 48, 69;
  --ax-sys-color-light-surface: 21, 25, 38;
  --ax-sys-color-on-light-surface: 248, 253, 255;
  --ax-sys-color-border-light-surface: 38, 44, 67;
  --ax-sys-color-surface: 20, 22, 35;
  --ax-sys-color-on-surface: 249, 252, 255;
  --ax-sys-color-border-surface: 36, 40, 64;
  --ax-sys-color-dark-surface: 18, 18, 32;
  --ax-sys-color-on-dark-surface: 250, 252, 255;
  --ax-sys-color-border-dark-surface: 34, 35, 62;
  --ax-sys-color-darker-surface: 16, 15, 30;
  --ax-sys-color-on-darker-surface: 251, 252, 255;
  --ax-sys-color-border-darker-surface: 32, 31, 60;
  --ax-sys-color-darkest-surface: 13, 11, 26;
  --ax-sys-color-on-darkest-surface: 252, 251, 255;
  --ax-sys-color-border-darkest-surface: 29, 25, 58;
  /* Ranges */
  --ax-sys-color-primary-50: 243, 238, 255;
  --ax-sys-color-primary-100: 231, 224, 255;
  --ax-sys-color-primary-200: 207, 194, 255;
  --ax-sys-color-primary-300: 185, 163, 255;
  --ax-sys-color-primary-400: 163, 139, 245;
  --ax-sys-color-primary-500: 140, 116, 219;
  --ax-sys-color-primary-600: 119, 93, 194;
  --ax-sys-color-primary-700: 98, 71, 170;
  --ax-sys-color-primary-800: 91, 63, 162;
  --ax-sys-color-primary-900: 84, 56, 153;
  --ax-sys-color-primary-950: 81, 52, 149;
  --ax-sys-color-secondary-50: 248, 239, 255;
  --ax-sys-color-secondary-100: 239, 226, 255;
  --ax-sys-color-secondary-200: 222, 200, 255;
  --ax-sys-color-secondary-300: 205, 172, 255;
  --ax-sys-color-secondary-400: 187, 149, 255;
  --ax-sys-color-secondary-500: 167, 129, 235;
  --ax-sys-color-secondary-600: 148, 109, 213;
  --ax-sys-color-secondary-700: 129, 90, 192;
  --ax-sys-color-secondary-800: 118, 79, 180;
  --ax-sys-color-secondary-900: 108, 68, 168;
  --ax-sys-color-secondary-950: 103, 62, 162;
  --ax-sys-color-success-50: 197, 255, 255;
  --ax-sys-color-success-100: 158, 255, 255;
  --ax-sys-color-success-200: 135, 249, 242;
  --ax-sys-color-success-300: 120, 235, 228;
  --ax-sys-color-success-400: 105, 220, 214;
  --ax-sys-color-success-500: 89, 206, 200;
  --ax-sys-color-success-600: 73, 192, 186;
  --ax-sys-color-success-700: 56, 178, 172;
  --ax-sys-color-success-800: 28, 160, 154;
  --ax-sys-color-success-900: 0, 143, 137;
  --ax-sys-color-success-950: 0, 134, 129;
  --ax-sys-color-warning-50: 255, 246, 221;
  --ax-sys-color-warning-100: 255, 240, 209;
  --ax-sys-color-warning-200: 255, 228, 185;
  --ax-sys-color-warning-300: 255, 216, 158;
  --ax-sys-color-warning-400: 255, 203, 130;
  --ax-sys-color-warning-500: 255, 191, 104;
  --ax-sys-color-warning-600: 255, 182, 95;
  --ax-sys-color-warning-700: 246, 173, 85;
  --ax-sys-color-warning-800: 222, 150, 60;
  --ax-sys-color-warning-900: 198, 128, 30;
  --ax-sys-color-warning-950: 186, 117, 6;
  --ax-sys-color-danger-50: 255, 237, 234;
  --ax-sys-color-danger-100: 255, 225, 220;
  --ax-sys-color-danger-200: 255, 199, 191;
  --ax-sys-color-danger-300: 255, 171, 162;
  --ax-sys-color-danger-400: 255, 141, 132;
  --ax-sys-color-danger-500: 255, 105, 99;
  --ax-sys-color-danger-600: 249, 82, 79;
  --ax-sys-color-danger-700: 229, 62, 62;
  --ax-sys-color-danger-800: 213, 44, 48;
  --ax-sys-color-danger-900: 197, 20, 34;
  --ax-sys-color-danger-950: 189, 0, 26;
  --ax-sys-color-accent1-50: 197, 255, 255;
  --ax-sys-color-accent1-100: 158, 255, 255;
  --ax-sys-color-accent1-200: 135, 249, 242;
  --ax-sys-color-accent1-300: 120, 235, 228;
  --ax-sys-color-accent1-400: 105, 220, 214;
  --ax-sys-color-accent1-500: 89, 206, 200;
  --ax-sys-color-accent1-600: 73, 192, 186;
  --ax-sys-color-accent1-700: 56, 178, 172;
  --ax-sys-color-accent1-800: 28, 160, 154;
  --ax-sys-color-accent1-900: 0, 143, 137;
  --ax-sys-color-accent1-950: 0, 134, 129;
  --ax-sys-color-accent2-50: 255, 245, 206;
  --ax-sys-color-accent2-100: 255, 238, 186;
  --ax-sys-color-accent2-200: 255, 222, 143;
  --ax-sys-color-accent2-300: 255, 207, 102;
  --ax-sys-color-accent2-400: 252, 194, 89;
  --ax-sys-color-accent2-500: 239, 182, 76;
  --ax-sys-color-accent2-600: 227, 170, 62;
  --ax-sys-color-accent2-700: 214, 158, 46;
  --ax-sys-color-accent2-800: 194, 139, 8;
  --ax-sys-color-accent2-900: 174, 120, 0;
  --ax-sys-color-accent2-950: 164, 110, 0;
  --ax-sys-color-accent3-50: 228, 248, 255;
  --ax-sys-color-accent3-100: 211, 239, 255;
  --ax-sys-color-accent3-200: 177, 222, 255;
  --ax-sys-color-accent3-300: 141, 204, 255;
  --ax-sys-color-accent3-400: 106, 185, 255;
  --ax-sys-color-accent3-500: 87, 166, 245;
  --ax-sys-color-accent3-600: 68, 148, 225;
  --ax-sys-color-accent3-700: 49, 130, 206;
  --ax-sys-color-accent3-800: 33, 117, 192;
  --ax-sys-color-accent3-900: 14, 104, 178;
  --ax-sys-color-accent3-950: 0, 98, 171;
  --ax-sys-color-neutral-50: 244, 247, 255;
  --ax-sys-color-neutral-100: 236, 239, 255;
  --ax-sys-color-neutral-200: 223, 226, 251;
  --ax-sys-color-neutral-300: 209, 212, 238;
  --ax-sys-color-neutral-400: 196, 199, 224;
  --ax-sys-color-neutral-500: 183, 186, 211;
  --ax-sys-color-neutral-600: 170, 173, 197;
  --ax-sys-color-neutral-700: 157, 160, 184;
  --ax-sys-color-neutral-800: 139, 142, 166;
  --ax-sys-color-neutral-900: 122, 125, 147;
  --ax-sys-color-neutral-950: 113, 116, 139;
  --ax-sys-color-primary-lightest-surface: 231, 224, 255;
  --ax-sys-color-on-primary-lightest-surface: 24, 18, 39;
  --ax-sys-color-border-primary-lightest-surface: 267, 270, 255;
  --ax-sys-color-primary-lighter-surface: 207, 194, 255;
  --ax-sys-color-on-primary-lighter-surface: 26, 9, 56;
  --ax-sys-color-border-primary-lighter-surface: 243, 240, 255;
  --ax-sys-color-primary-light-surface: 185, 163, 255;
  --ax-sys-color-on-primary-light-surface: 30, 0, 73;
  --ax-sys-color-border-primary-light-surface: 220, 209, 255;
  --ax-sys-color-primary-surface: 140, 116, 219;
  --ax-sys-color-on-primary-surface: 29, 0, 75;
  --ax-sys-color-border-primary-surface: 170, 152, 228;
  --ax-sys-color-primary-dark-surface: 119, 93, 194;
  --ax-sys-color-on-primary-dark-surface: 29, 0, 75;
  --ax-sys-color-border-primary-dark-surface: 147, 126, 207;
  --ax-sys-color-primary-darker-surface: 98, 71, 170;
  --ax-sys-color-on-primary-darker-surface: 253, 251, 255;
  --ax-sys-color-border-primary-darker-surface: 123, 98, 189;
  --ax-sys-color-primary-darkest-surface: 91, 63, 162;
  --ax-sys-color-on-primary-darkest-surface: 253, 251, 255;
  --ax-sys-color-border-primary-darkest-surface: 113, 83, 188;
  --ax-sys-color-secondary-lightest-surface: 239, 226, 255;
  --ax-sys-color-on-secondary-lightest-surface: 27, 17, 37;
  --ax-sys-color-border-secondary-lightest-surface: 264, 272, 255;
  --ax-sys-color-secondary-lighter-surface: 222, 200, 255;
  --ax-sys-color-on-secondary-lighter-surface: 30, 9, 50;
  --ax-sys-color-border-secondary-lighter-surface: 250, 246, 255;
  --ax-sys-color-secondary-light-surface: 205, 172, 255;
  --ax-sys-color-on-secondary-light-surface: 34, 0, 65;
  --ax-sys-color-border-secondary-light-surface: 233, 218, 255;
  --ax-sys-color-secondary-surface: 167, 129, 235;
  --ax-sys-color-on-secondary-surface: 33, 0, 71;
  --ax-sys-color-border-secondary-surface: 195, 169, 241;
  --ax-sys-color-secondary-dark-surface: 148, 109, 213;
  --ax-sys-color-on-secondary-dark-surface: 33, 0, 70;
  --ax-sys-color-border-secondary-dark-surface: 174, 145, 223;
  --ax-sys-color-secondary-darker-surface: 129, 90, 192;
  --ax-sys-color-on-secondary-darker-surface: 33, 0, 70;
  --ax-sys-color-border-secondary-darker-surface: 154, 123, 205;
  --ax-sys-color-secondary-darkest-surface: 118, 79, 180;
  --ax-sys-color-on-secondary-darkest-surface: 255, 250, 255;
  --ax-sys-color-border-secondary-darkest-surface: 143, 111, 194;
  --ax-sys-color-success-lightest-surface: 158, 255, 255;
  --ax-sys-color-on-success-lightest-surface: 0, 29, 30;
  --ax-sys-color-border-success-lightest-surface: 204, 255, 255;
  --ax-sys-color-success-lighter-surface: 135, 249, 242;
  --ax-sys-color-on-success-lighter-surface: 0, 29, 28;
  --ax-sys-color-border-success-lighter-surface: 179, 251, 247;
  --ax-sys-color-success-light-surface: 120, 235, 228;
  --ax-sys-color-on-success-light-surface: 0, 29, 27;
  --ax-sys-color-border-success-light-surface: 160, 241, 236;
  --ax-sys-color-success-surface: 89, 206, 200;
  --ax-sys-color-on-success-surface: 0, 29, 28;
  --ax-sys-color-border-success-surface: 124, 216, 212;
  --ax-sys-color-success-dark-surface: 73, 192, 186;
  --ax-sys-color-on-success-dark-surface: 0, 29, 28;
  --ax-sys-color-border-success-dark-surface: 107, 204, 199;
  --ax-sys-color-success-darker-surface: 56, 178, 172;
  --ax-sys-color-on-success-darker-surface: 0, 29, 28;
  --ax-sys-color-border-success-darker-surface: 80, 200, 194;
  --ax-sys-color-success-darkest-surface: 28, 160, 154;
  --ax-sys-color-on-success-darkest-surface: 0, 29, 27;
  --ax-sys-color-border-success-darkest-surface: 35, 199, 192;
  --ax-sys-color-warning-lightest-surface: 255, 240, 209;
  --ax-sys-color-on-warning-lightest-surface: 31, 20, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 255, 255;
  --ax-sys-color-warning-lighter-surface: 255, 228, 185;
  --ax-sys-color-on-warning-lighter-surface: 36, 17, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 246, 231;
  --ax-sys-color-warning-light-surface: 255, 216, 158;
  --ax-sys-color-on-warning-light-surface: 37, 17, 0;
  --ax-sys-color-border-warning-light-surface: 255, 234, 204;
  --ax-sys-color-warning-surface: 255, 191, 104;
  --ax-sys-color-on-warning-surface: 38, 16, 0;
  --ax-sys-color-border-warning-surface: 255, 210, 150;
  --ax-sys-color-warning-dark-surface: 255, 182, 95;
  --ax-sys-color-on-warning-dark-surface: 40, 14, 0;
  --ax-sys-color-border-warning-dark-surface: 255, 203, 141;
  --ax-sys-color-warning-darker-surface: 246, 173, 85;
  --ax-sys-color-on-warning-darker-surface: 40, 14, 0;
  --ax-sys-color-border-warning-darker-surface: 248, 194, 129;
  --ax-sys-color-warning-darkest-surface: 222, 150, 60;
  --ax-sys-color-on-warning-darkest-surface: 40, 14, 0;
  --ax-sys-color-border-warning-darkest-surface: 229, 171, 99;
  --ax-sys-color-danger-lightest-surface: 255, 225, 220;
  --ax-sys-color-on-danger-lightest-surface: 35, 16, 13;
  --ax-sys-color-border-danger-lightest-surface: 255, 264, 266;
  --ax-sys-color-danger-lighter-surface: 255, 199, 191;
  --ax-sys-color-on-danger-lighter-surface: 45, 6, 5;
  --ax-sys-color-border-danger-lighter-surface: 255, 239, 237;
  --ax-sys-color-danger-light-surface: 255, 171, 162;
  --ax-sys-color-on-danger-light-surface: 56, 0, 0;
  --ax-sys-color-border-danger-light-surface: 255, 212, 208;
  --ax-sys-color-danger-surface: 255, 105, 99;
  --ax-sys-color-on-danger-surface: 56, 0, 0;
  --ax-sys-color-border-danger-surface: 255, 149, 145;
  --ax-sys-color-danger-dark-surface: 249, 82, 79;
  --ax-sys-color-on-danger-dark-surface: 56, 0, 0;
  --ax-sys-color-border-danger-dark-surface: 251, 126, 123;
  --ax-sys-color-danger-darker-surface: 229, 62, 62;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darker-surface: 234, 102, 102;
  --ax-sys-color-danger-darkest-surface: 213, 44, 48;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darkest-surface: 221, 82, 86;
  --ax-sys-color-accent1-lightest-surface: 158, 255, 255;
  --ax-sys-color-on-accent1-lightest-surface: 0, 29, 30;
  --ax-sys-color-border-accent1-lightest-surface: 204, 255, 255;
  --ax-sys-color-accent1-lighter-surface: 135, 249, 242;
  --ax-sys-color-on-accent1-lighter-surface: 0, 29, 28;
  --ax-sys-color-border-accent1-lighter-surface: 179, 251, 247;
  --ax-sys-color-accent1-light-surface: 120, 235, 228;
  --ax-sys-color-on-accent1-light-surface: 0, 29, 27;
  --ax-sys-color-border-accent1-light-surface: 160, 241, 236;
  --ax-sys-color-accent1-surface: 89, 206, 200;
  --ax-sys-color-on-accent1-surface: 0, 29, 28;
  --ax-sys-color-border-accent1-surface: 124, 216, 212;
  --ax-sys-color-accent1-dark-surface: 73, 192, 186;
  --ax-sys-color-on-accent1-dark-surface: 0, 29, 28;
  --ax-sys-color-border-accent1-dark-surface: 107, 204, 199;
  --ax-sys-color-accent1-darker-surface: 56, 178, 172;
  --ax-sys-color-on-accent1-darker-surface: 0, 29, 28;
  --ax-sys-color-border-accent1-darker-surface: 80, 200, 194;
  --ax-sys-color-accent1-darkest-surface: 28, 160, 154;
  --ax-sys-color-on-accent1-darkest-surface: 0, 29, 27;
  --ax-sys-color-border-accent1-darkest-surface: 35, 199, 192;
  --ax-sys-color-accent2-lightest-surface: 255, 238, 186;
  --ax-sys-color-on-accent2-lightest-surface: 32, 20, 0;
  --ax-sys-color-border-accent2-lightest-surface: 255, 249, 232;
  --ax-sys-color-accent2-lighter-surface: 255, 222, 143;
  --ax-sys-color-on-accent2-lighter-surface: 33, 19, 0;
  --ax-sys-color-border-accent2-lighter-surface: 255, 236, 189;
  --ax-sys-color-accent2-light-surface: 255, 207, 102;
  --ax-sys-color-on-accent2-light-surface: 34, 19, 0;
  --ax-sys-color-border-accent2-light-surface: 255, 221, 148;
  --ax-sys-color-accent2-surface: 239, 182, 76;
  --ax-sys-color-on-accent2-surface: 36, 17, 0;
  --ax-sys-color-border-accent2-surface: 243, 199, 118;
  --ax-sys-color-accent2-dark-surface: 227, 170, 62;
  --ax-sys-color-on-accent2-dark-surface: 36, 17, 0;
  --ax-sys-color-border-accent2-dark-surface: 233, 188, 102;
  --ax-sys-color-accent2-darker-surface: 214, 158, 46;
  --ax-sys-color-on-accent2-darker-surface: 36, 17, 0;
  --ax-sys-color-border-accent2-darker-surface: 222, 176, 84;
  --ax-sys-color-accent2-darkest-surface: 194, 139, 8;
  --ax-sys-color-on-accent2-darkest-surface: 36, 17, 0;
  --ax-sys-color-border-accent2-darkest-surface: 238, 171, 10;
  --ax-sys-color-accent3-lightest-surface: 211, 239, 255;
  --ax-sys-color-on-accent3-lightest-surface: 3, 25, 36;
  --ax-sys-color-border-accent3-lightest-surface: 257, 256, 255;
  --ax-sys-color-accent3-lighter-surface: 177, 222, 255;
  --ax-sys-color-on-accent3-lighter-surface: 0, 24, 48;
  --ax-sys-color-border-accent3-lighter-surface: 223, 241, 255;
  --ax-sys-color-accent3-light-surface: 141, 204, 255;
  --ax-sys-color-on-accent3-light-surface: 0, 23, 55;
  --ax-sys-color-border-accent3-light-surface: 187, 225, 255;
  --ax-sys-color-accent3-surface: 87, 166, 245;
  --ax-sys-color-on-accent3-surface: 0, 19, 63;
  --ax-sys-color-border-accent3-surface: 130, 189, 248;
  --ax-sys-color-accent3-dark-surface: 68, 148, 225;
  --ax-sys-color-on-accent3-dark-surface: 0, 20, 62;
  --ax-sys-color-border-accent3-dark-surface: 108, 171, 231;
  --ax-sys-color-accent3-darker-surface: 49, 130, 206;
  --ax-sys-color-on-accent3-darker-surface: 0, 20, 63;
  --ax-sys-color-border-accent3-darker-surface: 86, 152, 215;
  --ax-sys-color-accent3-darkest-surface: 33, 117, 192;
  --ax-sys-color-on-accent3-darkest-surface: 0, 20, 63;
  --ax-sys-color-border-accent3-darkest-surface: 51, 140, 220;
  --ax-sys-color-neutral-lightest-surface: 236, 239, 255;
  --ax-sys-color-on-neutral-lightest-surface: 19, 21, 32;
  --ax-sys-color-border-neutral-lightest-surface: 282, 278, 255;
  --ax-sys-color-neutral-lighter-surface: 223, 226, 251;
  --ax-sys-color-on-neutral-lighter-surface: 19, 20, 37;
  --ax-sys-color-border-neutral-lighter-surface: 264, 263, 256;
  --ax-sys-color-neutral-light-surface: 209, 212, 238;
  --ax-sys-color-on-neutral-light-surface: 19, 20, 38;
  --ax-sys-color-border-neutral-light-surface: 243, 243, 250;
  --ax-sys-color-neutral-surface: 183, 186, 211;
  --ax-sys-color-on-neutral-surface: 19, 20, 38;
  --ax-sys-color-border-neutral-surface: 211, 213, 228;
  --ax-sys-color-neutral-dark-surface: 170, 173, 197;
  --ax-sys-color-on-neutral-dark-surface: 19, 20, 37;
  --ax-sys-color-border-neutral-dark-surface: 197, 199, 216;
  --ax-sys-color-neutral-darker-surface: 157, 160, 184;
  --ax-sys-color-on-neutral-darker-surface: 19, 20, 38;
  --ax-sys-color-border-neutral-darker-surface: 184, 186, 203;
  --ax-sys-color-neutral-darkest-surface: 139, 142, 166;
  --ax-sys-color-on-neutral-darkest-surface: 19, 20, 38;
  --ax-sys-color-border-neutral-darkest-surface: 165, 167, 186;
}
