/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 243, 245, 246;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 33, 36, 39;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 245, 245, 245;
  --ax-sys-color-on-lighter-surface: 45, 46, 46;
  --ax-sys-color-border-lighter-surface: 226, 227, 228;
  --ax-sys-color-light-surface: 237, 238, 238;
  --ax-sys-color-on-light-surface: 45, 46, 46;
  --ax-sys-color-border-light-surface: 218, 220, 221;
  --ax-sys-color-surface: 229, 230, 231;
  --ax-sys-color-on-surface: 45, 46, 46;
  --ax-sys-color-border-surface: 211, 212, 213;
  --ax-sys-color-dark-surface: 221, 223, 223;
  --ax-sys-color-on-dark-surface: 45, 46, 47;
  --ax-sys-color-border-dark-surface: 203, 205, 206;
  --ax-sys-color-darker-surface: 214, 215, 216;
  --ax-sys-color-on-darker-surface: 45, 46, 47;
  --ax-sys-color-border-darker-surface: 195, 198, 199;
  --ax-sys-color-darkest-surface: 203, 205, 207;
  --ax-sys-color-on-darkest-surface: 44, 46, 47;
  --ax-sys-color-border-darkest-surface: 185, 188, 189;
  /* Ranges */
  --ax-sys-color-primary-50: 206, 243, 255;
  --ax-sys-color-primary-100: 178, 222, 252;
  --ax-sys-color-primary-200: 149, 192, 221;
  --ax-sys-color-primary-300: 105, 146, 174;
  --ax-sys-color-primary-400: 51, 92, 117;
  --ax-sys-color-primary-500: 17, 59, 83;
  --ax-sys-color-primary-600: 15, 57, 81;
  --ax-sys-color-primary-700: 12, 55, 79;
  --ax-sys-color-primary-800: 16, 53, 75;
  --ax-sys-color-primary-900: 27, 51, 67;
  --ax-sys-color-primary-950: 30, 47, 59;
  --ax-sys-color-secondary-50: 223, 245, 255;
  --ax-sys-color-secondary-100: 194, 230, 255;
  --ax-sys-color-secondary-200: 153, 209, 255;
  --ax-sys-color-secondary-300: 100, 175, 252;
  --ax-sys-color-secondary-400: 57, 133, 206;
  --ax-sys-color-secondary-500: 26, 106, 177;
  --ax-sys-color-secondary-600: 5, 94, 164;
  --ax-sys-color-secondary-700: 0, 80, 149;
  --ax-sys-color-secondary-800: 12, 70, 132;
  --ax-sys-color-secondary-900: 30, 63, 107;
  --ax-sys-color-secondary-950: 24, 41, 68;
  --ax-sys-color-success-50: 199, 255, 224;
  --ax-sys-color-success-100: 154, 255, 199;
  --ax-sys-color-success-200: 136, 240, 182;
  --ax-sys-color-success-300: 108, 212, 156;
  --ax-sys-color-success-400: 71, 178, 123;
  --ax-sys-color-success-500: 45, 156, 103;
  --ax-sys-color-success-600: 14, 138, 87;
  --ax-sys-color-success-700: 0, 117, 67;
  --ax-sys-color-success-800: 19, 99, 55;
  --ax-sys-color-success-900: 39, 82, 53;
  --ax-sys-color-success-950: 25, 44, 29;
  --ax-sys-color-warning-50: 255, 245, 212;
  --ax-sys-color-warning-100: 255, 235, 189;
  --ax-sys-color-warning-200: 255, 221, 154;
  --ax-sys-color-warning-300: 255, 197, 90;
  --ax-sys-color-warning-400: 248, 174, 51;
  --ax-sys-color-warning-500: 233, 160, 27;
  --ax-sys-color-warning-600: 205, 134, 0;
  --ax-sys-color-warning-700: 168, 105, 0;
  --ax-sys-color-warning-800: 134, 85, 20;
  --ax-sys-color-warning-900: 103, 73, 39;
  --ax-sys-color-warning-950: 43, 30, 19;
  --ax-sys-color-danger-50: 255, 233, 226;
  --ax-sys-color-danger-100: 255, 212, 201;
  --ax-sys-color-danger-200: 255, 180, 164;
  --ax-sys-color-danger-300: 255, 123, 100;
  --ax-sys-color-danger-400: 222, 77, 57;
  --ax-sys-color-danger-500: 192, 47, 29;
  --ax-sys-color-danger-600: 177, 29, 11;
  --ax-sys-color-danger-700: 159, 0, 0;
  --ax-sys-color-danger-800: 140, 19, 12;
  --ax-sys-color-danger-900: 111, 39, 31;
  --ax-sys-color-danger-950: 67, 30, 25;
  --ax-sys-color-accent1-50: 255, 241, 240;
  --ax-sys-color-accent1-100: 255, 231, 230;
  --ax-sys-color-accent1-200: 255, 217, 216;
  --ax-sys-color-accent1-300: 249, 200, 199;
  --ax-sys-color-accent1-400: 228, 180, 179;
  --ax-sys-color-accent1-500: 214, 167, 166;
  --ax-sys-color-accent1-600: 186, 141, 140;
  --ax-sys-color-accent1-700: 154, 110, 109;
  --ax-sys-color-accent1-800: 125, 87, 87;
  --ax-sys-color-accent1-900: 99, 72, 72;
  --ax-sys-color-accent1-950: 44, 27, 27;
  --ax-sys-color-accent2-50: 255, 240, 228;
  --ax-sys-color-accent2-100: 253, 228, 216;
  --ax-sys-color-accent2-200: 237, 212, 200;
  --ax-sys-color-accent2-300: 211, 187, 175;
  --ax-sys-color-accent2-400: 180, 156, 145;
  --ax-sys-color-accent2-500: 160, 137, 126;
  --ax-sys-color-accent2-600: 141, 118, 108;
  --ax-sys-color-accent2-700: 118, 96, 86;
  --ax-sys-color-accent2-800: 99, 79, 70;
  --ax-sys-color-accent2-900: 81, 68, 61;
  --ax-sys-color-accent2-950: 42, 33, 29;
  --ax-sys-color-accent3-50: 223, 255, 251;
  --ax-sys-color-accent3-100: 209, 255, 247;
  --ax-sys-color-accent3-200: 186, 255, 241;
  --ax-sys-color-accent3-300: 155, 255, 233;
  --ax-sys-color-accent3-400: 145, 250, 223;
  --ax-sys-color-accent3-500: 139, 244, 217;
  --ax-sys-color-accent3-600: 103, 208, 183;
  --ax-sys-color-accent3-700: 56, 166, 142;
  --ax-sys-color-accent3-800: 30, 132, 111;
  --ax-sys-color-accent3-900: 52, 103, 89;
  --ax-sys-color-accent3-950: 19, 34, 29;
  --ax-sys-color-neutral-50: 234, 247, 255;
  --ax-sys-color-neutral-100: 222, 235, 246;
  --ax-sys-color-neutral-200: 205, 218, 229;
  --ax-sys-color-neutral-300: 178, 191, 202;
  --ax-sys-color-neutral-400: 146, 158, 169;
  --ax-sys-color-neutral-500: 126, 138, 148;
  --ax-sys-color-neutral-600: 109, 121, 130;
  --ax-sys-color-neutral-700: 88, 100, 109;
  --ax-sys-color-neutral-800: 73, 83, 92;
  --ax-sys-color-neutral-900: 63, 70, 76;
  --ax-sys-color-neutral-950: 32, 37, 41;
  --ax-sys-color-primary-lightest-surface: 178, 222, 252;
  --ax-sys-color-on-primary-lightest-surface: 6, 50, 73;
  --ax-sys-color-border-primary-lightest-surface: 144, 207, 251;
  --ax-sys-color-primary-lighter-surface: 149, 192, 221;
  --ax-sys-color-on-primary-lighter-surface: 6, 50, 73;
  --ax-sys-color-border-primary-lighter-surface: 122, 176, 212;
  --ax-sys-color-primary-light-surface: 105, 146, 174;
  --ax-sys-color-on-primary-light-surface: 237, 255, 255;
  --ax-sys-color-border-primary-light-surface: 85, 128, 158;
  --ax-sys-color-primary-surface: 17, 59, 83;
  --ax-sys-color-on-primary-surface: 237, 255, 255;
  --ax-sys-color-border-primary-surface: 11, 38, 53;
  --ax-sys-color-primary-dark-surface: 15, 57, 81;
  --ax-sys-color-on-primary-dark-surface: 237, 255, 255;
  --ax-sys-color-border-primary-dark-surface: 9, 36, 51;
  --ax-sys-color-primary-darker-surface: 12, 55, 79;
  --ax-sys-color-on-primary-darker-surface: 237, 255, 255;
  --ax-sys-color-border-primary-darker-surface: 7, 33, 48;
  --ax-sys-color-primary-darkest-surface: 16, 53, 75;
  --ax-sys-color-on-primary-darkest-surface: 237, 255, 255;
  --ax-sys-color-border-primary-darkest-surface: 10, 32, 46;
  --ax-sys-color-secondary-lightest-surface: 194, 230, 255;
  --ax-sys-color-on-secondary-lightest-surface: 17, 49, 68;
  --ax-sys-color-border-secondary-lightest-surface: 158, 215, 255;
  --ax-sys-color-secondary-lighter-surface: 153, 209, 255;
  --ax-sys-color-on-secondary-lighter-surface: 0, 48, 85;
  --ax-sys-color-border-secondary-lighter-surface: 117, 193, 255;
  --ax-sys-color-secondary-light-surface: 100, 175, 252;
  --ax-sys-color-on-secondary-light-surface: 0, 44, 105;
  --ax-sys-color-border-secondary-light-surface: 65, 157, 251;
  --ax-sys-color-secondary-surface: 26, 106, 177;
  --ax-sys-color-on-secondary-surface: 242, 255, 255;
  --ax-sys-color-border-secondary-surface: 21, 87, 146;
  --ax-sys-color-secondary-dark-surface: 5, 94, 164;
  --ax-sys-color-on-secondary-dark-surface: 242, 255, 255;
  --ax-sys-color-border-secondary-dark-surface: 4, 74, 129;
  --ax-sys-color-secondary-darker-surface: 0, 80, 149;
  --ax-sys-color-on-secondary-darker-surface: 243, 255, 255;
  --ax-sys-color-border-secondary-darker-surface: 0, 61, 113;
  --ax-sys-color-secondary-darkest-surface: 12, 70, 132;
  --ax-sys-color-on-secondary-darkest-surface: 243, 255, 255;
  --ax-sys-color-border-secondary-darkest-surface: 9, 53, 99;
  --ax-sys-color-success-lightest-surface: 154, 255, 199;
  --ax-sys-color-on-success-lightest-surface: 0, 59, 26;
  --ax-sys-color-border-success-lightest-surface: 118, 255, 179;
  --ax-sys-color-success-lighter-surface: 136, 240, 182;
  --ax-sys-color-on-success-lighter-surface: 0, 59, 25;
  --ax-sys-color-border-success-lighter-surface: 104, 236, 163;
  --ax-sys-color-success-light-surface: 108, 212, 156;
  --ax-sys-color-on-success-light-surface: 0, 59, 26;
  --ax-sys-color-border-success-light-surface: 80, 204, 137;
  --ax-sys-color-success-surface: 45, 156, 103;
  --ax-sys-color-on-success-surface: 231, 255, 243;
  --ax-sys-color-border-success-surface: 37, 128, 85;
  --ax-sys-color-success-dark-surface: 14, 138, 87;
  --ax-sys-color-on-success-dark-surface: 231, 255, 243;
  --ax-sys-color-border-success-dark-surface: 11, 106, 67;
  --ax-sys-color-success-darker-surface: 0, 117, 67;
  --ax-sys-color-on-success-darker-surface: 232, 255, 242;
  --ax-sys-color-border-success-darker-surface: 0, 81, 47;
  --ax-sys-color-success-darkest-surface: 19, 99, 55;
  --ax-sys-color-on-success-darkest-surface: 232, 255, 240;
  --ax-sys-color-border-success-darkest-surface: 13, 69, 38;
  --ax-sys-color-warning-lightest-surface: 255, 235, 189;
  --ax-sys-color-on-warning-lightest-surface: 59, 43, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 224, 153;
  --ax-sys-color-warning-lighter-surface: 255, 221, 154;
  --ax-sys-color-on-warning-lighter-surface: 65, 41, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 209, 118;
  --ax-sys-color-warning-light-surface: 255, 197, 90;
  --ax-sys-color-on-warning-light-surface: 66, 40, 0;
  --ax-sys-color-border-warning-light-surface: 255, 184, 54;
  --ax-sys-color-warning-surface: 233, 160, 27;
  --ax-sys-color-on-warning-surface: 255, 250, 225;
  --ax-sys-color-border-warning-surface: 205, 139, 20;
  --ax-sys-color-warning-dark-surface: 205, 134, 0;
  --ax-sys-color-on-warning-dark-surface: 255, 250, 227;
  --ax-sys-color-border-warning-dark-surface: 169, 111, 0;
  --ax-sys-color-warning-darker-surface: 168, 105, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 250, 229;
  --ax-sys-color-border-warning-darker-surface: 132, 83, 0;
  --ax-sys-color-warning-darkest-surface: 134, 85, 20;
  --ax-sys-color-on-warning-darkest-surface: 255, 250, 229;
  --ax-sys-color-border-warning-darkest-surface: 103, 65, 15;
  --ax-sys-color-danger-lightest-surface: 255, 212, 201;
  --ax-sys-color-on-danger-lightest-surface: 68, 36, 28;
  --ax-sys-color-border-danger-lightest-surface: 255, 184, 165;
  --ax-sys-color-danger-lighter-surface: 255, 180, 164;
  --ax-sys-color-on-danger-lighter-surface: 82, 23, 12;
  --ax-sys-color-border-danger-lighter-surface: 255, 151, 128;
  --ax-sys-color-danger-light-surface: 255, 123, 100;
  --ax-sys-color-on-danger-light-surface: 255, 248, 243;
  --ax-sys-color-border-danger-light-surface: 255, 93, 64;
  --ax-sys-color-danger-surface: 192, 47, 29;
  --ax-sys-color-on-danger-surface: 255, 248, 244;
  --ax-sys-color-border-danger-surface: 161, 39, 24;
  --ax-sys-color-danger-dark-surface: 177, 29, 11;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 244;
  --ax-sys-color-border-danger-dark-surface: 143, 23, 9;
  --ax-sys-color-danger-darker-surface: 159, 0, 0;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darker-surface: 123, 0, 0;
  --ax-sys-color-danger-darkest-surface: 140, 19, 12;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darkest-surface: 107, 15, 9;
  --ax-sys-color-accent1-lightest-surface: 255, 231, 230;
  --ax-sys-color-on-accent1-lightest-surface: 58, 41, 40;
  --ax-sys-color-border-accent1-lightest-surface: 255, 197, 194;
  --ax-sys-color-accent1-lighter-surface: 255, 217, 216;
  --ax-sys-color-on-accent1-lighter-surface: 65, 37, 37;
  --ax-sys-color-border-accent1-lighter-surface: 255, 182, 180;
  --ax-sys-color-accent1-light-surface: 249, 200, 199;
  --ax-sys-color-on-accent1-light-surface: 70, 33, 34;
  --ax-sys-color-border-accent1-light-surface: 246, 168, 167;
  --ax-sys-color-accent1-surface: 214, 167, 166;
  --ax-sys-color-on-accent1-surface: 70, 33, 34;
  --ax-sys-color-border-accent1-surface: 203, 143, 142;
  --ax-sys-color-accent1-dark-surface: 186, 141, 140;
  --ax-sys-color-on-accent1-dark-surface: 255, 247, 247;
  --ax-sys-color-border-accent1-dark-surface: 173, 119, 118;
  --ax-sys-color-accent1-darker-surface: 154, 110, 109;
  --ax-sys-color-on-accent1-darker-surface: 255, 247, 247;
  --ax-sys-color-border-accent1-darker-surface: 134, 94, 93;
  --ax-sys-color-accent1-darkest-surface: 125, 87, 87;
  --ax-sys-color-on-accent1-darkest-surface: 255, 247, 247;
  --ax-sys-color-border-accent1-darkest-surface: 104, 72, 72;
  --ax-sys-color-accent2-lightest-surface: 253, 228, 216;
  --ax-sys-color-on-accent2-lightest-surface: 59, 41, 32;
  --ax-sys-color-border-accent2-lightest-surface: 251, 204, 182;
  --ax-sys-color-accent2-lighter-surface: 237, 212, 200;
  --ax-sys-color-on-accent2-lighter-surface: 60, 41, 32;
  --ax-sys-color-border-accent2-lighter-surface: 228, 191, 173;
  --ax-sys-color-accent2-light-surface: 211, 187, 175;
  --ax-sys-color-on-accent2-light-surface: 59, 41, 32;
  --ax-sys-color-border-accent2-light-surface: 198, 167, 152;
  --ax-sys-color-accent2-surface: 160, 137, 126;
  --ax-sys-color-on-accent2-surface: 255, 249, 239;
  --ax-sys-color-border-accent2-surface: 144, 118, 106;
  --ax-sys-color-accent2-dark-surface: 141, 118, 108;
  --ax-sys-color-on-accent2-dark-surface: 255, 248, 239;
  --ax-sys-color-border-accent2-dark-surface: 121, 101, 93;
  --ax-sys-color-accent2-darker-surface: 118, 96, 86;
  --ax-sys-color-on-accent2-darker-surface: 255, 249, 239;
  --ax-sys-color-border-accent2-darker-surface: 97, 79, 71;
  --ax-sys-color-accent2-darkest-surface: 99, 79, 70;
  --ax-sys-color-on-accent2-darkest-surface: 255, 249, 239;
  --ax-sys-color-border-accent2-darkest-surface: 78, 62, 55;
  --ax-sys-color-accent3-lightest-surface: 209, 255, 247;
  --ax-sys-color-on-accent3-lightest-surface: 8, 54, 48;
  --ax-sys-color-border-accent3-lightest-surface: 173, 255, 241;
  --ax-sys-color-accent3-lighter-surface: 186, 255, 241;
  --ax-sys-color-on-accent3-lighter-surface: 0, 57, 48;
  --ax-sys-color-border-accent3-lighter-surface: 150, 255, 234;
  --ax-sys-color-accent3-light-surface: 155, 255, 233;
  --ax-sys-color-on-accent3-light-surface: 0, 57, 46;
  --ax-sys-color-border-accent3-light-surface: 119, 255, 225;
  --ax-sys-color-accent3-surface: 139, 244, 217;
  --ax-sys-color-on-accent3-surface: 0, 58, 44;
  --ax-sys-color-border-accent3-surface: 106, 241, 206;
  --ax-sys-color-accent3-dark-surface: 103, 208, 183;
  --ax-sys-color-on-accent3-dark-surface: 0, 58, 44;
  --ax-sys-color-border-accent3-dark-surface: 76, 200, 170;
  --ax-sys-color-accent3-darker-surface: 56, 166, 142;
  --ax-sys-color-on-accent3-darker-surface: 228, 255, 252;
  --ax-sys-color-border-accent3-darker-surface: 47, 139, 119;
  --ax-sys-color-accent3-darkest-surface: 30, 132, 111;
  --ax-sys-color-on-accent3-darkest-surface: 228, 255, 252;
  --ax-sys-color-border-accent3-darkest-surface: 23, 103, 87;
  --ax-sys-color-neutral-lightest-surface: 222, 235, 246;
  --ax-sys-color-on-neutral-lightest-surface: 37, 47, 55;
  --ax-sys-color-border-neutral-lightest-surface: 194, 218, 238;
  --ax-sys-color-neutral-lighter-surface: 205, 218, 229;
  --ax-sys-color-on-neutral-lighter-surface: 37, 47, 56;
  --ax-sys-color-border-neutral-lighter-surface: 182, 201, 217;
  --ax-sys-color-neutral-light-surface: 178, 191, 202;
  --ax-sys-color-on-neutral-light-surface: 37, 47, 56;
  --ax-sys-color-border-neutral-light-surface: 157, 173, 187;
  --ax-sys-color-neutral-surface: 126, 138, 148;
  --ax-sys-color-on-neutral-surface: 242, 255, 255;
  --ax-sys-color-border-neutral-surface: 108, 120, 130;
  --ax-sys-color-neutral-dark-surface: 109, 121, 130;
  --ax-sys-color-on-neutral-dark-surface: 242, 255, 255;
  --ax-sys-color-border-neutral-dark-surface: 93, 103, 111;
  --ax-sys-color-neutral-darker-surface: 88, 100, 109;
  --ax-sys-color-on-neutral-darker-surface: 242, 255, 255;
  --ax-sys-color-border-neutral-darker-surface: 72, 82, 89;
  --ax-sys-color-neutral-darkest-surface: 73, 83, 92;
  --ax-sys-color-on-neutral-darkest-surface: 243, 255, 255;
  --ax-sys-color-border-neutral-darkest-surface: 57, 65, 72;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 243, 245, 246;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 33, 36, 39;
  --ax-sys-color-lightest-surface: 42, 45, 48;
  --ax-sys-color-on-lightest-surface: 250, 254, 255;
  --ax-sys-color-border-lightest-surface: 63, 68, 72;
  --ax-sys-color-lighter-surface: 38, 41, 44;
  --ax-sys-color-on-lighter-surface: 250, 254, 255;
  --ax-sys-color-border-lighter-surface: 60, 64, 69;
  --ax-sys-color-light-surface: 36, 38, 41;
  --ax-sys-color-on-light-surface: 250, 254, 255;
  --ax-sys-color-border-light-surface: 57, 61, 66;
  --ax-sys-color-surface: 33, 36, 38;
  --ax-sys-color-on-surface: 250, 254, 255;
  --ax-sys-color-border-surface: 54, 58, 63;
  --ax-sys-color-dark-surface: 30, 33, 35;
  --ax-sys-color-on-dark-surface: 251, 254, 255;
  --ax-sys-color-border-dark-surface: 52, 56, 60;
  --ax-sys-color-darker-surface: 28, 30, 32;
  --ax-sys-color-on-darker-surface: 251, 254, 255;
  --ax-sys-color-border-darker-surface: 49, 53, 57;
  --ax-sys-color-darkest-surface: 24, 26, 28;
  --ax-sys-color-on-darkest-surface: 251, 254, 255;
  --ax-sys-color-border-darkest-surface: 45, 49, 53;
  /* Ranges */
  --ax-sys-color-primary-50: 209, 245, 255;
  --ax-sys-color-primary-100: 186, 231, 255;
  --ax-sys-color-primary-200: 156, 200, 229;
  --ax-sys-color-primary-300: 127, 169, 198;
  --ax-sys-color-primary-400: 98, 140, 168;
  --ax-sys-color-primary-500: 71, 112, 138;
  --ax-sys-color-primary-600: 44, 85, 110;
  --ax-sys-color-primary-700: 17, 59, 83;
  --ax-sys-color-primary-800: 15, 58, 82;
  --ax-sys-color-primary-900: 14, 56, 80;
  --ax-sys-color-primary-950: 13, 56, 79;
  --ax-sys-color-secondary-50: 225, 246, 255;
  --ax-sys-color-secondary-100: 205, 236, 255;
  --ax-sys-color-secondary-200: 163, 215, 255;
  --ax-sys-color-secondary-300: 119, 193, 255;
  --ax-sys-color-secondary-400: 96, 170, 246;
  --ax-sys-color-secondary-500: 74, 148, 223;
  --ax-sys-color-secondary-600: 51, 127, 200;
  --ax-sys-color-secondary-700: 26, 106, 177;
  --ax-sys-color-secondary-800: 11, 97, 167;
  --ax-sys-color-secondary-900: 0, 88, 157;
  --ax-sys-color-secondary-950: 0, 83, 152;
  --ax-sys-color-success-50: 203, 255, 227;
  --ax-sys-color-success-100: 163, 255, 205;
  --ax-sys-color-success-200: 141, 245, 186;
  --ax-sys-color-success-300: 122, 226, 169;
  --ax-sys-color-success-400: 104, 208, 152;
  --ax-sys-color-success-500: 85, 191, 135;
  --ax-sys-color-success-600: 66, 173, 119;
  --ax-sys-color-success-700: 45, 156, 103;
  --ax-sys-color-success-800: 23, 142, 90;
  --ax-sys-color-success-900: 0, 128, 77;
  --ax-sys-color-success-950: 0, 121, 71;
  --ax-sys-color-warning-50: 255, 245, 213;
  --ax-sys-color-warning-100: 255, 238, 197;
  --ax-sys-color-warning-200: 255, 224, 163;
  --ax-sys-color-warning-300: 255, 209, 126;
  --ax-sys-color-warning-400: 255, 194, 78;
  --ax-sys-color-warning-500: 255, 182, 62;
  --ax-sys-color-warning-600: 245, 171, 46;
  --ax-sys-color-warning-700: 233, 160, 27;
  --ax-sys-color-warning-800: 211, 139, 0;
  --ax-sys-color-warning-900: 189, 120, 0;
  --ax-sys-color-warning-950: 176, 111, 0;
  --ax-sys-color-danger-50: 255, 235, 228;
  --ax-sys-color-danger-100: 255, 220, 210;
  --ax-sys-color-danger-200: 255, 188, 173;
  --ax-sys-color-danger-300: 255, 154, 134;
  --ax-sys-color-danger-400: 255, 115, 93;
  --ax-sys-color-danger-500: 240, 93, 72;
  --ax-sys-color-danger-600: 216, 71, 51;
  --ax-sys-color-danger-700: 192, 47, 29;
  --ax-sys-color-danger-800: 180, 33, 15;
  --ax-sys-color-danger-900: 169, 16, 0;
  --ax-sys-color-danger-950: 163, 2, 0;
  --ax-sys-color-accent1-50: 255, 242, 241;
  --ax-sys-color-accent1-100: 255, 235, 234;
  --ax-sys-color-accent1-200: 255, 219, 218;
  --ax-sys-color-accent1-300: 255, 209, 208;
  --ax-sys-color-accent1-400: 247, 198, 197;
  --ax-sys-color-accent1-500: 236, 188, 187;
  --ax-sys-color-accent1-600: 225, 177, 176;
  --ax-sys-color-accent1-700: 214, 167, 166;
  --ax-sys-color-accent1-800: 192, 146, 145;
  --ax-sys-color-accent1-900: 170, 126, 125;
  --ax-sys-color-accent1-950: 160, 116, 115;
  --ax-sys-color-accent2-50: 255, 241, 229;
  --ax-sys-color-accent2-100: 255, 232, 220;
  --ax-sys-color-accent2-200: 241, 216, 204;
  --ax-sys-color-accent2-300: 224, 200, 188;
  --ax-sys-color-accent2-400: 208, 184, 172;
  --ax-sys-color-accent2-500: 192, 168, 156;
  --ax-sys-color-accent2-600: 176, 152, 141;
  --ax-sys-color-accent2-700: 160, 137, 126;
  --ax-sys-color-accent2-800: 145, 122, 111;
  --ax-sys-color-accent2-900: 130, 108, 97;
  --ax-sys-color-accent2-950: 122, 101, 90;
  --ax-sys-color-accent3-50: 224, 255, 251;
  --ax-sys-color-accent3-100: 214, 255, 248;
  --ax-sys-color-accent3-200: 192, 255, 243;
  --ax-sys-color-accent3-300: 167, 255, 237;
  --ax-sys-color-accent3-400: 154, 255, 232;
  --ax-sys-color-accent3-500: 149, 254, 227;
  --ax-sys-color-accent3-600: 144, 249, 222;
  --ax-sys-color-accent3-700: 139, 244, 217;
  --ax-sys-color-accent3-800: 110, 216, 190;
  --ax-sys-color-accent3-900: 81, 188, 163;
  --ax-sys-color-accent3-950: 65, 174, 150;
  --ax-sys-color-neutral-50: 235, 248, 255;
  --ax-sys-color-neutral-100: 226, 239, 250;
  --ax-sys-color-neutral-200: 209, 222, 233;
  --ax-sys-color-neutral-300: 192, 204, 215;
  --ax-sys-color-neutral-400: 175, 187, 198;
  --ax-sys-color-neutral-500: 158, 171, 181;
  --ax-sys-color-neutral-600: 142, 154, 164;
  --ax-sys-color-neutral-700: 126, 138, 148;
  --ax-sys-color-neutral-800: 112, 124, 134;
  --ax-sys-color-neutral-900: 99, 110, 120;
  --ax-sys-color-neutral-950: 92, 104, 113;
  --ax-sys-color-primary-lightest-surface: 186, 231, 255;
  --ax-sys-color-on-primary-lightest-surface: 0, 25, 43;
  --ax-sys-color-border-primary-lightest-surface: 232, 247, 255;
  --ax-sys-color-primary-lighter-surface: 156, 200, 229;
  --ax-sys-color-on-primary-lighter-surface: 0, 25, 46;
  --ax-sys-color-border-primary-lighter-surface: 192, 220, 239;
  --ax-sys-color-primary-light-surface: 127, 169, 198;
  --ax-sys-color-on-primary-light-surface: 0, 24, 47;
  --ax-sys-color-border-primary-light-surface: 159, 190, 212;
  --ax-sys-color-primary-surface: 71, 112, 138;
  --ax-sys-color-on-primary-surface: 237, 255, 255;
  --ax-sys-color-border-primary-surface: 87, 137, 168;
  --ax-sys-color-primary-dark-surface: 44, 85, 110;
  --ax-sys-color-on-primary-dark-surface: 237, 255, 255;
  --ax-sys-color-border-primary-dark-surface: 57, 110, 143;
  --ax-sys-color-primary-darker-surface: 17, 59, 83;
  --ax-sys-color-on-primary-darker-surface: 237, 255, 255;
  --ax-sys-color-border-primary-darker-surface: 25, 86, 121;
  --ax-sys-color-primary-darkest-surface: 15, 58, 82;
  --ax-sys-color-on-primary-darkest-surface: 237, 255, 255;
  --ax-sys-color-border-primary-darkest-surface: 22, 85, 121;
  --ax-sys-color-secondary-lightest-surface: 205, 236, 255;
  --ax-sys-color-on-secondary-lightest-surface: 0, 25, 38;
  --ax-sys-color-border-secondary-lightest-surface: 251, 253, 255;
  --ax-sys-color-secondary-lighter-surface: 163, 215, 255;
  --ax-sys-color-on-secondary-lighter-surface: 0, 23, 53;
  --ax-sys-color-border-secondary-lighter-surface: 209, 235, 255;
  --ax-sys-color-secondary-light-surface: 119, 193, 255;
  --ax-sys-color-on-secondary-light-surface: 0, 22, 56;
  --ax-sys-color-border-secondary-light-surface: 165, 214, 255;
  --ax-sys-color-secondary-surface: 74, 148, 223;
  --ax-sys-color-on-secondary-surface: 0, 19, 64;
  --ax-sys-color-border-secondary-surface: 113, 171, 230;
  --ax-sys-color-secondary-dark-surface: 51, 127, 200;
  --ax-sys-color-on-secondary-dark-surface: 0, 19, 63;
  --ax-sys-color-border-secondary-dark-surface: 85, 150, 212;
  --ax-sys-color-secondary-darker-surface: 26, 106, 177;
  --ax-sys-color-on-secondary-darker-surface: 242, 255, 255;
  --ax-sys-color-border-secondary-darker-surface: 32, 130, 217;
  --ax-sys-color-secondary-darkest-surface: 11, 97, 167;
  --ax-sys-color-on-secondary-darkest-surface: 242, 255, 255;
  --ax-sys-color-border-secondary-darkest-surface: 14, 122, 210;
  --ax-sys-color-success-lightest-surface: 163, 255, 205;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 9;
  --ax-sys-color-border-success-lightest-surface: 209, 255, 230;
  --ax-sys-color-success-lighter-surface: 141, 245, 186;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 7;
  --ax-sys-color-border-success-lighter-surface: 183, 249, 212;
  --ax-sys-color-success-light-surface: 122, 226, 169;
  --ax-sys-color-on-success-light-surface: 0, 31, 8;
  --ax-sys-color-border-success-light-surface: 160, 234, 193;
  --ax-sys-color-success-surface: 85, 191, 135;
  --ax-sys-color-on-success-surface: 0, 31, 7;
  --ax-sys-color-border-success-surface: 118, 204, 159;
  --ax-sys-color-success-dark-surface: 66, 173, 119;
  --ax-sys-color-on-success-dark-surface: 0, 31, 8;
  --ax-sys-color-border-success-dark-surface: 92, 193, 142;
  --ax-sys-color-success-darker-surface: 45, 156, 103;
  --ax-sys-color-on-success-darker-surface: 0, 31, 8;
  --ax-sys-color-border-success-darker-surface: 55, 192, 127;
  --ax-sys-color-success-darkest-surface: 23, 142, 90;
  --ax-sys-color-on-success-darkest-surface: 231, 255, 243;
  --ax-sys-color-border-success-darkest-surface: 29, 182, 115;
  --ax-sys-color-warning-lightest-surface: 255, 238, 197;
  --ax-sys-color-on-warning-lightest-surface: 32, 20, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 251, 243;
  --ax-sys-color-warning-lighter-surface: 255, 224, 163;
  --ax-sys-color-on-warning-lighter-surface: 34, 18, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 239, 209;
  --ax-sys-color-warning-light-surface: 255, 209, 126;
  --ax-sys-color-on-warning-light-surface: 35, 18, 0;
  --ax-sys-color-border-warning-light-surface: 255, 225, 172;
  --ax-sys-color-warning-surface: 255, 182, 62;
  --ax-sys-color-on-warning-surface: 37, 16, 0;
  --ax-sys-color-border-warning-surface: 255, 199, 108;
  --ax-sys-color-warning-dark-surface: 245, 171, 46;
  --ax-sys-color-on-warning-dark-surface: 38, 16, 0;
  --ax-sys-color-border-warning-dark-surface: 247, 189, 90;
  --ax-sys-color-warning-darker-surface: 233, 160, 27;
  --ax-sys-color-on-warning-darker-surface: 38, 16, 0;
  --ax-sys-color-border-warning-darker-surface: 237, 177, 69;
  --ax-sys-color-warning-darkest-surface: 211, 139, 0;
  --ax-sys-color-on-warning-darkest-surface: 38, 16, 0;
  --ax-sys-color-border-warning-darkest-surface: 255, 169, 2;
  --ax-sys-color-danger-lightest-surface: 255, 220, 210;
  --ax-sys-color-on-danger-lightest-surface: 38, 14, 8;
  --ax-sys-color-border-danger-lightest-surface: 255, 256, 256;
  --ax-sys-color-danger-lighter-surface: 255, 188, 173;
  --ax-sys-color-on-danger-lighter-surface: 50, 1, 0;
  --ax-sys-color-border-danger-lighter-surface: 255, 226, 219;
  --ax-sys-color-danger-light-surface: 255, 154, 134;
  --ax-sys-color-on-danger-light-surface: 56, 0, 0;
  --ax-sys-color-border-danger-light-surface: 255, 192, 180;
  --ax-sys-color-danger-surface: 240, 93, 72;
  --ax-sys-color-on-danger-surface: 56, 0, 0;
  --ax-sys-color-border-danger-surface: 243, 131, 114;
  --ax-sys-color-danger-dark-surface: 216, 71, 51;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 244;
  --ax-sys-color-border-danger-dark-surface: 223, 106, 90;
  --ax-sys-color-danger-darker-surface: 192, 47, 29;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darker-surface: 223, 64, 44;
  --ax-sys-color-danger-darkest-surface: 180, 33, 15;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darkest-surface: 222, 41, 19;
  --ax-sys-color-accent1-lightest-surface: 255, 235, 234;
  --ax-sys-color-on-accent1-lightest-surface: 31, 18, 18;
  --ax-sys-color-border-accent1-lightest-surface: 255, 279, 280;
  --ax-sys-color-accent1-lighter-surface: 255, 219, 218;
  --ax-sys-color-on-accent1-lighter-surface: 37, 14, 14;
  --ax-sys-color-border-accent1-lighter-surface: 255, 264, 264;
  --ax-sys-color-accent1-light-surface: 255, 209, 208;
  --ax-sys-color-on-accent1-light-surface: 41, 10, 12;
  --ax-sys-color-border-accent1-light-surface: 255, 254, 254;
  --ax-sys-color-accent1-surface: 236, 188, 187;
  --ax-sys-color-on-accent1-surface: 42, 9, 11;
  --ax-sys-color-border-accent1-surface: 246, 223, 223;
  --ax-sys-color-accent1-dark-surface: 225, 177, 176;
  --ax-sys-color-on-accent1-dark-surface: 43, 9, 11;
  --ax-sys-color-border-accent1-dark-surface: 238, 210, 209;
  --ax-sys-color-accent1-darker-surface: 214, 167, 166;
  --ax-sys-color-on-accent1-darker-surface: 42, 9, 11;
  --ax-sys-color-border-accent1-darker-surface: 228, 198, 197;
  --ax-sys-color-accent1-darkest-surface: 192, 146, 145;
  --ax-sys-color-on-accent1-darkest-surface: 43, 9, 11;
  --ax-sys-color-border-accent1-darkest-surface: 209, 175, 174;
  --ax-sys-color-accent2-lightest-surface: 255, 232, 220;
  --ax-sys-color-on-accent2-lightest-surface: 33, 18, 9;
  --ax-sys-color-border-accent2-lightest-surface: 255, 262, 266;
  --ax-sys-color-accent2-lighter-surface: 241, 216, 204;
  --ax-sys-color-on-accent2-lighter-surface: 34, 17, 9;
  --ax-sys-color-border-accent2-lighter-surface: 251, 244, 240;
  --ax-sys-color-accent2-light-surface: 224, 200, 188;
  --ax-sys-color-on-accent2-light-surface: 34, 17, 9;
  --ax-sys-color-border-accent2-light-surface: 239, 226, 219;
  --ax-sys-color-accent2-surface: 192, 168, 156;
  --ax-sys-color-on-accent2-surface: 34, 17, 8;
  --ax-sys-color-border-accent2-surface: 210, 193, 184;
  --ax-sys-color-accent2-dark-surface: 176, 152, 141;
  --ax-sys-color-on-accent2-dark-surface: 34, 17, 9;
  --ax-sys-color-border-accent2-dark-surface: 195, 176, 168;
  --ax-sys-color-accent2-darker-surface: 160, 137, 126;
  --ax-sys-color-on-accent2-darker-surface: 34, 17, 9;
  --ax-sys-color-border-accent2-darker-surface: 179, 161, 152;
  --ax-sys-color-accent2-darkest-surface: 145, 122, 111;
  --ax-sys-color-on-accent2-darkest-surface: 255, 249, 239;
  --ax-sys-color-border-accent2-darkest-surface: 165, 146, 137;
  --ax-sys-color-accent3-lightest-surface: 214, 255, 248;
  --ax-sys-color-on-accent3-lightest-surface: 0, 28, 24;
  --ax-sys-color-border-accent3-lightest-surface: 260, 255, 256;
  --ax-sys-color-accent3-lighter-surface: 192, 255, 243;
  --ax-sys-color-on-accent3-lighter-surface: 0, 30, 24;
  --ax-sys-color-border-accent3-lighter-surface: 238, 255, 252;
  --ax-sys-color-accent3-light-surface: 167, 255, 237;
  --ax-sys-color-on-accent3-light-surface: 0, 30, 23;
  --ax-sys-color-border-accent3-light-surface: 213, 255, 246;
  --ax-sys-color-accent3-surface: 149, 254, 227;
  --ax-sys-color-on-accent3-surface: 0, 30, 21;
  --ax-sys-color-border-accent3-surface: 194, 254, 239;
  --ax-sys-color-accent3-dark-surface: 144, 249, 222;
  --ax-sys-color-on-accent3-dark-surface: 0, 30, 21;
  --ax-sys-color-border-accent3-dark-surface: 188, 251, 235;
  --ax-sys-color-accent3-darker-surface: 139, 244, 217;
  --ax-sys-color-on-accent3-darker-surface: 0, 30, 21;
  --ax-sys-color-border-accent3-darker-surface: 181, 248, 231;
  --ax-sys-color-accent3-darkest-surface: 110, 216, 190;
  --ax-sys-color-on-accent3-darkest-surface: 0, 30, 21;
  --ax-sys-color-border-accent3-darkest-surface: 146, 226, 206;
  --ax-sys-color-neutral-lightest-surface: 226, 239, 250;
  --ax-sys-color-on-neutral-lightest-surface: 14, 23, 31;
  --ax-sys-color-border-neutral-lightest-surface: 265, 261, 257;
  --ax-sys-color-neutral-lighter-surface: 209, 222, 233;
  --ax-sys-color-on-neutral-lighter-surface: 14, 23, 31;
  --ax-sys-color-border-neutral-lighter-surface: 240, 244, 248;
  --ax-sys-color-neutral-light-surface: 192, 204, 215;
  --ax-sys-color-on-neutral-light-surface: 14, 23, 31;
  --ax-sys-color-border-neutral-light-surface: 220, 227, 233;
  --ax-sys-color-neutral-surface: 158, 171, 181;
  --ax-sys-color-on-neutral-surface: 13, 23, 31;
  --ax-sys-color-border-neutral-surface: 184, 194, 201;
  --ax-sys-color-neutral-dark-surface: 142, 154, 164;
  --ax-sys-color-on-neutral-dark-surface: 14, 23, 31;
  --ax-sys-color-border-neutral-dark-surface: 167, 177, 184;
  --ax-sys-color-neutral-darker-surface: 126, 138, 148;
  --ax-sys-color-on-neutral-darker-surface: 14, 23, 31;
  --ax-sys-color-border-neutral-darker-surface: 151, 161, 169;
  --ax-sys-color-neutral-darkest-surface: 112, 124, 134;
  --ax-sys-color-on-neutral-darkest-surface: 14, 23, 31;
  --ax-sys-color-border-neutral-darkest-surface: 136, 147, 156;
}
