/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 252, 248, 242;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 34, 22, 18;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 247, 246, 244;
  --ax-sys-color-on-lighter-surface: 46, 46, 45;
  --ax-sys-color-border-lighter-surface: 231, 228, 225;
  --ax-sys-color-light-surface: 240, 239, 237;
  --ax-sys-color-on-light-surface: 47, 46, 44;
  --ax-sys-color-border-light-surface: 224, 221, 217;
  --ax-sys-color-surface: 234, 232, 229;
  --ax-sys-color-on-surface: 47, 46, 43;
  --ax-sys-color-border-surface: 218, 214, 209;
  --ax-sys-color-dark-surface: 227, 225, 221;
  --ax-sys-color-on-dark-surface: 47, 45, 42;
  --ax-sys-color-border-dark-surface: 211, 207, 201;
  --ax-sys-color-darker-surface: 221, 218, 213;
  --ax-sys-color-on-darker-surface: 48, 45, 42;
  --ax-sys-color-border-darker-surface: 205, 200, 193;
  --ax-sys-color-darkest-surface: 213, 208, 202;
  --ax-sys-color-on-darkest-surface: 48, 45, 41;
  --ax-sys-color-border-darkest-surface: 197, 191, 183;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 240, 213;
  --ax-sys-color-primary-100: 255, 225, 184;
  --ax-sys-color-primary-200: 255, 204, 142;
  --ax-sys-color-primary-300: 255, 172, 79;
  --ax-sys-color-primary-400: 225, 141, 42;
  --ax-sys-color-primary-500: 204, 122, 0;
  --ax-sys-color-primary-600: 183, 103, 0;
  --ax-sys-color-primary-700: 154, 82, 0;
  --ax-sys-color-primary-800: 126, 69, 16;
  --ax-sys-color-primary-900: 99, 62, 35;
  --ax-sys-color-primary-950: 49, 31, 21;
  --ax-sys-color-secondary-50: 255, 244, 218;
  --ax-sys-color-secondary-100: 255, 233, 197;
  --ax-sys-color-secondary-200: 255, 219, 168;
  --ax-sys-color-secondary-300: 250, 201, 151;
  --ax-sys-color-secondary-400: 227, 179, 130;
  --ax-sys-color-secondary-500: 212, 165, 116;
  --ax-sys-color-secondary-600: 185, 140, 91;
  --ax-sys-color-secondary-700: 154, 110, 62;
  --ax-sys-color-secondary-800: 126, 87, 44;
  --ax-sys-color-secondary-900: 100, 73, 44;
  --ax-sys-color-secondary-950: 45, 29, 19;
  --ax-sys-color-success-50: 212, 255, 216;
  --ax-sys-color-success-100: 173, 255, 183;
  --ax-sys-color-success-200: 159, 247, 169;
  --ax-sys-color-success-300: 137, 224, 148;
  --ax-sys-color-success-400: 109, 196, 121;
  --ax-sys-color-success-500: 91, 178, 104;
  --ax-sys-color-success-600: 68, 156, 83;
  --ax-sys-color-success-700: 38, 129, 58;
  --ax-sys-color-success-800: 22, 107, 43;
  --ax-sys-color-success-900: 41, 87, 44;
  --ax-sys-color-success-950: 23, 42, 21;
  --ax-sys-color-warning-50: 255, 246, 210;
  --ax-sys-color-warning-100: 255, 238, 189;
  --ax-sys-color-warning-200: 255, 225, 157;
  --ax-sys-color-warning-300: 255, 207, 116;
  --ax-sys-color-warning-400: 243, 188, 97;
  --ax-sys-color-warning-500: 230, 176, 84;
  --ax-sys-color-warning-600: 201, 148, 53;
  --ax-sys-color-warning-700: 166, 115, 0;
  --ax-sys-color-warning-800: 136, 91, 21;
  --ax-sys-color-warning-900: 104, 76, 41;
  --ax-sys-color-warning-950: 41, 29, 18;
  --ax-sys-color-danger-50: 255, 234, 229;
  --ax-sys-color-danger-100: 255, 214, 206;
  --ax-sys-color-danger-200: 255, 184, 174;
  --ax-sys-color-danger-300: 255, 132, 119;
  --ax-sys-color-danger-400: 224, 92, 81;
  --ax-sys-color-danger-500: 196, 66, 58;
  --ax-sys-color-danger-600: 180, 50, 44;
  --ax-sys-color-danger-700: 160, 28, 27;
  --ax-sys-color-danger-800: 139, 19, 19;
  --ax-sys-color-danger-900: 113, 40, 32;
  --ax-sys-color-danger-950: 66, 29, 24;
  --ax-sys-color-accent1-50: 255, 233, 212;
  --ax-sys-color-accent1-100: 255, 209, 175;
  --ax-sys-color-accent1-200: 255, 178, 132;
  --ax-sys-color-accent1-300: 219, 142, 96;
  --ax-sys-color-accent1-400: 170, 97, 51;
  --ax-sys-color-accent1-500: 139, 69, 19;
  --ax-sys-color-accent1-600: 129, 60, 5;
  --ax-sys-color-accent1-700: 118, 49, 0;
  --ax-sys-color-accent1-800: 105, 44, 10;
  --ax-sys-color-accent1-900: 88, 45, 27;
  --ax-sys-color-accent1-950: 60, 33, 24;
  --ax-sys-color-accent2-50: 224, 248, 255;
  --ax-sys-color-accent2-100: 198, 235, 255;
  --ax-sys-color-accent2-200: 161, 218, 255;
  --ax-sys-color-accent2-300: 128, 189, 242;
  --ax-sys-color-accent2-400: 92, 153, 204;
  --ax-sys-color-accent2-500: 70, 130, 180;
  --ax-sys-color-accent2-600: 54, 114, 163;
  --ax-sys-color-accent2-700: 34, 96, 144;
  --ax-sys-color-accent2-800: 25, 81, 124;
  --ax-sys-color-accent2-900: 34, 70, 100;
  --ax-sys-color-accent2-950: 24, 40, 61;
  --ax-sys-color-accent3-50: 226, 253, 188;
  --ax-sys-color-accent3-100: 210, 236, 172;
  --ax-sys-color-accent3-200: 187, 213, 149;
  --ax-sys-color-accent3-300: 153, 177, 115;
  --ax-sys-color-accent3-400: 111, 134, 73;
  --ax-sys-color-accent3-500: 85, 107, 47;
  --ax-sys-color-accent3-600: 75, 97, 37;
  --ax-sys-color-accent3-700: 64, 85, 23;
  --ax-sys-color-accent3-800: 56, 74, 19;
  --ax-sys-color-accent3-900: 52, 65, 29;
  --ax-sys-color-accent3-950: 35, 44, 24;
  --ax-sys-color-neutral-50: 255, 243, 215;
  --ax-sys-color-neutral-100: 255, 233, 205;
  --ax-sys-color-neutral-200: 245, 220, 192;
  --ax-sys-color-neutral-300: 224, 199, 172;
  --ax-sys-color-neutral-400: 198, 173, 147;
  --ax-sys-color-neutral-500: 181, 157, 131;
  --ax-sys-color-neutral-600: 158, 135, 109;
  --ax-sys-color-neutral-700: 130, 108, 83;
  --ax-sys-color-neutral-800: 107, 87, 65;
  --ax-sys-color-neutral-900: 87, 73, 58;
  --ax-sys-color-neutral-950: 41, 32, 22;
  --ax-sys-color-primary-lightest-surface: 255, 225, 184;
  --ax-sys-color-on-primary-lightest-surface: 64, 40, 0;
  --ax-sys-color-border-primary-lightest-surface: 255, 210, 148;
  --ax-sys-color-primary-lighter-surface: 255, 204, 142;
  --ax-sys-color-on-primary-lighter-surface: 71, 36, 0;
  --ax-sys-color-border-primary-lighter-surface: 255, 188, 106;
  --ax-sys-color-primary-light-surface: 255, 172, 79;
  --ax-sys-color-on-primary-light-surface: 74, 34, 0;
  --ax-sys-color-border-primary-light-surface: 255, 155, 43;
  --ax-sys-color-primary-surface: 204, 122, 0;
  --ax-sys-color-on-primary-surface: 255, 250, 231;
  --ax-sys-color-border-primary-surface: 168, 101, 0;
  --ax-sys-color-primary-dark-surface: 183, 103, 0;
  --ax-sys-color-on-primary-dark-surface: 255, 249, 233;
  --ax-sys-color-border-primary-dark-surface: 147, 83, 0;
  --ax-sys-color-primary-darker-surface: 154, 82, 0;
  --ax-sys-color-on-primary-darker-surface: 255, 249, 234;
  --ax-sys-color-border-primary-darker-surface: 118, 63, 0;
  --ax-sys-color-primary-darkest-surface: 126, 69, 16;
  --ax-sys-color-on-primary-darkest-surface: 255, 249, 235;
  --ax-sys-color-border-primary-darkest-surface: 94, 52, 12;
  --ax-sys-color-secondary-lightest-surface: 255, 233, 197;
  --ax-sys-color-on-secondary-lightest-surface: 60, 43, 10;
  --ax-sys-color-border-secondary-lightest-surface: 255, 219, 161;
  --ax-sys-color-secondary-lighter-surface: 255, 219, 168;
  --ax-sys-color-on-secondary-lighter-surface: 67, 39, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 204, 132;
  --ax-sys-color-secondary-light-surface: 250, 201, 151;
  --ax-sys-color-on-secondary-light-surface: 73, 34, 0;
  --ax-sys-color-border-secondary-light-surface: 248, 183, 117;
  --ax-sys-color-secondary-surface: 212, 165, 116;
  --ax-sys-color-on-secondary-surface: 255, 250, 230;
  --ax-sys-color-border-secondary-surface: 204, 147, 89;
  --ax-sys-color-secondary-dark-surface: 185, 140, 91;
  --ax-sys-color-on-secondary-dark-surface: 255, 250, 229;
  --ax-sys-color-border-secondary-dark-surface: 168, 122, 72;
  --ax-sys-color-secondary-darker-surface: 154, 110, 62;
  --ax-sys-color-on-secondary-darker-surface: 255, 250, 230;
  --ax-sys-color-border-secondary-darker-surface: 129, 92, 52;
  --ax-sys-color-secondary-darkest-surface: 126, 87, 44;
  --ax-sys-color-on-secondary-darkest-surface: 255, 250, 230;
  --ax-sys-color-border-secondary-darkest-surface: 100, 69, 35;
  --ax-sys-color-success-lightest-surface: 173, 255, 183;
  --ax-sys-color-on-success-lightest-surface: 0, 60, 0;
  --ax-sys-color-border-success-lightest-surface: 137, 255, 152;
  --ax-sys-color-success-lighter-surface: 159, 247, 169;
  --ax-sys-color-on-success-lighter-surface: 0, 60, 0;
  --ax-sys-color-border-success-lighter-surface: 126, 244, 139;
  --ax-sys-color-success-light-surface: 137, 224, 148;
  --ax-sys-color-on-success-light-surface: 0, 60, 0;
  --ax-sys-color-border-success-light-surface: 109, 217, 122;
  --ax-sys-color-success-surface: 91, 178, 104;
  --ax-sys-color-on-success-surface: 234, 255, 236;
  --ax-sys-color-border-success-surface: 75, 159, 87;
  --ax-sys-color-success-dark-surface: 68, 156, 83;
  --ax-sys-color-on-success-dark-surface: 234, 255, 236;
  --ax-sys-color-border-success-dark-surface: 57, 131, 70;
  --ax-sys-color-success-darker-surface: 38, 129, 58;
  --ax-sys-color-on-success-darker-surface: 234, 255, 236;
  --ax-sys-color-border-success-darker-surface: 30, 101, 46;
  --ax-sys-color-success-darkest-surface: 22, 107, 43;
  --ax-sys-color-on-success-darkest-surface: 234, 255, 236;
  --ax-sys-color-border-success-darkest-surface: 16, 77, 31;
  --ax-sys-color-warning-lightest-surface: 255, 238, 189;
  --ax-sys-color-on-warning-lightest-surface: 58, 44, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 229, 153;
  --ax-sys-color-warning-lighter-surface: 255, 225, 157;
  --ax-sys-color-on-warning-lighter-surface: 63, 42, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 214, 121;
  --ax-sys-color-warning-light-surface: 255, 207, 116;
  --ax-sys-color-on-warning-light-surface: 65, 40, 0;
  --ax-sys-color-border-warning-light-surface: 255, 195, 80;
  --ax-sys-color-warning-surface: 230, 176, 84;
  --ax-sys-color-on-warning-surface: 255, 251, 222;
  --ax-sys-color-border-warning-surface: 225, 162, 53;
  --ax-sys-color-warning-dark-surface: 201, 148, 53;
  --ax-sys-color-on-warning-dark-surface: 255, 251, 222;
  --ax-sys-color-border-warning-dark-surface: 173, 127, 46;
  --ax-sys-color-warning-darker-surface: 166, 115, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 251, 222;
  --ax-sys-color-border-warning-darker-surface: 130, 90, 0;
  --ax-sys-color-warning-darkest-surface: 136, 91, 21;
  --ax-sys-color-on-warning-darkest-surface: 255, 250, 226;
  --ax-sys-color-border-warning-darkest-surface: 105, 70, 16;
  --ax-sys-color-danger-lightest-surface: 255, 214, 206;
  --ax-sys-color-on-danger-lightest-surface: 67, 36, 31;
  --ax-sys-color-border-danger-lightest-surface: 255, 184, 170;
  --ax-sys-color-danger-lighter-surface: 255, 184, 174;
  --ax-sys-color-on-danger-lighter-surface: 80, 25, 20;
  --ax-sys-color-border-danger-lighter-surface: 255, 153, 138;
  --ax-sys-color-danger-light-surface: 255, 132, 119;
  --ax-sys-color-on-danger-light-surface: 255, 248, 245;
  --ax-sys-color-border-danger-light-surface: 255, 100, 83;
  --ax-sys-color-danger-surface: 196, 66, 58;
  --ax-sys-color-on-danger-surface: 255, 248, 245;
  --ax-sys-color-border-danger-surface: 168, 57, 50;
  --ax-sys-color-danger-dark-surface: 180, 50, 44;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 245;
  --ax-sys-color-border-danger-dark-surface: 151, 42, 37;
  --ax-sys-color-danger-darker-surface: 160, 28, 27;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darker-surface: 129, 23, 22;
  --ax-sys-color-danger-darkest-surface: 139, 19, 19;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darkest-surface: 108, 15, 15;
  --ax-sys-color-accent1-lightest-surface: 255, 209, 175;
  --ax-sys-color-on-accent1-lightest-surface: 71, 36, 3;
  --ax-sys-color-border-accent1-lightest-surface: 255, 188, 139;
  --ax-sys-color-accent1-lighter-surface: 255, 178, 132;
  --ax-sys-color-on-accent1-lighter-surface: 83, 24, 0;
  --ax-sys-color-border-accent1-lighter-surface: 255, 156, 96;
  --ax-sys-color-accent1-light-surface: 219, 142, 96;
  --ax-sys-color-on-accent1-light-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-light-surface: 212, 121, 67;
  --ax-sys-color-accent1-surface: 139, 69, 19;
  --ax-sys-color-on-accent1-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-surface: 108, 53, 15;
  --ax-sys-color-accent1-dark-surface: 129, 60, 5;
  --ax-sys-color-on-accent1-dark-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-dark-surface: 95, 44, 4;
  --ax-sys-color-accent1-darker-surface: 118, 49, 0;
  --ax-sys-color-on-accent1-darker-surface: 255, 249, 238;
  --ax-sys-color-border-accent1-darker-surface: 82, 34, 0;
  --ax-sys-color-accent1-darkest-surface: 105, 44, 10;
  --ax-sys-color-on-accent1-darkest-surface: 255, 249, 239;
  --ax-sys-color-border-accent1-darkest-surface: 72, 30, 7;
  --ax-sys-color-accent2-lightest-surface: 198, 235, 255;
  --ax-sys-color-on-accent2-lightest-surface: 17, 50, 65;
  --ax-sys-color-border-accent2-lightest-surface: 162, 222, 255;
  --ax-sys-color-accent2-lighter-surface: 161, 218, 255;
  --ax-sys-color-on-accent2-lighter-surface: 0, 50, 80;
  --ax-sys-color-border-accent2-lighter-surface: 125, 204, 255;
  --ax-sys-color-accent2-light-surface: 128, 189, 242;
  --ax-sys-color-on-accent2-light-surface: 0, 48, 91;
  --ax-sys-color-border-accent2-light-surface: 96, 172, 239;
  --ax-sys-color-accent2-surface: 70, 130, 180;
  --ax-sys-color-on-accent2-surface: 240, 255, 255;
  --ax-sys-color-border-accent2-surface: 60, 111, 154;
  --ax-sys-color-accent2-dark-surface: 54, 114, 163;
  --ax-sys-color-on-accent2-dark-surface: 240, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 45, 95, 136;
  --ax-sys-color-accent2-darker-surface: 34, 96, 144;
  --ax-sys-color-on-accent2-darker-surface: 240, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 27, 77, 115;
  --ax-sys-color-accent2-darkest-surface: 25, 81, 124;
  --ax-sys-color-on-accent2-darkest-surface: 240, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 19, 62, 94;
  --ax-sys-color-accent3-lightest-surface: 210, 236, 172;
  --ax-sys-color-on-accent3-lightest-surface: 35, 53, 0;
  --ax-sys-color-border-accent3-lightest-surface: 194, 229, 143;
  --ax-sys-color-accent3-lighter-surface: 187, 213, 149;
  --ax-sys-color-on-accent3-lighter-surface: 34, 53, 0;
  --ax-sys-color-border-accent3-lighter-surface: 171, 203, 123;
  --ax-sys-color-accent3-light-surface: 153, 177, 115;
  --ax-sys-color-on-accent3-light-surface: 242, 255, 212;
  --ax-sys-color-border-accent3-light-surface: 136, 164, 92;
  --ax-sys-color-accent3-surface: 85, 107, 47;
  --ax-sys-color-on-accent3-surface: 242, 255, 213;
  --ax-sys-color-border-accent3-surface: 65, 82, 36;
  --ax-sys-color-accent3-dark-surface: 75, 97, 37;
  --ax-sys-color-on-accent3-dark-surface: 242, 255, 214;
  --ax-sys-color-border-accent3-dark-surface: 55, 71, 27;
  --ax-sys-color-accent3-darker-surface: 64, 85, 23;
  --ax-sys-color-on-accent3-darker-surface: 242, 255, 213;
  --ax-sys-color-border-accent3-darker-surface: 43, 57, 15;
  --ax-sys-color-accent3-darkest-surface: 56, 74, 19;
  --ax-sys-color-on-accent3-darkest-surface: 242, 255, 212;
  --ax-sys-color-border-accent3-darkest-surface: 35, 46, 12;
  --ax-sys-color-neutral-lightest-surface: 255, 233, 205;
  --ax-sys-color-on-neutral-lightest-surface: 59, 42, 19;
  --ax-sys-color-border-neutral-lightest-surface: 255, 217, 169;
  --ax-sys-color-neutral-lighter-surface: 245, 220, 192;
  --ax-sys-color-on-neutral-lighter-surface: 61, 42, 18;
  --ax-sys-color-border-neutral-lighter-surface: 240, 203, 161;
  --ax-sys-color-neutral-light-surface: 224, 199, 172;
  --ax-sys-color-on-neutral-light-surface: 61, 41, 18;
  --ax-sys-color-border-neutral-light-surface: 214, 181, 146;
  --ax-sys-color-neutral-surface: 181, 157, 131;
  --ax-sys-color-on-neutral-surface: 255, 250, 229;
  --ax-sys-color-border-neutral-surface: 168, 139, 109;
  --ax-sys-color-neutral-dark-surface: 158, 135, 109;
  --ax-sys-color-on-neutral-dark-surface: 255, 250, 228;
  --ax-sys-color-border-neutral-dark-surface: 139, 117, 92;
  --ax-sys-color-neutral-darker-surface: 130, 108, 83;
  --ax-sys-color-on-neutral-darker-surface: 255, 250, 228;
  --ax-sys-color-border-neutral-darker-surface: 108, 90, 69;
  --ax-sys-color-neutral-darkest-surface: 107, 87, 65;
  --ax-sys-color-on-neutral-darkest-surface: 255, 250, 229;
  --ax-sys-color-border-neutral-darkest-surface: 85, 69, 52;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 252, 248, 242;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 34, 22, 18;
  --ax-sys-color-lightest-surface: 42, 24, 16;
  --ax-sys-color-on-lightest-surface: 255, 248, 239;
  --ax-sys-color-border-lightest-surface: 75, 43, 29;
  --ax-sys-color-lighter-surface: 39, 22, 14;
  --ax-sys-color-on-lighter-surface: 255, 249, 239;
  --ax-sys-color-border-lighter-surface: 72, 41, 27;
  --ax-sys-color-light-surface: 36, 21, 13;
  --ax-sys-color-on-light-surface: 255, 249, 239;
  --ax-sys-color-border-light-surface: 70, 40, 25;
  --ax-sys-color-surface: 34, 20, 12;
  --ax-sys-color-on-surface: 255, 249, 238;
  --ax-sys-color-border-surface: 68, 39, 24;
  --ax-sys-color-dark-surface: 32, 18, 11;
  --ax-sys-color-on-dark-surface: 255, 249, 238;
  --ax-sys-color-border-dark-surface: 66, 38, 22;
  --ax-sys-color-darker-surface: 29, 17, 10;
  --ax-sys-color-on-darker-surface: 255, 249, 239;
  --ax-sys-color-border-darker-surface: 64, 37, 21;
  --ax-sys-color-darkest-surface: 26, 15, 8;
  --ax-sys-color-on-darkest-surface: 255, 250, 239;
  --ax-sys-color-border-darkest-surface: 61, 35, 19;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 241, 215;
  --ax-sys-color-primary-100: 255, 231, 195;
  --ax-sys-color-primary-200: 255, 209, 152;
  --ax-sys-color-primary-300: 255, 187, 103;
  --ax-sys-color-primary-400: 254, 169, 75;
  --ax-sys-color-primary-500: 237, 153, 57;
  --ax-sys-color-primary-600: 221, 137, 36;
  --ax-sys-color-primary-700: 204, 122, 0;
  --ax-sys-color-primary-800: 187, 107, 0;
  --ax-sys-color-primary-900: 170, 92, 0;
  --ax-sys-color-primary-950: 160, 86, 0;
  --ax-sys-color-secondary-50: 255, 245, 220;
  --ax-sys-color-secondary-100: 255, 237, 205;
  --ax-sys-color-secondary-200: 255, 222, 175;
  --ax-sys-color-secondary-300: 255, 210, 160;
  --ax-sys-color-secondary-400: 247, 199, 149;
  --ax-sys-color-secondary-500: 235, 187, 138;
  --ax-sys-color-secondary-600: 224, 176, 127;
  --ax-sys-color-secondary-700: 212, 165, 116;
  --ax-sys-color-secondary-800: 191, 145, 96;
  --ax-sys-color-secondary-900: 170, 125, 77;
  --ax-sys-color-secondary-950: 160, 116, 68;
  --ax-sys-color-success-50: 215, 255, 219;
  --ax-sys-color-success-100: 187, 255, 195;
  --ax-sys-color-success-200: 162, 251, 172;
  --ax-sys-color-success-300: 148, 236, 158;
  --ax-sys-color-success-400: 133, 221, 145;
  --ax-sys-color-success-500: 119, 207, 131;
  --ax-sys-color-success-600: 105, 192, 117;
  --ax-sys-color-success-700: 91, 178, 104;
  --ax-sys-color-success-800: 73, 160, 87;
  --ax-sys-color-success-900: 54, 143, 71;
  --ax-sys-color-success-950: 45, 134, 63;
  --ax-sys-color-warning-50: 255, 247, 212;
  --ax-sys-color-warning-100: 255, 241, 197;
  --ax-sys-color-warning-200: 255, 228, 165;
  --ax-sys-color-warning-300: 255, 216, 130;
  --ax-sys-color-warning-400: 255, 205, 114;
  --ax-sys-color-warning-500: 250, 195, 104;
  --ax-sys-color-warning-600: 240, 186, 94;
  --ax-sys-color-warning-700: 230, 176, 84;
  --ax-sys-color-warning-800: 207, 154, 60;
  --ax-sys-color-warning-900: 184, 132, 31;
  --ax-sys-color-warning-950: 173, 122, 10;
  --ax-sys-color-danger-50: 255, 236, 231;
  --ax-sys-color-danger-100: 255, 221, 215;
  --ax-sys-color-danger-200: 255, 192, 182;
  --ax-sys-color-danger-300: 255, 160, 147;
  --ax-sys-color-danger-400: 255, 126, 114;
  --ax-sys-color-danger-500: 240, 106, 95;
  --ax-sys-color-danger-600: 218, 86, 76;
  --ax-sys-color-danger-700: 196, 66, 58;
  --ax-sys-color-danger-800: 183, 53, 47;
  --ax-sys-color-danger-900: 170, 40, 36;
  --ax-sys-color-danger-950: 164, 33, 30;
  --ax-sys-color-accent1-50: 255, 235, 215;
  --ax-sys-color-accent1-100: 255, 218, 189;
  --ax-sys-color-accent1-200: 255, 184, 137;
  --ax-sys-color-accent1-300: 239, 160, 114;
  --ax-sys-color-accent1-400: 213, 136, 91;
  --ax-sys-color-accent1-500: 188, 113, 68;
  --ax-sys-color-accent1-600: 163, 91, 45;
  --ax-sys-color-accent1-700: 139, 69, 19;
  --ax-sys-color-accent1-800: 131, 62, 8;
  --ax-sys-color-accent1-900: 124, 55, 0;
  --ax-sys-color-accent1-950: 120, 52, 0;
  --ax-sys-color-accent2-50: 226, 249, 255;
  --ax-sys-color-accent2-100: 208, 240, 255;
  --ax-sys-color-accent2-200: 170, 223, 255;
  --ax-sys-color-accent2-300: 142, 204, 255;
  --ax-sys-color-accent2-400: 124, 185, 238;
  --ax-sys-color-accent2-500: 106, 166, 218;
  --ax-sys-color-accent2-600: 88, 148, 199;
  --ax-sys-color-accent2-700: 70, 130, 180;
  --ax-sys-color-accent2-800: 58, 118, 167;
  --ax-sys-color-accent2-900: 45, 105, 154;
  --ax-sys-color-accent2-950: 38, 99, 147;
  --ax-sys-color-accent3-50: 228, 255, 189;
  --ax-sys-color-accent3-100: 216, 243, 177;
  --ax-sys-color-accent3-200: 193, 219, 155;
  --ax-sys-color-accent3-300: 170, 195, 132;
  --ax-sys-color-accent3-400: 148, 172, 110;
  --ax-sys-color-accent3-500: 126, 150, 89;
  --ax-sys-color-accent3-600: 105, 128, 68;
  --ax-sys-color-accent3-700: 85, 107, 47;
  --ax-sys-color-accent3-800: 77, 99, 39;
  --ax-sys-color-accent3-900: 70, 91, 30;
  --ax-sys-color-accent3-950: 66, 87, 26;
  --ax-sys-color-neutral-50: 255, 243, 216;
  --ax-sys-color-neutral-100: 255, 237, 209;
  --ax-sys-color-neutral-200: 249, 223, 195;
  --ax-sys-color-neutral-300: 235, 209, 182;
  --ax-sys-color-neutral-400: 221, 196, 169;
  --ax-sys-color-neutral-500: 208, 183, 156;
  --ax-sys-color-neutral-600: 194, 170, 144;
  --ax-sys-color-neutral-700: 181, 157, 131;
  --ax-sys-color-neutral-800: 163, 139, 114;
  --ax-sys-color-neutral-900: 145, 122, 97;
  --ax-sys-color-neutral-950: 136, 113, 88;
  --ax-sys-color-primary-lightest-surface: 255, 231, 195;
  --ax-sys-color-on-primary-lightest-surface: 35, 18, 0;
  --ax-sys-color-border-primary-lightest-surface: 255, 249, 241;
  --ax-sys-color-primary-lighter-surface: 255, 209, 152;
  --ax-sys-color-on-primary-lighter-surface: 38, 15, 0;
  --ax-sys-color-border-primary-lighter-surface: 255, 229, 198;
  --ax-sys-color-primary-light-surface: 255, 187, 103;
  --ax-sys-color-on-primary-light-surface: 39, 15, 0;
  --ax-sys-color-border-primary-light-surface: 255, 208, 149;
  --ax-sys-color-primary-surface: 237, 153, 57;
  --ax-sys-color-on-primary-surface: 41, 13, 0;
  --ax-sys-color-border-primary-surface: 241, 175, 99;
  --ax-sys-color-primary-dark-surface: 221, 137, 36;
  --ax-sys-color-on-primary-dark-surface: 41, 13, 0;
  --ax-sys-color-border-primary-dark-surface: 227, 158, 76;
  --ax-sys-color-primary-darker-surface: 204, 122, 0;
  --ax-sys-color-on-primary-darker-surface: 41, 13, 0;
  --ax-sys-color-border-primary-darker-surface: 250, 149, 0;
  --ax-sys-color-primary-darkest-surface: 187, 107, 0;
  --ax-sys-color-on-primary-darkest-surface: 255, 249, 233;
  --ax-sys-color-border-primary-darkest-surface: 233, 133, 0;
  --ax-sys-color-secondary-lightest-surface: 255, 237, 205;
  --ax-sys-color-on-secondary-lightest-surface: 32, 19, 0;
  --ax-sys-color-border-secondary-lightest-surface: 255, 254, 251;
  --ax-sys-color-secondary-lighter-surface: 255, 222, 175;
  --ax-sys-color-on-secondary-lighter-surface: 37, 17, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 241, 221;
  --ax-sys-color-secondary-light-surface: 255, 210, 160;
  --ax-sys-color-on-secondary-light-surface: 39, 15, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 232, 206;
  --ax-sys-color-secondary-surface: 235, 187, 138;
  --ax-sys-color-on-secondary-surface: 40, 14, 0;
  --ax-sys-color-border-secondary-surface: 242, 210, 177;
  --ax-sys-color-secondary-dark-surface: 224, 176, 127;
  --ax-sys-color-on-secondary-dark-surface: 40, 14, 0;
  --ax-sys-color-border-secondary-dark-surface: 233, 199, 164;
  --ax-sys-color-secondary-darker-surface: 212, 165, 116;
  --ax-sys-color-on-secondary-darker-surface: 40, 14, 0;
  --ax-sys-color-border-secondary-darker-surface: 223, 188, 151;
  --ax-sys-color-secondary-darkest-surface: 191, 145, 96;
  --ax-sys-color-on-secondary-darkest-surface: 40, 14, 0;
  --ax-sys-color-border-secondary-darkest-surface: 204, 168, 129;
  --ax-sys-color-success-lightest-surface: 187, 255, 195;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 0;
  --ax-sys-color-border-success-lightest-surface: 233, 255, 236;
  --ax-sys-color-success-lighter-surface: 162, 251, 172;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 0;
  --ax-sys-color-border-success-lighter-surface: 206, 253, 211;
  --ax-sys-color-success-light-surface: 148, 236, 158;
  --ax-sys-color-on-success-light-surface: 0, 31, 0;
  --ax-sys-color-border-success-light-surface: 187, 243, 193;
  --ax-sys-color-success-surface: 119, 207, 131;
  --ax-sys-color-on-success-surface: 0, 31, 0;
  --ax-sys-color-border-success-surface: 153, 219, 162;
  --ax-sys-color-success-dark-surface: 105, 192, 117;
  --ax-sys-color-on-success-dark-surface: 0, 31, 0;
  --ax-sys-color-border-success-dark-surface: 137, 206, 147;
  --ax-sys-color-success-darker-surface: 91, 178, 104;
  --ax-sys-color-on-success-darker-surface: 0, 31, 0;
  --ax-sys-color-border-success-darker-surface: 122, 193, 133;
  --ax-sys-color-success-darkest-surface: 73, 160, 87;
  --ax-sys-color-on-success-darkest-surface: 0, 31, 0;
  --ax-sys-color-border-success-darkest-surface: 96, 183, 110;
  --ax-sys-color-warning-lightest-surface: 255, 241, 197;
  --ax-sys-color-on-warning-lightest-surface: 31, 20, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 252, 243;
  --ax-sys-color-warning-lighter-surface: 255, 228, 165;
  --ax-sys-color-on-warning-lighter-surface: 33, 19, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 242, 211;
  --ax-sys-color-warning-light-surface: 255, 216, 130;
  --ax-sys-color-on-warning-light-surface: 34, 19, 0;
  --ax-sys-color-border-warning-light-surface: 255, 230, 176;
  --ax-sys-color-warning-surface: 250, 195, 104;
  --ax-sys-color-on-warning-surface: 36, 17, 0;
  --ax-sys-color-border-warning-surface: 251, 213, 148;
  --ax-sys-color-warning-dark-surface: 240, 186, 94;
  --ax-sys-color-on-warning-dark-surface: 36, 17, 0;
  --ax-sys-color-border-warning-dark-surface: 244, 204, 136;
  --ax-sys-color-warning-darker-surface: 230, 176, 84;
  --ax-sys-color-on-warning-darker-surface: 36, 17, 0;
  --ax-sys-color-border-warning-darker-surface: 236, 195, 124;
  --ax-sys-color-warning-darkest-surface: 207, 154, 60;
  --ax-sys-color-on-warning-darkest-surface: 36, 17, 0;
  --ax-sys-color-border-warning-darkest-surface: 216, 173, 97;
  --ax-sys-color-danger-lightest-surface: 255, 221, 215;
  --ax-sys-color-on-danger-lightest-surface: 37, 15, 11;
  --ax-sys-color-border-danger-lightest-surface: 255, 260, 261;
  --ax-sys-color-danger-lighter-surface: 255, 192, 182;
  --ax-sys-color-on-danger-lighter-surface: 48, 3, 2;
  --ax-sys-color-border-danger-lighter-surface: 255, 232, 228;
  --ax-sys-color-danger-light-surface: 255, 160, 147;
  --ax-sys-color-on-danger-light-surface: 56, 0, 0;
  --ax-sys-color-border-danger-light-surface: 255, 200, 193;
  --ax-sys-color-danger-surface: 240, 106, 95;
  --ax-sys-color-on-danger-surface: 56, 0, 0;
  --ax-sys-color-border-danger-surface: 244, 145, 137;
  --ax-sys-color-danger-dark-surface: 218, 86, 76;
  --ax-sys-color-on-danger-dark-surface: 56, 0, 0;
  --ax-sys-color-border-danger-dark-surface: 226, 122, 114;
  --ax-sys-color-danger-darker-surface: 196, 66, 58;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darker-surface: 207, 99, 93;
  --ax-sys-color-danger-darkest-surface: 183, 53, 47;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darkest-surface: 207, 75, 69;
  --ax-sys-color-accent1-lightest-surface: 255, 218, 189;
  --ax-sys-color-on-accent1-lightest-surface: 40, 14, 0;
  --ax-sys-color-border-accent1-lightest-surface: 255, 244, 235;
  --ax-sys-color-accent1-lighter-surface: 255, 184, 137;
  --ax-sys-color-on-accent1-lighter-surface: 45, 8, 0;
  --ax-sys-color-border-accent1-lighter-surface: 255, 212, 183;
  --ax-sys-color-accent1-light-surface: 239, 160, 114;
  --ax-sys-color-on-accent1-light-surface: 47, 6, 0;
  --ax-sys-color-border-accent1-light-surface: 244, 188, 155;
  --ax-sys-color-accent1-surface: 188, 113, 68;
  --ax-sys-color-on-accent1-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-surface: 200, 139, 102;
  --ax-sys-color-accent1-dark-surface: 163, 91, 45;
  --ax-sys-color-on-accent1-dark-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-dark-surface: 199, 111, 55;
  --ax-sys-color-accent1-darker-surface: 139, 69, 19;
  --ax-sys-color-on-accent1-darker-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-darker-surface: 179, 89, 25;
  --ax-sys-color-accent1-darkest-surface: 131, 62, 8;
  --ax-sys-color-on-accent1-darkest-surface: 255, 249, 237;
  --ax-sys-color-border-accent1-darkest-surface: 174, 82, 11;
  --ax-sys-color-accent2-lightest-surface: 208, 240, 255;
  --ax-sys-color-on-accent2-lightest-surface: 0, 25, 36;
  --ax-sys-color-border-accent2-lightest-surface: 254, 255, 255;
  --ax-sys-color-accent2-lighter-surface: 170, 223, 255;
  --ax-sys-color-on-accent2-lighter-surface: 0, 25, 48;
  --ax-sys-color-border-accent2-lighter-surface: 216, 240, 255;
  --ax-sys-color-accent2-light-surface: 142, 204, 255;
  --ax-sys-color-on-accent2-light-surface: 0, 23, 55;
  --ax-sys-color-border-accent2-light-surface: 188, 225, 255;
  --ax-sys-color-accent2-surface: 106, 166, 218;
  --ax-sys-color-on-accent2-surface: 0, 22, 57;
  --ax-sys-color-border-accent2-surface: 143, 188, 227;
  --ax-sys-color-accent2-dark-surface: 88, 148, 199;
  --ax-sys-color-on-accent2-dark-surface: 0, 22, 57;
  --ax-sys-color-border-accent2-dark-surface: 122, 170, 211;
  --ax-sys-color-accent2-darker-surface: 70, 130, 180;
  --ax-sys-color-on-accent2-darker-surface: 0, 22, 57;
  --ax-sys-color-border-accent2-darker-surface: 101, 152, 195;
  --ax-sys-color-accent2-darkest-surface: 58, 118, 167;
  --ax-sys-color-on-accent2-darkest-surface: 0, 22, 57;
  --ax-sys-color-border-accent2-darkest-surface: 78, 141, 193;
  --ax-sys-color-accent3-lightest-surface: 216, 243, 177;
  --ax-sys-color-on-accent3-lightest-surface: 13, 27, 0;
  --ax-sys-color-border-accent3-lightest-surface: 236, 249, 217;
  --ax-sys-color-accent3-lighter-surface: 193, 219, 155;
  --ax-sys-color-on-accent3-lighter-surface: 13, 27, 0;
  --ax-sys-color-border-accent3-lighter-surface: 214, 231, 189;
  --ax-sys-color-accent3-light-surface: 170, 195, 132;
  --ax-sys-color-on-accent3-light-surface: 14, 27, 0;
  --ax-sys-color-border-accent3-light-surface: 191, 210, 163;
  --ax-sys-color-accent3-surface: 126, 150, 89;
  --ax-sys-color-on-accent3-surface: 13, 27, 0;
  --ax-sys-color-border-accent3-surface: 149, 171, 114;
  --ax-sys-color-accent3-dark-surface: 105, 128, 68;
  --ax-sys-color-on-accent3-dark-surface: 242, 255, 213;
  --ax-sys-color-border-accent3-dark-surface: 130, 158, 84;
  --ax-sys-color-accent3-darker-surface: 85, 107, 47;
  --ax-sys-color-on-accent3-darker-surface: 242, 255, 213;
  --ax-sys-color-border-accent3-darker-surface: 110, 139, 61;
  --ax-sys-color-accent3-darkest-surface: 77, 99, 39;
  --ax-sys-color-on-accent3-darkest-surface: 242, 255, 214;
  --ax-sys-color-border-accent3-darkest-surface: 103, 132, 52;
  --ax-sys-color-neutral-lightest-surface: 255, 237, 209;
  --ax-sys-color-on-neutral-lightest-surface: 32, 19, 0;
  --ax-sys-color-border-neutral-lightest-surface: 255, 255, 255;
  --ax-sys-color-neutral-lighter-surface: 249, 223, 195;
  --ax-sys-color-on-neutral-lighter-surface: 35, 17, 0;
  --ax-sys-color-border-neutral-lighter-surface: 253, 245, 237;
  --ax-sys-color-neutral-light-surface: 235, 209, 182;
  --ax-sys-color-on-neutral-light-surface: 35, 17, 0;
  --ax-sys-color-border-neutral-light-surface: 245, 232, 218;
  --ax-sys-color-neutral-surface: 208, 183, 156;
  --ax-sys-color-on-neutral-surface: 35, 17, 0;
  --ax-sys-color-border-neutral-surface: 223, 206, 187;
  --ax-sys-color-neutral-dark-surface: 194, 170, 144;
  --ax-sys-color-on-neutral-dark-surface: 35, 17, 0;
  --ax-sys-color-border-neutral-dark-surface: 210, 193, 174;
  --ax-sys-color-neutral-darker-surface: 181, 157, 131;
  --ax-sys-color-on-neutral-darker-surface: 35, 17, 0;
  --ax-sys-color-border-neutral-darker-surface: 198, 180, 160;
  --ax-sys-color-neutral-darkest-surface: 163, 139, 114;
  --ax-sys-color-on-neutral-darkest-surface: 35, 17, 0;
  --ax-sys-color-border-neutral-darkest-surface: 181, 162, 142;
}
