/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 242, 255, 249;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 5, 5, 5;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 244, 247, 246;
  --ax-sys-color-on-lighter-surface: 44, 46, 45;
  --ax-sys-color-border-lighter-surface: 224, 232, 228;
  --ax-sys-color-light-surface: 237, 241, 239;
  --ax-sys-color-on-light-surface: 43, 47, 45;
  --ax-sys-color-border-light-surface: 216, 226, 221;
  --ax-sys-color-surface: 229, 235, 232;
  --ax-sys-color-on-surface: 42, 47, 45;
  --ax-sys-color-border-surface: 208, 220, 214;
  --ax-sys-color-dark-surface: 221, 229, 225;
  --ax-sys-color-on-dark-surface: 41, 48, 45;
  --ax-sys-color-border-dark-surface: 200, 214, 208;
  --ax-sys-color-darker-surface: 213, 223, 218;
  --ax-sys-color-on-darker-surface: 40, 48, 44;
  --ax-sys-color-border-darker-surface: 193, 208, 201;
  --ax-sys-color-darkest-surface: 202, 215, 209;
  --ax-sys-color-on-darkest-surface: 38, 48, 44;
  --ax-sys-color-border-darkest-surface: 182, 200, 191;
  /* Ranges */
  --ax-sys-color-primary-50: 227, 255, 236;
  --ax-sys-color-primary-100: 212, 255, 225;
  --ax-sys-color-primary-200: 190, 255, 209;
  --ax-sys-color-primary-300: 147, 255, 183;
  --ax-sys-color-primary-400: 45, 255, 145;
  --ax-sys-color-primary-500: 0, 255, 136;
  --ax-sys-color-primary-600: 0, 220, 103;
  --ax-sys-color-primary-700: 0, 174, 76;
  --ax-sys-color-primary-800: 29, 136, 63;
  --ax-sys-color-primary-900: 51, 105, 61;
  --ax-sys-color-primary-950: 19, 36, 20;
  --ax-sys-color-secondary-50: 255, 236, 243;
  --ax-sys-color-secondary-100: 255, 219, 230;
  --ax-sys-color-secondary-200: 255, 194, 212;
  --ax-sys-color-secondary-300: 255, 152, 184;
  --ax-sys-color-secondary-400: 255, 81, 149;
  --ax-sys-color-secondary-500: 255, 0, 128;
  --ax-sys-color-secondary-600: 230, 0, 110;
  --ax-sys-color-secondary-700: 191, 0, 90;
  --ax-sys-color-secondary-800: 156, 23, 75;
  --ax-sys-color-secondary-900: 120, 43, 66;
  --ax-sys-color-secondary-950: 60, 26, 34;
  --ax-sys-color-success-50: 218, 255, 255;
  --ax-sys-color-success-100: 203, 255, 255;
  --ax-sys-color-success-200: 179, 255, 255;
  --ax-sys-color-success-300: 133, 255, 255;
  --ax-sys-color-success-400: 31, 255, 255;
  --ax-sys-color-success-500: 0, 255, 255;
  --ax-sys-color-success-600: 0, 218, 219;
  --ax-sys-color-success-700: 0, 171, 172;
  --ax-sys-color-success-800: 31, 133, 134;
  --ax-sys-color-success-900: 52, 103, 103;
  --ax-sys-color-success-950: 19, 33, 33;
  --ax-sys-color-warning-50: 255, 255, 159;
  --ax-sys-color-warning-100: 255, 255, 134;
  --ax-sys-color-warning-200: 255, 255, 80;
  --ax-sys-color-warning-300: 255, 255, 26;
  --ax-sys-color-warning-400: 255, 255, 13;
  --ax-sys-color-warning-500: 255, 255, 0;
  --ax-sys-color-warning-600: 215, 214, 0;
  --ax-sys-color-warning-700: 167, 166, 0;
  --ax-sys-color-warning-800: 129, 128, 28;
  --ax-sys-color-warning-900: 99, 99, 49;
  --ax-sys-color-warning-950: 28, 28, 15;
  --ax-sys-color-danger-50: 255, 237, 233;
  --ax-sys-color-danger-100: 255, 221, 214;
  --ax-sys-color-danger-200: 255, 198, 188;
  --ax-sys-color-danger-300: 255, 158, 146;
  --ax-sys-color-danger-400: 255, 95, 85;
  --ax-sys-color-danger-500: 255, 48, 48;
  --ax-sys-color-danger-600: 232, 0, 23;
  --ax-sys-color-danger-700: 199, 0, 0;
  --ax-sys-color-danger-800: 162, 24, 16;
  --ax-sys-color-danger-900: 124, 45, 36;
  --ax-sys-color-danger-950: 62, 27, 22;
  --ax-sys-color-accent1-50: 248, 236, 255;
  --ax-sys-color-accent1-100: 235, 217, 255;
  --ax-sys-color-accent1-200: 219, 189, 255;
  --ax-sys-color-accent1-300: 195, 142, 255;
  --ax-sys-color-accent1-400: 163, 77, 255;
  --ax-sys-color-accent1-500: 138, 43, 226;
  --ax-sys-color-accent1-600: 126, 19, 211;
  --ax-sys-color-accent1-700: 111, 0, 194;
  --ax-sys-color-accent1-800: 95, 22, 164;
  --ax-sys-color-accent1-900: 79, 42, 126;
  --ax-sys-color-accent1-950: 48, 32, 74;
  --ax-sys-color-accent2-50: 230, 248, 255;
  --ax-sys-color-accent2-100: 210, 237, 255;
  --ax-sys-color-accent2-200: 183, 222, 255;
  --ax-sys-color-accent2-300: 137, 198, 255;
  --ax-sys-color-accent2-400: 71, 165, 255;
  --ax-sys-color-accent2-500: 30, 144, 255;
  --ax-sys-color-accent2-600: 0, 124, 233;
  --ax-sys-color-accent2-700: 0, 99, 206;
  --ax-sys-color-accent2-800: 16, 82, 173;
  --ax-sys-color-accent2-900: 35, 72, 130;
  --ax-sys-color-accent2-950: 21, 37, 65;
  --ax-sys-color-accent3-50: 255, 239, 233;
  --ax-sys-color-accent3-100: 255, 226, 216;
  --ax-sys-color-accent3-200: 255, 206, 192;
  --ax-sys-color-accent3-300: 255, 173, 154;
  --ax-sys-color-accent3-400: 255, 125, 99;
  --ax-sys-color-accent3-500: 255, 99, 71;
  --ax-sys-color-accent3-600: 229, 75, 48;
  --ax-sys-color-accent3-700: 198, 42, 11;
  --ax-sys-color-accent3-800: 167, 25, 17;
  --ax-sys-color-accent3-900: 129, 47, 38;
  --ax-sys-color-accent3-950: 60, 26, 21;
  --ax-sys-color-neutral-50: 239, 242, 255;
  --ax-sys-color-neutral-100: 223, 227, 239;
  --ax-sys-color-neutral-200: 202, 206, 218;
  --ax-sys-color-neutral-300: 170, 173, 185;
  --ax-sys-color-neutral-400: 130, 133, 145;
  --ax-sys-color-neutral-500: 106, 109, 120;
  --ax-sys-color-neutral-600: 94, 97, 108;
  --ax-sys-color-neutral-700: 80, 82, 93;
  --ax-sys-color-neutral-800: 68, 71, 80;
  --ax-sys-color-neutral-900: 61, 62, 69;
  --ax-sys-color-neutral-950: 37, 39, 43;
  --ax-sys-color-primary-lightest-surface: 212, 255, 225;
  --ax-sys-color-on-primary-lightest-surface: 16, 54, 32;
  --ax-sys-color-border-primary-lightest-surface: 176, 255, 200;
  --ax-sys-color-primary-lighter-surface: 190, 255, 209;
  --ax-sys-color-on-primary-lighter-surface: 0, 58, 22;
  --ax-sys-color-border-primary-lighter-surface: 154, 255, 184;
  --ax-sys-color-primary-light-surface: 147, 255, 183;
  --ax-sys-color-on-primary-light-surface: 0, 60, 17;
  --ax-sys-color-border-primary-light-surface: 111, 255, 159;
  --ax-sys-color-primary-surface: 0, 255, 136;
  --ax-sys-color-on-primary-surface: 0, 60, 14;
  --ax-sys-color-border-primary-surface: 0, 219, 117;
  --ax-sys-color-primary-dark-surface: 0, 220, 103;
  --ax-sys-color-on-primary-dark-surface: 0, 60, 6;
  --ax-sys-color-border-primary-dark-surface: 0, 184, 86;
  --ax-sys-color-primary-darker-surface: 0, 174, 76;
  --ax-sys-color-on-primary-darker-surface: 233, 255, 237;
  --ax-sys-color-border-primary-darker-surface: 0, 138, 60;
  --ax-sys-color-primary-darkest-surface: 29, 136, 63;
  --ax-sys-color-on-primary-darkest-surface: 234, 255, 237;
  --ax-sys-color-border-primary-darkest-surface: 23, 107, 49;
  --ax-sys-color-secondary-lightest-surface: 255, 219, 230;
  --ax-sys-color-on-secondary-lightest-surface: 63, 37, 46;
  --ax-sys-color-border-secondary-lightest-surface: 255, 183, 205;
  --ax-sys-color-secondary-lighter-surface: 255, 194, 212;
  --ax-sys-color-on-secondary-lighter-surface: 74, 28, 45;
  --ax-sys-color-border-secondary-lighter-surface: 255, 158, 187;
  --ax-sys-color-secondary-light-surface: 255, 152, 184;
  --ax-sys-color-on-secondary-light-surface: 91, 0, 43;
  --ax-sys-color-border-secondary-light-surface: 255, 116, 159;
  --ax-sys-color-secondary-surface: 255, 0, 128;
  --ax-sys-color-on-secondary-surface: 255, 247, 252;
  --ax-sys-color-border-secondary-surface: 219, 0, 110;
  --ax-sys-color-secondary-dark-surface: 230, 0, 110;
  --ax-sys-color-on-secondary-dark-surface: 255, 247, 251;
  --ax-sys-color-border-secondary-dark-surface: 194, 0, 93;
  --ax-sys-color-secondary-darker-surface: 191, 0, 90;
  --ax-sys-color-on-secondary-darker-surface: 255, 247, 251;
  --ax-sys-color-border-secondary-darker-surface: 155, 0, 73;
  --ax-sys-color-secondary-darkest-surface: 156, 23, 75;
  --ax-sys-color-on-secondary-darkest-surface: 255, 247, 251;
  --ax-sys-color-border-secondary-darkest-surface: 125, 18, 60;
  --ax-sys-color-success-lightest-surface: 203, 255, 255;
  --ax-sys-color-on-success-lightest-surface: 0, 54, 55;
  --ax-sys-color-border-success-lightest-surface: 167, 255, 255;
  --ax-sys-color-success-lighter-surface: 179, 255, 255;
  --ax-sys-color-on-success-lighter-surface: 0, 56, 57;
  --ax-sys-color-border-success-lighter-surface: 143, 255, 255;
  --ax-sys-color-success-light-surface: 133, 255, 255;
  --ax-sys-color-on-success-light-surface: 0, 56, 57;
  --ax-sys-color-border-success-light-surface: 97, 255, 255;
  --ax-sys-color-success-surface: 0, 255, 255;
  --ax-sys-color-on-success-surface: 0, 56, 57;
  --ax-sys-color-border-success-surface: 0, 219, 219;
  --ax-sys-color-success-dark-surface: 0, 218, 219;
  --ax-sys-color-on-success-dark-surface: 0, 56, 57;
  --ax-sys-color-border-success-dark-surface: 0, 182, 183;
  --ax-sys-color-success-darker-surface: 0, 171, 172;
  --ax-sys-color-on-success-darker-surface: 222, 255, 255;
  --ax-sys-color-border-success-darker-surface: 0, 136, 136;
  --ax-sys-color-success-darkest-surface: 31, 133, 134;
  --ax-sys-color-on-success-darkest-surface: 222, 255, 255;
  --ax-sys-color-border-success-darkest-surface: 24, 104, 105;
  --ax-sys-color-warning-lightest-surface: 255, 255, 134;
  --ax-sys-color-on-warning-lightest-surface: 50, 48, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 255, 98;
  --ax-sys-color-warning-lighter-surface: 255, 255, 80;
  --ax-sys-color-on-warning-lighter-surface: 50, 48, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 255, 44;
  --ax-sys-color-warning-light-surface: 255, 255, 26;
  --ax-sys-color-on-warning-light-surface: 49, 48, 0;
  --ax-sys-color-border-warning-light-surface: 245, 245, 0;
  --ax-sys-color-warning-surface: 255, 255, 0;
  --ax-sys-color-on-warning-surface: 49, 48, 0;
  --ax-sys-color-border-warning-surface: 219, 219, 0;
  --ax-sys-color-warning-dark-surface: 215, 214, 0;
  --ax-sys-color-on-warning-dark-surface: 50, 48, 0;
  --ax-sys-color-border-warning-dark-surface: 179, 178, 0;
  --ax-sys-color-warning-darker-surface: 167, 166, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 255, 138;
  --ax-sys-color-border-warning-darker-surface: 131, 131, 0;
  --ax-sys-color-warning-darkest-surface: 129, 128, 28;
  --ax-sys-color-on-warning-darkest-surface: 255, 255, 166;
  --ax-sys-color-border-warning-darkest-surface: 100, 99, 22;
  --ax-sys-color-danger-lightest-surface: 255, 221, 214;
  --ax-sys-color-on-danger-lightest-surface: 63, 38, 34;
  --ax-sys-color-border-danger-lightest-surface: 255, 191, 178;
  --ax-sys-color-danger-lighter-surface: 255, 198, 188;
  --ax-sys-color-on-danger-lighter-surface: 74, 31, 25;
  --ax-sys-color-border-danger-lighter-surface: 255, 168, 152;
  --ax-sys-color-danger-light-surface: 255, 158, 146;
  --ax-sys-color-on-danger-light-surface: 91, 4, 5;
  --ax-sys-color-border-danger-light-surface: 255, 126, 110;
  --ax-sys-color-danger-surface: 255, 48, 48;
  --ax-sys-color-on-danger-surface: 255, 248, 245;
  --ax-sys-color-border-danger-surface: 255, 12, 12;
  --ax-sys-color-danger-dark-surface: 232, 0, 23;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 245;
  --ax-sys-color-border-danger-dark-surface: 196, 0, 19;
  --ax-sys-color-danger-darker-surface: 199, 0, 0;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darker-surface: 163, 0, 0;
  --ax-sys-color-danger-darkest-surface: 162, 24, 16;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darkest-surface: 130, 19, 13;
  --ax-sys-color-accent1-lightest-surface: 235, 217, 255;
  --ax-sys-color-on-accent1-lightest-surface: 53, 38, 67;
  --ax-sys-color-border-accent1-lightest-surface: 216, 181, 255;
  --ax-sys-color-accent1-lighter-surface: 219, 189, 255;
  --ax-sys-color-on-accent1-lighter-surface: 57, 30, 83;
  --ax-sys-color-border-accent1-lighter-surface: 200, 153, 255;
  --ax-sys-color-accent1-light-surface: 195, 142, 255;
  --ax-sys-color-on-accent1-light-surface: 66, 0, 110;
  --ax-sys-color-border-accent1-light-surface: 176, 106, 255;
  --ax-sys-color-accent1-surface: 138, 43, 226;
  --ax-sys-color-on-accent1-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-surface: 120, 28, 205;
  --ax-sys-color-accent1-dark-surface: 126, 19, 211;
  --ax-sys-color-on-accent1-dark-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-dark-surface: 106, 16, 178;
  --ax-sys-color-accent1-darker-surface: 111, 0, 194;
  --ax-sys-color-on-accent1-darker-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-darker-surface: 91, 0, 158;
  --ax-sys-color-accent1-darkest-surface: 95, 22, 164;
  --ax-sys-color-on-accent1-darkest-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-darkest-surface: 77, 18, 133;
  --ax-sys-color-accent2-lightest-surface: 210, 237, 255;
  --ax-sys-color-on-accent2-lightest-surface: 27, 49, 62;
  --ax-sys-color-border-accent2-lightest-surface: 174, 223, 255;
  --ax-sys-color-accent2-lighter-surface: 183, 222, 255;
  --ax-sys-color-on-accent2-lighter-surface: 13, 49, 74;
  --ax-sys-color-border-accent2-lighter-surface: 147, 206, 255;
  --ax-sys-color-accent2-light-surface: 137, 198, 255;
  --ax-sys-color-on-accent2-light-surface: 0, 47, 94;
  --ax-sys-color-border-accent2-light-surface: 101, 181, 255;
  --ax-sys-color-accent2-surface: 30, 144, 255;
  --ax-sys-color-on-accent2-surface: 243, 255, 255;
  --ax-sys-color-border-accent2-surface: 0, 126, 249;
  --ax-sys-color-accent2-dark-surface: 0, 124, 233;
  --ax-sys-color-on-accent2-dark-surface: 243, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 0, 105, 197;
  --ax-sys-color-accent2-darker-surface: 0, 99, 206;
  --ax-sys-color-on-accent2-darker-surface: 244, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 0, 82, 170;
  --ax-sys-color-accent2-darkest-surface: 16, 82, 173;
  --ax-sys-color-on-accent2-darkest-surface: 244, 254, 255;
  --ax-sys-color-border-accent2-darkest-surface: 13, 67, 140;
  --ax-sys-color-accent3-lightest-surface: 255, 226, 216;
  --ax-sys-color-on-accent3-lightest-surface: 61, 40, 32;
  --ax-sys-color-border-accent3-lightest-surface: 255, 199, 180;
  --ax-sys-color-accent3-lighter-surface: 255, 206, 192;
  --ax-sys-color-on-accent3-lighter-surface: 71, 34, 24;
  --ax-sys-color-border-accent3-lighter-surface: 255, 178, 156;
  --ax-sys-color-accent3-light-surface: 255, 173, 154;
  --ax-sys-color-on-accent3-light-surface: 85, 18, 5;
  --ax-sys-color-border-accent3-light-surface: 255, 144, 118;
  --ax-sys-color-accent3-surface: 255, 99, 71;
  --ax-sys-color-on-accent3-surface: 255, 248, 243;
  --ax-sys-color-border-accent3-surface: 255, 69, 35;
  --ax-sys-color-accent3-dark-surface: 229, 75, 48;
  --ax-sys-color-on-accent3-dark-surface: 255, 248, 243;
  --ax-sys-color-border-accent3-dark-surface: 214, 55, 27;
  --ax-sys-color-accent3-darker-surface: 198, 42, 11;
  --ax-sys-color-on-accent3-darker-surface: 255, 248, 243;
  --ax-sys-color-border-accent3-darker-surface: 164, 35, 9;
  --ax-sys-color-accent3-darkest-surface: 167, 25, 17;
  --ax-sys-color-on-accent3-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-accent3-darkest-surface: 135, 20, 14;
  --ax-sys-color-neutral-lightest-surface: 223, 227, 239;
  --ax-sys-color-on-neutral-lightest-surface: 43, 45, 55;
  --ax-sys-color-border-neutral-lightest-surface: 199, 206, 227;
  --ax-sys-color-neutral-lighter-surface: 202, 206, 218;
  --ax-sys-color-on-neutral-lighter-surface: 43, 45, 55;
  --ax-sys-color-border-neutral-lighter-surface: 181, 187, 203;
  --ax-sys-color-neutral-light-surface: 170, 173, 185;
  --ax-sys-color-on-neutral-light-surface: 43, 45, 55;
  --ax-sys-color-border-neutral-light-surface: 150, 154, 169;
  --ax-sys-color-neutral-surface: 106, 109, 120;
  --ax-sys-color-on-neutral-surface: 249, 253, 255;
  --ax-sys-color-border-neutral-surface: 89, 92, 101;
  --ax-sys-color-neutral-dark-surface: 94, 97, 108;
  --ax-sys-color-on-neutral-dark-surface: 249, 253, 255;
  --ax-sys-color-border-neutral-dark-surface: 77, 80, 89;
  --ax-sys-color-neutral-darker-surface: 80, 82, 93;
  --ax-sys-color-on-neutral-darker-surface: 250, 253, 255;
  --ax-sys-color-border-neutral-darker-surface: 63, 65, 74;
  --ax-sys-color-neutral-darkest-surface: 68, 71, 80;
  --ax-sys-color-on-neutral-darkest-surface: 249, 253, 255;
  --ax-sys-color-border-neutral-darkest-surface: 52, 54, 61;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 242, 255, 249;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 5, 5, 5;
  --ax-sys-color-lightest-surface: 10, 10, 10;
  --ax-sys-color-on-lightest-surface: 253, 253, 253;
  --ax-sys-color-border-lightest-surface: 33, 33, 33;
  --ax-sys-color-lighter-surface: 8, 8, 8;
  --ax-sys-color-on-lighter-surface: 253, 253, 253;
  --ax-sys-color-border-lighter-surface: 31, 31, 31;
  --ax-sys-color-light-surface: 7, 7, 7;
  --ax-sys-color-on-light-surface: 253, 253, 253;
  --ax-sys-color-border-light-surface: 29, 29, 29;
  --ax-sys-color-surface: 5, 5, 5;
  --ax-sys-color-on-surface: 253, 253, 253;
  --ax-sys-color-border-surface: 28, 28, 28;
  --ax-sys-color-dark-surface: 4, 4, 4;
  --ax-sys-color-on-dark-surface: 253, 253, 253;
  --ax-sys-color-border-dark-surface: 26, 26, 26;
  --ax-sys-color-darker-surface: 2, 2, 2;
  --ax-sys-color-on-darker-surface: 253, 253, 253;
  --ax-sys-color-border-darker-surface: 25, 25, 25;
  --ax-sys-color-darkest-surface: 0, 0, 0;
  --ax-sys-color-on-darkest-surface: 253, 253, 253;
  --ax-sys-color-border-darkest-surface: 23, 23, 23;
  /* Ranges */
  --ax-sys-color-primary-50: 228, 255, 236;
  --ax-sys-color-primary-100: 218, 255, 229;
  --ax-sys-color-primary-200: 195, 255, 213;
  --ax-sys-color-primary-300: 170, 255, 197;
  --ax-sys-color-primary-400: 140, 255, 179;
  --ax-sys-color-primary-500: 99, 255, 160;
  --ax-sys-color-primary-600: 30, 255, 142;
  --ax-sys-color-primary-700: 0, 255, 136;
  --ax-sys-color-primary-800: 0, 227, 110;
  --ax-sys-color-primary-900: 0, 198, 89;
  --ax-sys-color-primary-950: 0, 183, 81;
  --ax-sys-color-secondary-50: 255, 237, 244;
  --ax-sys-color-secondary-100: 255, 225, 235;
  --ax-sys-color-secondary-200: 255, 200, 217;
  --ax-sys-color-secondary-300: 255, 174, 199;
  --ax-sys-color-secondary-400: 255, 145, 180;
  --ax-sys-color-secondary-500: 255, 112, 162;
  --ax-sys-color-secondary-600: 255, 68, 144;
  --ax-sys-color-secondary-700: 255, 0, 128;
  --ax-sys-color-secondary-800: 236, 0, 114;
  --ax-sys-color-secondary-900: 211, 0, 100;
  --ax-sys-color-secondary-950: 199, 0, 94;
  --ax-sys-color-success-50: 219, 255, 255;
  --ax-sys-color-success-100: 209, 255, 255;
  --ax-sys-color-success-200: 185, 255, 255;
  --ax-sys-color-success-300: 159, 255, 255;
  --ax-sys-color-success-400: 125, 255, 255;
  --ax-sys-color-success-500: 76, 255, 255;
  --ax-sys-color-success-600: 27, 255, 255;
  --ax-sys-color-success-700: 0, 255, 255;
  --ax-sys-color-success-800: 0, 226, 226;
  --ax-sys-color-success-900: 0, 195, 196;
  --ax-sys-color-success-950: 0, 180, 181;
  --ax-sys-color-warning-50: 255, 255, 161;
  --ax-sys-color-warning-100: 255, 255, 144;
  --ax-sys-color-warning-200: 255, 255, 97;
  --ax-sys-color-warning-300: 255, 255, 30;
  --ax-sys-color-warning-400: 255, 255, 25;
  --ax-sys-color-warning-500: 255, 255, 19;
  --ax-sys-color-warning-600: 255, 255, 10;
  --ax-sys-color-warning-700: 255, 255, 0;
  --ax-sys-color-warning-800: 224, 223, 0;
  --ax-sys-color-warning-900: 192, 191, 0;
  --ax-sys-color-warning-950: 176, 175, 0;
  --ax-sys-color-danger-50: 255, 239, 234;
  --ax-sys-color-danger-100: 255, 227, 221;
  --ax-sys-color-danger-200: 255, 203, 195;
  --ax-sys-color-danger-300: 255, 179, 168;
  --ax-sys-color-danger-400: 255, 152, 139;
  --ax-sys-color-danger-500: 255, 122, 109;
  --ax-sys-color-danger-600: 255, 84, 76;
  --ax-sys-color-danger-700: 255, 48, 48;
  --ax-sys-color-danger-800: 236, 15, 29;
  --ax-sys-color-danger-900: 218, 0, 1;
  --ax-sys-color-danger-950: 207, 0, 0;
  --ax-sys-color-accent1-50: 249, 238, 255;
  --ax-sys-color-accent1-100: 240, 224, 255;
  --ax-sys-color-accent1-200: 223, 195, 255;
  --ax-sys-color-accent1-300: 207, 166, 255;
  --ax-sys-color-accent1-400: 191, 134, 255;
  --ax-sys-color-accent1-500: 177, 98, 255;
  --ax-sys-color-accent1-600: 158, 70, 249;
  --ax-sys-color-accent1-700: 138, 43, 226;
  --ax-sys-color-accent1-800: 128, 25, 214;
  --ax-sys-color-accent1-900: 119, 0, 203;
  --ax-sys-color-accent1-950: 114, 0, 197;
  --ax-sys-color-accent2-50: 232, 249, 255;
  --ax-sys-color-accent2-100: 218, 241, 255;
  --ax-sys-color-accent2-200: 190, 226, 255;
  --ax-sys-color-accent2-300: 161, 210, 255;
  --ax-sys-color-accent2-400: 131, 194, 255;
  --ax-sys-color-accent2-500: 98, 178, 255;
  --ax-sys-color-accent2-600: 59, 160, 255;
  --ax-sys-color-accent2-700: 30, 144, 255;
  --ax-sys-color-accent2-800: 0, 128, 237;
  --ax-sys-color-accent2-900: 0, 112, 220;
  --ax-sys-color-accent2-950: 0, 104, 211;
  --ax-sys-color-accent3-50: 255, 240, 234;
  --ax-sys-color-accent3-100: 255, 231, 222;
  --ax-sys-color-accent3-200: 255, 211, 198;
  --ax-sys-color-accent3-300: 255, 190, 173;
  --ax-sys-color-accent3-400: 255, 168, 148;
  --ax-sys-color-accent3-500: 255, 145, 121;
  --ax-sys-color-accent3-600: 255, 118, 91;
  --ax-sys-color-accent3-700: 255, 99, 71;
  --ax-sys-color-accent3-800: 234, 80, 53;
  --ax-sys-color-accent3-900: 214, 60, 32;
  --ax-sys-color-accent3-950: 204, 49, 20;
  --ax-sys-color-neutral-50: 240, 244, 255;
  --ax-sys-color-neutral-100: 229, 233, 245;
  --ax-sys-color-neutral-200: 207, 211, 223;
  --ax-sys-color-neutral-300: 186, 190, 202;
  --ax-sys-color-neutral-400: 165, 169, 181;
  --ax-sys-color-neutral-500: 145, 148, 160;
  --ax-sys-color-neutral-600: 125, 128, 140;
  --ax-sys-color-neutral-700: 106, 109, 120;
  --ax-sys-color-neutral-800: 96, 99, 110;
  --ax-sys-color-neutral-900: 87, 90, 101;
  --ax-sys-color-neutral-950: 82, 85, 96;
  --ax-sys-color-primary-lightest-surface: 218, 255, 229;
  --ax-sys-color-on-primary-lightest-surface: 0, 28, 11;
  --ax-sys-color-border-primary-lightest-surface: 264, 255, 261;
  --ax-sys-color-primary-lighter-surface: 195, 255, 213;
  --ax-sys-color-on-primary-lighter-surface: 0, 31, 4;
  --ax-sys-color-border-primary-lighter-surface: 241, 255, 245;
  --ax-sys-color-primary-light-surface: 170, 255, 197;
  --ax-sys-color-on-primary-light-surface: 0, 31, 3;
  --ax-sys-color-border-primary-light-surface: 216, 255, 228;
  --ax-sys-color-primary-surface: 99, 255, 160;
  --ax-sys-color-on-primary-surface: 0, 31, 3;
  --ax-sys-color-border-primary-surface: 145, 255, 188;
  --ax-sys-color-primary-dark-surface: 30, 255, 142;
  --ax-sys-color-on-primary-dark-surface: 0, 31, 3;
  --ax-sys-color-border-primary-dark-surface: 76, 255, 165;
  --ax-sys-color-primary-darker-surface: 0, 255, 136;
  --ax-sys-color-on-primary-darker-surface: 0, 31, 2;
  --ax-sys-color-border-primary-darker-surface: 46, 255, 157;
  --ax-sys-color-primary-darkest-surface: 0, 227, 110;
  --ax-sys-color-on-primary-darkest-surface: 0, 31, 0;
  --ax-sys-color-border-primary-darkest-surface: 18, 255, 133;
  --ax-sys-color-secondary-lightest-surface: 255, 225, 235;
  --ax-sys-color-on-secondary-lightest-surface: 34, 15, 23;
  --ax-sys-color-border-secondary-lightest-surface: 255, 271, 266;
  --ax-sys-color-secondary-lighter-surface: 255, 200, 217;
  --ax-sys-color-on-secondary-lighter-surface: 44, 5, 22;
  --ax-sys-color-border-secondary-lighter-surface: 255, 246, 249;
  --ax-sys-color-secondary-light-surface: 255, 174, 199;
  --ax-sys-color-on-secondary-light-surface: 52, 0, 21;
  --ax-sys-color-border-secondary-light-surface: 255, 220, 231;
  --ax-sys-color-secondary-surface: 255, 112, 162;
  --ax-sys-color-on-secondary-surface: 53, 0, 20;
  --ax-sys-color-border-secondary-surface: 255, 158, 192;
  --ax-sys-color-secondary-dark-surface: 255, 68, 144;
  --ax-sys-color-on-secondary-dark-surface: 53, 0, 19;
  --ax-sys-color-border-secondary-dark-surface: 255, 114, 171;
  --ax-sys-color-secondary-darker-surface: 255, 0, 128;
  --ax-sys-color-on-secondary-darker-surface: 53, 0, 18;
  --ax-sys-color-border-secondary-darker-surface: 255, 46, 151;
  --ax-sys-color-secondary-darkest-surface: 236, 0, 114;
  --ax-sys-color-on-secondary-darkest-surface: 53, 0, 17;
  --ax-sys-color-border-secondary-darkest-surface: 255, 27, 137;
  --ax-sys-color-success-lightest-surface: 209, 255, 255;
  --ax-sys-color-on-success-lightest-surface: 0, 28, 29;
  --ax-sys-color-border-success-lightest-surface: 255, 255, 255;
  --ax-sys-color-success-lighter-surface: 185, 255, 255;
  --ax-sys-color-on-success-lighter-surface: 0, 29, 30;
  --ax-sys-color-border-success-lighter-surface: 231, 255, 255;
  --ax-sys-color-success-light-surface: 159, 255, 255;
  --ax-sys-color-on-success-light-surface: 0, 29, 30;
  --ax-sys-color-border-success-light-surface: 205, 255, 255;
  --ax-sys-color-success-surface: 76, 255, 255;
  --ax-sys-color-on-success-surface: 0, 29, 29;
  --ax-sys-color-border-success-surface: 122, 255, 255;
  --ax-sys-color-success-dark-surface: 27, 255, 255;
  --ax-sys-color-on-success-dark-surface: 0, 29, 29;
  --ax-sys-color-border-success-dark-surface: 73, 255, 255;
  --ax-sys-color-success-darker-surface: 0, 255, 255;
  --ax-sys-color-on-success-darker-surface: 0, 29, 29;
  --ax-sys-color-border-success-darker-surface: 46, 255, 255;
  --ax-sys-color-success-darkest-surface: 0, 226, 226;
  --ax-sys-color-on-success-darkest-surface: 0, 29, 29;
  --ax-sys-color-border-success-darkest-surface: 17, 255, 255;
  --ax-sys-color-warning-lightest-surface: 255, 255, 144;
  --ax-sys-color-on-warning-lightest-surface: 25, 23, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 255, 190;
  --ax-sys-color-warning-lighter-surface: 255, 255, 97;
  --ax-sys-color-on-warning-lighter-surface: 25, 23, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 255, 143;
  --ax-sys-color-warning-light-surface: 255, 255, 30;
  --ax-sys-color-on-warning-light-surface: 24, 24, 0;
  --ax-sys-color-border-warning-light-surface: 255, 255, 76;
  --ax-sys-color-warning-surface: 255, 255, 19;
  --ax-sys-color-on-warning-surface: 24, 24, 0;
  --ax-sys-color-border-warning-surface: 255, 255, 65;
  --ax-sys-color-warning-dark-surface: 255, 255, 10;
  --ax-sys-color-on-warning-dark-surface: 24, 24, 0;
  --ax-sys-color-border-warning-dark-surface: 255, 255, 56;
  --ax-sys-color-warning-darker-surface: 255, 255, 0;
  --ax-sys-color-on-warning-darker-surface: 24, 24, 0;
  --ax-sys-color-border-warning-darker-surface: 255, 255, 46;
  --ax-sys-color-warning-darkest-surface: 224, 223, 0;
  --ax-sys-color-on-warning-darkest-surface: 25, 24, 0;
  --ax-sys-color-border-warning-darkest-surface: 255, 254, 15;
  --ax-sys-color-danger-lightest-surface: 255, 227, 221;
  --ax-sys-color-on-danger-lightest-surface: 35, 16, 13;
  --ax-sys-color-border-danger-lightest-surface: 255, 265, 267;
  --ax-sys-color-danger-lighter-surface: 255, 203, 195;
  --ax-sys-color-on-danger-lighter-surface: 44, 8, 6;
  --ax-sys-color-border-danger-lighter-surface: 255, 243, 241;
  --ax-sys-color-danger-light-surface: 255, 179, 168;
  --ax-sys-color-on-danger-light-surface: 53, 0, 0;
  --ax-sys-color-border-danger-light-surface: 255, 219, 214;
  --ax-sys-color-danger-surface: 255, 122, 109;
  --ax-sys-color-on-danger-surface: 56, 0, 0;
  --ax-sys-color-border-danger-surface: 255, 164, 155;
  --ax-sys-color-danger-dark-surface: 255, 84, 76;
  --ax-sys-color-on-danger-dark-surface: 56, 0, 0;
  --ax-sys-color-border-danger-dark-surface: 255, 128, 122;
  --ax-sys-color-danger-darker-surface: 255, 48, 48;
  --ax-sys-color-on-danger-darker-surface: 56, 0, 0;
  --ax-sys-color-border-danger-darker-surface: 255, 94, 94;
  --ax-sys-color-danger-darkest-surface: 236, 15, 29;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darkest-surface: 242, 55, 67;
  --ax-sys-color-accent1-lightest-surface: 240, 224, 255;
  --ax-sys-color-on-accent1-lightest-surface: 28, 16, 37;
  --ax-sys-color-border-accent1-lightest-surface: 262, 270, 255;
  --ax-sys-color-accent1-lighter-surface: 223, 195, 255;
  --ax-sys-color-on-accent1-lighter-surface: 32, 5, 52;
  --ax-sys-color-border-accent1-lighter-surface: 247, 241, 255;
  --ax-sys-color-accent1-light-surface: 207, 166, 255;
  --ax-sys-color-on-accent1-light-surface: 36, 0, 66;
  --ax-sys-color-border-accent1-light-surface: 232, 212, 255;
  --ax-sys-color-accent1-surface: 177, 98, 255;
  --ax-sys-color-on-accent1-surface: 36, 0, 67;
  --ax-sys-color-border-accent1-surface: 200, 144, 255;
  --ax-sys-color-accent1-dark-surface: 158, 70, 249;
  --ax-sys-color-on-accent1-dark-surface: 34, 0, 69;
  --ax-sys-color-border-accent1-dark-surface: 181, 114, 250;
  --ax-sys-color-accent1-darker-surface: 138, 43, 226;
  --ax-sys-color-on-accent1-darker-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-darker-surface: 160, 83, 232;
  --ax-sys-color-accent1-darkest-surface: 128, 25, 214;
  --ax-sys-color-on-accent1-darkest-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-darkest-surface: 150, 53, 231;
  --ax-sys-color-accent2-lightest-surface: 218, 241, 255;
  --ax-sys-color-on-accent2-lightest-surface: 6, 24, 34;
  --ax-sys-color-border-accent2-lightest-surface: 264, 258, 255;
  --ax-sys-color-accent2-lighter-surface: 190, 226, 255;
  --ax-sys-color-on-accent2-lighter-surface: 0, 24, 45;
  --ax-sys-color-border-accent2-lighter-surface: 236, 246, 255;
  --ax-sys-color-accent2-light-surface: 161, 210, 255;
  --ax-sys-color-on-accent2-light-surface: 0, 22, 56;
  --ax-sys-color-border-accent2-light-surface: 207, 232, 255;
  --ax-sys-color-accent2-surface: 98, 178, 255;
  --ax-sys-color-on-accent2-surface: 0, 20, 61;
  --ax-sys-color-border-accent2-surface: 144, 201, 255;
  --ax-sys-color-accent2-dark-surface: 59, 160, 255;
  --ax-sys-color-on-accent2-dark-surface: 0, 19, 63;
  --ax-sys-color-border-accent2-dark-surface: 105, 182, 255;
  --ax-sys-color-accent2-darker-surface: 30, 144, 255;
  --ax-sys-color-on-accent2-darker-surface: 0, 17, 68;
  --ax-sys-color-border-accent2-darker-surface: 76, 167, 255;
  --ax-sys-color-accent2-darkest-surface: 0, 128, 237;
  --ax-sys-color-on-accent2-darkest-surface: 0, 16, 69;
  --ax-sys-color-border-accent2-darkest-surface: 28, 151, 255;
  --ax-sys-color-accent3-lightest-surface: 255, 231, 222;
  --ax-sys-color-on-accent3-lightest-surface: 33, 17, 11;
  --ax-sys-color-border-accent3-lightest-surface: 255, 264, 268;
  --ax-sys-color-accent3-lighter-surface: 255, 211, 198;
  --ax-sys-color-on-accent3-lighter-surface: 41, 11, 4;
  --ax-sys-color-border-accent3-lighter-surface: 255, 246, 244;
  --ax-sys-color-accent3-light-surface: 255, 190, 173;
  --ax-sys-color-on-accent3-light-surface: 49, 2, 0;
  --ax-sys-color-border-accent3-light-surface: 255, 226, 219;
  --ax-sys-color-accent3-surface: 255, 145, 121;
  --ax-sys-color-on-accent3-surface: 56, 0, 0;
  --ax-sys-color-border-accent3-surface: 255, 183, 167;
  --ax-sys-color-accent3-dark-surface: 255, 118, 91;
  --ax-sys-color-on-accent3-dark-surface: 56, 0, 0;
  --ax-sys-color-border-accent3-dark-surface: 255, 156, 137;
  --ax-sys-color-accent3-darker-surface: 255, 99, 71;
  --ax-sys-color-on-accent3-darker-surface: 56, 0, 0;
  --ax-sys-color-border-accent3-darker-surface: 255, 138, 117;
  --ax-sys-color-accent3-darkest-surface: 234, 80, 53;
  --ax-sys-color-on-accent3-darkest-surface: 56, 0, 0;
  --ax-sys-color-border-accent3-darkest-surface: 238, 116, 95;
  --ax-sys-color-neutral-lightest-surface: 229, 233, 245;
  --ax-sys-color-on-neutral-lightest-surface: 19, 22, 30;
  --ax-sys-color-border-neutral-lightest-surface: 262, 261, 258;
  --ax-sys-color-neutral-lighter-surface: 207, 211, 223;
  --ax-sys-color-on-neutral-lighter-surface: 19, 22, 30;
  --ax-sys-color-border-neutral-lighter-surface: 235, 236, 241;
  --ax-sys-color-neutral-light-surface: 186, 190, 202;
  --ax-sys-color-on-neutral-light-surface: 19, 22, 30;
  --ax-sys-color-border-neutral-light-surface: 212, 214, 222;
  --ax-sys-color-neutral-surface: 145, 148, 160;
  --ax-sys-color-on-neutral-surface: 19, 21, 30;
  --ax-sys-color-border-neutral-surface: 170, 172, 181;
  --ax-sys-color-neutral-dark-surface: 125, 128, 140;
  --ax-sys-color-on-neutral-dark-surface: 19, 21, 31;
  --ax-sys-color-border-neutral-dark-surface: 149, 152, 162;
  --ax-sys-color-neutral-darker-surface: 106, 109, 120;
  --ax-sys-color-on-neutral-darker-surface: 19, 22, 30;
  --ax-sys-color-border-neutral-darker-surface: 129, 132, 143;
  --ax-sys-color-neutral-darkest-surface: 96, 99, 110;
  --ax-sys-color-on-neutral-darkest-surface: 249, 253, 255;
  --ax-sys-color-border-neutral-darkest-surface: 117, 121, 135;
}
