/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 252, 249, 246;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 48, 48, 48;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 246, 246, 245;
  --ax-sys-color-on-lighter-surface: 46, 46, 45;
  --ax-sys-color-border-lighter-surface: 230, 228, 226;
  --ax-sys-color-light-surface: 240, 239, 238;
  --ax-sys-color-on-light-surface: 46, 46, 45;
  --ax-sys-color-border-light-surface: 223, 221, 219;
  --ax-sys-color-surface: 233, 232, 231;
  --ax-sys-color-on-surface: 46, 46, 44;
  --ax-sys-color-border-surface: 217, 215, 212;
  --ax-sys-color-dark-surface: 227, 225, 223;
  --ax-sys-color-on-dark-surface: 47, 46, 44;
  --ax-sys-color-border-dark-surface: 210, 208, 204;
  --ax-sys-color-darker-surface: 220, 219, 216;
  --ax-sys-color-on-darker-surface: 47, 46, 44;
  --ax-sys-color-border-darker-surface: 203, 201, 197;
  --ax-sys-color-darkest-surface: 212, 209, 206;
  --ax-sys-color-on-darkest-surface: 47, 46, 43;
  --ax-sys-color-border-darkest-surface: 195, 192, 187;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 242, 203;
  --ax-sys-color-primary-100: 255, 229, 170;
  --ax-sys-color-primary-200: 255, 212, 144;
  --ax-sys-color-primary-300: 234, 189, 122;
  --ax-sys-color-primary-400: 204, 160, 93;
  --ax-sys-color-primary-500: 185, 142, 75;
  --ax-sys-color-primary-600: 164, 122, 54;
  --ax-sys-color-primary-700: 138, 97, 25;
  --ax-sys-color-primary-800: 116, 79, 17;
  --ax-sys-color-primary-900: 93, 68, 36;
  --ax-sys-color-primary-950: 45, 32, 20;
  --ax-sys-color-secondary-50: 255, 239, 227;
  --ax-sys-color-secondary-100: 255, 225, 207;
  --ax-sys-color-secondary-200: 255, 205, 178;
  --ax-sys-color-secondary-300: 255, 171, 129;
  --ax-sys-color-secondary-400: 250, 133, 80;
  --ax-sys-color-secondary-500: 230, 115, 61;
  --ax-sys-color-secondary-600: 206, 94, 37;
  --ax-sys-color-secondary-700: 178, 67, 0;
  --ax-sys-color-secondary-800: 150, 51, 17;
  --ax-sys-color-secondary-900: 115, 53, 36;
  --ax-sys-color-secondary-950: 55, 26, 20;
  --ax-sys-color-success-50: 210, 255, 214;
  --ax-sys-color-success-100: 180, 255, 186;
  --ax-sys-color-success-200: 165, 243, 172;
  --ax-sys-color-success-300: 141, 219, 149;
  --ax-sys-color-success-400: 112, 189, 121;
  --ax-sys-color-success-500: 94, 170, 103;
  --ax-sys-color-success-600: 73, 149, 83;
  --ax-sys-color-success-700: 47, 124, 60;
  --ax-sys-color-success-800: 33, 103, 46;
  --ax-sys-color-success-900: 40, 85, 45;
  --ax-sys-color-success-950: 23, 42, 22;
  --ax-sys-color-warning-50: 255, 247, 207;
  --ax-sys-color-warning-100: 255, 239, 185;
  --ax-sys-color-warning-200: 255, 228, 152;
  --ax-sys-color-warning-300: 255, 209, 91;
  --ax-sys-color-warning-400: 254, 189, 36;
  --ax-sys-color-warning-500: 242, 177, 0;
  --ax-sys-color-warning-600: 212, 148, 0;
  --ax-sys-color-warning-700: 170, 117, 0;
  --ax-sys-color-warning-800: 134, 94, 21;
  --ax-sys-color-warning-900: 103, 78, 41;
  --ax-sys-color-warning-950: 40, 30, 18;
  --ax-sys-color-danger-50: 255, 229, 233;
  --ax-sys-color-danger-100: 255, 203, 211;
  --ax-sys-color-danger-200: 255, 164, 179;
  --ax-sys-color-danger-300: 250, 106, 134;
  --ax-sys-color-danger-400: 196, 56, 90;
  --ax-sys-color-danger-500: 162, 14, 63;
  --ax-sys-color-danger-600: 152, 0, 55;
  --ax-sys-color-danger-700: 140, 0, 46;
  --ax-sys-color-danger-800: 123, 15, 43;
  --ax-sys-color-danger-900: 100, 34, 45;
  --ax-sys-color-danger-950: 68, 31, 35;
  --ax-sys-color-accent1-50: 255, 226, 247;
  --ax-sys-color-accent1-100: 255, 198, 234;
  --ax-sys-color-accent1-200: 255, 154, 216;
  --ax-sys-color-accent1-300: 229, 111, 178;
  --ax-sys-color-accent1-400: 175, 62, 130;
  --ax-sys-color-accent1-500: 142, 28, 101;
  --ax-sys-color-accent1-600: 133, 17, 94;
  --ax-sys-color-accent1-700: 123, 0, 85;
  --ax-sys-color-accent1-800: 111, 14, 76;
  --ax-sys-color-accent1-900: 94, 33, 68;
  --ax-sys-color-accent1-950: 66, 30, 50;
  --ax-sys-color-accent2-50: 199, 255, 251;
  --ax-sys-color-accent2-100: 146, 255, 244;
  --ax-sys-color-accent2-200: 132, 249, 231;
  --ax-sys-color-accent2-300: 110, 227, 210;
  --ax-sys-color-accent2-400: 81, 201, 184;
  --ax-sys-color-accent2-500: 61, 184, 168;
  --ax-sys-color-accent2-600: 23, 161, 145;
  --ax-sys-color-accent2-700: 0, 133, 118;
  --ax-sys-color-accent2-800: 23, 109, 97;
  --ax-sys-color-accent2-900: 43, 87, 80;
  --ax-sys-color-accent2-950: 23, 40, 36;
  --ax-sys-color-accent3-50: 228, 238, 255;
  --ax-sys-color-accent3-100: 201, 217, 255;
  --ax-sys-color-accent3-200: 174, 189, 238;
  --ax-sys-color-accent3-300: 132, 147, 193;
  --ax-sys-color-accent3-400: 83, 96, 139;
  --ax-sys-color-accent3-500: 54, 65, 106;
  --ax-sys-color-accent3-600: 50, 61, 101;
  --ax-sys-color-accent3-700: 45, 56, 96;
  --ax-sys-color-accent3-800: 43, 52, 89;
  --ax-sys-color-accent3-900: 43, 50, 76;
  --ax-sys-color-accent3-950: 37, 42, 61;
  --ax-sys-color-neutral-50: 255, 244, 218;
  --ax-sys-color-neutral-100: 250, 234, 208;
  --ax-sys-color-neutral-200: 235, 219, 194;
  --ax-sys-color-neutral-300: 212, 197, 172;
  --ax-sys-color-neutral-400: 184, 169, 144;
  --ax-sys-color-neutral-500: 166, 151, 127;
  --ax-sys-color-neutral-600: 145, 130, 107;
  --ax-sys-color-neutral-700: 120, 106, 83;
  --ax-sys-color-neutral-800: 99, 86, 66;
  --ax-sys-color-neutral-900: 81, 72, 58;
  --ax-sys-color-neutral-950: 40, 34, 24;
  --ax-sys-color-primary-lightest-surface: 255, 229, 170;
  --ax-sys-color-on-primary-lightest-surface: 63, 42, 0;
  --ax-sys-color-border-primary-lightest-surface: 255, 218, 134;
  --ax-sys-color-primary-lighter-surface: 255, 212, 144;
  --ax-sys-color-on-primary-lighter-surface: 67, 39, 0;
  --ax-sys-color-border-primary-lighter-surface: 255, 198, 108;
  --ax-sys-color-primary-light-surface: 234, 189, 122;
  --ax-sys-color-on-primary-light-surface: 68, 38, 0;
  --ax-sys-color-border-primary-light-surface: 229, 174, 91;
  --ax-sys-color-primary-surface: 185, 142, 75;
  --ax-sys-color-on-primary-surface: 255, 251, 223;
  --ax-sys-color-border-primary-surface: 161, 123, 63;
  --ax-sys-color-primary-dark-surface: 164, 122, 54;
  --ax-sys-color-on-primary-dark-surface: 255, 251, 223;
  --ax-sys-color-border-primary-dark-surface: 137, 102, 45;
  --ax-sys-color-primary-darker-surface: 138, 97, 25;
  --ax-sys-color-on-primary-darker-surface: 255, 251, 223;
  --ax-sys-color-border-primary-darker-surface: 108, 76, 20;
  --ax-sys-color-primary-darkest-surface: 116, 79, 17;
  --ax-sys-color-on-primary-darkest-surface: 255, 250, 225;
  --ax-sys-color-border-primary-darkest-surface: 85, 58, 12;
  --ax-sys-color-secondary-lightest-surface: 255, 225, 207;
  --ax-sys-color-on-secondary-lightest-surface: 62, 40, 26;
  --ax-sys-color-border-secondary-lightest-surface: 255, 203, 171;
  --ax-sys-color-secondary-lighter-surface: 255, 205, 178;
  --ax-sys-color-on-secondary-lighter-surface: 72, 34, 10;
  --ax-sys-color-border-secondary-lighter-surface: 255, 182, 142;
  --ax-sys-color-secondary-light-surface: 255, 171, 129;
  --ax-sys-color-on-secondary-light-surface: 86, 20, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 147, 93;
  --ax-sys-color-secondary-surface: 230, 115, 61;
  --ax-sys-color-on-secondary-surface: 255, 248, 240;
  --ax-sys-color-border-secondary-surface: 226, 92, 29;
  --ax-sys-color-secondary-dark-surface: 206, 94, 37;
  --ax-sys-color-on-secondary-dark-surface: 255, 248, 240;
  --ax-sys-color-border-secondary-dark-surface: 176, 80, 32;
  --ax-sys-color-secondary-darker-surface: 178, 67, 0;
  --ax-sys-color-on-secondary-darker-surface: 255, 248, 240;
  --ax-sys-color-border-secondary-darker-surface: 142, 54, 0;
  --ax-sys-color-secondary-darkest-surface: 150, 51, 17;
  --ax-sys-color-on-secondary-darkest-surface: 255, 248, 242;
  --ax-sys-color-border-secondary-darkest-surface: 118, 40, 13;
  --ax-sys-color-success-lightest-surface: 180, 255, 186;
  --ax-sys-color-on-success-lightest-surface: 0, 60, 0;
  --ax-sys-color-border-success-lightest-surface: 144, 255, 153;
  --ax-sys-color-success-lighter-surface: 165, 243, 172;
  --ax-sys-color-on-success-lighter-surface: 0, 60, 0;
  --ax-sys-color-border-success-lighter-surface: 134, 239, 143;
  --ax-sys-color-success-light-surface: 141, 219, 149;
  --ax-sys-color-on-success-light-surface: 0, 60, 0;
  --ax-sys-color-border-success-light-surface: 114, 210, 124;
  --ax-sys-color-success-surface: 94, 170, 103;
  --ax-sys-color-on-success-surface: 234, 255, 236;
  --ax-sys-color-border-success-surface: 79, 149, 87;
  --ax-sys-color-success-dark-surface: 73, 149, 83;
  --ax-sys-color-on-success-dark-surface: 234, 255, 236;
  --ax-sys-color-border-success-dark-surface: 61, 125, 70;
  --ax-sys-color-success-darker-surface: 47, 124, 60;
  --ax-sys-color-on-success-darker-surface: 234, 255, 236;
  --ax-sys-color-border-success-darker-surface: 37, 98, 47;
  --ax-sys-color-success-darkest-surface: 33, 103, 46;
  --ax-sys-color-on-success-darkest-surface: 234, 255, 236;
  --ax-sys-color-border-success-darkest-surface: 24, 76, 34;
  --ax-sys-color-warning-lightest-surface: 255, 239, 185;
  --ax-sys-color-on-warning-lightest-surface: 58, 44, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 231, 149;
  --ax-sys-color-warning-lighter-surface: 255, 228, 152;
  --ax-sys-color-on-warning-lighter-surface: 61, 43, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 219, 116;
  --ax-sys-color-warning-light-surface: 255, 209, 91;
  --ax-sys-color-on-warning-light-surface: 63, 42, 0;
  --ax-sys-color-border-warning-light-surface: 255, 199, 55;
  --ax-sys-color-warning-surface: 242, 177, 0;
  --ax-sys-color-on-warning-surface: 255, 251, 218;
  --ax-sys-color-border-warning-surface: 206, 151, 0;
  --ax-sys-color-warning-dark-surface: 212, 148, 0;
  --ax-sys-color-on-warning-dark-surface: 255, 251, 222;
  --ax-sys-color-border-warning-dark-surface: 176, 123, 0;
  --ax-sys-color-warning-darker-surface: 170, 117, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 251, 223;
  --ax-sys-color-border-warning-darker-surface: 134, 92, 0;
  --ax-sys-color-warning-darkest-surface: 134, 94, 21;
  --ax-sys-color-on-warning-darkest-surface: 255, 251, 223;
  --ax-sys-color-border-warning-darkest-surface: 103, 72, 16;
  --ax-sys-color-danger-lightest-surface: 255, 203, 211;
  --ax-sys-color-on-danger-lightest-surface: 71, 32, 40;
  --ax-sys-color-border-danger-lightest-surface: 255, 167, 181;
  --ax-sys-color-danger-lighter-surface: 255, 164, 179;
  --ax-sys-color-on-danger-lighter-surface: 87, 9, 34;
  --ax-sys-color-border-danger-lighter-surface: 255, 128, 149;
  --ax-sys-color-danger-light-surface: 250, 106, 134;
  --ax-sys-color-on-danger-light-surface: 255, 247, 249;
  --ax-sys-color-border-danger-light-surface: 249, 71, 106;
  --ax-sys-color-danger-surface: 162, 14, 63;
  --ax-sys-color-on-danger-surface: 255, 247, 249;
  --ax-sys-color-border-danger-surface: 129, 11, 50;
  --ax-sys-color-danger-dark-surface: 152, 0, 55;
  --ax-sys-color-on-danger-dark-surface: 255, 247, 249;
  --ax-sys-color-border-danger-dark-surface: 116, 0, 42;
  --ax-sys-color-danger-darker-surface: 140, 0, 46;
  --ax-sys-color-on-danger-darker-surface: 255, 247, 248;
  --ax-sys-color-border-danger-darker-surface: 104, 0, 34;
  --ax-sys-color-danger-darkest-surface: 123, 15, 43;
  --ax-sys-color-on-danger-darkest-surface: 255, 247, 248;
  --ax-sys-color-border-danger-darkest-surface: 91, 11, 32;
  --ax-sys-color-accent1-lightest-surface: 255, 198, 234;
  --ax-sys-color-on-accent1-lightest-surface: 71, 27, 58;
  --ax-sys-color-border-accent1-lightest-surface: 255, 162, 221;
  --ax-sys-color-accent1-lighter-surface: 255, 154, 216;
  --ax-sys-color-on-accent1-lighter-surface: 88, 0, 63;
  --ax-sys-color-border-accent1-lighter-surface: 255, 118, 202;
  --ax-sys-color-accent1-light-surface: 229, 111, 178;
  --ax-sys-color-on-accent1-light-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-light-surface: 224, 81, 162;
  --ax-sys-color-accent1-surface: 142, 28, 101;
  --ax-sys-color-on-accent1-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-surface: 112, 22, 80;
  --ax-sys-color-accent1-dark-surface: 133, 17, 94;
  --ax-sys-color-on-accent1-dark-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-dark-surface: 101, 13, 72;
  --ax-sys-color-accent1-darker-surface: 123, 0, 85;
  --ax-sys-color-on-accent1-darker-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darker-surface: 87, 0, 60;
  --ax-sys-color-accent1-darkest-surface: 111, 14, 76;
  --ax-sys-color-on-accent1-darkest-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darkest-surface: 79, 10, 54;
  --ax-sys-color-accent2-lightest-surface: 146, 255, 244;
  --ax-sys-color-on-accent2-lightest-surface: 0, 57, 52;
  --ax-sys-color-border-accent2-lightest-surface: 110, 255, 240;
  --ax-sys-color-accent2-lighter-surface: 132, 249, 231;
  --ax-sys-color-on-accent2-lighter-surface: 0, 57, 49;
  --ax-sys-color-border-accent2-lighter-surface: 98, 247, 224;
  --ax-sys-color-accent2-light-surface: 110, 227, 210;
  --ax-sys-color-on-accent2-light-surface: 0, 57, 49;
  --ax-sys-color-border-accent2-light-surface: 80, 221, 201;
  --ax-sys-color-accent2-surface: 61, 184, 168;
  --ax-sys-color-on-accent2-surface: 226, 255, 255;
  --ax-sys-color-border-accent2-surface: 52, 157, 144;
  --ax-sys-color-accent2-dark-surface: 23, 161, 145;
  --ax-sys-color-on-accent2-dark-surface: 226, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 19, 130, 117;
  --ax-sys-color-accent2-darker-surface: 0, 133, 118;
  --ax-sys-color-on-accent2-darker-surface: 227, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 0, 97, 86;
  --ax-sys-color-accent2-darkest-surface: 23, 109, 97;
  --ax-sys-color-on-accent2-darkest-surface: 227, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 17, 80, 71;
  --ax-sys-color-accent3-lightest-surface: 201, 217, 255;
  --ax-sys-color-on-accent3-lightest-surface: 33, 44, 74;
  --ax-sys-color-border-accent3-lightest-surface: 165, 192, 255;
  --ax-sys-color-accent3-lighter-surface: 174, 189, 238;
  --ax-sys-color-on-accent3-lighter-surface: 33, 42, 81;
  --ax-sys-color-border-accent3-lighter-surface: 144, 165, 232;
  --ax-sys-color-accent3-light-surface: 132, 147, 193;
  --ax-sys-color-on-accent3-light-surface: 247, 253, 255;
  --ax-sys-color-border-accent3-light-surface: 108, 126, 181;
  --ax-sys-color-accent3-surface: 54, 65, 106;
  --ax-sys-color-on-accent3-surface: 248, 253, 255;
  --ax-sys-color-border-accent3-surface: 42, 50, 82;
  --ax-sys-color-accent3-dark-surface: 50, 61, 101;
  --ax-sys-color-on-accent3-dark-surface: 248, 253, 255;
  --ax-sys-color-border-accent3-dark-surface: 38, 47, 77;
  --ax-sys-color-accent3-darker-surface: 45, 56, 96;
  --ax-sys-color-on-accent3-darker-surface: 247, 253, 255;
  --ax-sys-color-border-accent3-darker-surface: 34, 42, 72;
  --ax-sys-color-accent3-darkest-surface: 43, 52, 89;
  --ax-sys-color-on-accent3-darkest-surface: 248, 253, 255;
  --ax-sys-color-border-accent3-darkest-surface: 31, 38, 65;
  --ax-sys-color-neutral-lightest-surface: 250, 234, 208;
  --ax-sys-color-on-neutral-lightest-surface: 56, 44, 23;
  --ax-sys-color-border-neutral-lightest-surface: 247, 220, 176;
  --ax-sys-color-neutral-lighter-surface: 235, 219, 194;
  --ax-sys-color-on-neutral-lighter-surface: 56, 44, 23;
  --ax-sys-color-border-neutral-lighter-surface: 226, 203, 167;
  --ax-sys-color-neutral-light-surface: 212, 197, 172;
  --ax-sys-color-on-neutral-light-surface: 56, 44, 23;
  --ax-sys-color-border-neutral-light-surface: 200, 181, 148;
  --ax-sys-color-neutral-surface: 166, 151, 127;
  --ax-sys-color-on-neutral-surface: 255, 251, 225;
  --ax-sys-color-border-neutral-surface: 151, 134, 106;
  --ax-sys-color-neutral-dark-surface: 145, 130, 107;
  --ax-sys-color-on-neutral-dark-surface: 255, 251, 225;
  --ax-sys-color-border-neutral-dark-surface: 124, 112, 92;
  --ax-sys-color-neutral-darker-surface: 120, 106, 83;
  --ax-sys-color-on-neutral-darker-surface: 255, 251, 225;
  --ax-sys-color-border-neutral-darker-surface: 99, 87, 68;
  --ax-sys-color-neutral-darkest-surface: 99, 86, 66;
  --ax-sys-color-on-neutral-darkest-surface: 255, 251, 228;
  --ax-sys-color-border-neutral-darkest-surface: 78, 67, 52;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 252, 249, 246;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 48, 48, 48;
  --ax-sys-color-lightest-surface: 48, 48, 48;
  --ax-sys-color-on-lightest-surface: 253, 253, 253;
  --ax-sys-color-border-lightest-surface: 71, 71, 71;
  --ax-sys-color-lighter-surface: 46, 46, 46;
  --ax-sys-color-on-lighter-surface: 253, 253, 253;
  --ax-sys-color-border-lighter-surface: 69, 69, 69;
  --ax-sys-color-light-surface: 44, 44, 44;
  --ax-sys-color-on-light-surface: 253, 253, 253;
  --ax-sys-color-border-light-surface: 67, 67, 67;
  --ax-sys-color-surface: 42, 42, 42;
  --ax-sys-color-on-surface: 253, 253, 253;
  --ax-sys-color-border-surface: 65, 65, 65;
  --ax-sys-color-dark-surface: 40, 40, 40;
  --ax-sys-color-on-dark-surface: 253, 253, 253;
  --ax-sys-color-border-dark-surface: 63, 63, 63;
  --ax-sys-color-darker-surface: 38, 38, 38;
  --ax-sys-color-on-darker-surface: 253, 253, 253;
  --ax-sys-color-border-darker-surface: 61, 61, 61;
  --ax-sys-color-darkest-surface: 36, 36, 36;
  --ax-sys-color-on-darkest-surface: 253, 253, 253;
  --ax-sys-color-border-darkest-surface: 59, 59, 59;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 243, 206;
  --ax-sys-color-primary-100: 255, 234, 183;
  --ax-sys-color-primary-200: 255, 216, 148;
  --ax-sys-color-primary-300: 246, 201, 133;
  --ax-sys-color-primary-400: 231, 186, 118;
  --ax-sys-color-primary-500: 215, 171, 104;
  --ax-sys-color-primary-600: 200, 156, 89;
  --ax-sys-color-primary-700: 185, 142, 75;
  --ax-sys-color-primary-800: 168, 126, 58;
  --ax-sys-color-primary-900: 151, 110, 41;
  --ax-sys-color-primary-950: 143, 102, 31;
  --ax-sys-color-secondary-50: 255, 241, 229;
  --ax-sys-color-secondary-100: 255, 231, 214;
  --ax-sys-color-secondary-200: 255, 210, 185;
  --ax-sys-color-secondary-300: 255, 188, 155;
  --ax-sys-color-secondary-400: 255, 166, 121;
  --ax-sys-color-secondary-500: 255, 144, 91;
  --ax-sys-color-secondary-600: 246, 129, 76;
  --ax-sys-color-secondary-700: 230, 115, 61;
  --ax-sys-color-secondary-800: 211, 98, 42;
  --ax-sys-color-secondary-900: 192, 81, 19;
  --ax-sys-color-secondary-950: 183, 72, 1;
  --ax-sys-color-success-50: 213, 255, 217;
  --ax-sys-color-success-100: 184, 255, 191;
  --ax-sys-color-success-200: 168, 247, 175;
  --ax-sys-color-success-300: 153, 231, 160;
  --ax-sys-color-success-400: 138, 215, 146;
  --ax-sys-color-success-500: 123, 200, 131;
  --ax-sys-color-success-600: 109, 185, 117;
  --ax-sys-color-success-700: 94, 170, 103;
  --ax-sys-color-success-800: 78, 153, 87;
  --ax-sys-color-success-900: 61, 137, 72;
  --ax-sys-color-success-950: 52, 129, 64;
  --ax-sys-color-warning-50: 255, 248, 208;
  --ax-sys-color-warning-100: 255, 242, 193;
  --ax-sys-color-warning-200: 255, 230, 161;
  --ax-sys-color-warning-300: 255, 219, 125;
  --ax-sys-color-warning-400: 255, 206, 79;
  --ax-sys-color-warning-500: 255, 196, 49;
  --ax-sys-color-warning-600: 252, 186, 31;
  --ax-sys-color-warning-700: 242, 177, 0;
  --ax-sys-color-warning-800: 218, 154, 0;
  --ax-sys-color-warning-900: 192, 133, 0;
  --ax-sys-color-warning-950: 178, 123, 0;
  --ax-sys-color-danger-50: 255, 231, 235;
  --ax-sys-color-danger-100: 255, 213, 219;
  --ax-sys-color-danger-200: 255, 174, 187;
  --ax-sys-color-danger-300: 255, 130, 154;
  --ax-sys-color-danger-400: 244, 101, 128;
  --ax-sys-color-danger-500: 216, 75, 106;
  --ax-sys-color-danger-600: 189, 49, 84;
  --ax-sys-color-danger-700: 162, 14, 63;
  --ax-sys-color-danger-800: 154, 0, 57;
  --ax-sys-color-danger-900: 146, 0, 51;
  --ax-sys-color-danger-950: 142, 0, 48;
  --ax-sys-color-accent1-50: 255, 229, 249;
  --ax-sys-color-accent1-100: 255, 209, 239;
  --ax-sys-color-accent1-200: 255, 165, 220;
  --ax-sys-color-accent1-300: 250, 130, 198;
  --ax-sys-color-accent1-400: 223, 106, 173;
  --ax-sys-color-accent1-500: 195, 81, 148;
  --ax-sys-color-accent1-600: 168, 56, 124;
  --ax-sys-color-accent1-700: 142, 28, 101;
  --ax-sys-color-accent1-800: 135, 19, 95;
  --ax-sys-color-accent1-900: 128, 8, 89;
  --ax-sys-color-accent1-950: 125, 2, 86;
  --ax-sys-color-accent2-50: 203, 255, 252;
  --ax-sys-color-accent2-100: 168, 255, 247;
  --ax-sys-color-accent2-200: 136, 252, 234;
  --ax-sys-color-accent2-300: 122, 238, 221;
  --ax-sys-color-accent2-400: 107, 224, 207;
  --ax-sys-color-accent2-500: 92, 211, 194;
  --ax-sys-color-accent2-600: 77, 197, 181;
  --ax-sys-color-accent2-700: 61, 184, 168;
  --ax-sys-color-accent2-800: 33, 165, 150;
  --ax-sys-color-accent2-900: 0, 147, 132;
  --ax-sys-color-accent2-950: 0, 138, 124;
  --ax-sys-color-accent3-50: 230, 240, 255;
  --ax-sys-color-accent3-100: 210, 225, 255;
  --ax-sys-color-accent3-200: 180, 196, 245;
  --ax-sys-color-accent3-300: 153, 168, 216;
  --ax-sys-color-accent3-400: 127, 141, 187;
  --ax-sys-color-accent3-500: 101, 115, 159;
  --ax-sys-color-accent3-600: 77, 89, 132;
  --ax-sys-color-accent3-700: 54, 65, 106;
  --ax-sys-color-accent3-800: 51, 62, 102;
  --ax-sys-color-accent3-900: 48, 58, 99;
  --ax-sys-color-accent3-950: 46, 57, 97;
  --ax-sys-color-neutral-50: 255, 245, 219;
  --ax-sys-color-neutral-100: 254, 238, 212;
  --ax-sys-color-neutral-200: 239, 223, 197;
  --ax-sys-color-neutral-300: 224, 208, 183;
  --ax-sys-color-neutral-400: 209, 193, 169;
  --ax-sys-color-neutral-500: 195, 179, 154;
  --ax-sys-color-neutral-600: 180, 165, 141;
  --ax-sys-color-neutral-700: 166, 151, 127;
  --ax-sys-color-neutral-800: 149, 134, 111;
  --ax-sys-color-neutral-900: 133, 118, 95;
  --ax-sys-color-neutral-950: 125, 110, 87;
  --ax-sys-color-primary-lightest-surface: 255, 234, 183;
  --ax-sys-color-on-primary-lightest-surface: 33, 19, 0;
  --ax-sys-color-border-primary-lightest-surface: 255, 247, 229;
  --ax-sys-color-primary-lighter-surface: 255, 216, 148;
  --ax-sys-color-on-primary-lighter-surface: 35, 18, 0;
  --ax-sys-color-border-primary-lighter-surface: 255, 233, 194;
  --ax-sys-color-primary-light-surface: 246, 201, 133;
  --ax-sys-color-on-primary-light-surface: 37, 17, 0;
  --ax-sys-color-border-primary-light-surface: 249, 220, 176;
  --ax-sys-color-primary-surface: 215, 171, 104;
  --ax-sys-color-on-primary-surface: 37, 17, 0;
  --ax-sys-color-border-primary-surface: 225, 191, 140;
  --ax-sys-color-primary-dark-surface: 200, 156, 89;
  --ax-sys-color-on-primary-dark-surface: 37, 17, 0;
  --ax-sys-color-border-primary-dark-surface: 211, 177, 123;
  --ax-sys-color-primary-darker-surface: 185, 142, 75;
  --ax-sys-color-on-primary-darker-surface: 37, 17, 0;
  --ax-sys-color-border-primary-darker-surface: 198, 163, 108;
  --ax-sys-color-primary-darkest-surface: 168, 126, 58;
  --ax-sys-color-on-primary-darkest-surface: 255, 251, 223;
  --ax-sys-color-border-primary-darkest-surface: 194, 150, 78;
  --ax-sys-color-secondary-lightest-surface: 255, 231, 214;
  --ax-sys-color-on-secondary-lightest-surface: 34, 18, 6;
  --ax-sys-color-border-secondary-lightest-surface: 255, 258, 260;
  --ax-sys-color-secondary-lighter-surface: 255, 210, 185;
  --ax-sys-color-on-secondary-lighter-surface: 42, 11, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 240, 231;
  --ax-sys-color-secondary-light-surface: 255, 188, 155;
  --ax-sys-color-on-secondary-light-surface: 48, 4, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 219, 201;
  --ax-sys-color-secondary-surface: 255, 144, 91;
  --ax-sys-color-on-secondary-surface: 49, 2, 0;
  --ax-sys-color-border-secondary-surface: 255, 175, 137;
  --ax-sys-color-secondary-dark-surface: 246, 129, 76;
  --ax-sys-color-on-secondary-dark-surface: 50, 1, 0;
  --ax-sys-color-border-secondary-dark-surface: 248, 160, 120;
  --ax-sys-color-secondary-darker-surface: 230, 115, 61;
  --ax-sys-color-on-secondary-darker-surface: 50, 1, 0;
  --ax-sys-color-border-secondary-darker-surface: 235, 144, 102;
  --ax-sys-color-secondary-darkest-surface: 211, 98, 42;
  --ax-sys-color-on-secondary-darkest-surface: 255, 248, 240;
  --ax-sys-color-border-secondary-darkest-surface: 220, 126, 79;
  --ax-sys-color-success-lightest-surface: 184, 255, 191;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 0;
  --ax-sys-color-border-success-lightest-surface: 230, 255, 232;
  --ax-sys-color-success-lighter-surface: 168, 247, 175;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 0;
  --ax-sys-color-border-success-lighter-surface: 210, 251, 214;
  --ax-sys-color-success-light-surface: 153, 231, 160;
  --ax-sys-color-on-success-light-surface: 0, 31, 0;
  --ax-sys-color-border-success-light-surface: 190, 240, 195;
  --ax-sys-color-success-surface: 123, 200, 131;
  --ax-sys-color-on-success-surface: 0, 31, 0;
  --ax-sys-color-border-success-surface: 155, 213, 161;
  --ax-sys-color-success-dark-surface: 109, 185, 117;
  --ax-sys-color-on-success-dark-surface: 0, 31, 0;
  --ax-sys-color-border-success-dark-surface: 140, 200, 146;
  --ax-sys-color-success-darker-surface: 94, 170, 103;
  --ax-sys-color-on-success-darker-surface: 0, 31, 0;
  --ax-sys-color-border-success-darker-surface: 124, 186, 131;
  --ax-sys-color-success-darkest-surface: 78, 153, 87;
  --ax-sys-color-on-success-darkest-surface: 0, 31, 0;
  --ax-sys-color-border-success-darkest-surface: 101, 176, 110;
  --ax-sys-color-warning-lightest-surface: 255, 242, 193;
  --ax-sys-color-on-warning-lightest-surface: 31, 21, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 252, 239;
  --ax-sys-color-warning-lighter-surface: 255, 230, 161;
  --ax-sys-color-on-warning-lighter-surface: 32, 20, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 242, 207;
  --ax-sys-color-warning-light-surface: 255, 219, 125;
  --ax-sys-color-on-warning-light-surface: 33, 19, 0;
  --ax-sys-color-border-warning-light-surface: 255, 232, 171;
  --ax-sys-color-warning-surface: 255, 196, 49;
  --ax-sys-color-on-warning-surface: 34, 19, 0;
  --ax-sys-color-border-warning-surface: 255, 209, 95;
  --ax-sys-color-warning-dark-surface: 252, 186, 31;
  --ax-sys-color-on-warning-dark-surface: 35, 18, 0;
  --ax-sys-color-border-warning-dark-surface: 253, 200, 76;
  --ax-sys-color-warning-darker-surface: 242, 177, 0;
  --ax-sys-color-on-warning-darker-surface: 35, 18, 0;
  --ax-sys-color-border-warning-darker-surface: 255, 195, 33;
  --ax-sys-color-warning-darkest-surface: 218, 154, 0;
  --ax-sys-color-on-warning-darkest-surface: 36, 17, 0;
  --ax-sys-color-border-warning-darkest-surface: 255, 183, 9;
  --ax-sys-color-danger-lightest-surface: 255, 213, 219;
  --ax-sys-color-on-danger-lightest-surface: 39, 11, 18;
  --ax-sys-color-border-danger-lightest-surface: 255, 259, 258;
  --ax-sys-color-danger-lighter-surface: 255, 174, 187;
  --ax-sys-color-on-danger-lighter-surface: 53, 0, 13;
  --ax-sys-color-border-danger-lighter-surface: 255, 220, 226;
  --ax-sys-color-danger-light-surface: 255, 130, 154;
  --ax-sys-color-on-danger-light-surface: 54, 0, 12;
  --ax-sys-color-border-danger-light-surface: 255, 176, 191;
  --ax-sys-color-danger-surface: 216, 75, 106;
  --ax-sys-color-on-danger-surface: 54, 0, 11;
  --ax-sys-color-border-danger-surface: 224, 113, 137;
  --ax-sys-color-danger-dark-surface: 189, 49, 84;
  --ax-sys-color-on-danger-dark-surface: 255, 247, 249;
  --ax-sys-color-border-danger-dark-surface: 208, 75, 109;
  --ax-sys-color-danger-darker-surface: 162, 14, 63;
  --ax-sys-color-on-danger-darker-surface: 255, 247, 249;
  --ax-sys-color-border-danger-darker-surface: 204, 18, 79;
  --ax-sys-color-danger-darkest-surface: 154, 0, 57;
  --ax-sys-color-on-danger-darkest-surface: 255, 247, 249;
  --ax-sys-color-border-danger-darkest-surface: 200, 0, 74;
  --ax-sys-color-accent1-lightest-surface: 255, 209, 239;
  --ax-sys-color-on-accent1-lightest-surface: 40, 7, 31;
  --ax-sys-color-border-accent1-lightest-surface: 255, 255, 255;
  --ax-sys-color-accent1-lighter-surface: 255, 165, 220;
  --ax-sys-color-on-accent1-lighter-surface: 50, 0, 34;
  --ax-sys-color-border-accent1-lighter-surface: 255, 211, 238;
  --ax-sys-color-accent1-light-surface: 250, 130, 198;
  --ax-sys-color-on-accent1-light-surface: 51, 0, 31;
  --ax-sys-color-border-accent1-light-surface: 252, 174, 218;
  --ax-sys-color-accent1-surface: 195, 81, 148;
  --ax-sys-color-on-accent1-surface: 51, 0, 31;
  --ax-sys-color-border-accent1-surface: 207, 115, 169;
  --ax-sys-color-accent1-dark-surface: 168, 56, 124;
  --ax-sys-color-on-accent1-dark-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-dark-surface: 195, 75, 148;
  --ax-sys-color-accent1-darker-surface: 142, 28, 101;
  --ax-sys-color-on-accent1-darker-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darker-surface: 180, 36, 128;
  --ax-sys-color-accent1-darkest-surface: 135, 19, 95;
  --ax-sys-color-on-accent1-darkest-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darkest-surface: 175, 25, 123;
  --ax-sys-color-accent2-lightest-surface: 168, 255, 247;
  --ax-sys-color-on-accent2-lightest-surface: 0, 29, 27;
  --ax-sys-color-border-accent2-lightest-surface: 214, 255, 251;
  --ax-sys-color-accent2-lighter-surface: 136, 252, 234;
  --ax-sys-color-on-accent2-lighter-surface: 0, 30, 24;
  --ax-sys-color-border-accent2-lighter-surface: 181, 253, 242;
  --ax-sys-color-accent2-light-surface: 122, 238, 221;
  --ax-sys-color-on-accent2-light-surface: 0, 30, 24;
  --ax-sys-color-border-accent2-light-surface: 163, 243, 231;
  --ax-sys-color-accent2-surface: 92, 211, 194;
  --ax-sys-color-on-accent2-surface: 0, 30, 24;
  --ax-sys-color-border-accent2-surface: 128, 221, 208;
  --ax-sys-color-accent2-dark-surface: 77, 197, 181;
  --ax-sys-color-on-accent2-dark-surface: 0, 30, 24;
  --ax-sys-color-border-accent2-dark-surface: 112, 208, 195;
  --ax-sys-color-accent2-darker-surface: 61, 184, 168;
  --ax-sys-color-on-accent2-darker-surface: 0, 30, 24;
  --ax-sys-color-border-accent2-darker-surface: 90, 200, 186;
  --ax-sys-color-accent2-darkest-surface: 33, 165, 150;
  --ax-sys-color-on-accent2-darkest-surface: 0, 30, 24;
  --ax-sys-color-border-accent2-darkest-surface: 41, 203, 185;
  --ax-sys-color-accent3-lightest-surface: 210, 225, 255;
  --ax-sys-color-on-accent3-lightest-surface: 12, 21, 42;
  --ax-sys-color-border-accent3-lightest-surface: 256, 256, 255;
  --ax-sys-color-accent3-lighter-surface: 180, 196, 245;
  --ax-sys-color-on-accent3-lighter-surface: 11, 17, 54;
  --ax-sys-color-border-accent3-lighter-surface: 221, 228, 250;
  --ax-sys-color-accent3-light-surface: 153, 168, 216;
  --ax-sys-color-on-accent3-light-surface: 11, 17, 54;
  --ax-sys-color-border-accent3-light-surface: 186, 196, 229;
  --ax-sys-color-accent3-surface: 101, 115, 159;
  --ax-sys-color-on-accent3-surface: 11, 18, 53;
  --ax-sys-color-border-accent3-surface: 129, 141, 177;
  --ax-sys-color-accent3-dark-surface: 77, 89, 132;
  --ax-sys-color-on-accent3-dark-surface: 248, 253, 255;
  --ax-sys-color-border-accent3-dark-surface: 94, 109, 161;
  --ax-sys-color-accent3-darker-surface: 54, 65, 106;
  --ax-sys-color-on-accent3-darker-surface: 248, 253, 255;
  --ax-sys-color-border-accent3-darker-surface: 69, 84, 136;
  --ax-sys-color-accent3-darkest-surface: 51, 62, 102;
  --ax-sys-color-on-accent3-darkest-surface: 248, 253, 255;
  --ax-sys-color-border-accent3-darkest-surface: 66, 81, 133;
  --ax-sys-color-neutral-lightest-surface: 254, 238, 212;
  --ax-sys-color-on-neutral-lightest-surface: 31, 20, 1;
  --ax-sys-color-border-neutral-lightest-surface: 255, 256, 257;
  --ax-sys-color-neutral-lighter-surface: 239, 223, 197;
  --ax-sys-color-on-neutral-lighter-surface: 31, 20, 1;
  --ax-sys-color-border-neutral-lighter-surface: 249, 243, 233;
  --ax-sys-color-neutral-light-surface: 224, 208, 183;
  --ax-sys-color-on-neutral-light-surface: 31, 20, 2;
  --ax-sys-color-border-neutral-light-surface: 238, 229, 215;
  --ax-sys-color-neutral-surface: 195, 179, 154;
  --ax-sys-color-on-neutral-surface: 31, 20, 1;
  --ax-sys-color-border-neutral-surface: 212, 201, 183;
  --ax-sys-color-neutral-dark-surface: 180, 165, 141;
  --ax-sys-color-on-neutral-dark-surface: 31, 20, 2;
  --ax-sys-color-border-neutral-dark-surface: 198, 187, 169;
  --ax-sys-color-neutral-darker-surface: 166, 151, 127;
  --ax-sys-color-on-neutral-darker-surface: 31, 20, 1;
  --ax-sys-color-border-neutral-darker-surface: 185, 173, 154;
  --ax-sys-color-neutral-darkest-surface: 149, 134, 111;
  --ax-sys-color-on-neutral-darkest-surface: 255, 251, 226;
  --ax-sys-color-border-neutral-darkest-surface: 168, 156, 137;
}
