/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 247, 247, 253;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 22, 23, 34;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 245, 245, 247;
  --ax-sys-color-on-lighter-surface: 46, 46, 46;
  --ax-sys-color-border-lighter-surface: 226, 227, 230;
  --ax-sys-color-light-surface: 238, 238, 240;
  --ax-sys-color-on-light-surface: 46, 46, 47;
  --ax-sys-color-border-light-surface: 219, 219, 223;
  --ax-sys-color-surface: 231, 231, 234;
  --ax-sys-color-on-surface: 45, 46, 48;
  --ax-sys-color-border-surface: 212, 212, 217;
  --ax-sys-color-dark-surface: 224, 224, 227;
  --ax-sys-color-on-dark-surface: 45, 45, 48;
  --ax-sys-color-border-dark-surface: 205, 205, 211;
  --ax-sys-color-darker-surface: 217, 217, 221;
  --ax-sys-color-on-darker-surface: 45, 45, 49;
  --ax-sys-color-border-darker-surface: 198, 198, 204;
  --ax-sys-color-darkest-surface: 207, 207, 213;
  --ax-sys-color-on-darkest-surface: 45, 45, 50;
  --ax-sys-color-border-darkest-surface: 188, 188, 196;
  /* Ranges */
  --ax-sys-color-primary-50: 237, 241, 255;
  --ax-sys-color-primary-100: 218, 225, 255;
  --ax-sys-color-primary-200: 193, 202, 255;
  --ax-sys-color-primary-300: 155, 164, 255;
  --ax-sys-color-primary-400: 116, 121, 234;
  --ax-sys-color-primary-500: 94, 96, 206;
  --ax-sys-color-primary-600: 82, 82, 191;
  --ax-sys-color-primary-700: 69, 66, 173;
  --ax-sys-color-primary-800: 59, 55, 152;
  --ax-sys-color-primary-900: 52, 54, 120;
  --ax-sys-color-primary-950: 31, 32, 78;
  --ax-sys-color-secondary-50: 231, 248, 255;
  --ax-sys-color-secondary-100: 212, 238, 255;
  --ax-sys-color-secondary-200: 186, 223, 255;
  --ax-sys-color-secondary-300: 143, 199, 255;
  --ax-sys-color-secondary-400: 91, 168, 255;
  --ax-sys-color-secondary-500: 72, 149, 239;
  --ax-sys-color-secondary-600: 51, 128, 217;
  --ax-sys-color-secondary-700: 20, 104, 190;
  --ax-sys-color-secondary-800: 17, 85, 162;
  --ax-sys-color-secondary-900: 36, 73, 127;
  --ax-sys-color-secondary-950: 20, 36, 66;
  --ax-sys-color-success-50: 213, 255, 241;
  --ax-sys-color-success-100: 180, 255, 228;
  --ax-sys-color-success-200: 120, 255, 210;
  --ax-sys-color-success-300: 79, 248, 192;
  --ax-sys-color-success-400: 46, 227, 173;
  --ax-sys-color-success-500: 6, 214, 160;
  --ax-sys-color-success-600: 0, 186, 134;
  --ax-sys-color-success-700: 0, 150, 105;
  --ax-sys-color-success-800: 26, 120, 85;
  --ax-sys-color-success-900: 46, 94, 72;
  --ax-sys-color-success-950: 21, 38, 29;
  --ax-sys-color-warning-50: 255, 250, 208;
  --ax-sys-color-warning-100: 255, 245, 193;
  --ax-sys-color-warning-200: 255, 239, 173;
  --ax-sys-color-warning-300: 255, 228, 138;
  --ax-sys-color-warning-400: 255, 216, 109;
  --ax-sys-color-warning-500: 255, 209, 102;
  --ax-sys-color-warning-600: 220, 175, 65;
  --ax-sys-color-warning-700: 179, 135, 0;
  --ax-sys-color-warning-800: 142, 105, 24;
  --ax-sys-color-warning-900: 108, 85, 45;
  --ax-sys-color-warning-950: 36, 28, 16;
  --ax-sys-color-danger-50: 255, 236, 240;
  --ax-sys-color-danger-100: 255, 220, 225;
  --ax-sys-color-danger-200: 255, 195, 204;
  --ax-sys-color-danger-300: 255, 155, 171;
  --ax-sys-color-danger-400: 255, 93, 130;
  --ax-sys-color-danger-500: 239, 71, 111;
  --ax-sys-color-danger-600: 216, 47, 93;
  --ax-sys-color-danger-700: 189, 0, 72;
  --ax-sys-color-danger-800: 159, 23, 59;
  --ax-sys-color-danger-900: 122, 43, 56;
  --ax-sys-color-danger-950: 61, 26, 30;
  --ax-sys-color-accent1-50: 245, 238, 255;
  --ax-sys-color-accent1-100: 231, 220, 255;
  --ax-sys-color-accent1-200: 213, 193, 255;
  --ax-sys-color-accent1-300: 186, 150, 255;
  --ax-sys-color-accent1-400: 155, 87, 255;
  --ax-sys-color-accent1-500: 131, 56, 236;
  --ax-sys-color-accent1-600: 119, 36, 220;
  --ax-sys-color-accent1-700: 104, 0, 202;
  --ax-sys-color-accent1-800: 90, 23, 176;
  --ax-sys-color-accent1-900: 74, 44, 133;
  --ax-sys-color-accent1-950: 45, 32, 76;
  --ax-sys-color-accent2-50: 255, 236, 241;
  --ax-sys-color-accent2-100: 255, 219, 226;
  --ax-sys-color-accent2-200: 255, 194, 206;
  --ax-sys-color-accent2-300: 255, 152, 174;
  --ax-sys-color-accent2-400: 255, 82, 133;
  --ax-sys-color-accent2-500: 255, 0, 110;
  --ax-sys-color-accent2-600: 230, 0, 93;
  --ax-sys-color-accent2-700: 192, 0, 76;
  --ax-sys-color-accent2-800: 157, 23, 64;
  --ax-sys-color-accent2-900: 121, 43, 59;
  --ax-sys-color-accent2-950: 61, 26, 32;
  --ax-sys-color-accent3-50: 232, 247, 255;
  --ax-sys-color-accent3-100: 213, 235, 255;
  --ax-sys-color-accent3-200: 187, 218, 255;
  --ax-sys-color-accent3-300: 144, 192, 255;
  --ax-sys-color-accent3-400: 87, 156, 255;
  --ax-sys-color-accent3-500: 58, 134, 255;
  --ax-sys-color-accent3-600: 38, 115, 234;
  --ax-sys-color-accent3-700: 6, 91, 208;
  --ax-sys-color-accent3-800: 13, 74, 179;
  --ax-sys-color-accent3-900: 31, 67, 139;
  --ax-sys-color-accent3-950: 14, 34, 83;
  --ax-sys-color-neutral-50: 235, 247, 255;
  --ax-sys-color-neutral-100: 224, 237, 255;
  --ax-sys-color-neutral-200: 209, 222, 245;
  --ax-sys-color-neutral-300: 187, 199, 221;
  --ax-sys-color-neutral-400: 159, 171, 192;
  --ax-sys-color-neutral-500: 141, 153, 174;
  --ax-sys-color-neutral-600: 121, 132, 153;
  --ax-sys-color-neutral-700: 97, 108, 127;
  --ax-sys-color-neutral-800: 78, 88, 106;
  --ax-sys-color-neutral-900: 67, 74, 86;
  --ax-sys-color-neutral-950: 30, 35, 43;
  --ax-sys-color-primary-lightest-surface: 218, 225, 255;
  --ax-sys-color-on-primary-lightest-surface: 40, 44, 67;
  --ax-sys-color-border-primary-lightest-surface: 182, 196, 255;
  --ax-sys-color-primary-lighter-surface: 193, 202, 255;
  --ax-sys-color-on-primary-lighter-surface: 37, 41, 82;
  --ax-sys-color-border-primary-lighter-surface: 157, 171, 255;
  --ax-sys-color-primary-light-surface: 155, 164, 255;
  --ax-sys-color-on-primary-light-surface: 36, 30, 109;
  --ax-sys-color-border-primary-light-surface: 119, 132, 255;
  --ax-sys-color-primary-surface: 94, 96, 206;
  --ax-sys-color-on-primary-surface: 250, 252, 255;
  --ax-sys-color-border-primary-surface: 67, 69, 198;
  --ax-sys-color-primary-dark-surface: 82, 82, 191;
  --ax-sys-color-on-primary-dark-surface: 249, 252, 255;
  --ax-sys-color-border-primary-dark-surface: 64, 64, 173;
  --ax-sys-color-primary-darker-surface: 69, 66, 173;
  --ax-sys-color-on-primary-darker-surface: 250, 252, 255;
  --ax-sys-color-border-primary-darker-surface: 59, 56, 147;
  --ax-sys-color-primary-darkest-surface: 59, 55, 152;
  --ax-sys-color-on-primary-darkest-surface: 250, 252, 255;
  --ax-sys-color-border-primary-darkest-surface: 49, 46, 126;
  --ax-sys-color-secondary-lightest-surface: 212, 238, 255;
  --ax-sys-color-on-secondary-lightest-surface: 27, 49, 62;
  --ax-sys-color-border-secondary-lightest-surface: 176, 224, 255;
  --ax-sys-color-secondary-lighter-surface: 186, 223, 255;
  --ax-sys-color-on-secondary-lighter-surface: 16, 48, 73;
  --ax-sys-color-border-secondary-lighter-surface: 150, 206, 255;
  --ax-sys-color-secondary-light-surface: 143, 199, 255;
  --ax-sys-color-on-secondary-light-surface: 0, 46, 92;
  --ax-sys-color-border-secondary-light-surface: 107, 181, 255;
  --ax-sys-color-secondary-surface: 72, 149, 239;
  --ax-sys-color-on-secondary-surface: 243, 255, 255;
  --ax-sys-color-border-secondary-surface: 39, 130, 236;
  --ax-sys-color-secondary-dark-surface: 51, 128, 217;
  --ax-sys-color-on-secondary-dark-surface: 243, 255, 255;
  --ax-sys-color-border-secondary-dark-surface: 36, 110, 196;
  --ax-sys-color-secondary-darker-surface: 20, 104, 190;
  --ax-sys-color-on-secondary-darker-surface: 243, 255, 255;
  --ax-sys-color-border-secondary-darker-surface: 17, 86, 158;
  --ax-sys-color-secondary-darkest-surface: 17, 85, 162;
  --ax-sys-color-on-secondary-darkest-surface: 243, 255, 255;
  --ax-sys-color-border-secondary-darkest-surface: 14, 68, 130;
  --ax-sys-color-success-lightest-surface: 180, 255, 228;
  --ax-sys-color-on-success-lightest-surface: 0, 58, 39;
  --ax-sys-color-border-success-lightest-surface: 144, 255, 215;
  --ax-sys-color-success-lighter-surface: 120, 255, 210;
  --ax-sys-color-on-success-lighter-surface: 0, 58, 38;
  --ax-sys-color-border-success-lighter-surface: 84, 255, 198;
  --ax-sys-color-success-light-surface: 79, 248, 192;
  --ax-sys-color-on-success-light-surface: 0, 58, 36;
  --ax-sys-color-border-success-light-surface: 45, 247, 180;
  --ax-sys-color-success-surface: 6, 214, 160;
  --ax-sys-color-on-success-surface: 0, 58, 36;
  --ax-sys-color-border-success-surface: 5, 179, 134;
  --ax-sys-color-success-dark-surface: 0, 186, 134;
  --ax-sys-color-on-success-dark-surface: 230, 255, 247;
  --ax-sys-color-border-success-dark-surface: 0, 150, 108;
  --ax-sys-color-success-darker-surface: 0, 150, 105;
  --ax-sys-color-on-success-darker-surface: 230, 255, 246;
  --ax-sys-color-border-success-darker-surface: 0, 114, 80;
  --ax-sys-color-success-darkest-surface: 26, 120, 85;
  --ax-sys-color-on-success-darkest-surface: 230, 255, 246;
  --ax-sys-color-border-success-darkest-surface: 20, 91, 64;
  --ax-sys-color-warning-lightest-surface: 255, 245, 193;
  --ax-sys-color-on-warning-lightest-surface: 55, 46, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 239, 157;
  --ax-sys-color-warning-lighter-surface: 255, 239, 173;
  --ax-sys-color-on-warning-lighter-surface: 58, 44, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 232, 137;
  --ax-sys-color-warning-light-surface: 255, 228, 138;
  --ax-sys-color-on-warning-light-surface: 60, 44, 0;
  --ax-sys-color-border-warning-light-surface: 255, 220, 102;
  --ax-sys-color-warning-surface: 255, 209, 102;
  --ax-sys-color-on-warning-surface: 63, 41, 0;
  --ax-sys-color-border-warning-surface: 255, 198, 66;
  --ax-sys-color-warning-dark-surface: 220, 175, 65;
  --ax-sys-color-on-warning-dark-surface: 255, 252, 213;
  --ax-sys-color-border-warning-dark-surface: 211, 161, 39;
  --ax-sys-color-warning-darker-surface: 179, 135, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 252, 214;
  --ax-sys-color-border-warning-darker-surface: 143, 108, 0;
  --ax-sys-color-warning-darkest-surface: 142, 105, 24;
  --ax-sys-color-on-warning-darkest-surface: 255, 251, 218;
  --ax-sys-color-border-warning-darkest-surface: 111, 82, 19;
  --ax-sys-color-danger-lightest-surface: 255, 220, 225;
  --ax-sys-color-on-danger-lightest-surface: 63, 37, 42;
  --ax-sys-color-border-danger-lightest-surface: 255, 184, 194;
  --ax-sys-color-danger-lighter-surface: 255, 195, 204;
  --ax-sys-color-on-danger-lighter-surface: 74, 29, 39;
  --ax-sys-color-border-danger-lighter-surface: 255, 159, 174;
  --ax-sys-color-danger-light-surface: 255, 155, 171;
  --ax-sys-color-on-danger-light-surface: 91, 0, 32;
  --ax-sys-color-border-danger-light-surface: 255, 119, 141;
  --ax-sys-color-danger-surface: 239, 71, 111;
  --ax-sys-color-on-danger-surface: 255, 247, 249;
  --ax-sys-color-border-danger-surface: 236, 38, 85;
  --ax-sys-color-danger-dark-surface: 216, 47, 93;
  --ax-sys-color-on-danger-dark-surface: 255, 247, 249;
  --ax-sys-color-border-danger-dark-surface: 191, 36, 78;
  --ax-sys-color-danger-darker-surface: 189, 0, 72;
  --ax-sys-color-on-danger-darker-surface: 255, 247, 249;
  --ax-sys-color-border-danger-darker-surface: 153, 0, 58;
  --ax-sys-color-danger-darkest-surface: 159, 23, 59;
  --ax-sys-color-on-danger-darkest-surface: 255, 247, 249;
  --ax-sys-color-border-danger-darkest-surface: 128, 18, 47;
  --ax-sys-color-accent1-lightest-surface: 231, 220, 255;
  --ax-sys-color-on-accent1-lightest-surface: 49, 40, 67;
  --ax-sys-color-border-accent1-lightest-surface: 207, 184, 255;
  --ax-sys-color-accent1-lighter-surface: 213, 193, 255;
  --ax-sys-color-on-accent1-lighter-surface: 53, 33, 83;
  --ax-sys-color-border-accent1-lighter-surface: 189, 157, 255;
  --ax-sys-color-accent1-light-surface: 186, 150, 255;
  --ax-sys-color-on-accent1-light-surface: 59, 9, 109;
  --ax-sys-color-border-accent1-light-surface: 163, 114, 255;
  --ax-sys-color-accent1-surface: 131, 56, 236;
  --ax-sys-color-on-accent1-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-surface: 111, 23, 233;
  --ax-sys-color-accent1-dark-surface: 119, 36, 220;
  --ax-sys-color-on-accent1-dark-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-dark-surface: 102, 30, 190;
  --ax-sys-color-accent1-darker-surface: 104, 0, 202;
  --ax-sys-color-on-accent1-darker-surface: 254, 250, 255;
  --ax-sys-color-border-accent1-darker-surface: 86, 0, 166;
  --ax-sys-color-accent1-darkest-surface: 90, 23, 176;
  --ax-sys-color-on-accent1-darkest-surface: 254, 251, 255;
  --ax-sys-color-border-accent1-darkest-surface: 74, 19, 144;
  --ax-sys-color-accent2-lightest-surface: 255, 219, 226;
  --ax-sys-color-on-accent2-lightest-surface: 63, 37, 43;
  --ax-sys-color-border-accent2-lightest-surface: 255, 183, 197;
  --ax-sys-color-accent2-lighter-surface: 255, 194, 206;
  --ax-sys-color-on-accent2-lighter-surface: 74, 28, 41;
  --ax-sys-color-border-accent2-lighter-surface: 255, 158, 177;
  --ax-sys-color-accent2-light-surface: 255, 152, 174;
  --ax-sys-color-on-accent2-light-surface: 91, 0, 35;
  --ax-sys-color-border-accent2-light-surface: 255, 116, 146;
  --ax-sys-color-accent2-surface: 255, 0, 110;
  --ax-sys-color-on-accent2-surface: 255, 247, 250;
  --ax-sys-color-border-accent2-surface: 219, 0, 95;
  --ax-sys-color-accent2-dark-surface: 230, 0, 93;
  --ax-sys-color-on-accent2-dark-surface: 255, 247, 250;
  --ax-sys-color-border-accent2-dark-surface: 194, 0, 79;
  --ax-sys-color-accent2-darker-surface: 192, 0, 76;
  --ax-sys-color-on-accent2-darker-surface: 255, 247, 250;
  --ax-sys-color-border-accent2-darker-surface: 156, 0, 62;
  --ax-sys-color-accent2-darkest-surface: 157, 23, 64;
  --ax-sys-color-on-accent2-darkest-surface: 255, 247, 249;
  --ax-sys-color-border-accent2-darkest-surface: 126, 18, 51;
  --ax-sys-color-accent3-lightest-surface: 213, 235, 255;
  --ax-sys-color-on-accent3-lightest-surface: 30, 48, 63;
  --ax-sys-color-border-accent3-lightest-surface: 177, 218, 255;
  --ax-sys-color-accent3-lighter-surface: 187, 218, 255;
  --ax-sys-color-on-accent3-lighter-surface: 21, 47, 76;
  --ax-sys-color-border-accent3-lighter-surface: 151, 199, 255;
  --ax-sys-color-accent3-light-surface: 144, 192, 255;
  --ax-sys-color-on-accent3-light-surface: 0, 44, 96;
  --ax-sys-color-border-accent3-light-surface: 108, 172, 255;
  --ax-sys-color-accent3-surface: 58, 134, 255;
  --ax-sys-color-on-accent3-surface: 244, 254, 255;
  --ax-sys-color-border-accent3-surface: 22, 112, 255;
  --ax-sys-color-accent3-dark-surface: 38, 115, 234;
  --ax-sys-color-on-accent3-dark-surface: 244, 254, 255;
  --ax-sys-color-border-accent3-dark-surface: 21, 97, 215;
  --ax-sys-color-accent3-darker-surface: 6, 91, 208;
  --ax-sys-color-on-accent3-darker-surface: 244, 254, 255;
  --ax-sys-color-border-accent3-darker-surface: 5, 76, 173;
  --ax-sys-color-accent3-darkest-surface: 13, 74, 179;
  --ax-sys-color-on-accent3-darkest-surface: 245, 254, 255;
  --ax-sys-color-border-accent3-darkest-surface: 11, 60, 146;
  --ax-sys-color-neutral-lightest-surface: 224, 237, 255;
  --ax-sys-color-on-neutral-lightest-surface: 37, 46, 60;
  --ax-sys-color-border-neutral-lightest-surface: 188, 216, 255;
  --ax-sys-color-neutral-lighter-surface: 209, 222, 245;
  --ax-sys-color-on-neutral-lighter-surface: 36, 46, 63;
  --ax-sys-color-border-neutral-lighter-surface: 180, 201, 239;
  --ax-sys-color-neutral-light-surface: 187, 199, 221;
  --ax-sys-color-on-neutral-light-surface: 37, 46, 63;
  --ax-sys-color-border-neutral-light-surface: 163, 179, 209;
  --ax-sys-color-neutral-surface: 141, 153, 174;
  --ax-sys-color-on-neutral-surface: 36, 46, 63;
  --ax-sys-color-border-neutral-surface: 120, 134, 159;
  --ax-sys-color-neutral-dark-surface: 121, 132, 153;
  --ax-sys-color-on-neutral-dark-surface: 246, 254, 255;
  --ax-sys-color-border-neutral-dark-surface: 103, 114, 135;
  --ax-sys-color-neutral-darker-surface: 97, 108, 127;
  --ax-sys-color-on-neutral-darker-surface: 245, 254, 255;
  --ax-sys-color-border-neutral-darker-surface: 82, 91, 107;
  --ax-sys-color-neutral-darkest-surface: 78, 88, 106;
  --ax-sys-color-on-neutral-darkest-surface: 245, 254, 255;
  --ax-sys-color-border-neutral-darkest-surface: 63, 71, 85;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 247, 247, 253;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 22, 23, 34;
  --ax-sys-color-lightest-surface: 30, 30, 42;
  --ax-sys-color-on-lightest-surface: 251, 252, 255;
  --ax-sys-color-border-lightest-surface: 49, 49, 69;
  --ax-sys-color-lighter-surface: 26, 27, 38;
  --ax-sys-color-on-lighter-surface: 251, 252, 255;
  --ax-sys-color-border-lighter-surface: 45, 46, 65;
  --ax-sys-color-light-surface: 24, 24, 34;
  --ax-sys-color-on-light-surface: 251, 252, 255;
  --ax-sys-color-border-light-surface: 42, 43, 61;
  --ax-sys-color-surface: 21, 22, 31;
  --ax-sys-color-on-surface: 251, 252, 255;
  --ax-sys-color-border-surface: 40, 40, 58;
  --ax-sys-color-dark-surface: 18, 19, 28;
  --ax-sys-color-on-dark-surface: 251, 252, 255;
  --ax-sys-color-border-dark-surface: 37, 38, 55;
  --ax-sys-color-darker-surface: 16, 16, 24;
  --ax-sys-color-on-darker-surface: 251, 253, 255;
  --ax-sys-color-border-darker-surface: 34, 35, 52;
  --ax-sys-color-darkest-surface: 12, 13, 20;
  --ax-sys-color-on-darkest-surface: 251, 253, 255;
  --ax-sys-color-border-darkest-surface: 29, 32, 49;
  /* Ranges */
  --ax-sys-color-primary-50: 238, 242, 255;
  --ax-sys-color-primary-100: 225, 231, 255;
  --ax-sys-color-primary-200: 199, 207, 255;
  --ax-sys-color-primary-300: 174, 183, 255;
  --ax-sys-color-primary-400: 150, 158, 255;
  --ax-sys-color-primary-500: 130, 136, 250;
  --ax-sys-color-primary-600: 112, 116, 228;
  --ax-sys-color-primary-700: 94, 96, 206;
  --ax-sys-color-primary-800: 85, 85, 194;
  --ax-sys-color-primary-900: 76, 74, 182;
  --ax-sys-color-primary-950: 71, 69, 177;
  --ax-sys-color-secondary-50: 232, 249, 255;
  --ax-sys-color-secondary-100: 219, 241, 255;
  --ax-sys-color-secondary-200: 192, 227, 255;
  --ax-sys-color-secondary-300: 165, 211, 255;
  --ax-sys-color-secondary-400: 136, 196, 255;
  --ax-sys-color-secondary-500: 106, 180, 255;
  --ax-sys-color-secondary-600: 87, 164, 255;
  --ax-sys-color-secondary-700: 72, 149, 239;
  --ax-sys-color-secondary-800: 55, 133, 221;
  --ax-sys-color-secondary-900: 37, 117, 204;
  --ax-sys-color-secondary-950: 27, 109, 195;
  --ax-sys-color-success-50: 215, 255, 242;
  --ax-sys-color-success-100: 193, 255, 233;
  --ax-sys-color-success-200: 137, 255, 215;
  --ax-sys-color-success-300: 90, 255, 200;
  --ax-sys-color-success-400: 76, 246, 190;
  --ax-sys-color-success-500: 60, 235, 180;
  --ax-sys-color-success-600: 41, 225, 170;
  --ax-sys-color-success-700: 6, 214, 160;
  --ax-sys-color-success-800: 0, 192, 139;
  --ax-sys-color-success-900: 0, 169, 119;
  --ax-sys-color-success-950: 0, 157, 110;
  --ax-sys-color-warning-50: 255, 250, 209;
  --ax-sys-color-warning-100: 255, 247, 199;
  --ax-sys-color-warning-200: 255, 241, 178;
  --ax-sys-color-warning-300: 255, 234, 156;
  --ax-sys-color-warning-400: 255, 227, 133;
  --ax-sys-color-warning-500: 255, 220, 114;
  --ax-sys-color-warning-600: 255, 215, 108;
  --ax-sys-color-warning-700: 255, 209, 102;
  --ax-sys-color-warning-800: 227, 182, 73;
  --ax-sys-color-warning-900: 200, 156, 40;
  --ax-sys-color-warning-950: 187, 143, 15;
  --ax-sys-color-danger-50: 255, 238, 241;
  --ax-sys-color-danger-100: 255, 226, 230;
  --ax-sys-color-danger-200: 255, 201, 209;
  --ax-sys-color-danger-300: 255, 176, 188;
  --ax-sys-color-danger-400: 255, 148, 166;
  --ax-sys-color-danger-500: 255, 117, 145;
  --ax-sys-color-danger-600: 255, 89, 126;
  --ax-sys-color-danger-700: 239, 71, 111;
  --ax-sys-color-danger-800: 221, 52, 97;
  --ax-sys-color-danger-900: 203, 29, 83;
  --ax-sys-color-danger-950: 194, 13, 76;
  --ax-sys-color-accent1-50: 246, 239, 255;
  --ax-sys-color-accent1-100: 236, 226, 255;
  --ax-sys-color-accent1-200: 217, 200, 255;
  --ax-sys-color-accent1-300: 199, 173, 255;
  --ax-sys-color-accent1-400: 182, 144, 255;
  --ax-sys-color-accent1-500: 166, 112, 255;
  --ax-sys-color-accent1-600: 150, 81, 255;
  --ax-sys-color-accent1-700: 131, 56, 236;
  --ax-sys-color-accent1-800: 121, 41, 224;
  --ax-sys-color-accent1-900: 112, 21, 211;
  --ax-sys-color-accent1-950: 107, 5, 205;
  --ax-sys-color-accent2-50: 255, 237, 242;
  --ax-sys-color-accent2-100: 255, 225, 232;
  --ax-sys-color-accent2-200: 255, 200, 211;
  --ax-sys-color-accent2-300: 255, 174, 190;
  --ax-sys-color-accent2-400: 255, 145, 170;
  --ax-sys-color-accent2-500: 255, 112, 149;
  --ax-sys-color-accent2-600: 255, 68, 128;
  --ax-sys-color-accent2-700: 255, 0, 110;
  --ax-sys-color-accent2-800: 236, 0, 96;
  --ax-sys-color-accent2-900: 211, 0, 85;
  --ax-sys-color-accent2-950: 199, 0, 79;
  --ax-sys-color-accent3-50: 234, 248, 255;
  --ax-sys-color-accent3-100: 220, 239, 255;
  --ax-sys-color-accent3-200: 193, 223, 255;
  --ax-sys-color-accent3-300: 166, 206, 255;
  --ax-sys-color-accent3-400: 138, 188, 255;
  --ax-sys-color-accent3-500: 109, 170, 255;
  --ax-sys-color-accent3-600: 79, 151, 255;
  --ax-sys-color-accent3-700: 58, 134, 255;
  --ax-sys-color-accent3-800: 42, 119, 238;
  --ax-sys-color-accent3-900: 25, 103, 221;
  --ax-sys-color-accent3-950: 14, 95, 213;
  --ax-sys-color-neutral-50: 236, 248, 255;
  --ax-sys-color-neutral-100: 228, 241, 255;
  --ax-sys-color-neutral-200: 213, 226, 248;
  --ax-sys-color-neutral-300: 198, 211, 233;
  --ax-sys-color-neutral-400: 183, 196, 218;
  --ax-sys-color-neutral-500: 169, 181, 203;
  --ax-sys-color-neutral-600: 155, 167, 188;
  --ax-sys-color-neutral-700: 141, 153, 174;
  --ax-sys-color-neutral-800: 125, 137, 157;
  --ax-sys-color-neutral-900: 109, 120, 140;
  --ax-sys-color-neutral-950: 101, 112, 132;
  --ax-sys-color-primary-lightest-surface: 225, 231, 255;
  --ax-sys-color-on-primary-lightest-surface: 17, 21, 37;
  --ax-sys-color-border-primary-lightest-surface: 271, 268, 255;
  --ax-sys-color-primary-lighter-surface: 199, 207, 255;
  --ax-sys-color-on-primary-lighter-surface: 16, 17, 51;
  --ax-sys-color-border-primary-lighter-surface: 245, 246, 255;
  --ax-sys-color-primary-light-surface: 174, 183, 255;
  --ax-sys-color-on-primary-light-surface: 16, 8, 66;
  --ax-sys-color-border-primary-light-surface: 220, 224, 255;
  --ax-sys-color-primary-surface: 130, 136, 250;
  --ax-sys-color-on-primary-surface: 19, 0, 84;
  --ax-sys-color-border-primary-surface: 174, 178, 252;
  --ax-sys-color-primary-dark-surface: 112, 116, 228;
  --ax-sys-color-on-primary-dark-surface: 19, 0, 84;
  --ax-sys-color-border-primary-dark-surface: 151, 154, 235;
  --ax-sys-color-primary-darker-surface: 94, 96, 206;
  --ax-sys-color-on-primary-darker-surface: 19, 0, 85;
  --ax-sys-color-border-primary-darker-surface: 129, 131, 217;
  --ax-sys-color-primary-darkest-surface: 85, 85, 194;
  --ax-sys-color-on-primary-darkest-surface: 250, 252, 255;
  --ax-sys-color-border-primary-darkest-surface: 119, 119, 206;
  --ax-sys-color-secondary-lightest-surface: 219, 241, 255;
  --ax-sys-color-on-secondary-lightest-surface: 7, 24, 34;
  --ax-sys-color-border-secondary-lightest-surface: 265, 259, 255;
  --ax-sys-color-secondary-lighter-surface: 192, 227, 255;
  --ax-sys-color-on-secondary-lighter-surface: 0, 24, 44;
  --ax-sys-color-border-secondary-lighter-surface: 238, 247, 255;
  --ax-sys-color-secondary-light-surface: 165, 211, 255;
  --ax-sys-color-on-secondary-light-surface: 0, 22, 55;
  --ax-sys-color-border-secondary-light-surface: 211, 233, 255;
  --ax-sys-color-secondary-surface: 106, 180, 255;
  --ax-sys-color-on-secondary-surface: 0, 20, 63;
  --ax-sys-color-border-secondary-surface: 152, 203, 255;
  --ax-sys-color-secondary-dark-surface: 87, 164, 255;
  --ax-sys-color-on-secondary-dark-surface: 0, 15, 70;
  --ax-sys-color-border-secondary-dark-surface: 133, 189, 255;
  --ax-sys-color-secondary-darker-surface: 72, 149, 239;
  --ax-sys-color-on-secondary-darker-surface: 0, 15, 70;
  --ax-sys-color-border-secondary-darker-surface: 114, 173, 243;
  --ax-sys-color-secondary-darkest-surface: 55, 133, 221;
  --ax-sys-color-on-secondary-darkest-surface: 0, 16, 70;
  --ax-sys-color-border-secondary-darkest-surface: 94, 157, 228;
  --ax-sys-color-success-lightest-surface: 193, 255, 233;
  --ax-sys-color-on-success-lightest-surface: 0, 30, 18;
  --ax-sys-color-border-success-lightest-surface: 239, 255, 249;
  --ax-sys-color-success-lighter-surface: 137, 255, 215;
  --ax-sys-color-on-success-lighter-surface: 0, 30, 17;
  --ax-sys-color-border-success-lighter-surface: 183, 255, 231;
  --ax-sys-color-success-light-surface: 90, 255, 200;
  --ax-sys-color-on-success-light-surface: 0, 30, 16;
  --ax-sys-color-border-success-light-surface: 136, 255, 215;
  --ax-sys-color-success-surface: 60, 235, 180;
  --ax-sys-color-on-success-surface: 0, 30, 15;
  --ax-sys-color-border-success-surface: 102, 239, 196;
  --ax-sys-color-success-dark-surface: 41, 225, 170;
  --ax-sys-color-on-success-dark-surface: 0, 30, 15;
  --ax-sys-color-border-success-dark-surface: 81, 231, 186;
  --ax-sys-color-success-darker-surface: 6, 214, 160;
  --ax-sys-color-on-success-darker-surface: 0, 30, 15;
  --ax-sys-color-border-success-darker-surface: 18, 248, 188;
  --ax-sys-color-success-darkest-surface: 0, 192, 139;
  --ax-sys-color-on-success-darkest-surface: 0, 31, 14;
  --ax-sys-color-border-success-darkest-surface: 0, 238, 172;
  --ax-sys-color-warning-lightest-surface: 255, 247, 199;
  --ax-sys-color-on-warning-lightest-surface: 29, 22, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 254, 245;
  --ax-sys-color-warning-lighter-surface: 255, 241, 178;
  --ax-sys-color-on-warning-lighter-surface: 30, 21, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 249, 224;
  --ax-sys-color-warning-light-surface: 255, 234, 156;
  --ax-sys-color-on-warning-light-surface: 31, 21, 0;
  --ax-sys-color-border-warning-light-surface: 255, 244, 202;
  --ax-sys-color-warning-surface: 255, 220, 114;
  --ax-sys-color-on-warning-surface: 32, 20, 0;
  --ax-sys-color-border-warning-surface: 255, 231, 160;
  --ax-sys-color-warning-dark-surface: 255, 215, 108;
  --ax-sys-color-on-warning-dark-surface: 33, 19, 0;
  --ax-sys-color-border-warning-dark-surface: 255, 227, 154;
  --ax-sys-color-warning-darker-surface: 255, 209, 102;
  --ax-sys-color-on-warning-darker-surface: 34, 19, 0;
  --ax-sys-color-border-warning-darker-surface: 255, 223, 148;
  --ax-sys-color-warning-darkest-surface: 227, 182, 73;
  --ax-sys-color-on-warning-darkest-surface: 34, 19, 0;
  --ax-sys-color-border-warning-darkest-surface: 233, 198, 113;
  --ax-sys-color-danger-lightest-surface: 255, 226, 230;
  --ax-sys-color-on-danger-lightest-surface: 34, 16, 19;
  --ax-sys-color-border-danger-lightest-surface: 255, 272, 270;
  --ax-sys-color-danger-lighter-surface: 255, 201, 209;
  --ax-sys-color-on-danger-lighter-surface: 44, 6, 16;
  --ax-sys-color-border-danger-lighter-surface: 255, 247, 248;
  --ax-sys-color-danger-light-surface: 255, 176, 188;
  --ax-sys-color-on-danger-light-surface: 52, 0, 13;
  --ax-sys-color-border-danger-light-surface: 255, 222, 227;
  --ax-sys-color-danger-surface: 255, 117, 145;
  --ax-sys-color-on-danger-surface: 54, 0, 12;
  --ax-sys-color-border-danger-surface: 255, 163, 182;
  --ax-sys-color-danger-dark-surface: 255, 89, 126;
  --ax-sys-color-on-danger-dark-surface: 54, 0, 11;
  --ax-sys-color-border-danger-dark-surface: 255, 135, 162;
  --ax-sys-color-danger-darker-surface: 239, 71, 111;
  --ax-sys-color-on-danger-darker-surface: 54, 0, 10;
  --ax-sys-color-border-danger-darker-surface: 243, 113, 144;
  --ax-sys-color-danger-darkest-surface: 221, 52, 97;
  --ax-sys-color-on-danger-darkest-surface: 255, 247, 249;
  --ax-sys-color-border-danger-darkest-surface: 228, 91, 128;
  --ax-sys-color-accent1-lightest-surface: 236, 226, 255;
  --ax-sys-color-on-accent1-lightest-surface: 25, 17, 37;
  --ax-sys-color-border-accent1-lightest-surface: 266, 272, 255;
  --ax-sys-color-accent1-lighter-surface: 217, 200, 255;
  --ax-sys-color-on-accent1-lighter-surface: 28, 10, 51;
  --ax-sys-color-border-accent1-lighter-surface: 249, 246, 255;
  --ax-sys-color-accent1-light-surface: 199, 173, 255;
  --ax-sys-color-on-accent1-light-surface: 31, 0, 66;
  --ax-sys-color-border-accent1-light-surface: 230, 219, 255;
  --ax-sys-color-accent1-surface: 166, 112, 255;
  --ax-sys-color-on-accent1-surface: 33, 0, 71;
  --ax-sys-color-border-accent1-surface: 195, 158, 255;
  --ax-sys-color-accent1-dark-surface: 150, 81, 255;
  --ax-sys-color-on-accent1-dark-surface: 32, 0, 72;
  --ax-sys-color-border-accent1-dark-surface: 178, 127, 255;
  --ax-sys-color-accent1-darker-surface: 131, 56, 236;
  --ax-sys-color-on-accent1-darker-surface: 31, 0, 73;
  --ax-sys-color-border-accent1-darker-surface: 157, 98, 240;
  --ax-sys-color-accent1-darkest-surface: 121, 41, 224;
  --ax-sys-color-on-accent1-darkest-surface: 255, 250, 255;
  --ax-sys-color-border-accent1-darkest-surface: 146, 81, 230;
  --ax-sys-color-accent2-lightest-surface: 255, 225, 232;
  --ax-sys-color-on-accent2-lightest-surface: 35, 15, 21;
  --ax-sys-color-border-accent2-lightest-surface: 255, 271, 267;
  --ax-sys-color-accent2-lighter-surface: 255, 200, 211;
  --ax-sys-color-on-accent2-lighter-surface: 44, 6, 18;
  --ax-sys-color-border-accent2-lighter-surface: 255, 246, 248;
  --ax-sys-color-accent2-light-surface: 255, 174, 190;
  --ax-sys-color-on-accent2-light-surface: 53, 0, 15;
  --ax-sys-color-border-accent2-light-surface: 255, 220, 227;
  --ax-sys-color-accent2-surface: 255, 112, 149;
  --ax-sys-color-on-accent2-surface: 54, 0, 15;
  --ax-sys-color-border-accent2-surface: 255, 158, 183;
  --ax-sys-color-accent2-dark-surface: 255, 68, 128;
  --ax-sys-color-on-accent2-dark-surface: 54, 0, 15;
  --ax-sys-color-border-accent2-dark-surface: 255, 114, 159;
  --ax-sys-color-accent2-darker-surface: 255, 0, 110;
  --ax-sys-color-on-accent2-darker-surface: 54, 0, 13;
  --ax-sys-color-border-accent2-darker-surface: 255, 46, 136;
  --ax-sys-color-accent2-darkest-surface: 236, 0, 96;
  --ax-sys-color-on-accent2-darkest-surface: 255, 247, 250;
  --ax-sys-color-border-accent2-darkest-surface: 255, 27, 120;
  --ax-sys-color-accent3-lightest-surface: 220, 239, 255;
  --ax-sys-color-on-accent3-lightest-surface: 9, 23, 34;
  --ax-sys-color-border-accent3-lightest-surface: 266, 260, 255;
  --ax-sys-color-accent3-lighter-surface: 193, 223, 255;
  --ax-sys-color-on-accent3-lighter-surface: 1, 23, 45;
  --ax-sys-color-border-accent3-lighter-surface: 239, 247, 255;
  --ax-sys-color-accent3-light-surface: 166, 206, 255;
  --ax-sys-color-on-accent3-light-surface: 0, 20, 57;
  --ax-sys-color-border-accent3-light-surface: 212, 231, 255;
  --ax-sys-color-accent3-surface: 109, 170, 255;
  --ax-sys-color-on-accent3-surface: 0, 5, 83;
  --ax-sys-color-border-accent3-surface: 155, 197, 255;
  --ax-sys-color-accent3-dark-surface: 79, 151, 255;
  --ax-sys-color-on-accent3-dark-surface: 0, 0, 88;
  --ax-sys-color-border-accent3-dark-surface: 125, 178, 255;
  --ax-sys-color-accent3-darker-surface: 58, 134, 255;
  --ax-sys-color-on-accent3-darker-surface: 0, 0, 91;
  --ax-sys-color-border-accent3-darker-surface: 104, 162, 255;
  --ax-sys-color-accent3-darkest-surface: 42, 119, 238;
  --ax-sys-color-on-accent3-darkest-surface: 0, 0, 91;
  --ax-sys-color-border-accent3-darkest-surface: 85, 146, 241;
  --ax-sys-color-neutral-lightest-surface: 228, 241, 255;
  --ax-sys-color-on-neutral-lightest-surface: 14, 23, 32;
  --ax-sys-color-border-neutral-lightest-surface: 274, 265, 255;
  --ax-sys-color-neutral-lighter-surface: 213, 226, 248;
  --ax-sys-color-on-neutral-lighter-surface: 13, 22, 37;
  --ax-sys-color-border-neutral-lighter-surface: 252, 253, 255;
  --ax-sys-color-neutral-light-surface: 198, 211, 233;
  --ax-sys-color-on-neutral-light-surface: 13, 22, 37;
  --ax-sys-color-border-neutral-light-surface: 231, 237, 246;
  --ax-sys-color-neutral-surface: 169, 181, 203;
  --ax-sys-color-on-neutral-surface: 14, 22, 38;
  --ax-sys-color-border-neutral-surface: 198, 206, 220;
  --ax-sys-color-neutral-dark-surface: 155, 167, 188;
  --ax-sys-color-on-neutral-dark-surface: 13, 22, 37;
  --ax-sys-color-border-neutral-dark-surface: 182, 191, 206;
  --ax-sys-color-neutral-darker-surface: 141, 153, 174;
  --ax-sys-color-on-neutral-darker-surface: 13, 22, 37;
  --ax-sys-color-border-neutral-darker-surface: 168, 177, 193;
  --ax-sys-color-neutral-darkest-surface: 125, 137, 157;
  --ax-sys-color-on-neutral-darkest-surface: 13, 22, 37;
  --ax-sys-color-border-neutral-darkest-surface: 151, 161, 177;
}
