/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 244, 248, 249;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 21, 30, 34;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 245, 246, 246;
  --ax-sys-color-on-lighter-surface: 45, 46, 46;
  --ax-sys-color-border-lighter-surface: 226, 229, 229;
  --ax-sys-color-light-surface: 237, 239, 239;
  --ax-sys-color-on-light-surface: 45, 46, 46;
  --ax-sys-color-border-light-surface: 218, 222, 222;
  --ax-sys-color-surface: 229, 232, 232;
  --ax-sys-color-on-surface: 44, 46, 46;
  --ax-sys-color-border-surface: 211, 215, 215;
  --ax-sys-color-dark-surface: 222, 225, 225;
  --ax-sys-color-on-dark-surface: 44, 46, 47;
  --ax-sys-color-border-dark-surface: 203, 208, 208;
  --ax-sys-color-darker-surface: 214, 218, 218;
  --ax-sys-color-on-darker-surface: 44, 46, 47;
  --ax-sys-color-border-darker-surface: 195, 201, 201;
  --ax-sys-color-darkest-surface: 204, 208, 209;
  --ax-sys-color-on-darkest-surface: 43, 47, 47;
  --ax-sys-color-border-darkest-surface: 185, 191, 192;
  /* Ranges */
  --ax-sys-color-primary-50: 180, 255, 255;
  --ax-sys-color-primary-100: 161, 243, 255;
  --ax-sys-color-primary-200: 139, 221, 234;
  --ax-sys-color-primary-300: 106, 187, 200;
  --ax-sys-color-primary-400: 63, 146, 158;
  --ax-sys-color-primary-500: 32, 120, 132;
  --ax-sys-color-primary-600: 11, 108, 120;
  --ax-sys-color-primary-700: 0, 93, 105;
  --ax-sys-color-primary-800: 15, 81, 92;
  --ax-sys-color-primary-900: 34, 70, 78;
  --ax-sys-color-primary-950: 27, 44, 49;
  --ax-sys-color-secondary-50: 255, 241, 222;
  --ax-sys-color-secondary-100: 255, 228, 200;
  --ax-sys-color-secondary-200: 255, 209, 168;
  --ax-sys-color-secondary-300: 255, 177, 112;
  --ax-sys-color-secondary-400: 249, 143, 57;
  --ax-sys-color-secondary-500: 230, 126, 34;
  --ax-sys-color-secondary-600: 206, 104, 0;
  --ax-sys-color-secondary-700: 174, 78, 0;
  --ax-sys-color-secondary-800: 141, 66, 17;
  --ax-sys-color-secondary-900: 108, 61, 36;
  --ax-sys-color-secondary-950: 50, 28, 20;
  --ax-sys-color-success-50: 215, 255, 226;
  --ax-sys-color-success-100: 181, 255, 203;
  --ax-sys-color-success-200: 118, 255, 167;
  --ax-sys-color-success-300: 97, 243, 149;
  --ax-sys-color-success-400: 68, 219, 127;
  --ax-sys-color-success-500: 46, 204, 113;
  --ax-sys-color-success-600: 0, 178, 89;
  --ax-sys-color-success-700: 0, 146, 60;
  --ax-sys-color-success-800: 24, 118, 51;
  --ax-sys-color-success-900: 45, 93, 53;
  --ax-sys-color-success-950: 22, 40, 23;
  --ax-sys-color-warning-50: 255, 250, 191;
  --ax-sys-color-warning-100: 255, 244, 167;
  --ax-sys-color-warning-200: 255, 235, 131;
  --ax-sys-color-warning-300: 255, 221, 64;
  --ax-sys-color-warning-400: 251, 206, 40;
  --ax-sys-color-warning-500: 241, 196, 15;
  --ax-sys-color-warning-600: 209, 165, 0;
  --ax-sys-color-warning-700: 166, 130, 0;
  --ax-sys-color-warning-800: 131, 103, 23;
  --ax-sys-color-warning-900: 100, 84, 43;
  --ax-sys-color-warning-950: 36, 30, 17;
  --ax-sys-color-danger-50: 255, 234, 227;
  --ax-sys-color-danger-100: 255, 213, 203;
  --ax-sys-color-danger-200: 255, 182, 167;
  --ax-sys-color-danger-300: 255, 126, 107;
  --ax-sys-color-danger-400: 221, 85, 68;
  --ax-sys-color-danger-500: 192, 57, 43;
  --ax-sys-color-danger-600: 177, 41, 29;
  --ax-sys-color-danger-700: 158, 16, 7;
  --ax-sys-color-danger-800: 139, 19, 12;
  --ax-sys-color-danger-900: 112, 40, 31;
  --ax-sys-color-danger-950: 67, 30, 25;
  --ax-sys-color-accent1-50: 184, 255, 255;
  --ax-sys-color-accent1-100: 167, 236, 247;
  --ax-sys-color-accent1-200: 142, 211, 222;
  --ax-sys-color-accent1-300: 104, 173, 183;
  --ax-sys-color-accent1-400: 57, 126, 136;
  --ax-sys-color-accent1-500: 22, 97, 107;
  --ax-sys-color-accent1-600: 8, 89, 99;
  --ax-sys-color-accent1-700: 0, 80, 90;
  --ax-sys-color-accent1-800: 12, 71, 80;
  --ax-sys-color-accent1-900: 30, 64, 70;
  --ax-sys-color-accent1-950: 28, 47, 51;
  --ax-sys-color-accent2-50: 255, 234, 255;
  --ax-sys-color-accent2-100: 252, 213, 255;
  --ax-sys-color-accent2-200: 243, 184, 255;
  --ax-sys-color-accent2-300: 217, 149, 247;
  --ax-sys-color-accent2-400: 179, 112, 207;
  --ax-sys-color-accent2-500: 155, 89, 182;
  --ax-sys-color-accent2-600: 140, 74, 166;
  --ax-sys-color-accent2-700: 121, 56, 147;
  --ax-sys-color-accent2-800: 104, 45, 127;
  --ax-sys-color-accent2-900: 86, 46, 102;
  --ax-sys-color-accent2-950: 53, 29, 64;
  --ax-sys-color-accent3-50: 217, 242, 255;
  --ax-sys-color-accent3-100: 197, 222, 248;
  --ax-sys-color-accent3-200: 171, 195, 220;
  --ax-sys-color-accent3-300: 130, 153, 177;
  --ax-sys-color-accent3-400: 81, 103, 126;
  --ax-sys-color-accent3-500: 52, 73, 94;
  --ax-sys-color-accent3-600: 47, 68, 89;
  --ax-sys-color-accent3-700: 42, 63, 83;
  --ax-sys-color-accent3-800: 39, 58, 77;
  --ax-sys-color-accent3-900: 41, 54, 67;
  --ax-sys-color-accent3-950: 34, 44, 54;
  --ax-sys-color-neutral-50: 229, 245, 255;
  --ax-sys-color-neutral-100: 213, 229, 239;
  --ax-sys-color-neutral-200: 191, 207, 217;
  --ax-sys-color-neutral-300: 158, 173, 183;
  --ax-sys-color-neutral-400: 118, 132, 142;
  --ax-sys-color-neutral-500: 93, 107, 116;
  --ax-sys-color-neutral-600: 82, 96, 105;
  --ax-sys-color-neutral-700: 69, 82, 91;
  --ax-sys-color-neutral-800: 59, 71, 79;
  --ax-sys-color-neutral-900: 54, 63, 68;
  --ax-sys-color-neutral-950: 34, 40, 44;
  --ax-sys-color-primary-lightest-surface: 161, 243, 255;
  --ax-sys-color-on-primary-lightest-surface: 0, 55, 64;
  --ax-sys-color-border-primary-lightest-surface: 125, 238, 255;
  --ax-sys-color-primary-lighter-surface: 139, 221, 234;
  --ax-sys-color-on-primary-lighter-surface: 0, 55, 65;
  --ax-sys-color-border-primary-lighter-surface: 109, 212, 229;
  --ax-sys-color-primary-light-surface: 106, 187, 200;
  --ax-sys-color-on-primary-light-surface: 0, 55, 65;
  --ax-sys-color-border-primary-light-surface: 80, 175, 190;
  --ax-sys-color-primary-surface: 32, 120, 132;
  --ax-sys-color-on-primary-surface: 224, 255, 255;
  --ax-sys-color-border-primary-surface: 25, 94, 103;
  --ax-sys-color-primary-dark-surface: 11, 108, 120;
  --ax-sys-color-on-primary-dark-surface: 224, 255, 255;
  --ax-sys-color-border-primary-dark-surface: 8, 79, 87;
  --ax-sys-color-primary-darker-surface: 0, 93, 105;
  --ax-sys-color-on-primary-darker-surface: 225, 255, 255;
  --ax-sys-color-border-primary-darker-surface: 0, 61, 69;
  --ax-sys-color-primary-darkest-surface: 15, 81, 92;
  --ax-sys-color-on-primary-darkest-surface: 225, 255, 255;
  --ax-sys-color-border-primary-darkest-surface: 10, 54, 61;
  --ax-sys-color-secondary-lightest-surface: 255, 228, 200;
  --ax-sys-color-on-secondary-lightest-surface: 61, 41, 17;
  --ax-sys-color-border-secondary-lightest-surface: 255, 210, 164;
  --ax-sys-color-secondary-lighter-surface: 255, 209, 168;
  --ax-sys-color-on-secondary-lighter-surface: 71, 36, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 190, 132;
  --ax-sys-color-secondary-light-surface: 255, 177, 112;
  --ax-sys-color-on-secondary-light-surface: 77, 30, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 158, 76;
  --ax-sys-color-secondary-surface: 230, 126, 34;
  --ax-sys-color-on-secondary-surface: 255, 249, 235;
  --ax-sys-color-border-secondary-surface: 205, 109, 23;
  --ax-sys-color-secondary-dark-surface: 206, 104, 0;
  --ax-sys-color-on-secondary-dark-surface: 255, 249, 236;
  --ax-sys-color-border-secondary-dark-surface: 170, 86, 0;
  --ax-sys-color-secondary-darker-surface: 174, 78, 0;
  --ax-sys-color-on-secondary-darker-surface: 255, 249, 238;
  --ax-sys-color-border-secondary-darker-surface: 138, 62, 0;
  --ax-sys-color-secondary-darkest-surface: 141, 66, 17;
  --ax-sys-color-on-secondary-darkest-surface: 255, 249, 238;
  --ax-sys-color-border-secondary-darkest-surface: 109, 51, 13;
  --ax-sys-color-success-lightest-surface: 181, 255, 203;
  --ax-sys-color-on-success-lightest-surface: 0, 59, 18;
  --ax-sys-color-border-success-lightest-surface: 145, 255, 178;
  --ax-sys-color-success-lighter-surface: 118, 255, 167;
  --ax-sys-color-on-success-lighter-surface: 0, 60, 16;
  --ax-sys-color-border-success-lighter-surface: 82, 255, 144;
  --ax-sys-color-success-light-surface: 97, 243, 149;
  --ax-sys-color-on-success-light-surface: 0, 60, 14;
  --ax-sys-color-border-success-light-surface: 64, 240, 127;
  --ax-sys-color-success-surface: 46, 204, 113;
  --ax-sys-color-on-success-surface: 233, 255, 240;
  --ax-sys-color-border-success-surface: 39, 175, 97;
  --ax-sys-color-success-dark-surface: 0, 178, 89;
  --ax-sys-color-on-success-dark-surface: 233, 255, 239;
  --ax-sys-color-border-success-dark-surface: 0, 142, 71;
  --ax-sys-color-success-darker-surface: 0, 146, 60;
  --ax-sys-color-on-success-darker-surface: 234, 255, 237;
  --ax-sys-color-border-success-darker-surface: 0, 110, 45;
  --ax-sys-color-success-darkest-surface: 24, 118, 51;
  --ax-sys-color-on-success-darkest-surface: 234, 255, 237;
  --ax-sys-color-border-success-darkest-surface: 18, 88, 38;
  --ax-sys-color-warning-lightest-surface: 255, 244, 167;
  --ax-sys-color-on-warning-lightest-surface: 55, 46, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 240, 131;
  --ax-sys-color-warning-lighter-surface: 255, 235, 131;
  --ax-sys-color-on-warning-lighter-surface: 56, 45, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 229, 95;
  --ax-sys-color-warning-light-surface: 255, 221, 64;
  --ax-sys-color-on-warning-light-surface: 58, 45, 0;
  --ax-sys-color-border-warning-light-surface: 255, 215, 28;
  --ax-sys-color-warning-surface: 241, 196, 15;
  --ax-sys-color-on-warning-surface: 60, 43, 0;
  --ax-sys-color-border-warning-surface: 208, 169, 12;
  --ax-sys-color-warning-dark-surface: 209, 165, 0;
  --ax-sys-color-on-warning-dark-surface: 255, 252, 207;
  --ax-sys-color-border-warning-dark-surface: 173, 137, 0;
  --ax-sys-color-warning-darker-surface: 166, 130, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 252, 208;
  --ax-sys-color-border-warning-darker-surface: 130, 102, 0;
  --ax-sys-color-warning-darkest-surface: 131, 103, 23;
  --ax-sys-color-on-warning-darkest-surface: 255, 252, 210;
  --ax-sys-color-border-warning-darkest-surface: 101, 79, 18;
  --ax-sys-color-danger-lightest-surface: 255, 213, 203;
  --ax-sys-color-on-danger-lightest-surface: 67, 36, 29;
  --ax-sys-color-border-danger-lightest-surface: 255, 184, 167;
  --ax-sys-color-danger-lighter-surface: 255, 182, 167;
  --ax-sys-color-on-danger-lighter-surface: 81, 24, 14;
  --ax-sys-color-border-danger-lighter-surface: 255, 152, 131;
  --ax-sys-color-danger-light-surface: 255, 126, 107;
  --ax-sys-color-on-danger-light-surface: 255, 248, 244;
  --ax-sys-color-border-danger-light-surface: 255, 95, 71;
  --ax-sys-color-danger-surface: 192, 57, 43;
  --ax-sys-color-on-danger-surface: 255, 248, 244;
  --ax-sys-color-border-danger-surface: 163, 48, 36;
  --ax-sys-color-danger-dark-surface: 177, 41, 29;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 244;
  --ax-sys-color-border-danger-dark-surface: 146, 34, 24;
  --ax-sys-color-danger-darker-surface: 158, 16, 7;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darker-surface: 124, 13, 5;
  --ax-sys-color-danger-darkest-surface: 139, 19, 12;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darkest-surface: 106, 15, 9;
  --ax-sys-color-accent1-lightest-surface: 167, 236, 247;
  --ax-sys-color-on-accent1-lightest-surface: 0, 55, 64;
  --ax-sys-color-border-accent1-lightest-surface: 134, 229, 244;
  --ax-sys-color-accent1-lighter-surface: 142, 211, 222;
  --ax-sys-color-on-accent1-lighter-surface: 0, 55, 64;
  --ax-sys-color-border-accent1-lighter-surface: 114, 200, 214;
  --ax-sys-color-accent1-light-surface: 104, 173, 183;
  --ax-sys-color-on-accent1-light-surface: 224, 255, 255;
  --ax-sys-color-border-accent1-light-surface: 81, 159, 170;
  --ax-sys-color-accent1-surface: 22, 97, 107;
  --ax-sys-color-on-accent1-surface: 224, 255, 255;
  --ax-sys-color-border-accent1-surface: 16, 70, 77;
  --ax-sys-color-accent1-dark-surface: 8, 89, 99;
  --ax-sys-color-on-accent1-dark-surface: 224, 255, 255;
  --ax-sys-color-border-accent1-dark-surface: 5, 59, 66;
  --ax-sys-color-accent1-darker-surface: 0, 80, 90;
  --ax-sys-color-on-accent1-darker-surface: 224, 255, 255;
  --ax-sys-color-border-accent1-darker-surface: 0, 48, 54;
  --ax-sys-color-accent1-darkest-surface: 12, 71, 80;
  --ax-sys-color-on-accent1-darkest-surface: 225, 255, 255;
  --ax-sys-color-border-accent1-darkest-surface: 7, 43, 49;
  --ax-sys-color-accent2-lightest-surface: 252, 213, 255;
  --ax-sys-color-on-accent2-lightest-surface: 63, 32, 65;
  --ax-sys-color-border-accent2-lightest-surface: 249, 177, 255;
  --ax-sys-color-accent2-lighter-surface: 243, 184, 255;
  --ax-sys-color-on-accent2-lighter-surface: 70, 18, 80;
  --ax-sys-color-border-accent2-lighter-surface: 237, 148, 255;
  --ax-sys-color-accent2-light-surface: 217, 149, 247;
  --ax-sys-color-on-accent2-light-surface: 73, 0, 96;
  --ax-sys-color-border-accent2-light-surface: 205, 116, 244;
  --ax-sys-color-accent2-surface: 155, 89, 182;
  --ax-sys-color-on-accent2-surface: 255, 248, 255;
  --ax-sys-color-border-accent2-surface: 137, 72, 163;
  --ax-sys-color-accent2-dark-surface: 140, 74, 166;
  --ax-sys-color-on-accent2-dark-surface: 255, 248, 255;
  --ax-sys-color-border-accent2-dark-surface: 119, 63, 141;
  --ax-sys-color-accent2-darker-surface: 121, 56, 147;
  --ax-sys-color-on-accent2-darker-surface: 255, 248, 255;
  --ax-sys-color-border-accent2-darker-surface: 100, 46, 121;
  --ax-sys-color-accent2-darkest-surface: 104, 45, 127;
  --ax-sys-color-on-accent2-darkest-surface: 255, 248, 255;
  --ax-sys-color-border-accent2-darkest-surface: 82, 36, 101;
  --ax-sys-color-accent3-lightest-surface: 197, 222, 248;
  --ax-sys-color-on-accent3-lightest-surface: 27, 47, 67;
  --ax-sys-color-border-accent3-lightest-surface: 165, 204, 244;
  --ax-sys-color-accent3-lighter-surface: 171, 195, 220;
  --ax-sys-color-on-accent3-lighter-surface: 28, 47, 67;
  --ax-sys-color-border-accent3-lighter-surface: 146, 177, 210;
  --ax-sys-color-accent3-light-surface: 130, 153, 177;
  --ax-sys-color-on-accent3-light-surface: 242, 255, 255;
  --ax-sys-color-border-accent3-light-surface: 108, 135, 163;
  --ax-sys-color-accent3-surface: 52, 73, 94;
  --ax-sys-color-on-accent3-surface: 241, 255, 255;
  --ax-sys-color-border-accent3-surface: 39, 55, 71;
  --ax-sys-color-accent3-dark-surface: 47, 68, 89;
  --ax-sys-color-on-accent3-dark-surface: 241, 255, 255;
  --ax-sys-color-border-accent3-dark-surface: 35, 50, 66;
  --ax-sys-color-accent3-darker-surface: 42, 63, 83;
  --ax-sys-color-on-accent3-darker-surface: 241, 255, 255;
  --ax-sys-color-border-accent3-darker-surface: 30, 45, 59;
  --ax-sys-color-accent3-darkest-surface: 39, 58, 77;
  --ax-sys-color-on-accent3-darkest-surface: 241, 255, 255;
  --ax-sys-color-border-accent3-darkest-surface: 27, 40, 53;
  --ax-sys-color-neutral-lightest-surface: 213, 229, 239;
  --ax-sys-color-on-neutral-lightest-surface: 35, 48, 55;
  --ax-sys-color-border-neutral-lightest-surface: 187, 213, 229;
  --ax-sys-color-neutral-lighter-surface: 191, 207, 217;
  --ax-sys-color-on-neutral-lighter-surface: 35, 48, 56;
  --ax-sys-color-border-neutral-lighter-surface: 169, 190, 204;
  --ax-sys-color-neutral-light-surface: 158, 173, 183;
  --ax-sys-color-on-neutral-light-surface: 35, 48, 56;
  --ax-sys-color-border-neutral-light-surface: 138, 156, 168;
  --ax-sys-color-neutral-surface: 93, 107, 116;
  --ax-sys-color-on-neutral-surface: 240, 255, 255;
  --ax-sys-color-border-neutral-surface: 77, 89, 96;
  --ax-sys-color-neutral-dark-surface: 82, 96, 105;
  --ax-sys-color-on-neutral-dark-surface: 240, 255, 255;
  --ax-sys-color-border-neutral-dark-surface: 66, 78, 85;
  --ax-sys-color-neutral-darker-surface: 69, 82, 91;
  --ax-sys-color-on-neutral-darker-surface: 240, 255, 255;
  --ax-sys-color-border-neutral-darker-surface: 54, 64, 71;
  --ax-sys-color-neutral-darkest-surface: 59, 71, 79;
  --ax-sys-color-on-neutral-darkest-surface: 241, 255, 255;
  --ax-sys-color-border-neutral-darkest-surface: 44, 53, 59;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 244, 248, 249;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 21, 30, 34;
  --ax-sys-color-lightest-surface: 28, 40, 48;
  --ax-sys-color-on-lightest-surface: 240, 255, 255;
  --ax-sys-color-border-lightest-surface: 45, 64, 77;
  --ax-sys-color-lighter-surface: 25, 36, 43;
  --ax-sys-color-on-lighter-surface: 241, 255, 255;
  --ax-sys-color-border-lighter-surface: 42, 61, 72;
  --ax-sys-color-light-surface: 23, 34, 40;
  --ax-sys-color-on-light-surface: 242, 255, 255;
  --ax-sys-color-border-light-surface: 40, 58, 69;
  --ax-sys-color-surface: 22, 31, 37;
  --ax-sys-color-on-surface: 243, 255, 255;
  --ax-sys-color-border-surface: 39, 56, 65;
  --ax-sys-color-dark-surface: 20, 28, 33;
  --ax-sys-color-on-dark-surface: 244, 255, 255;
  --ax-sys-color-border-dark-surface: 37, 53, 62;
  --ax-sys-color-darker-surface: 18, 26, 30;
  --ax-sys-color-on-darker-surface: 244, 255, 255;
  --ax-sys-color-border-darker-surface: 35, 50, 58;
  --ax-sys-color-darkest-surface: 15, 22, 25;
  --ax-sys-color-on-darkest-surface: 245, 255, 255;
  --ax-sys-color-border-darkest-surface: 32, 47, 54;
  /* Ranges */
  --ax-sys-color-primary-50: 185, 255, 255;
  --ax-sys-color-primary-100: 167, 249, 255;
  --ax-sys-color-primary-200: 145, 226, 239;
  --ax-sys-color-primary-300: 123, 204, 217;
  --ax-sys-color-primary-400: 101, 182, 195;
  --ax-sys-color-primary-500: 79, 161, 173;
  --ax-sys-color-primary-600: 57, 140, 152;
  --ax-sys-color-primary-700: 32, 120, 132;
  --ax-sys-color-primary-800: 16, 110, 122;
  --ax-sys-color-primary-900: 0, 101, 113;
  --ax-sys-color-primary-950: 0, 96, 108;
  --ax-sys-color-secondary-50: 255, 242, 224;
  --ax-sys-color-secondary-100: 255, 232, 208;
  --ax-sys-color-secondary-200: 255, 213, 176;
  --ax-sys-color-secondary-300: 255, 193, 142;
  --ax-sys-color-secondary-400: 255, 172, 103;
  --ax-sys-color-secondary-500: 255, 154, 69;
  --ax-sys-color-secondary-600: 245, 140, 53;
  --ax-sys-color-secondary-700: 230, 126, 34;
  --ax-sys-color-secondary-800: 211, 108, 0;
  --ax-sys-color-secondary-900: 191, 91, 0;
  --ax-sys-color-secondary-950: 182, 82, 0;
  --ax-sys-color-success-50: 217, 255, 228;
  --ax-sys-color-success-100: 194, 255, 212;
  --ax-sys-color-success-200: 136, 255, 176;
  --ax-sys-color-success-300: 108, 253, 158;
  --ax-sys-color-success-400: 94, 240, 147;
  --ax-sys-color-success-500: 80, 228, 135;
  --ax-sys-color-success-600: 64, 216, 124;
  --ax-sys-color-success-700: 46, 204, 113;
  --ax-sys-color-success-800: 0, 183, 94;
  --ax-sys-color-success-900: 0, 163, 74;
  --ax-sys-color-success-950: 0, 153, 65;
  --ax-sys-color-warning-50: 255, 251, 193;
  --ax-sys-color-warning-100: 255, 246, 176;
  --ax-sys-color-warning-200: 255, 237, 140;
  --ax-sys-color-warning-300: 255, 228, 98;
  --ax-sys-color-warning-400: 255, 219, 62;
  --ax-sys-color-warning-500: 255, 211, 50;
  --ax-sys-color-warning-600: 249, 204, 36;
  --ax-sys-color-warning-700: 241, 196, 15;
  --ax-sys-color-warning-800: 216, 171, 0;
  --ax-sys-color-warning-900: 189, 148, 0;
  --ax-sys-color-warning-950: 175, 136, 0;
  --ax-sys-color-danger-50: 255, 235, 229;
  --ax-sys-color-danger-100: 255, 220, 212;
  --ax-sys-color-danger-200: 255, 189, 176;
  --ax-sys-color-danger-300: 255, 156, 139;
  --ax-sys-color-danger-400: 255, 121, 102;
  --ax-sys-color-danger-500: 238, 100, 82;
  --ax-sys-color-danger-600: 215, 79, 63;
  --ax-sys-color-danger-700: 192, 57, 43;
  --ax-sys-color-danger-800: 180, 44, 32;
  --ax-sys-color-danger-900: 168, 30, 19;
  --ax-sys-color-danger-950: 162, 22, 12;
  --ax-sys-color-accent1-50: 186, 255, 255;
  --ax-sys-color-accent1-100: 173, 243, 254;
  --ax-sys-color-accent1-200: 148, 217, 228;
  --ax-sys-color-accent1-300: 123, 192, 203;
  --ax-sys-color-accent1-400: 99, 167, 178;
  --ax-sys-color-accent1-500: 75, 143, 154;
  --ax-sys-color-accent1-600: 50, 120, 130;
  --ax-sys-color-accent1-700: 22, 97, 107;
  --ax-sys-color-accent1-800: 11, 91, 101;
  --ax-sys-color-accent1-900: 0, 85, 94;
  --ax-sys-color-accent1-950: 0, 82, 91;
  --ax-sys-color-accent2-50: 255, 236, 255;
  --ax-sys-color-accent2-100: 254, 221, 255;
  --ax-sys-color-accent2-200: 245, 191, 255;
  --ax-sys-color-accent2-300: 233, 164, 255;
  --ax-sys-color-accent2-400: 213, 145, 242;
  --ax-sys-color-accent2-500: 193, 126, 222;
  --ax-sys-color-accent2-600: 174, 107, 202;
  --ax-sys-color-accent2-700: 155, 89, 182;
  --ax-sys-color-accent2-800: 143, 77, 169;
  --ax-sys-color-accent2-900: 131, 65, 157;
  --ax-sys-color-accent2-950: 125, 59, 150;
  --ax-sys-color-accent3-50: 219, 244, 255;
  --ax-sys-color-accent3-100: 205, 230, 255;
  --ax-sys-color-accent3-200: 177, 202, 227;
  --ax-sys-color-accent3-300: 150, 174, 199;
  --ax-sys-color-accent3-400: 124, 148, 171;
  --ax-sys-color-accent3-500: 99, 122, 145;
  --ax-sys-color-accent3-600: 75, 97, 119;
  --ax-sys-color-accent3-700: 52, 73, 94;
  --ax-sys-color-accent3-800: 48, 69, 90;
  --ax-sys-color-accent3-900: 45, 66, 86;
  --ax-sys-color-accent3-950: 43, 64, 84;
  --ax-sys-color-neutral-50: 230, 246, 255;
  --ax-sys-color-neutral-100: 219, 235, 245;
  --ax-sys-color-neutral-200: 197, 212, 223;
  --ax-sys-color-neutral-300: 175, 190, 200;
  --ax-sys-color-neutral-400: 154, 169, 179;
  --ax-sys-color-neutral-500: 133, 148, 157;
  --ax-sys-color-neutral-600: 113, 127, 136;
  --ax-sys-color-neutral-700: 93, 107, 116;
  --ax-sys-color-neutral-800: 84, 98, 107;
  --ax-sys-color-neutral-900: 76, 89, 98;
  --ax-sys-color-neutral-950: 71, 85, 94;
  --ax-sys-color-primary-lightest-surface: 167, 249, 255;
  --ax-sys-color-on-primary-lightest-surface: 0, 28, 32;
  --ax-sys-color-border-primary-lightest-surface: 213, 252, 255;
  --ax-sys-color-primary-lighter-surface: 145, 226, 239;
  --ax-sys-color-on-primary-lighter-surface: 0, 28, 35;
  --ax-sys-color-border-primary-lighter-surface: 185, 237, 245;
  --ax-sys-color-primary-light-surface: 123, 204, 217;
  --ax-sys-color-on-primary-light-surface: 0, 28, 35;
  --ax-sys-color-border-primary-light-surface: 159, 218, 227;
  --ax-sys-color-primary-surface: 79, 161, 173;
  --ax-sys-color-on-primary-surface: 0, 28, 35;
  --ax-sys-color-border-primary-surface: 109, 178, 189;
  --ax-sys-color-primary-dark-surface: 57, 140, 152;
  --ax-sys-color-on-primary-dark-surface: 0, 28, 35;
  --ax-sys-color-border-primary-dark-surface: 70, 171, 185;
  --ax-sys-color-primary-darker-surface: 32, 120, 132;
  --ax-sys-color-on-primary-darker-surface: 224, 255, 255;
  --ax-sys-color-border-primary-darker-surface: 41, 154, 169;
  --ax-sys-color-primary-darkest-surface: 16, 110, 122;
  --ax-sys-color-on-primary-darkest-surface: 224, 255, 255;
  --ax-sys-color-border-primary-darkest-surface: 21, 147, 163;
  --ax-sys-color-secondary-lightest-surface: 255, 232, 208;
  --ax-sys-color-on-secondary-lightest-surface: 34, 18, 1;
  --ax-sys-color-border-secondary-lightest-surface: 255, 254, 254;
  --ax-sys-color-secondary-lighter-surface: 255, 213, 176;
  --ax-sys-color-on-secondary-lighter-surface: 42, 12, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 237, 222;
  --ax-sys-color-secondary-light-surface: 255, 193, 142;
  --ax-sys-color-on-secondary-light-surface: 43, 11, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 218, 188;
  --ax-sys-color-secondary-surface: 255, 154, 69;
  --ax-sys-color-on-secondary-surface: 44, 10, 0;
  --ax-sys-color-border-secondary-surface: 255, 179, 115;
  --ax-sys-color-secondary-dark-surface: 245, 140, 53;
  --ax-sys-color-on-secondary-dark-surface: 45, 9, 0;
  --ax-sys-color-border-secondary-dark-surface: 247, 165, 97;
  --ax-sys-color-secondary-darker-surface: 230, 126, 34;
  --ax-sys-color-on-secondary-darker-surface: 45, 9, 0;
  --ax-sys-color-border-secondary-darker-surface: 235, 150, 75;
  --ax-sys-color-secondary-darkest-surface: 211, 108, 0;
  --ax-sys-color-on-secondary-darkest-surface: 45, 8, 0;
  --ax-sys-color-border-secondary-darkest-surface: 255, 131, 2;
  --ax-sys-color-success-lightest-surface: 194, 255, 212;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 3;
  --ax-sys-color-border-success-lightest-surface: 240, 255, 244;
  --ax-sys-color-success-lighter-surface: 136, 255, 176;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 3;
  --ax-sys-color-border-success-lighter-surface: 182, 255, 206;
  --ax-sys-color-success-light-surface: 108, 253, 158;
  --ax-sys-color-on-success-light-surface: 0, 31, 2;
  --ax-sys-color-border-success-light-surface: 153, 254, 188;
  --ax-sys-color-success-surface: 80, 228, 135;
  --ax-sys-color-on-success-surface: 0, 31, 2;
  --ax-sys-color-border-success-surface: 120, 234, 162;
  --ax-sys-color-success-dark-surface: 64, 216, 124;
  --ax-sys-color-on-success-dark-surface: 0, 31, 2;
  --ax-sys-color-border-success-dark-surface: 102, 224, 150;
  --ax-sys-color-success-darker-surface: 46, 204, 113;
  --ax-sys-color-on-success-darker-surface: 0, 31, 2;
  --ax-sys-color-border-success-darker-surface: 80, 216, 138;
  --ax-sys-color-success-darkest-surface: 0, 183, 94;
  --ax-sys-color-on-success-darkest-surface: 0, 31, 2;
  --ax-sys-color-border-success-darkest-surface: 0, 229, 118;
  --ax-sys-color-warning-lightest-surface: 255, 246, 176;
  --ax-sys-color-on-warning-lightest-surface: 28, 22, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 251, 222;
  --ax-sys-color-warning-lighter-surface: 255, 237, 140;
  --ax-sys-color-on-warning-lighter-surface: 29, 22, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 244, 186;
  --ax-sys-color-warning-light-surface: 255, 228, 98;
  --ax-sys-color-on-warning-light-surface: 30, 21, 0;
  --ax-sys-color-border-warning-light-surface: 255, 236, 144;
  --ax-sys-color-warning-surface: 255, 211, 50;
  --ax-sys-color-on-warning-surface: 32, 20, 0;
  --ax-sys-color-border-warning-surface: 255, 221, 96;
  --ax-sys-color-warning-dark-surface: 249, 204, 36;
  --ax-sys-color-on-warning-dark-surface: 32, 20, 0;
  --ax-sys-color-border-warning-dark-surface: 250, 214, 81;
  --ax-sys-color-warning-darker-surface: 241, 196, 15;
  --ax-sys-color-on-warning-darker-surface: 32, 20, 0;
  --ax-sys-color-border-warning-darker-surface: 244, 207, 58;
  --ax-sys-color-warning-darkest-surface: 216, 171, 0;
  --ax-sys-color-on-warning-darkest-surface: 33, 20, 0;
  --ax-sys-color-border-warning-darkest-surface: 255, 203, 7;
  --ax-sys-color-danger-lightest-surface: 255, 220, 212;
  --ax-sys-color-on-danger-lightest-surface: 38, 14, 10;
  --ax-sys-color-border-danger-lightest-surface: 255, 257, 258;
  --ax-sys-color-danger-lighter-surface: 255, 189, 176;
  --ax-sys-color-on-danger-lighter-surface: 49, 1, 0;
  --ax-sys-color-border-danger-lighter-surface: 255, 227, 222;
  --ax-sys-color-danger-light-surface: 255, 156, 139;
  --ax-sys-color-on-danger-light-surface: 56, 0, 0;
  --ax-sys-color-border-danger-light-surface: 255, 195, 185;
  --ax-sys-color-danger-surface: 238, 100, 82;
  --ax-sys-color-on-danger-surface: 56, 0, 0;
  --ax-sys-color-border-danger-surface: 242, 137, 124;
  --ax-sys-color-danger-dark-surface: 215, 79, 63;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 244;
  --ax-sys-color-border-danger-dark-surface: 223, 114, 101;
  --ax-sys-color-danger-darker-surface: 192, 57, 43;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darker-surface: 213, 81, 68;
  --ax-sys-color-danger-darkest-surface: 180, 44, 32;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darkest-surface: 217, 55, 41;
  --ax-sys-color-accent1-lightest-surface: 173, 243, 254;
  --ax-sys-color-on-accent1-lightest-surface: 0, 28, 35;
  --ax-sys-color-border-accent1-lightest-surface: 218, 250, 255;
  --ax-sys-color-accent1-lighter-surface: 148, 217, 228;
  --ax-sys-color-on-accent1-lighter-surface: 0, 28, 35;
  --ax-sys-color-border-accent1-lighter-surface: 185, 230, 237;
  --ax-sys-color-accent1-light-surface: 123, 192, 203;
  --ax-sys-color-on-accent1-light-surface: 0, 28, 35;
  --ax-sys-color-border-accent1-light-surface: 156, 208, 216;
  --ax-sys-color-accent1-surface: 75, 143, 154;
  --ax-sys-color-on-accent1-surface: 0, 28, 35;
  --ax-sys-color-border-accent1-surface: 97, 167, 178;
  --ax-sys-color-accent1-dark-surface: 50, 120, 130;
  --ax-sys-color-on-accent1-dark-surface: 224, 255, 255;
  --ax-sys-color-border-accent1-dark-surface: 63, 151, 163;
  --ax-sys-color-accent1-darker-surface: 22, 97, 107;
  --ax-sys-color-on-accent1-darker-surface: 224, 255, 255;
  --ax-sys-color-border-accent1-darker-surface: 30, 132, 145;
  --ax-sys-color-accent1-darkest-surface: 11, 91, 101;
  --ax-sys-color-on-accent1-darkest-surface: 224, 255, 255;
  --ax-sys-color-border-accent1-darkest-surface: 16, 128, 142;
  --ax-sys-color-accent2-lightest-surface: 254, 221, 255;
  --ax-sys-color-on-accent2-lightest-surface: 34, 11, 36;
  --ax-sys-color-border-accent2-lightest-surface: 255, 267, 255;
  --ax-sys-color-accent2-lighter-surface: 245, 191, 255;
  --ax-sys-color-on-accent2-lighter-surface: 41, 0, 49;
  --ax-sys-color-border-accent2-lighter-surface: 252, 237, 255;
  --ax-sys-color-accent2-light-surface: 233, 164, 255;
  --ax-sys-color-on-accent2-light-surface: 42, 0, 55;
  --ax-sys-color-border-accent2-light-surface: 244, 210, 255;
  --ax-sys-color-accent2-surface: 193, 126, 222;
  --ax-sys-color-on-accent2-surface: 41, 0, 58;
  --ax-sys-color-border-accent2-surface: 211, 163, 231;
  --ax-sys-color-accent2-dark-surface: 174, 107, 202;
  --ax-sys-color-on-accent2-dark-surface: 41, 0, 58;
  --ax-sys-color-border-accent2-dark-surface: 192, 141, 214;
  --ax-sys-color-accent2-darker-surface: 155, 89, 182;
  --ax-sys-color-on-accent2-darker-surface: 41, 0, 58;
  --ax-sys-color-border-accent2-darker-surface: 174, 121, 196;
  --ax-sys-color-accent2-darkest-surface: 143, 77, 169;
  --ax-sys-color-on-accent2-darkest-surface: 255, 248, 255;
  --ax-sys-color-border-accent2-darkest-surface: 164, 105, 187;
  --ax-sys-color-accent3-lightest-surface: 205, 230, 255;
  --ax-sys-color-on-accent3-lightest-surface: 4, 23, 41;
  --ax-sys-color-border-accent3-lightest-surface: 251, 253, 255;
  --ax-sys-color-accent3-lighter-surface: 177, 202, 227;
  --ax-sys-color-on-accent3-lighter-surface: 4, 23, 41;
  --ax-sys-color-border-accent3-lighter-surface: 211, 225, 239;
  --ax-sys-color-accent3-light-surface: 150, 174, 199;
  --ax-sys-color-on-accent3-light-surface: 4, 23, 41;
  --ax-sys-color-border-accent3-light-surface: 180, 197, 215;
  --ax-sys-color-accent3-surface: 99, 122, 145;
  --ax-sys-color-on-accent3-surface: 4, 23, 41;
  --ax-sys-color-border-accent3-surface: 124, 145, 166;
  --ax-sys-color-accent3-dark-surface: 75, 97, 119;
  --ax-sys-color-on-accent3-dark-surface: 241, 255, 255;
  --ax-sys-color-border-accent3-dark-surface: 93, 120, 147;
  --ax-sys-color-accent3-darker-surface: 52, 73, 94;
  --ax-sys-color-on-accent3-darker-surface: 241, 255, 255;
  --ax-sys-color-border-accent3-darker-surface: 68, 96, 124;
  --ax-sys-color-accent3-darkest-surface: 48, 69, 90;
  --ax-sys-color-on-accent3-darkest-surface: 241, 255, 255;
  --ax-sys-color-border-accent3-darkest-surface: 64, 92, 120;
  --ax-sys-color-neutral-lightest-surface: 219, 235, 245;
  --ax-sys-color-on-neutral-lightest-surface: 12, 24, 31;
  --ax-sys-color-border-neutral-lightest-surface: 255, 255, 255;
  --ax-sys-color-neutral-lighter-surface: 197, 212, 223;
  --ax-sys-color-on-neutral-lighter-surface: 12, 23, 31;
  --ax-sys-color-border-neutral-lighter-surface: 227, 234, 239;
  --ax-sys-color-neutral-light-surface: 175, 190, 200;
  --ax-sys-color-on-neutral-light-surface: 12, 24, 31;
  --ax-sys-color-border-neutral-light-surface: 202, 212, 219;
  --ax-sys-color-neutral-surface: 133, 148, 157;
  --ax-sys-color-on-neutral-surface: 12, 24, 30;
  --ax-sys-color-border-neutral-surface: 158, 170, 177;
  --ax-sys-color-neutral-dark-surface: 113, 127, 136;
  --ax-sys-color-on-neutral-dark-surface: 12, 24, 31;
  --ax-sys-color-border-neutral-dark-surface: 138, 150, 157;
  --ax-sys-color-neutral-darker-surface: 93, 107, 116;
  --ax-sys-color-on-neutral-darker-surface: 240, 255, 255;
  --ax-sys-color-border-neutral-darker-surface: 113, 130, 141;
  --ax-sys-color-neutral-darkest-surface: 84, 98, 107;
  --ax-sys-color-on-neutral-darkest-surface: 240, 255, 255;
  --ax-sys-color-border-neutral-darkest-surface: 104, 122, 133;
}
