/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 250, 246, 249;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 35, 31, 36;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 246, 245, 246;
  --ax-sys-color-on-lighter-surface: 46, 45, 46;
  --ax-sys-color-border-lighter-surface: 229, 226, 228;
  --ax-sys-color-light-surface: 239, 238, 239;
  --ax-sys-color-on-light-surface: 47, 45, 46;
  --ax-sys-color-border-light-surface: 222, 219, 221;
  --ax-sys-color-surface: 233, 230, 232;
  --ax-sys-color-on-surface: 47, 45, 46;
  --ax-sys-color-border-surface: 216, 212, 214;
  --ax-sys-color-dark-surface: 226, 223, 225;
  --ax-sys-color-on-dark-surface: 47, 45, 46;
  --ax-sys-color-border-dark-surface: 209, 204, 207;
  --ax-sys-color-darker-surface: 219, 216, 218;
  --ax-sys-color-on-darker-surface: 48, 45, 46;
  --ax-sys-color-border-darker-surface: 202, 197, 200;
  --ax-sys-color-darkest-surface: 211, 206, 209;
  --ax-sys-color-on-darkest-surface: 48, 45, 47;
  --ax-sys-color-border-darkest-surface: 194, 187, 191;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 230, 249;
  --ax-sys-color-primary-100: 255, 207, 238;
  --ax-sys-color-primary-200: 255, 171, 223;
  --ax-sys-color-primary-300: 236, 137, 191;
  --ax-sys-color-primary-400: 192, 97, 150;
  --ax-sys-color-primary-500: 164, 72, 125;
  --ax-sys-color-primary-600: 150, 59, 112;
  --ax-sys-color-primary-700: 133, 44, 97;
  --ax-sys-color-primary-800: 116, 36, 84;
  --ax-sys-color-primary-900: 96, 40, 72;
  --ax-sys-color-primary-950: 62, 28, 46;
  --ax-sys-color-secondary-50: 255, 240, 229;
  --ax-sys-color-secondary-100: 255, 226, 211;
  --ax-sys-color-secondary-200: 255, 206, 185;
  --ax-sys-color-secondary-300: 255, 174, 141;
  --ax-sys-color-secondary-400: 249, 139, 101;
  --ax-sys-color-secondary-500: 230, 122, 84;
  --ax-sys-color-secondary-600: 206, 100, 62;
  --ax-sys-color-secondary-700: 176, 73, 35;
  --ax-sys-color-secondary-800: 148, 56, 20;
  --ax-sys-color-secondary-900: 117, 53, 36;
  --ax-sys-color-secondary-950: 56, 24, 19;
  --ax-sys-color-success-50: 203, 255, 229;
  --ax-sys-color-success-100: 164, 255, 209;
  --ax-sys-color-success-200: 149, 244, 194;
  --ax-sys-color-success-300: 125, 219, 171;
  --ax-sys-color-success-400: 94, 189, 142;
  --ax-sys-color-success-500: 74, 170, 124;
  --ax-sys-color-success-600: 50, 149, 105;
  --ax-sys-color-success-700: 11, 125, 82;
  --ax-sys-color-success-800: 21, 104, 66;
  --ax-sys-color-success-900: 41, 86, 59;
  --ax-sys-color-success-950: 24, 42, 29;
  --ax-sys-color-warning-50: 255, 245, 216;
  --ax-sys-color-warning-100: 255, 236, 197;
  --ax-sys-color-warning-200: 255, 223, 169;
  --ax-sys-color-warning-300: 255, 202, 119;
  --ax-sys-color-warning-400: 255, 178, 68;
  --ax-sys-color-warning-500: 243, 165, 52;
  --ax-sys-color-warning-600: 214, 138, 0;
  --ax-sys-color-warning-700: 177, 106, 0;
  --ax-sys-color-warning-800: 141, 86, 21;
  --ax-sys-color-warning-900: 107, 73, 40;
  --ax-sys-color-warning-950: 43, 29, 18;
  --ax-sys-color-danger-50: 255, 232, 235;
  --ax-sys-color-danger-100: 255, 209, 215;
  --ax-sys-color-danger-200: 255, 175, 186;
  --ax-sys-color-danger-300: 255, 118, 143;
  --ax-sys-color-danger-400: 214, 75, 103;
  --ax-sys-color-danger-500: 184, 45, 79;
  --ax-sys-color-danger-600: 170, 29, 68;
  --ax-sys-color-danger-700: 153, 0, 55;
  --ax-sys-color-danger-800: 135, 18, 47;
  --ax-sys-color-danger-900: 108, 37, 48;
  --ax-sys-color-danger-950: 66, 29, 32;
  --ax-sys-color-accent1-50: 255, 226, 249;
  --ax-sys-color-accent1-100: 255, 197, 236;
  --ax-sys-color-accent1-200: 248, 167, 213;
  --ax-sys-color-accent1-300: 207, 129, 174;
  --ax-sys-color-accent1-400: 156, 83, 126;
  --ax-sys-color-accent1-500: 124, 54, 97;
  --ax-sys-color-accent1-600: 116, 47, 90;
  --ax-sys-color-accent1-700: 107, 38, 81;
  --ax-sys-color-accent1-800: 96, 34, 73;
  --ax-sys-color-accent1-900: 82, 38, 65;
  --ax-sys-color-accent1-950: 61, 30, 48;
  --ax-sys-color-accent2-50: 187, 255, 255;
  --ax-sys-color-accent2-100: 155, 255, 250;
  --ax-sys-color-accent2-200: 139, 239, 234;
  --ax-sys-color-accent2-300: 114, 214, 210;
  --ax-sys-color-accent2-400: 81, 183, 179;
  --ax-sys-color-accent2-500: 59, 164, 160;
  --ax-sys-color-accent2-600: 31, 144, 140;
  --ax-sys-color-accent2-700: 0, 120, 117;
  --ax-sys-color-accent2-800: 21, 100, 98;
  --ax-sys-color-accent2-900: 40, 82, 80;
  --ax-sys-color-accent2-950: 24, 41, 40;
  --ax-sys-color-accent3-50: 231, 237, 255;
  --ax-sys-color-accent3-100: 208, 215, 255;
  --ax-sys-color-accent3-200: 181, 188, 234;
  --ax-sys-color-accent3-300: 140, 146, 190;
  --ax-sys-color-accent3-400: 90, 95, 137;
  --ax-sys-color-accent3-500: 61, 65, 104;
  --ax-sys-color-accent3-600: 57, 61, 99;
  --ax-sys-color-accent3-700: 52, 55, 94;
  --ax-sys-color-accent3-800: 48, 52, 86;
  --ax-sys-color-accent3-900: 47, 50, 75;
  --ax-sys-color-accent3-950: 39, 42, 60;
  --ax-sys-color-neutral-50: 255, 238, 255;
  --ax-sys-color-neutral-100: 248, 226, 244;
  --ax-sys-color-neutral-200: 232, 210, 228;
  --ax-sys-color-neutral-300: 207, 186, 203;
  --ax-sys-color-neutral-400: 176, 155, 171;
  --ax-sys-color-neutral-500: 156, 136, 152;
  --ax-sys-color-neutral-600: 137, 117, 133;
  --ax-sys-color-neutral-700: 114, 95, 110;
  --ax-sys-color-neutral-800: 95, 78, 92;
  --ax-sys-color-neutral-900: 79, 67, 76;
  --ax-sys-color-neutral-950: 41, 33, 39;
  --ax-sys-color-primary-lightest-surface: 255, 207, 238;
  --ax-sys-color-on-primary-lightest-surface: 67, 31, 56;
  --ax-sys-color-border-primary-lightest-surface: 255, 171, 225;
  --ax-sys-color-primary-lighter-surface: 255, 171, 223;
  --ax-sys-color-on-primary-lighter-surface: 81, 9, 62;
  --ax-sys-color-border-primary-lighter-surface: 255, 135, 209;
  --ax-sys-color-primary-light-surface: 236, 137, 191;
  --ax-sys-color-on-primary-light-surface: 88, 0, 59;
  --ax-sys-color-border-primary-light-surface: 231, 106, 174;
  --ax-sys-color-primary-surface: 164, 72, 125;
  --ax-sys-color-on-primary-surface: 255, 246, 255;
  --ax-sys-color-border-primary-surface: 139, 61, 106;
  --ax-sys-color-primary-dark-surface: 150, 59, 112;
  --ax-sys-color-on-primary-dark-surface: 255, 246, 255;
  --ax-sys-color-border-primary-dark-surface: 124, 49, 93;
  --ax-sys-color-primary-darker-surface: 133, 44, 97;
  --ax-sys-color-on-primary-darker-surface: 255, 246, 255;
  --ax-sys-color-border-primary-darker-surface: 106, 35, 77;
  --ax-sys-color-primary-darkest-surface: 116, 36, 84;
  --ax-sys-color-on-primary-darkest-surface: 255, 246, 255;
  --ax-sys-color-border-primary-darkest-surface: 89, 28, 64;
  --ax-sys-color-secondary-lightest-surface: 255, 226, 211;
  --ax-sys-color-on-secondary-lightest-surface: 61, 40, 29;
  --ax-sys-color-border-secondary-lightest-surface: 255, 202, 175;
  --ax-sys-color-secondary-lighter-surface: 255, 206, 185;
  --ax-sys-color-on-secondary-lighter-surface: 71, 34, 17;
  --ax-sys-color-border-secondary-lighter-surface: 255, 181, 149;
  --ax-sys-color-secondary-light-surface: 255, 174, 141;
  --ax-sys-color-on-secondary-light-surface: 86, 19, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 149, 105;
  --ax-sys-color-secondary-surface: 230, 122, 84;
  --ax-sys-color-on-secondary-surface: 255, 248, 241;
  --ax-sys-color-border-secondary-surface: 225, 98, 53;
  --ax-sys-color-secondary-dark-surface: 206, 100, 62;
  --ax-sys-color-on-secondary-dark-surface: 255, 248, 241;
  --ax-sys-color-border-secondary-dark-surface: 185, 84, 47;
  --ax-sys-color-secondary-darker-surface: 176, 73, 35;
  --ax-sys-color-on-secondary-darker-surface: 255, 248, 241;
  --ax-sys-color-border-secondary-darker-surface: 146, 61, 29;
  --ax-sys-color-secondary-darkest-surface: 148, 56, 20;
  --ax-sys-color-on-secondary-darkest-surface: 255, 248, 241;
  --ax-sys-color-border-secondary-darkest-surface: 117, 44, 16;
  --ax-sys-color-success-lightest-surface: 164, 255, 209;
  --ax-sys-color-on-success-lightest-surface: 0, 59, 30;
  --ax-sys-color-border-success-lightest-surface: 128, 255, 191;
  --ax-sys-color-success-lighter-surface: 149, 244, 194;
  --ax-sys-color-on-success-lighter-surface: 0, 59, 28;
  --ax-sys-color-border-success-lighter-surface: 117, 241, 175;
  --ax-sys-color-success-light-surface: 125, 219, 171;
  --ax-sys-color-on-success-light-surface: 0, 59, 29;
  --ax-sys-color-border-success-light-surface: 97, 211, 153;
  --ax-sys-color-success-surface: 74, 170, 124;
  --ax-sys-color-on-success-surface: 231, 255, 244;
  --ax-sys-color-border-success-surface: 63, 145, 106;
  --ax-sys-color-success-dark-surface: 50, 149, 105;
  --ax-sys-color-on-success-dark-surface: 231, 255, 244;
  --ax-sys-color-border-success-dark-surface: 41, 122, 86;
  --ax-sys-color-success-darker-surface: 11, 125, 82;
  --ax-sys-color-on-success-darker-surface: 231, 255, 244;
  --ax-sys-color-border-success-darker-surface: 8, 92, 60;
  --ax-sys-color-success-darkest-surface: 21, 104, 66;
  --ax-sys-color-on-success-darkest-surface: 231, 255, 243;
  --ax-sys-color-border-success-darkest-surface: 15, 74, 47;
  --ax-sys-color-warning-lightest-surface: 255, 236, 197;
  --ax-sys-color-on-warning-lightest-surface: 58, 43, 7;
  --ax-sys-color-border-warning-lightest-surface: 255, 224, 161;
  --ax-sys-color-warning-lighter-surface: 255, 223, 169;
  --ax-sys-color-on-warning-lighter-surface: 65, 40, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 210, 133;
  --ax-sys-color-warning-light-surface: 255, 202, 119;
  --ax-sys-color-on-warning-light-surface: 68, 39, 0;
  --ax-sys-color-border-warning-light-surface: 255, 188, 83;
  --ax-sys-color-warning-surface: 243, 165, 52;
  --ax-sys-color-on-warning-surface: 255, 250, 227;
  --ax-sys-color-border-warning-surface: 241, 150, 18;
  --ax-sys-color-warning-dark-surface: 214, 138, 0;
  --ax-sys-color-on-warning-dark-surface: 255, 250, 228;
  --ax-sys-color-border-warning-dark-surface: 178, 115, 0;
  --ax-sys-color-warning-darker-surface: 177, 106, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 250, 231;
  --ax-sys-color-border-warning-darker-surface: 141, 85, 0;
  --ax-sys-color-warning-darkest-surface: 141, 86, 21;
  --ax-sys-color-on-warning-darkest-surface: 255, 250, 231;
  --ax-sys-color-border-warning-darkest-surface: 110, 67, 16;
  --ax-sys-color-danger-lightest-surface: 255, 209, 215;
  --ax-sys-color-on-danger-lightest-surface: 68, 34, 40;
  --ax-sys-color-border-danger-lightest-surface: 255, 173, 184;
  --ax-sys-color-danger-lighter-surface: 255, 175, 186;
  --ax-sys-color-on-danger-lighter-surface: 83, 18, 35;
  --ax-sys-color-border-danger-lighter-surface: 255, 139, 155;
  --ax-sys-color-danger-light-surface: 255, 118, 143;
  --ax-sys-color-on-danger-light-surface: 255, 247, 249;
  --ax-sys-color-border-danger-light-surface: 255, 82, 114;
  --ax-sys-color-danger-surface: 184, 45, 79;
  --ax-sys-color-on-danger-surface: 255, 247, 249;
  --ax-sys-color-border-danger-surface: 155, 38, 67;
  --ax-sys-color-danger-dark-surface: 170, 29, 68;
  --ax-sys-color-on-danger-dark-surface: 255, 247, 249;
  --ax-sys-color-border-danger-dark-surface: 140, 24, 56;
  --ax-sys-color-danger-darker-surface: 153, 0, 55;
  --ax-sys-color-on-danger-darker-surface: 255, 247, 249;
  --ax-sys-color-border-danger-darker-surface: 117, 0, 42;
  --ax-sys-color-danger-darkest-surface: 135, 18, 47;
  --ax-sys-color-on-danger-darkest-surface: 255, 247, 248;
  --ax-sys-color-border-danger-darkest-surface: 104, 14, 36;
  --ax-sys-color-accent1-lightest-surface: 255, 197, 236;
  --ax-sys-color-on-accent1-lightest-surface: 71, 26, 59;
  --ax-sys-color-border-accent1-lightest-surface: 255, 161, 224;
  --ax-sys-color-accent1-lighter-surface: 248, 167, 213;
  --ax-sys-color-on-accent1-lighter-surface: 81, 12, 58;
  --ax-sys-color-border-accent1-lighter-surface: 245, 134, 197;
  --ax-sys-color-accent1-light-surface: 207, 129, 174;
  --ax-sys-color-on-accent1-light-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-light-surface: 197, 103, 157;
  --ax-sys-color-accent1-surface: 124, 54, 97;
  --ax-sys-color-on-accent1-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-surface: 99, 43, 78;
  --ax-sys-color-accent1-dark-surface: 116, 47, 90;
  --ax-sys-color-on-accent1-dark-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-dark-surface: 91, 37, 70;
  --ax-sys-color-accent1-darker-surface: 107, 38, 81;
  --ax-sys-color-on-accent1-darker-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darker-surface: 81, 29, 61;
  --ax-sys-color-accent1-darkest-surface: 96, 34, 73;
  --ax-sys-color-on-accent1-darkest-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darkest-surface: 70, 25, 53;
  --ax-sys-color-accent2-lightest-surface: 155, 255, 250;
  --ax-sys-color-on-accent2-lightest-surface: 0, 56, 55;
  --ax-sys-color-border-accent2-lightest-surface: 119, 255, 248;
  --ax-sys-color-accent2-lighter-surface: 139, 239, 234;
  --ax-sys-color-on-accent2-lighter-surface: 0, 56, 55;
  --ax-sys-color-border-accent2-lighter-surface: 108, 235, 228;
  --ax-sys-color-accent2-light-surface: 114, 214, 210;
  --ax-sys-color-on-accent2-light-surface: 0, 56, 55;
  --ax-sys-color-border-accent2-light-surface: 86, 206, 201;
  --ax-sys-color-accent2-surface: 59, 164, 160;
  --ax-sys-color-on-accent2-surface: 223, 255, 255;
  --ax-sys-color-border-accent2-surface: 50, 138, 134;
  --ax-sys-color-accent2-dark-surface: 31, 144, 140;
  --ax-sys-color-on-accent2-dark-surface: 223, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 25, 115, 111;
  --ax-sys-color-accent2-darker-surface: 0, 120, 117;
  --ax-sys-color-on-accent2-darker-surface: 223, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 0, 84, 82;
  --ax-sys-color-accent2-darkest-surface: 21, 100, 98;
  --ax-sys-color-on-accent2-darkest-surface: 223, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 15, 70, 69;
  --ax-sys-color-accent3-lightest-surface: 208, 215, 255;
  --ax-sys-color-on-accent3-lightest-surface: 39, 43, 73;
  --ax-sys-color-border-accent3-lightest-surface: 172, 185, 255;
  --ax-sys-color-accent3-lighter-surface: 181, 188, 234;
  --ax-sys-color-on-accent3-lighter-surface: 39, 42, 78;
  --ax-sys-color-border-accent3-lighter-surface: 153, 163, 226;
  --ax-sys-color-accent3-light-surface: 140, 146, 190;
  --ax-sys-color-on-accent3-light-surface: 249, 252, 255;
  --ax-sys-color-border-accent3-light-surface: 117, 124, 177;
  --ax-sys-color-accent3-surface: 61, 65, 104;
  --ax-sys-color-on-accent3-surface: 249, 252, 255;
  --ax-sys-color-border-accent3-surface: 48, 51, 81;
  --ax-sys-color-accent3-dark-surface: 57, 61, 99;
  --ax-sys-color-on-accent3-dark-surface: 249, 252, 255;
  --ax-sys-color-border-accent3-dark-surface: 44, 47, 76;
  --ax-sys-color-accent3-darker-surface: 52, 55, 94;
  --ax-sys-color-on-accent3-darker-surface: 250, 252, 255;
  --ax-sys-color-border-accent3-darker-surface: 39, 42, 71;
  --ax-sys-color-accent3-darkest-surface: 48, 52, 86;
  --ax-sys-color-on-accent3-darkest-surface: 249, 252, 255;
  --ax-sys-color-border-accent3-darkest-surface: 35, 38, 63;
  --ax-sys-color-neutral-lightest-surface: 248, 226, 244;
  --ax-sys-color-on-neutral-lightest-surface: 56, 40, 53;
  --ax-sys-color-border-neutral-lightest-surface: 241, 197, 233;
  --ax-sys-color-neutral-lighter-surface: 232, 210, 228;
  --ax-sys-color-on-neutral-lighter-surface: 56, 40, 53;
  --ax-sys-color-border-neutral-lighter-surface: 220, 186, 214;
  --ax-sys-color-neutral-light-surface: 207, 186, 203;
  --ax-sys-color-on-neutral-light-surface: 56, 40, 53;
  --ax-sys-color-border-neutral-light-surface: 192, 165, 187;
  --ax-sys-color-neutral-surface: 156, 136, 152;
  --ax-sys-color-on-neutral-surface: 255, 246, 255;
  --ax-sys-color-border-neutral-surface: 140, 117, 135;
  --ax-sys-color-neutral-dark-surface: 137, 117, 133;
  --ax-sys-color-on-neutral-dark-surface: 255, 246, 255;
  --ax-sys-color-border-neutral-dark-surface: 118, 101, 114;
  --ax-sys-color-neutral-darker-surface: 114, 95, 110;
  --ax-sys-color-on-neutral-darker-surface: 255, 246, 255;
  --ax-sys-color-border-neutral-darker-surface: 95, 79, 91;
  --ax-sys-color-neutral-darkest-surface: 95, 78, 92;
  --ax-sys-color-on-neutral-darkest-surface: 255, 246, 255;
  --ax-sys-color-border-neutral-darkest-surface: 75, 62, 73;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 250, 246, 249;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 35, 31, 36;
  --ax-sys-color-lightest-surface: 42, 32, 40;
  --ax-sys-color-on-lightest-surface: 255, 249, 255;
  --ax-sys-color-border-lightest-surface: 68, 52, 65;
  --ax-sys-color-lighter-surface: 39, 30, 38;
  --ax-sys-color-on-lighter-surface: 255, 249, 255;
  --ax-sys-color-border-lighter-surface: 65, 50, 63;
  --ax-sys-color-light-surface: 36, 29, 36;
  --ax-sys-color-on-light-surface: 255, 249, 255;
  --ax-sys-color-border-light-surface: 62, 49, 61;
  --ax-sys-color-surface: 34, 27, 34;
  --ax-sys-color-on-surface: 255, 250, 255;
  --ax-sys-color-border-surface: 60, 47, 60;
  --ax-sys-color-dark-surface: 32, 26, 32;
  --ax-sys-color-on-dark-surface: 255, 250, 255;
  --ax-sys-color-border-dark-surface: 57, 46, 58;
  --ax-sys-color-darker-surface: 29, 24, 30;
  --ax-sys-color-on-darker-surface: 255, 250, 255;
  --ax-sys-color-border-darker-surface: 54, 44, 56;
  --ax-sys-color-darkest-surface: 26, 22, 28;
  --ax-sys-color-on-darkest-surface: 255, 251, 255;
  --ax-sys-color-border-darkest-surface: 50, 42, 54;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 232, 250;
  --ax-sys-color-primary-100: 255, 215, 242;
  --ax-sys-color-primary-200: 255, 180, 226;
  --ax-sys-color-primary-300: 253, 153, 207;
  --ax-sys-color-primary-400: 231, 132, 186;
  --ax-sys-color-primary-500: 208, 112, 165;
  --ax-sys-color-primary-600: 186, 92, 145;
  --ax-sys-color-primary-700: 164, 72, 125;
  --ax-sys-color-primary-800: 153, 62, 115;
  --ax-sys-color-primary-900: 142, 52, 105;
  --ax-sys-color-primary-950: 136, 47, 100;
  --ax-sys-color-secondary-50: 255, 241, 231;
  --ax-sys-color-secondary-100: 255, 231, 218;
  --ax-sys-color-secondary-200: 255, 211, 192;
  --ax-sys-color-secondary-300: 255, 191, 164;
  --ax-sys-color-secondary-400: 255, 169, 135;
  --ax-sys-color-secondary-500: 255, 150, 111;
  --ax-sys-color-secondary-600: 245, 136, 97;
  --ax-sys-color-secondary-700: 230, 122, 84;
  --ax-sys-color-secondary-800: 211, 105, 67;
  --ax-sys-color-secondary-900: 191, 87, 49;
  --ax-sys-color-secondary-950: 182, 79, 40;
  --ax-sys-color-success-50: 207, 255, 231;
  --ax-sys-color-success-100: 173, 255, 214;
  --ax-sys-color-success-200: 152, 248, 198;
  --ax-sys-color-success-300: 137, 232, 182;
  --ax-sys-color-success-400: 121, 216, 167;
  --ax-sys-color-success-500: 106, 200, 153;
  --ax-sys-color-success-600: 90, 185, 138;
  --ax-sys-color-success-700: 74, 170, 124;
  --ax-sys-color-success-800: 56, 154, 109;
  --ax-sys-color-success-900: 35, 137, 93;
  --ax-sys-color-success-950: 22, 129, 86;
  --ax-sys-color-warning-50: 255, 246, 218;
  --ax-sys-color-warning-100: 255, 239, 204;
  --ax-sys-color-warning-200: 255, 226, 176;
  --ax-sys-color-warning-300: 255, 213, 145;
  --ax-sys-color-warning-400: 255, 199, 111;
  --ax-sys-color-warning-500: 255, 185, 77;
  --ax-sys-color-warning-600: 254, 175, 65;
  --ax-sys-color-warning-700: 243, 165, 52;
  --ax-sys-color-warning-800: 220, 143, 11;
  --ax-sys-color-warning-900: 197, 122, 0;
  --ax-sys-color-warning-950: 185, 112, 0;
  --ax-sys-color-danger-50: 255, 234, 237;
  --ax-sys-color-danger-100: 255, 218, 222;
  --ax-sys-color-danger-200: 255, 184, 193;
  --ax-sys-color-danger-300: 255, 147, 164;
  --ax-sys-color-danger-400: 255, 113, 138;
  --ax-sys-color-danger-500: 232, 91, 118;
  --ax-sys-color-danger-600: 208, 69, 98;
  --ax-sys-color-danger-700: 184, 45, 79;
  --ax-sys-color-danger-800: 173, 32, 70;
  --ax-sys-color-danger-900: 162, 16, 62;
  --ax-sys-color-danger-950: 156, 5, 57;
  --ax-sys-color-accent1-50: 255, 228, 250;
  --ax-sys-color-accent1-100: 255, 208, 241;
  --ax-sys-color-accent1-200: 255, 173, 219;
  --ax-sys-color-accent1-300: 228, 148, 194;
  --ax-sys-color-accent1-400: 201, 124, 168;
  --ax-sys-color-accent1-500: 175, 100, 144;
  --ax-sys-color-accent1-600: 149, 77, 120;
  --ax-sys-color-accent1-700: 124, 54, 97;
  --ax-sys-color-accent1-800: 118, 48, 91;
  --ax-sys-color-accent1-900: 111, 43, 86;
  --ax-sys-color-accent1-950: 108, 40, 83;
  --ax-sys-color-accent2-50: 192, 255, 255;
  --ax-sys-color-accent2-100: 159, 255, 255;
  --ax-sys-color-accent2-200: 143, 243, 238;
  --ax-sys-color-accent2-300: 127, 227, 222;
  --ax-sys-color-accent2-400: 110, 211, 206;
  --ax-sys-color-accent2-500: 94, 195, 191;
  --ax-sys-color-accent2-600: 77, 179, 175;
  --ax-sys-color-accent2-700: 59, 164, 160;
  --ax-sys-color-accent2-800: 38, 148, 144;
  --ax-sys-color-accent2-900: 4, 132, 129;
  --ax-sys-color-accent2-950: 0, 125, 121;
  --ax-sys-color-accent3-50: 234, 239, 255;
  --ax-sys-color-accent3-100: 216, 223, 255;
  --ax-sys-color-accent3-200: 188, 194, 241;
  --ax-sys-color-accent3-300: 160, 167, 212;
  --ax-sys-color-accent3-400: 134, 140, 184;
  --ax-sys-color-accent3-500: 109, 114, 157;
  --ax-sys-color-accent3-600: 84, 89, 130;
  --ax-sys-color-accent3-700: 61, 65, 104;
  --ax-sys-color-accent3-800: 58, 62, 100;
  --ax-sys-color-accent3-900: 54, 58, 97;
  --ax-sys-color-accent3-950: 53, 56, 95;
  --ax-sys-color-neutral-50: 255, 239, 255;
  --ax-sys-color-neutral-100: 253, 231, 248;
  --ax-sys-color-neutral-200: 236, 214, 232;
  --ax-sys-color-neutral-300: 220, 198, 215;
  --ax-sys-color-neutral-400: 203, 182, 199;
  --ax-sys-color-neutral-500: 187, 167, 183;
  --ax-sys-color-neutral-600: 172, 151, 167;
  --ax-sys-color-neutral-700: 156, 136, 152;
  --ax-sys-color-neutral-800: 141, 121, 137;
  --ax-sys-color-neutral-900: 126, 107, 122;
  --ax-sys-color-neutral-950: 118, 100, 115;
  --ax-sys-color-primary-lightest-surface: 255, 215, 242;
  --ax-sys-color-on-primary-lightest-surface: 37, 10, 31;
  --ax-sys-color-border-primary-lightest-surface: 255, 261, 257;
  --ax-sys-color-primary-lighter-surface: 255, 180, 226;
  --ax-sys-color-on-primary-lighter-surface: 49, 0, 35;
  --ax-sys-color-border-primary-lighter-surface: 255, 226, 244;
  --ax-sys-color-primary-light-surface: 253, 153, 207;
  --ax-sys-color-on-primary-light-surface: 51, 0, 31;
  --ax-sys-color-border-primary-light-surface: 254, 198, 228;
  --ax-sys-color-primary-surface: 208, 112, 165;
  --ax-sys-color-on-primary-surface: 51, 0, 31;
  --ax-sys-color-border-primary-surface: 219, 147, 187;
  --ax-sys-color-primary-dark-surface: 186, 92, 145;
  --ax-sys-color-on-primary-dark-surface: 51, 0, 31;
  --ax-sys-color-border-primary-dark-surface: 200, 124, 167;
  --ax-sys-color-primary-darker-surface: 164, 72, 125;
  --ax-sys-color-on-primary-darker-surface: 255, 246, 255;
  --ax-sys-color-border-primary-darker-surface: 185, 96, 148;
  --ax-sys-color-primary-darkest-surface: 153, 62, 115;
  --ax-sys-color-on-primary-darkest-surface: 255, 246, 255;
  --ax-sys-color-border-primary-darkest-surface: 183, 78, 139;
  --ax-sys-color-secondary-lightest-surface: 255, 231, 218;
  --ax-sys-color-on-secondary-lightest-surface: 33, 18, 8;
  --ax-sys-color-border-secondary-lightest-surface: 255, 261, 264;
  --ax-sys-color-secondary-lighter-surface: 255, 211, 192;
  --ax-sys-color-on-secondary-lighter-surface: 42, 11, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 243, 238;
  --ax-sys-color-secondary-light-surface: 255, 191, 164;
  --ax-sys-color-on-secondary-light-surface: 50, 2, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 223, 210;
  --ax-sys-color-secondary-surface: 255, 150, 111;
  --ax-sys-color-on-secondary-surface: 52, 0, 0;
  --ax-sys-color-border-secondary-surface: 255, 183, 157;
  --ax-sys-color-secondary-dark-surface: 245, 136, 97;
  --ax-sys-color-on-secondary-dark-surface: 53, 0, 0;
  --ax-sys-color-border-secondary-dark-surface: 248, 169, 140;
  --ax-sys-color-secondary-darker-surface: 230, 122, 84;
  --ax-sys-color-on-secondary-darker-surface: 53, 0, 0;
  --ax-sys-color-border-secondary-darker-surface: 236, 153, 124;
  --ax-sys-color-secondary-darkest-surface: 211, 105, 67;
  --ax-sys-color-on-secondary-darkest-surface: 53, 0, 0;
  --ax-sys-color-border-secondary-darkest-surface: 220, 135, 104;
  --ax-sys-color-success-lightest-surface: 173, 255, 214;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 12;
  --ax-sys-color-border-success-lightest-surface: 219, 255, 237;
  --ax-sys-color-success-lighter-surface: 152, 248, 198;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 10;
  --ax-sys-color-border-success-lighter-surface: 195, 251, 222;
  --ax-sys-color-success-light-surface: 137, 232, 182;
  --ax-sys-color-on-success-light-surface: 0, 31, 9;
  --ax-sys-color-border-success-light-surface: 175, 239, 206;
  --ax-sys-color-success-surface: 106, 200, 153;
  --ax-sys-color-on-success-surface: 0, 31, 10;
  --ax-sys-color-border-success-surface: 140, 212, 176;
  --ax-sys-color-success-dark-surface: 90, 185, 138;
  --ax-sys-color-on-success-dark-surface: 0, 31, 10;
  --ax-sys-color-border-success-dark-surface: 122, 199, 161;
  --ax-sys-color-success-darker-surface: 74, 170, 124;
  --ax-sys-color-on-success-darker-surface: 0, 31, 10;
  --ax-sys-color-border-success-darker-surface: 102, 188, 147;
  --ax-sys-color-success-darkest-surface: 56, 154, 109;
  --ax-sys-color-on-success-darkest-surface: 0, 31, 10;
  --ax-sys-color-border-success-darkest-surface: 69, 187, 133;
  --ax-sys-color-warning-lightest-surface: 255, 239, 204;
  --ax-sys-color-on-warning-lightest-surface: 32, 20, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 253, 250;
  --ax-sys-color-warning-lighter-surface: 255, 226, 176;
  --ax-sys-color-on-warning-lighter-surface: 35, 18, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 243, 222;
  --ax-sys-color-warning-light-surface: 255, 213, 145;
  --ax-sys-color-on-warning-light-surface: 36, 17, 0;
  --ax-sys-color-border-warning-light-surface: 255, 231, 191;
  --ax-sys-color-warning-surface: 255, 185, 77;
  --ax-sys-color-on-warning-surface: 38, 16, 0;
  --ax-sys-color-border-warning-surface: 255, 203, 123;
  --ax-sys-color-warning-dark-surface: 254, 175, 65;
  --ax-sys-color-on-warning-dark-surface: 39, 15, 0;
  --ax-sys-color-border-warning-dark-surface: 254, 194, 111;
  --ax-sys-color-warning-darker-surface: 243, 165, 52;
  --ax-sys-color-on-warning-darker-surface: 39, 15, 0;
  --ax-sys-color-border-warning-darker-surface: 246, 184, 95;
  --ax-sys-color-warning-darkest-surface: 220, 143, 11;
  --ax-sys-color-on-warning-darkest-surface: 39, 15, 0;
  --ax-sys-color-border-warning-darkest-surface: 244, 166, 33;
  --ax-sys-color-danger-lightest-surface: 255, 218, 222;
  --ax-sys-color-on-danger-lightest-surface: 38, 13, 17;
  --ax-sys-color-border-danger-lightest-surface: 255, 264, 263;
  --ax-sys-color-danger-lighter-surface: 255, 184, 193;
  --ax-sys-color-on-danger-lighter-surface: 50, 0, 13;
  --ax-sys-color-border-danger-lighter-surface: 255, 230, 233;
  --ax-sys-color-danger-light-surface: 255, 147, 164;
  --ax-sys-color-on-danger-light-surface: 54, 0, 11;
  --ax-sys-color-border-danger-light-surface: 255, 193, 203;
  --ax-sys-color-danger-surface: 232, 91, 118;
  --ax-sys-color-on-danger-surface: 54, 0, 10;
  --ax-sys-color-border-danger-surface: 238, 131, 152;
  --ax-sys-color-danger-dark-surface: 208, 69, 98;
  --ax-sys-color-on-danger-dark-surface: 255, 247, 249;
  --ax-sys-color-border-danger-dark-surface: 217, 106, 129;
  --ax-sys-color-danger-darker-surface: 184, 45, 79;
  --ax-sys-color-on-danger-darker-surface: 255, 247, 249;
  --ax-sys-color-border-danger-darker-surface: 209, 66, 101;
  --ax-sys-color-danger-darkest-surface: 173, 32, 70;
  --ax-sys-color-on-danger-darkest-surface: 255, 247, 249;
  --ax-sys-color-border-danger-darkest-surface: 212, 39, 86;
  --ax-sys-color-accent1-lightest-surface: 255, 208, 241;
  --ax-sys-color-on-accent1-lightest-surface: 40, 7, 33;
  --ax-sys-color-border-accent1-lightest-surface: 255, 254, 255;
  --ax-sys-color-accent1-lighter-surface: 255, 173, 219;
  --ax-sys-color-on-accent1-lighter-surface: 50, 0, 32;
  --ax-sys-color-border-accent1-lighter-surface: 255, 219, 239;
  --ax-sys-color-accent1-light-surface: 228, 148, 194;
  --ax-sys-color-on-accent1-light-surface: 50, 0, 33;
  --ax-sys-color-border-accent1-light-surface: 237, 185, 215;
  --ax-sys-color-accent1-surface: 175, 100, 144;
  --ax-sys-color-on-accent1-surface: 50, 0, 33;
  --ax-sys-color-border-accent1-surface: 191, 130, 166;
  --ax-sys-color-accent1-dark-surface: 149, 77, 120;
  --ax-sys-color-on-accent1-dark-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-dark-surface: 174, 98, 143;
  --ax-sys-color-accent1-darker-surface: 124, 54, 97;
  --ax-sys-color-on-accent1-darker-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darker-surface: 156, 68, 122;
  --ax-sys-color-accent1-darkest-surface: 118, 48, 91;
  --ax-sys-color-on-accent1-darkest-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darkest-surface: 151, 61, 116;
  --ax-sys-color-accent2-lightest-surface: 159, 255, 255;
  --ax-sys-color-on-accent2-lightest-surface: 0, 29, 30;
  --ax-sys-color-border-accent2-lightest-surface: 205, 255, 255;
  --ax-sys-color-accent2-lighter-surface: 143, 243, 238;
  --ax-sys-color-on-accent2-lighter-surface: 0, 29, 28;
  --ax-sys-color-border-accent2-lighter-surface: 184, 247, 244;
  --ax-sys-color-accent2-light-surface: 127, 227, 222;
  --ax-sys-color-on-accent2-light-surface: 0, 29, 28;
  --ax-sys-color-border-accent2-light-surface: 165, 235, 232;
  --ax-sys-color-accent2-surface: 94, 195, 191;
  --ax-sys-color-on-accent2-surface: 0, 29, 28;
  --ax-sys-color-border-accent2-surface: 127, 207, 204;
  --ax-sys-color-accent2-dark-surface: 77, 179, 175;
  --ax-sys-color-on-accent2-dark-surface: 0, 29, 28;
  --ax-sys-color-border-accent2-dark-surface: 109, 193, 189;
  --ax-sys-color-accent2-darker-surface: 59, 164, 160;
  --ax-sys-color-on-accent2-darker-surface: 0, 29, 28;
  --ax-sys-color-border-accent2-darker-surface: 78, 191, 187;
  --ax-sys-color-accent2-darkest-surface: 38, 148, 144;
  --ax-sys-color-on-accent2-darkest-surface: 0, 29, 28;
  --ax-sys-color-border-accent2-darkest-surface: 47, 185, 180;
  --ax-sys-color-accent3-lightest-surface: 216, 223, 255;
  --ax-sys-color-on-accent3-lightest-surface: 17, 20, 42;
  --ax-sys-color-border-accent3-lightest-surface: 262, 261, 255;
  --ax-sys-color-accent3-lighter-surface: 188, 194, 241;
  --ax-sys-color-on-accent3-lighter-surface: 17, 16, 51;
  --ax-sys-color-border-accent3-lighter-surface: 226, 229, 249;
  --ax-sys-color-accent3-light-surface: 160, 167, 212;
  --ax-sys-color-on-accent3-light-surface: 16, 17, 51;
  --ax-sys-color-border-accent3-light-surface: 192, 196, 226;
  --ax-sys-color-accent3-surface: 109, 114, 157;
  --ax-sys-color-on-accent3-surface: 17, 16, 51;
  --ax-sys-color-border-accent3-surface: 136, 141, 175;
  --ax-sys-color-accent3-dark-surface: 84, 89, 130;
  --ax-sys-color-on-accent3-dark-surface: 249, 252, 255;
  --ax-sys-color-border-accent3-dark-surface: 103, 109, 157;
  --ax-sys-color-accent3-darker-surface: 61, 65, 104;
  --ax-sys-color-on-accent3-darker-surface: 249, 252, 255;
  --ax-sys-color-border-accent3-darker-surface: 78, 83, 133;
  --ax-sys-color-accent3-darkest-surface: 58, 62, 100;
  --ax-sys-color-on-accent3-darkest-surface: 249, 252, 255;
  --ax-sys-color-border-accent3-darkest-surface: 75, 80, 129;
  --ax-sys-color-neutral-lightest-surface: 253, 231, 248;
  --ax-sys-color-on-neutral-lightest-surface: 31, 16, 28;
  --ax-sys-color-border-neutral-lightest-surface: 257, 273, 260;
  --ax-sys-color-neutral-lighter-surface: 236, 214, 232;
  --ax-sys-color-on-neutral-lighter-surface: 31, 16, 29;
  --ax-sys-color-border-neutral-lighter-surface: 251, 245, 250;
  --ax-sys-color-neutral-light-surface: 220, 198, 215;
  --ax-sys-color-on-neutral-light-surface: 31, 16, 28;
  --ax-sys-color-border-neutral-light-surface: 237, 226, 235;
  --ax-sys-color-neutral-surface: 187, 167, 183;
  --ax-sys-color-on-neutral-surface: 31, 16, 28;
  --ax-sys-color-border-neutral-surface: 207, 193, 204;
  --ax-sys-color-neutral-dark-surface: 172, 151, 167;
  --ax-sys-color-on-neutral-dark-surface: 31, 16, 28;
  --ax-sys-color-border-neutral-dark-surface: 192, 177, 189;
  --ax-sys-color-neutral-darker-surface: 156, 136, 152;
  --ax-sys-color-on-neutral-darker-surface: 31, 16, 29;
  --ax-sys-color-border-neutral-darker-surface: 177, 161, 174;
  --ax-sys-color-neutral-darkest-surface: 141, 121, 137;
  --ax-sys-color-on-neutral-darkest-surface: 31, 16, 29;
  --ax-sys-color-border-neutral-darkest-surface: 162, 146, 159;
}
