/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 244, 250, 254;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 21, 27, 34;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 245, 246, 247;
  --ax-sys-color-on-lighter-surface: 45, 46, 47;
  --ax-sys-color-border-lighter-surface: 225, 228, 231;
  --ax-sys-color-light-surface: 237, 239, 241;
  --ax-sys-color-on-light-surface: 44, 46, 47;
  --ax-sys-color-border-light-surface: 217, 222, 225;
  --ax-sys-color-surface: 230, 232, 235;
  --ax-sys-color-on-surface: 44, 46, 48;
  --ax-sys-color-border-surface: 210, 215, 219;
  --ax-sys-color-dark-surface: 222, 226, 229;
  --ax-sys-color-on-dark-surface: 43, 46, 48;
  --ax-sys-color-border-dark-surface: 202, 208, 213;
  --ax-sys-color-darker-surface: 214, 219, 223;
  --ax-sys-color-on-darker-surface: 43, 46, 49;
  --ax-sys-color-border-darker-surface: 194, 201, 207;
  --ax-sys-color-darkest-surface: 204, 210, 215;
  --ax-sys-color-on-darkest-surface: 42, 46, 50;
  --ax-sys-color-border-darkest-surface: 184, 192, 199;
  /* Ranges */
  --ax-sys-color-primary-50: 228, 249, 255;
  --ax-sys-color-primary-100: 208, 238, 255;
  --ax-sys-color-primary-200: 179, 224, 255;
  --ax-sys-color-primary-300: 131, 201, 255;
  --ax-sys-color-primary-400: 60, 170, 255;
  --ax-sys-color-primary-500: 33, 150, 243;
  --ax-sys-color-primary-600: 0, 130, 221;
  --ax-sys-color-primary-700: 0, 105, 194;
  --ax-sys-color-primary-800: 18, 87, 161;
  --ax-sys-color-primary-900: 37, 75, 122;
  --ax-sys-color-primary-950: 22, 37, 61;
  --ax-sys-color-secondary-50: 255, 244, 221;
  --ax-sys-color-secondary-100: 255, 234, 203;
  --ax-sys-color-secondary-200: 255, 220, 176;
  --ax-sys-color-secondary-300: 255, 198, 131;
  --ax-sys-color-secondary-400: 255, 167, 51;
  --ax-sys-color-secondary-500: 255, 152, 0;
  --ax-sys-color-secondary-600: 226, 125, 0;
  --ax-sys-color-secondary-700: 183, 98, 0;
  --ax-sys-color-secondary-800: 145, 80, 20;
  --ax-sys-color-secondary-900: 110, 70, 40;
  --ax-sys-color-secondary-950: 45, 28, 18;
  --ax-sys-color-success-50: 215, 255, 212;
  --ax-sys-color-success-100: 178, 255, 175;
  --ax-sys-color-success-200: 157, 251, 155;
  --ax-sys-color-success-300: 136, 229, 134;
  --ax-sys-color-success-400: 109, 201, 108;
  --ax-sys-color-success-500: 92, 184, 92;
  --ax-sys-color-success-600: 68, 161, 70;
  --ax-sys-color-success-700: 36, 133, 41;
  --ax-sys-color-success-800: 21, 110, 26;
  --ax-sys-color-success-900: 42, 89, 39;
  --ax-sys-color-success-950: 22, 41, 21;
  --ax-sys-color-warning-50: 255, 246, 216;
  --ax-sys-color-warning-100: 255, 237, 197;
  --ax-sys-color-warning-200: 255, 225, 170;
  --ax-sys-color-warning-300: 255, 205, 122;
  --ax-sys-color-warning-400: 253, 185, 91;
  --ax-sys-color-warning-500: 240, 173, 78;
  --ax-sys-color-warning-600: 210, 145, 45;
  --ax-sys-color-warning-700: 175, 112, 0;
  --ax-sys-color-warning-800: 141, 88, 21;
  --ax-sys-color-warning-900: 107, 75, 41;
  --ax-sys-color-warning-950: 42, 29, 18;
  --ax-sys-color-danger-50: 255, 236, 233;
  --ax-sys-color-danger-100: 255, 218, 213;
  --ax-sys-color-danger-200: 255, 193, 186;
  --ax-sys-color-danger-300: 255, 149, 141;
  --ax-sys-color-danger-400: 241, 105, 99;
  --ax-sys-color-danger-500: 217, 83, 79;
  --ax-sys-color-danger-600: 197, 64, 62;
  --ax-sys-color-danger-700: 172, 39, 42;
  --ax-sys-color-danger-800: 148, 27, 32;
  --ax-sys-color-danger-900: 118, 42, 37;
  --ax-sys-color-danger-950: 63, 28, 23;
  --ax-sys-color-accent1-50: 255, 232, 244;
  --ax-sys-color-accent1-100: 255, 211, 230;
  --ax-sys-color-accent1-200: 255, 179, 211;
  --ax-sys-color-accent1-300: 250, 137, 181;
  --ax-sys-color-accent1-400: 208, 99, 143;
  --ax-sys-color-accent1-500: 181, 75, 120;
  --ax-sys-color-accent1-600: 165, 60, 106;
  --ax-sys-color-accent1-700: 146, 42, 90;
  --ax-sys-color-accent1-800: 126, 33, 77;
  --ax-sys-color-accent1-900: 103, 39, 66;
  --ax-sys-color-accent1-950: 63, 28, 40;
  --ax-sys-color-accent2-50: 178, 255, 255;
  --ax-sys-color-accent2-100: 160, 243, 255;
  --ax-sys-color-accent2-200: 139, 221, 233;
  --ax-sys-color-accent2-300: 105, 188, 199;
  --ax-sys-color-accent2-400: 62, 147, 158;
  --ax-sys-color-accent2-500: 31, 121, 132;
  --ax-sys-color-accent2-600: 8, 109, 120;
  --ax-sys-color-accent2-700: 0, 94, 105;
  --ax-sys-color-accent2-800: 15, 82, 91;
  --ax-sys-color-accent2-900: 34, 71, 78;
  --ax-sys-color-accent2-950: 27, 44, 48;
  --ax-sys-color-accent3-50: 203, 255, 255;
  --ax-sys-color-accent3-100: 168, 255, 255;
  --ax-sys-color-accent3-200: 132, 250, 255;
  --ax-sys-color-accent3-300: 114, 233, 248;
  --ax-sys-color-accent3-400: 89, 210, 225;
  --ax-sys-color-accent3-500: 73, 196, 211;
  --ax-sys-color-accent3-600: 36, 170, 184;
  --ax-sys-color-accent3-700: 0, 138, 153;
  --ax-sys-color-accent3-800: 24, 112, 124;
  --ax-sys-color-accent3-900: 45, 90, 97;
  --ax-sys-color-accent3-950: 22, 37, 41;
  --ax-sys-color-neutral-50: 229, 248, 255;
  --ax-sys-color-neutral-100: 216, 236, 255;
  --ax-sys-color-neutral-200: 200, 220, 241;
  --ax-sys-color-neutral-300: 175, 194, 215;
  --ax-sys-color-neutral-400: 144, 163, 183;
  --ax-sys-color-neutral-500: 125, 143, 163;
  --ax-sys-color-neutral-600: 107, 125, 144;
  --ax-sys-color-neutral-700: 86, 103, 121;
  --ax-sys-color-neutral-800: 70, 85, 102;
  --ax-sys-color-neutral-900: 61, 72, 84;
  --ax-sys-color-neutral-950: 29, 36, 44;
  --ax-sys-color-primary-lightest-surface: 208, 238, 255;
  --ax-sys-color-on-primary-lightest-surface: 24, 49, 62;
  --ax-sys-color-border-primary-lightest-surface: 172, 225, 255;
  --ax-sys-color-primary-lighter-surface: 179, 224, 255;
  --ax-sys-color-on-primary-lighter-surface: 4, 50, 74;
  --ax-sys-color-border-primary-lighter-surface: 143, 209, 255;
  --ax-sys-color-primary-light-surface: 131, 201, 255;
  --ax-sys-color-on-primary-light-surface: 0, 48, 92;
  --ax-sys-color-border-primary-light-surface: 95, 185, 255;
  --ax-sys-color-primary-surface: 33, 150, 243;
  --ax-sys-color-on-primary-surface: 241, 255, 255;
  --ax-sys-color-border-primary-surface: 12, 132, 228;
  --ax-sys-color-primary-dark-surface: 0, 130, 221;
  --ax-sys-color-on-primary-dark-surface: 242, 255, 255;
  --ax-sys-color-border-primary-dark-surface: 0, 109, 185;
  --ax-sys-color-primary-darker-surface: 0, 105, 194;
  --ax-sys-color-on-primary-darker-surface: 243, 255, 255;
  --ax-sys-color-border-primary-darker-surface: 0, 86, 158;
  --ax-sys-color-primary-darkest-surface: 18, 87, 161;
  --ax-sys-color-on-primary-darkest-surface: 243, 255, 255;
  --ax-sys-color-border-primary-darkest-surface: 14, 70, 129;
  --ax-sys-color-secondary-lightest-surface: 255, 234, 203;
  --ax-sys-color-on-secondary-lightest-surface: 59, 43, 16;
  --ax-sys-color-border-secondary-lightest-surface: 255, 220, 167;
  --ax-sys-color-secondary-lighter-surface: 255, 220, 176;
  --ax-sys-color-on-secondary-lighter-surface: 66, 39, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 204, 140;
  --ax-sys-color-secondary-light-surface: 255, 198, 131;
  --ax-sys-color-on-secondary-light-surface: 72, 36, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 182, 95;
  --ax-sys-color-secondary-surface: 255, 152, 0;
  --ax-sys-color-on-secondary-surface: 255, 250, 232;
  --ax-sys-color-border-secondary-surface: 219, 131, 0;
  --ax-sys-color-secondary-dark-surface: 226, 125, 0;
  --ax-sys-color-on-secondary-dark-surface: 255, 249, 234;
  --ax-sys-color-border-secondary-dark-surface: 190, 105, 0;
  --ax-sys-color-secondary-darker-surface: 183, 98, 0;
  --ax-sys-color-on-secondary-darker-surface: 255, 249, 234;
  --ax-sys-color-border-secondary-darker-surface: 147, 79, 0;
  --ax-sys-color-secondary-darkest-surface: 145, 80, 20;
  --ax-sys-color-on-secondary-darkest-surface: 255, 249, 235;
  --ax-sys-color-border-secondary-darkest-surface: 114, 63, 16;
  --ax-sys-color-success-lightest-surface: 178, 255, 175;
  --ax-sys-color-on-success-lightest-surface: 0, 59, 0;
  --ax-sys-color-border-success-lightest-surface: 144, 255, 139;
  --ax-sys-color-success-lighter-surface: 157, 251, 155;
  --ax-sys-color-on-success-lighter-surface: 0, 60, 0;
  --ax-sys-color-border-success-lighter-surface: 123, 250, 121;
  --ax-sys-color-success-light-surface: 136, 229, 134;
  --ax-sys-color-on-success-light-surface: 0, 59, 0;
  --ax-sys-color-border-success-light-surface: 107, 223, 105;
  --ax-sys-color-success-surface: 92, 184, 92;
  --ax-sys-color-on-success-surface: 235, 255, 233;
  --ax-sys-color-border-success-surface: 73, 167, 73;
  --ax-sys-color-success-dark-surface: 68, 161, 70;
  --ax-sys-color-on-success-dark-surface: 235, 255, 233;
  --ax-sys-color-border-success-dark-surface: 57, 136, 59;
  --ax-sys-color-success-darker-surface: 36, 133, 41;
  --ax-sys-color-on-success-darker-surface: 235, 255, 233;
  --ax-sys-color-border-success-darker-surface: 28, 105, 32;
  --ax-sys-color-success-darkest-surface: 21, 110, 26;
  --ax-sys-color-on-success-darkest-surface: 235, 255, 233;
  --ax-sys-color-border-success-darkest-surface: 15, 80, 19;
  --ax-sys-color-warning-lightest-surface: 255, 237, 197;
  --ax-sys-color-on-warning-lightest-surface: 58, 44, 6;
  --ax-sys-color-border-warning-lightest-surface: 255, 226, 161;
  --ax-sys-color-warning-lighter-surface: 255, 225, 170;
  --ax-sys-color-on-warning-lighter-surface: 65, 41, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 212, 134;
  --ax-sys-color-warning-light-surface: 255, 205, 122;
  --ax-sys-color-on-warning-light-surface: 67, 39, 0;
  --ax-sys-color-border-warning-light-surface: 255, 192, 86;
  --ax-sys-color-warning-surface: 240, 173, 78;
  --ax-sys-color-on-warning-surface: 70, 37, 0;
  --ax-sys-color-border-warning-surface: 237, 158, 45;
  --ax-sys-color-warning-dark-surface: 210, 145, 45;
  --ax-sys-color-on-warning-dark-surface: 255, 250, 226;
  --ax-sys-color-border-warning-dark-surface: 181, 125, 39;
  --ax-sys-color-warning-darker-surface: 175, 112, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 250, 228;
  --ax-sys-color-border-warning-darker-surface: 139, 89, 0;
  --ax-sys-color-warning-darkest-surface: 141, 88, 21;
  --ax-sys-color-on-warning-darkest-surface: 255, 250, 230;
  --ax-sys-color-border-warning-darkest-surface: 110, 69, 16;
  --ax-sys-color-danger-lightest-surface: 255, 218, 213;
  --ax-sys-color-on-danger-lightest-surface: 65, 37, 34;
  --ax-sys-color-border-danger-lightest-surface: 255, 187, 177;
  --ax-sys-color-danger-lighter-surface: 255, 193, 186;
  --ax-sys-color-on-danger-lighter-surface: 76, 29, 26;
  --ax-sys-color-border-danger-lighter-surface: 255, 161, 150;
  --ax-sys-color-danger-light-surface: 255, 149, 141;
  --ax-sys-color-on-danger-light-surface: 95, 0, 5;
  --ax-sys-color-border-danger-light-surface: 255, 116, 105;
  --ax-sys-color-danger-surface: 217, 83, 79;
  --ax-sys-color-on-danger-surface: 255, 248, 245;
  --ax-sys-color-border-danger-surface: 211, 54, 50;
  --ax-sys-color-danger-dark-surface: 197, 64, 62;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 245;
  --ax-sys-color-border-danger-dark-surface: 172, 53, 52;
  --ax-sys-color-danger-darker-surface: 172, 39, 42;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darker-surface: 143, 32, 35;
  --ax-sys-color-danger-darkest-surface: 148, 27, 32;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darkest-surface: 118, 21, 25;
  --ax-sys-color-accent1-lightest-surface: 255, 211, 230;
  --ax-sys-color-on-accent1-lightest-surface: 66, 34, 49;
  --ax-sys-color-border-accent1-lightest-surface: 255, 175, 210;
  --ax-sys-color-accent1-lighter-surface: 255, 179, 211;
  --ax-sys-color-on-accent1-lighter-surface: 79, 19, 50;
  --ax-sys-color-border-accent1-lighter-surface: 255, 143, 190;
  --ax-sys-color-accent1-light-surface: 250, 137, 181;
  --ax-sys-color-on-accent1-light-surface: 93, 0, 48;
  --ax-sys-color-border-accent1-light-surface: 249, 103, 160;
  --ax-sys-color-accent1-surface: 181, 75, 120;
  --ax-sys-color-on-accent1-surface: 255, 246, 254;
  --ax-sys-color-border-accent1-surface: 156, 64, 103;
  --ax-sys-color-accent1-dark-surface: 165, 60, 106;
  --ax-sys-color-on-accent1-dark-surface: 255, 246, 254;
  --ax-sys-color-border-accent1-dark-surface: 139, 50, 89;
  --ax-sys-color-accent1-darker-surface: 146, 42, 90;
  --ax-sys-color-on-accent1-darker-surface: 255, 246, 254;
  --ax-sys-color-border-accent1-darker-surface: 118, 34, 73;
  --ax-sys-color-accent1-darkest-surface: 126, 33, 77;
  --ax-sys-color-on-accent1-darkest-surface: 255, 246, 254;
  --ax-sys-color-border-accent1-darkest-surface: 98, 26, 60;
  --ax-sys-color-accent2-lightest-surface: 160, 243, 255;
  --ax-sys-color-on-accent2-lightest-surface: 0, 55, 64;
  --ax-sys-color-border-accent2-lightest-surface: 124, 238, 255;
  --ax-sys-color-accent2-lighter-surface: 139, 221, 233;
  --ax-sys-color-on-accent2-lighter-surface: 0, 55, 64;
  --ax-sys-color-border-accent2-lighter-surface: 109, 212, 227;
  --ax-sys-color-accent2-light-surface: 105, 188, 199;
  --ax-sys-color-on-accent2-light-surface: 0, 55, 63;
  --ax-sys-color-border-accent2-light-surface: 79, 176, 189;
  --ax-sys-color-accent2-surface: 31, 121, 132;
  --ax-sys-color-on-accent2-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-surface: 24, 94, 103;
  --ax-sys-color-accent2-dark-surface: 8, 109, 120;
  --ax-sys-color-on-accent2-dark-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 6, 79, 87;
  --ax-sys-color-accent2-darker-surface: 0, 94, 105;
  --ax-sys-color-on-accent2-darker-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 0, 62, 69;
  --ax-sys-color-accent2-darkest-surface: 15, 82, 91;
  --ax-sys-color-on-accent2-darkest-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 10, 54, 60;
  --ax-sys-color-accent3-lightest-surface: 168, 255, 255;
  --ax-sys-color-on-accent3-lightest-surface: 0, 56, 57;
  --ax-sys-color-border-accent3-lightest-surface: 132, 255, 255;
  --ax-sys-color-accent3-lighter-surface: 132, 250, 255;
  --ax-sys-color-on-accent3-lighter-surface: 0, 56, 59;
  --ax-sys-color-border-accent3-lighter-surface: 96, 249, 255;
  --ax-sys-color-accent3-light-surface: 114, 233, 248;
  --ax-sys-color-on-accent3-light-surface: 0, 55, 63;
  --ax-sys-color-border-accent3-light-surface: 80, 228, 246;
  --ax-sys-color-accent3-surface: 73, 196, 211;
  --ax-sys-color-on-accent3-surface: 0, 55, 63;
  --ax-sys-color-border-accent3-surface: 48, 183, 200;
  --ax-sys-color-accent3-dark-surface: 36, 170, 184;
  --ax-sys-color-on-accent3-dark-surface: 223, 255, 255;
  --ax-sys-color-border-accent3-dark-surface: 30, 142, 154;
  --ax-sys-color-accent3-darker-surface: 0, 138, 153;
  --ax-sys-color-on-accent3-darker-surface: 224, 255, 255;
  --ax-sys-color-border-accent3-darker-surface: 0, 106, 117;
  --ax-sys-color-accent3-darkest-surface: 24, 112, 124;
  --ax-sys-color-on-accent3-darkest-surface: 224, 255, 255;
  --ax-sys-color-border-accent3-darkest-surface: 18, 85, 94;
  --ax-sys-color-neutral-lightest-surface: 216, 236, 255;
  --ax-sys-color-on-neutral-lightest-surface: 32, 48, 62;
  --ax-sys-color-border-neutral-lightest-surface: 180, 219, 255;
  --ax-sys-color-neutral-lighter-surface: 200, 220, 241;
  --ax-sys-color-on-neutral-lighter-surface: 32, 47, 63;
  --ax-sys-color-border-neutral-lighter-surface: 172, 202, 234;
  --ax-sys-color-neutral-light-surface: 175, 194, 215;
  --ax-sys-color-on-neutral-light-surface: 32, 47, 64;
  --ax-sys-color-border-neutral-light-surface: 151, 176, 203;
  --ax-sys-color-neutral-surface: 125, 143, 163;
  --ax-sys-color-on-neutral-surface: 242, 255, 255;
  --ax-sys-color-border-neutral-surface: 105, 125, 148;
  --ax-sys-color-neutral-dark-surface: 107, 125, 144;
  --ax-sys-color-on-neutral-dark-surface: 242, 255, 255;
  --ax-sys-color-border-neutral-dark-surface: 92, 107, 124;
  --ax-sys-color-neutral-darker-surface: 86, 103, 121;
  --ax-sys-color-on-neutral-darker-surface: 242, 255, 255;
  --ax-sys-color-border-neutral-darker-surface: 71, 85, 100;
  --ax-sys-color-neutral-darkest-surface: 70, 85, 102;
  --ax-sys-color-on-neutral-darkest-surface: 242, 255, 255;
  --ax-sys-color-border-neutral-darkest-surface: 55, 67, 81;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 244, 250, 254;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 21, 27, 34;
  --ax-sys-color-lightest-surface: 27, 34, 42;
  --ax-sys-color-on-lightest-surface: 245, 255, 255;
  --ax-sys-color-border-lightest-surface: 45, 57, 70;
  --ax-sys-color-lighter-surface: 24, 30, 38;
  --ax-sys-color-on-lighter-surface: 245, 255, 255;
  --ax-sys-color-border-lighter-surface: 41, 53, 66;
  --ax-sys-color-light-surface: 21, 27, 34;
  --ax-sys-color-on-light-surface: 246, 255, 255;
  --ax-sys-color-border-light-surface: 39, 50, 63;
  --ax-sys-color-surface: 19, 25, 31;
  --ax-sys-color-on-surface: 246, 255, 255;
  --ax-sys-color-border-surface: 36, 47, 60;
  --ax-sys-color-dark-surface: 16, 22, 28;
  --ax-sys-color-on-dark-surface: 246, 255, 255;
  --ax-sys-color-border-dark-surface: 33, 44, 57;
  --ax-sys-color-darker-surface: 13, 19, 24;
  --ax-sys-color-on-darker-surface: 246, 255, 255;
  --ax-sys-color-border-darker-surface: 30, 42, 54;
  --ax-sys-color-darkest-surface: 10, 15, 20;
  --ax-sys-color-on-darkest-surface: 247, 254, 255;
  --ax-sys-color-border-darkest-surface: 25, 38, 51;
  /* Ranges */
  --ax-sys-color-primary-50: 230, 250, 255;
  --ax-sys-color-primary-100: 216, 242, 255;
  --ax-sys-color-primary-200: 186, 228, 255;
  --ax-sys-color-primary-300: 156, 213, 255;
  --ax-sys-color-primary-400: 124, 197, 255;
  --ax-sys-color-primary-500: 87, 182, 255;
  --ax-sys-color-primary-600: 55, 166, 255;
  --ax-sys-color-primary-700: 33, 150, 243;
  --ax-sys-color-primary-800: 0, 134, 225;
  --ax-sys-color-primary-900: 0, 118, 208;
  --ax-sys-color-primary-950: 0, 110, 199;
  --ax-sys-color-secondary-50: 255, 245, 223;
  --ax-sys-color-secondary-100: 255, 238, 210;
  --ax-sys-color-secondary-200: 255, 224, 183;
  --ax-sys-color-secondary-300: 255, 209, 155;
  --ax-sys-color-secondary-400: 255, 194, 124;
  --ax-sys-color-secondary-500: 255, 179, 88;
  --ax-sys-color-secondary-600: 255, 163, 33;
  --ax-sys-color-secondary-700: 255, 152, 0;
  --ax-sys-color-secondary-800: 232, 131, 0;
  --ax-sys-color-secondary-900: 205, 112, 0;
  --ax-sys-color-secondary-950: 191, 103, 0;
  --ax-sys-color-success-50: 218, 255, 215;
  --ax-sys-color-success-100: 192, 255, 190;
  --ax-sys-color-success-200: 160, 254, 158;
  --ax-sys-color-success-300: 147, 240, 145;
  --ax-sys-color-success-400: 133, 226, 131;
  --ax-sys-color-success-500: 119, 212, 118;
  --ax-sys-color-success-600: 106, 198, 105;
  --ax-sys-color-success-700: 92, 184, 92;
  --ax-sys-color-success-800: 73, 166, 74;
  --ax-sys-color-success-900: 54, 147, 56;
  --ax-sys-color-success-950: 43, 138, 47;
  --ax-sys-color-warning-50: 255, 246, 217;
  --ax-sys-color-warning-100: 255, 240, 204;
  --ax-sys-color-warning-200: 255, 228, 177;
  --ax-sys-color-warning-300: 255, 215, 147;
  --ax-sys-color-warning-400: 255, 202, 114;
  --ax-sys-color-warning-500: 255, 192, 98;
  --ax-sys-color-warning-600: 250, 182, 88;
  --ax-sys-color-warning-700: 240, 173, 78;
  --ax-sys-color-warning-800: 216, 151, 52;
  --ax-sys-color-warning-900: 193, 129, 17;
  --ax-sys-color-warning-950: 182, 118, 0;
  --ax-sys-color-danger-50: 255, 238, 234;
  --ax-sys-color-danger-100: 255, 225, 221;
  --ax-sys-color-danger-200: 255, 199, 193;
  --ax-sys-color-danger-300: 255, 172, 164;
  --ax-sys-color-danger-400: 255, 143, 134;
  --ax-sys-color-danger-500: 255, 118, 111;
  --ax-sys-color-danger-600: 236, 101, 95;
  --ax-sys-color-danger-700: 217, 83, 79;
  --ax-sys-color-danger-800: 201, 68, 66;
  --ax-sys-color-danger-900: 185, 53, 53;
  --ax-sys-color-danger-950: 177, 44, 46;
  --ax-sys-color-accent1-50: 255, 234, 245;
  --ax-sys-color-accent1-100: 255, 219, 235;
  --ax-sys-color-accent1-200: 255, 187, 216;
  --ax-sys-color-accent1-300: 255, 152, 196;
  --ax-sys-color-accent1-400: 245, 132, 177;
  --ax-sys-color-accent1-500: 224, 113, 157;
  --ax-sys-color-accent1-600: 202, 94, 138;
  --ax-sys-color-accent1-700: 181, 75, 120;
  --ax-sys-color-accent1-800: 168, 63, 109;
  --ax-sys-color-accent1-900: 156, 52, 98;
  --ax-sys-color-accent1-950: 149, 46, 93;
  --ax-sys-color-accent2-50: 184, 255, 255;
  --ax-sys-color-accent2-100: 166, 249, 255;
  --ax-sys-color-accent2-200: 144, 227, 238;
  --ax-sys-color-accent2-300: 122, 205, 216;
  --ax-sys-color-accent2-400: 101, 183, 194;
  --ax-sys-color-accent2-500: 79, 162, 173;
  --ax-sys-color-accent2-600: 56, 141, 152;
  --ax-sys-color-accent2-700: 31, 121, 132;
  --ax-sys-color-accent2-800: 14, 111, 122;
  --ax-sys-color-accent2-900: 0, 102, 113;
  --ax-sys-color-accent2-950: 0, 97, 108;
  --ax-sys-color-accent3-50: 206, 255, 255;
  --ax-sys-color-accent3-100: 181, 255, 255;
  --ax-sys-color-accent3-200: 135, 253, 255;
  --ax-sys-color-accent3-300: 123, 242, 255;
  --ax-sys-color-accent3-400: 111, 230, 245;
  --ax-sys-color-accent3-500: 99, 219, 234;
  --ax-sys-color-accent3-600: 86, 207, 222;
  --ax-sys-color-accent3-700: 73, 196, 211;
  --ax-sys-color-accent3-800: 45, 175, 190;
  --ax-sys-color-accent3-900: 0, 154, 169;
  --ax-sys-color-accent3-950: 0, 144, 159;
  --ax-sys-color-neutral-50: 230, 249, 255;
  --ax-sys-color-neutral-100: 221, 241, 255;
  --ax-sys-color-neutral-200: 204, 224, 245;
  --ax-sys-color-neutral-300: 188, 207, 228;
  --ax-sys-color-neutral-400: 172, 191, 212;
  --ax-sys-color-neutral-500: 156, 174, 195;
  --ax-sys-color-neutral-600: 140, 159, 179;
  --ax-sys-color-neutral-700: 125, 143, 163;
  --ax-sys-color-neutral-800: 111, 128, 148;
  --ax-sys-color-neutral-900: 97, 114, 133;
  --ax-sys-color-neutral-950: 90, 107, 126;
  --ax-sys-color-primary-lightest-surface: 216, 242, 255;
  --ax-sys-color-on-primary-lightest-surface: 4, 25, 34;
  --ax-sys-color-border-primary-lightest-surface: 262, 257, 255;
  --ax-sys-color-primary-lighter-surface: 186, 228, 255;
  --ax-sys-color-on-primary-lighter-surface: 0, 25, 44;
  --ax-sys-color-border-primary-lighter-surface: 232, 246, 255;
  --ax-sys-color-primary-light-surface: 156, 213, 255;
  --ax-sys-color-on-primary-light-surface: 0, 24, 52;
  --ax-sys-color-border-primary-light-surface: 202, 232, 255;
  --ax-sys-color-primary-surface: 87, 182, 255;
  --ax-sys-color-on-primary-surface: 0, 23, 55;
  --ax-sys-color-border-primary-surface: 133, 202, 255;
  --ax-sys-color-primary-dark-surface: 55, 166, 255;
  --ax-sys-color-on-primary-dark-surface: 0, 21, 59;
  --ax-sys-color-border-primary-dark-surface: 101, 186, 255;
  --ax-sys-color-primary-darker-surface: 33, 150, 243;
  --ax-sys-color-on-primary-darker-surface: 0, 21, 60;
  --ax-sys-color-border-primary-darker-surface: 77, 171, 245;
  --ax-sys-color-primary-darkest-surface: 0, 134, 225;
  --ax-sys-color-on-primary-darkest-surface: 0, 20, 61;
  --ax-sys-color-border-primary-darkest-surface: 16, 158, 255;
  --ax-sys-color-secondary-lightest-surface: 255, 238, 210;
  --ax-sys-color-on-secondary-lightest-surface: 32, 20, 0;
  --ax-sys-color-border-secondary-lightest-surface: 255, 255, 256;
  --ax-sys-color-secondary-lighter-surface: 255, 224, 183;
  --ax-sys-color-on-secondary-lighter-surface: 38, 16, 0;
  --ax-sys-color-border-secondary-lighter-surface: 255, 244, 229;
  --ax-sys-color-secondary-light-surface: 255, 209, 155;
  --ax-sys-color-on-secondary-light-surface: 39, 15, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 230, 201;
  --ax-sys-color-secondary-surface: 255, 179, 88;
  --ax-sys-color-on-secondary-surface: 40, 14, 0;
  --ax-sys-color-border-secondary-surface: 255, 200, 134;
  --ax-sys-color-secondary-dark-surface: 255, 163, 33;
  --ax-sys-color-on-secondary-dark-surface: 40, 14, 0;
  --ax-sys-color-border-secondary-dark-surface: 255, 182, 79;
  --ax-sys-color-secondary-darker-surface: 255, 152, 0;
  --ax-sys-color-on-secondary-darker-surface: 41, 13, 0;
  --ax-sys-color-border-secondary-darker-surface: 255, 171, 46;
  --ax-sys-color-secondary-darkest-surface: 232, 131, 0;
  --ax-sys-color-on-secondary-darkest-surface: 43, 11, 0;
  --ax-sys-color-border-secondary-darkest-surface: 255, 154, 23;
  --ax-sys-color-success-lightest-surface: 192, 255, 190;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 0;
  --ax-sys-color-border-success-lightest-surface: 236, 255, 236;
  --ax-sys-color-success-lighter-surface: 160, 254, 158;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 0;
  --ax-sys-color-border-success-lighter-surface: 204, 254, 203;
  --ax-sys-color-success-light-surface: 147, 240, 145;
  --ax-sys-color-on-success-light-surface: 0, 31, 0;
  --ax-sys-color-border-success-light-surface: 187, 246, 185;
  --ax-sys-color-success-surface: 119, 212, 118;
  --ax-sys-color-on-success-surface: 0, 31, 0;
  --ax-sys-color-border-success-surface: 154, 223, 153;
  --ax-sys-color-success-dark-surface: 106, 198, 105;
  --ax-sys-color-on-success-dark-surface: 0, 31, 0;
  --ax-sys-color-border-success-dark-surface: 139, 211, 138;
  --ax-sys-color-success-darker-surface: 92, 184, 92;
  --ax-sys-color-on-success-darker-surface: 0, 31, 0;
  --ax-sys-color-border-success-darker-surface: 124, 198, 124;
  --ax-sys-color-success-darkest-surface: 73, 166, 74;
  --ax-sys-color-on-success-darkest-surface: 0, 31, 0;
  --ax-sys-color-border-success-darkest-surface: 99, 186, 100;
  --ax-sys-color-warning-lightest-surface: 255, 240, 204;
  --ax-sys-color-on-warning-lightest-surface: 31, 20, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 254, 250;
  --ax-sys-color-warning-lighter-surface: 255, 228, 177;
  --ax-sys-color-on-warning-lighter-surface: 35, 18, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 244, 223;
  --ax-sys-color-warning-light-surface: 255, 215, 147;
  --ax-sys-color-on-warning-light-surface: 36, 18, 0;
  --ax-sys-color-border-warning-light-surface: 255, 232, 193;
  --ax-sys-color-warning-surface: 255, 192, 98;
  --ax-sys-color-on-warning-surface: 37, 16, 0;
  --ax-sys-color-border-warning-surface: 255, 210, 144;
  --ax-sys-color-warning-dark-surface: 250, 182, 88;
  --ax-sys-color-on-warning-dark-surface: 38, 16, 0;
  --ax-sys-color-border-warning-dark-surface: 251, 201, 133;
  --ax-sys-color-warning-darker-surface: 240, 173, 78;
  --ax-sys-color-on-warning-darker-surface: 38, 16, 0;
  --ax-sys-color-border-warning-darker-surface: 244, 193, 120;
  --ax-sys-color-warning-darkest-surface: 216, 151, 52;
  --ax-sys-color-on-warning-darkest-surface: 38, 16, 0;
  --ax-sys-color-border-warning-darkest-surface: 223, 171, 91;
  --ax-sys-color-danger-lightest-surface: 255, 225, 221;
  --ax-sys-color-on-danger-lightest-surface: 35, 16, 14;
  --ax-sys-color-border-danger-lightest-surface: 255, 265, 267;
  --ax-sys-color-danger-lighter-surface: 255, 199, 193;
  --ax-sys-color-on-danger-lighter-surface: 45, 6, 6;
  --ax-sys-color-border-danger-lighter-surface: 255, 240, 239;
  --ax-sys-color-danger-light-surface: 255, 172, 164;
  --ax-sys-color-on-danger-light-surface: 55, 0, 0;
  --ax-sys-color-border-danger-light-surface: 255, 214, 210;
  --ax-sys-color-danger-surface: 255, 118, 111;
  --ax-sys-color-on-danger-surface: 56, 0, 0;
  --ax-sys-color-border-danger-surface: 255, 162, 157;
  --ax-sys-color-danger-dark-surface: 236, 101, 95;
  --ax-sys-color-on-danger-dark-surface: 56, 0, 0;
  --ax-sys-color-border-danger-dark-surface: 241, 140, 136;
  --ax-sys-color-danger-darker-surface: 217, 83, 79;
  --ax-sys-color-on-danger-darker-surface: 56, 0, 0;
  --ax-sys-color-border-danger-darker-surface: 225, 120, 117;
  --ax-sys-color-danger-darkest-surface: 201, 68, 66;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 245;
  --ax-sys-color-border-danger-darkest-surface: 211, 103, 102;
  --ax-sys-color-accent1-lightest-surface: 255, 219, 235;
  --ax-sys-color-on-accent1-lightest-surface: 37, 13, 25;
  --ax-sys-color-border-accent1-lightest-surface: 255, 265, 261;
  --ax-sys-color-accent1-lighter-surface: 255, 187, 216;
  --ax-sys-color-on-accent1-lighter-surface: 48, 0, 26;
  --ax-sys-color-border-accent1-lighter-surface: 255, 233, 242;
  --ax-sys-color-accent1-light-surface: 255, 152, 196;
  --ax-sys-color-on-accent1-light-surface: 52, 0, 26;
  --ax-sys-color-border-accent1-light-surface: 255, 198, 222;
  --ax-sys-color-accent1-surface: 224, 113, 157;
  --ax-sys-color-on-accent1-surface: 52, 0, 23;
  --ax-sys-color-border-accent1-surface: 232, 151, 183;
  --ax-sys-color-accent1-dark-surface: 202, 94, 138;
  --ax-sys-color-on-accent1-dark-surface: 52, 0, 23;
  --ax-sys-color-border-accent1-dark-surface: 213, 129, 163;
  --ax-sys-color-accent1-darker-surface: 181, 75, 120;
  --ax-sys-color-on-accent1-darker-surface: 255, 246, 254;
  --ax-sys-color-border-accent1-darker-surface: 194, 108, 144;
  --ax-sys-color-accent1-darkest-surface: 168, 63, 109;
  --ax-sys-color-on-accent1-darkest-surface: 255, 246, 254;
  --ax-sys-color-border-accent1-darkest-surface: 191, 85, 132;
  --ax-sys-color-accent2-lightest-surface: 166, 249, 255;
  --ax-sys-color-on-accent2-lightest-surface: 0, 28, 32;
  --ax-sys-color-border-accent2-lightest-surface: 212, 252, 255;
  --ax-sys-color-accent2-lighter-surface: 144, 227, 238;
  --ax-sys-color-on-accent2-lighter-surface: 0, 28, 34;
  --ax-sys-color-border-accent2-lighter-surface: 184, 237, 244;
  --ax-sys-color-accent2-light-surface: 122, 205, 216;
  --ax-sys-color-on-accent2-light-surface: 0, 28, 34;
  --ax-sys-color-border-accent2-light-surface: 157, 218, 226;
  --ax-sys-color-accent2-surface: 79, 162, 173;
  --ax-sys-color-on-accent2-surface: 0, 28, 34;
  --ax-sys-color-border-accent2-surface: 109, 179, 189;
  --ax-sys-color-accent2-dark-surface: 56, 141, 152;
  --ax-sys-color-on-accent2-dark-surface: 0, 28, 34;
  --ax-sys-color-border-accent2-dark-surface: 68, 172, 186;
  --ax-sys-color-accent2-darker-surface: 31, 121, 132;
  --ax-sys-color-on-accent2-darker-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-darker-surface: 40, 155, 169;
  --ax-sys-color-accent2-darkest-surface: 14, 111, 122;
  --ax-sys-color-on-accent2-darkest-surface: 224, 255, 255;
  --ax-sys-color-border-accent2-darkest-surface: 19, 148, 163;
  --ax-sys-color-accent3-lightest-surface: 181, 255, 255;
  --ax-sys-color-on-accent3-lightest-surface: 0, 29, 30;
  --ax-sys-color-border-accent3-lightest-surface: 227, 255, 255;
  --ax-sys-color-accent3-lighter-surface: 135, 253, 255;
  --ax-sys-color-on-accent3-lighter-surface: 0, 29, 30;
  --ax-sys-color-border-accent3-lighter-surface: 181, 254, 255;
  --ax-sys-color-accent3-light-surface: 123, 242, 255;
  --ax-sys-color-on-accent3-light-surface: 0, 28, 33;
  --ax-sys-color-border-accent3-light-surface: 169, 247, 255;
  --ax-sys-color-accent3-surface: 99, 219, 234;
  --ax-sys-color-on-accent3-surface: 0, 28, 34;
  --ax-sys-color-border-accent3-surface: 139, 228, 239;
  --ax-sys-color-accent3-dark-surface: 86, 207, 222;
  --ax-sys-color-on-accent3-dark-surface: 0, 28, 34;
  --ax-sys-color-border-accent3-dark-surface: 124, 218, 229;
  --ax-sys-color-accent3-darker-surface: 73, 196, 211;
  --ax-sys-color-on-accent3-darker-surface: 0, 28, 34;
  --ax-sys-color-border-accent3-darker-surface: 110, 208, 220;
  --ax-sys-color-accent3-darkest-surface: 45, 175, 190;
  --ax-sys-color-on-accent3-darkest-surface: 0, 28, 34;
  --ax-sys-color-border-accent3-darkest-surface: 70, 197, 211;
  --ax-sys-color-neutral-lightest-surface: 221, 241, 255;
  --ax-sys-color-on-neutral-lightest-surface: 9, 24, 33;
  --ax-sys-color-border-neutral-lightest-surface: 267, 260, 255;
  --ax-sys-color-neutral-lighter-surface: 204, 224, 245;
  --ax-sys-color-on-neutral-lighter-surface: 8, 23, 38;
  --ax-sys-color-border-neutral-lighter-surface: 242, 247, 253;
  --ax-sys-color-neutral-light-surface: 188, 207, 228;
  --ax-sys-color-on-neutral-light-surface: 9, 23, 38;
  --ax-sys-color-border-neutral-light-surface: 221, 230, 241;
  --ax-sys-color-neutral-surface: 156, 174, 195;
  --ax-sys-color-on-neutral-surface: 9, 23, 38;
  --ax-sys-color-border-neutral-surface: 185, 197, 212;
  --ax-sys-color-neutral-dark-surface: 140, 159, 179;
  --ax-sys-color-on-neutral-dark-surface: 8, 23, 38;
  --ax-sys-color-border-neutral-dark-surface: 168, 182, 197;
  --ax-sys-color-neutral-darker-surface: 125, 143, 163;
  --ax-sys-color-on-neutral-darker-surface: 9, 23, 38;
  --ax-sys-color-border-neutral-darker-surface: 152, 166, 182;
  --ax-sys-color-neutral-darkest-surface: 111, 128, 148;
  --ax-sys-color-on-neutral-darkest-surface: 9, 23, 38;
  --ax-sys-color-border-neutral-darkest-surface: 137, 151, 168;
}
