/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 253, 243, 247;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 23, 24, 34;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 247, 245, 245;
  --ax-sys-color-on-lighter-surface: 47, 45, 46;
  --ax-sys-color-border-lighter-surface: 231, 225, 227;
  --ax-sys-color-light-surface: 240, 237, 238;
  --ax-sys-color-on-light-surface: 48, 45, 46;
  --ax-sys-color-border-light-surface: 224, 217, 220;
  --ax-sys-color-surface: 234, 229, 231;
  --ax-sys-color-on-surface: 48, 45, 46;
  --ax-sys-color-border-surface: 218, 209, 213;
  --ax-sys-color-dark-surface: 228, 221, 224;
  --ax-sys-color-on-dark-surface: 49, 44, 46;
  --ax-sys-color-border-dark-surface: 212, 202, 205;
  --ax-sys-color-darker-surface: 222, 214, 216;
  --ax-sys-color-on-darker-surface: 50, 44, 46;
  --ax-sys-color-border-darker-surface: 206, 194, 198;
  --ax-sys-color-darkest-surface: 213, 203, 207;
  --ax-sys-color-on-darkest-surface: 51, 43, 46;
  --ax-sys-color-border-darkest-surface: 197, 183, 188;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 233, 237;
  --ax-sys-color-primary-100: 255, 213, 220;
  --ax-sys-color-primary-200: 255, 182, 195;
  --ax-sys-color-primary-300: 255, 129, 155;
  --ax-sys-color-primary-400: 245, 58, 111;
  --ax-sys-color-primary-500: 216, 17, 89;
  --ax-sys-color-primary-600: 198, 0, 76;
  --ax-sys-color-primary-700: 171, 0, 62;
  --ax-sys-color-primary-800: 143, 20, 54;
  --ax-sys-color-primary-900: 113, 39, 53;
  --ax-sys-color-primary-950: 64, 28, 32;
  --ax-sys-color-secondary-50: 255, 240, 235;
  --ax-sys-color-secondary-100: 255, 227, 220;
  --ax-sys-color-secondary-200: 255, 208, 199;
  --ax-sys-color-secondary-300: 255, 177, 165;
  --ax-sys-color-secondary-400: 255, 134, 119;
  --ax-sys-color-secondary-500: 255, 111, 97;
  --ax-sys-color-secondary-600: 228, 87, 75;
  --ax-sys-color-secondary-700: 196, 56, 47;
  --ax-sys-color-secondary-800: 164, 38, 32;
  --ax-sys-color-secondary-900: 129, 47, 37;
  --ax-sys-color-secondary-950: 59, 26, 21;
  --ax-sys-color-success-50: 207, 255, 230;
  --ax-sys-color-success-100: 161, 255, 208;
  --ax-sys-color-success-200: 139, 249, 192;
  --ax-sys-color-success-300: 116, 227, 170;
  --ax-sys-color-success-400: 87, 199, 144;
  --ax-sys-color-success-500: 67, 181, 127;
  --ax-sys-color-success-600: 37, 159, 106;
  --ax-sys-color-success-700: 0, 132, 81;
  --ax-sys-color-success-800: 22, 109, 64;
  --ax-sys-color-success-900: 42, 88, 59;
  --ax-sys-color-success-950: 23, 41, 28;
  --ax-sys-color-warning-50: 255, 245, 214;
  --ax-sys-color-warning-100: 255, 236, 193;
  --ax-sys-color-warning-200: 255, 223, 163;
  --ax-sys-color-warning-300: 255, 201, 108;
  --ax-sys-color-warning-400: 255, 176, 38;
  --ax-sys-color-warning-500: 244, 163, 0;
  --ax-sys-color-warning-600: 215, 136, 0;
  --ax-sys-color-warning-700: 174, 107, 0;
  --ax-sys-color-warning-800: 138, 87, 20;
  --ax-sys-color-warning-900: 105, 74, 40;
  --ax-sys-color-warning-950: 42, 29, 18;
  --ax-sys-color-danger-50: 255, 229, 233;
  --ax-sys-color-danger-100: 255, 203, 211;
  --ax-sys-color-danger-200: 255, 164, 179;
  --ax-sys-color-danger-300: 250, 106, 134;
  --ax-sys-color-danger-400: 196, 56, 90;
  --ax-sys-color-danger-500: 162, 14, 63;
  --ax-sys-color-danger-600: 152, 0, 55;
  --ax-sys-color-danger-700: 140, 0, 46;
  --ax-sys-color-danger-800: 123, 15, 43;
  --ax-sys-color-danger-900: 100, 34, 45;
  --ax-sys-color-danger-950: 68, 31, 35;
  --ax-sys-color-accent1-50: 255, 226, 247;
  --ax-sys-color-accent1-100: 255, 198, 234;
  --ax-sys-color-accent1-200: 255, 154, 216;
  --ax-sys-color-accent1-300: 229, 111, 178;
  --ax-sys-color-accent1-400: 175, 62, 130;
  --ax-sys-color-accent1-500: 142, 28, 101;
  --ax-sys-color-accent1-600: 133, 17, 94;
  --ax-sys-color-accent1-700: 123, 0, 85;
  --ax-sys-color-accent1-800: 111, 14, 76;
  --ax-sys-color-accent1-900: 94, 33, 68;
  --ax-sys-color-accent1-950: 66, 30, 50;
  --ax-sys-color-accent2-50: 203, 255, 251;
  --ax-sys-color-accent2-100: 158, 255, 244;
  --ax-sys-color-accent2-200: 118, 255, 233;
  --ax-sys-color-accent2-300: 96, 235, 214;
  --ax-sys-color-accent2-400: 66, 211, 191;
  --ax-sys-color-accent2-500: 43, 196, 176;
  --ax-sys-color-accent2-600: 0, 171, 151;
  --ax-sys-color-accent2-700: 0, 140, 122;
  --ax-sys-color-accent2-800: 24, 113, 99;
  --ax-sys-color-accent2-900: 44, 90, 81;
  --ax-sys-color-accent2-950: 22, 39, 35;
  --ax-sys-color-accent3-50: 232, 237, 255;
  --ax-sys-color-accent3-100: 208, 215, 255;
  --ax-sys-color-accent3-200: 175, 183, 255;
  --ax-sys-color-accent3-300: 133, 141, 228;
  --ax-sys-color-accent3-400: 86, 90, 172;
  --ax-sys-color-accent3-500: 58, 58, 137;
  --ax-sys-color-accent3-600: 54, 53, 132;
  --ax-sys-color-accent3-700: 49, 47, 125;
  --ax-sys-color-accent3-800: 45, 44, 115;
  --ax-sys-color-accent3-900: 44, 46, 95;
  --ax-sys-color-accent3-950: 36, 39, 74;
  --ax-sys-color-neutral-50: 255, 235, 247;
  --ax-sys-color-neutral-100: 255, 217, 236;
  --ax-sys-color-neutral-200: 253, 200, 220;
  --ax-sys-color-neutral-300: 227, 175, 194;
  --ax-sys-color-neutral-400: 194, 144, 163;
  --ax-sys-color-neutral-500: 173, 125, 143;
  --ax-sys-color-neutral-600: 154, 107, 125;
  --ax-sys-color-neutral-700: 130, 85, 103;
  --ax-sys-color-neutral-800: 110, 70, 85;
  --ax-sys-color-neutral-900: 89, 61, 72;
  --ax-sys-color-neutral-950: 48, 29, 37;
  --ax-sys-color-primary-lightest-surface: 255, 213, 220;
  --ax-sys-color-on-primary-lightest-surface: 66, 35, 42;
  --ax-sys-color-border-primary-lightest-surface: 255, 177, 190;
  --ax-sys-color-primary-lighter-surface: 255, 182, 195;
  --ax-sys-color-on-primary-lighter-surface: 79, 22, 38;
  --ax-sys-color-border-primary-lighter-surface: 255, 146, 166;
  --ax-sys-color-primary-light-surface: 255, 129, 155;
  --ax-sys-color-on-primary-light-surface: 255, 247, 250;
  --ax-sys-color-border-primary-light-surface: 255, 93, 127;
  --ax-sys-color-primary-surface: 216, 17, 89;
  --ax-sys-color-on-primary-surface: 255, 247, 250;
  --ax-sys-color-border-primary-surface: 183, 14, 75;
  --ax-sys-color-primary-dark-surface: 198, 0, 76;
  --ax-sys-color-on-primary-dark-surface: 255, 247, 249;
  --ax-sys-color-border-primary-dark-surface: 162, 0, 62;
  --ax-sys-color-primary-darker-surface: 171, 0, 62;
  --ax-sys-color-on-primary-darker-surface: 255, 247, 249;
  --ax-sys-color-border-primary-darker-surface: 135, 0, 49;
  --ax-sys-color-primary-darkest-surface: 143, 20, 54;
  --ax-sys-color-on-primary-darkest-surface: 255, 247, 249;
  --ax-sys-color-border-primary-darkest-surface: 112, 16, 42;
  --ax-sys-color-secondary-lightest-surface: 255, 227, 220;
  --ax-sys-color-on-secondary-lightest-surface: 60, 40, 35;
  --ax-sys-color-border-secondary-lightest-surface: 255, 198, 184;
  --ax-sys-color-secondary-lighter-surface: 255, 208, 199;
  --ax-sys-color-on-secondary-lighter-surface: 69, 35, 29;
  --ax-sys-color-border-secondary-lighter-surface: 255, 178, 163;
  --ax-sys-color-secondary-light-surface: 255, 177, 165;
  --ax-sys-color-on-secondary-light-surface: 83, 21, 15;
  --ax-sys-color-border-secondary-light-surface: 255, 146, 129;
  --ax-sys-color-secondary-surface: 255, 111, 97;
  --ax-sys-color-on-secondary-surface: 255, 248, 244;
  --ax-sys-color-border-secondary-surface: 255, 78, 61;
  --ax-sys-color-secondary-dark-surface: 228, 87, 75;
  --ax-sys-color-on-secondary-dark-surface: 255, 248, 244;
  --ax-sys-color-border-secondary-dark-surface: 223, 58, 44;
  --ax-sys-color-secondary-darker-surface: 196, 56, 47;
  --ax-sys-color-on-secondary-darker-surface: 255, 248, 244;
  --ax-sys-color-border-secondary-darker-surface: 167, 48, 40;
  --ax-sys-color-secondary-darkest-surface: 164, 38, 32;
  --ax-sys-color-on-secondary-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-secondary-darkest-surface: 134, 31, 26;
  --ax-sys-color-success-lightest-surface: 161, 255, 208;
  --ax-sys-color-on-success-lightest-surface: 0, 59, 30;
  --ax-sys-color-border-success-lightest-surface: 125, 255, 190;
  --ax-sys-color-success-lighter-surface: 139, 249, 192;
  --ax-sys-color-on-success-lighter-surface: 0, 59, 28;
  --ax-sys-color-border-success-lighter-surface: 105, 247, 174;
  --ax-sys-color-success-light-surface: 116, 227, 170;
  --ax-sys-color-on-success-light-surface: 0, 59, 27;
  --ax-sys-color-border-success-light-surface: 86, 221, 152;
  --ax-sys-color-success-surface: 67, 181, 127;
  --ax-sys-color-on-success-surface: 231, 255, 244;
  --ax-sys-color-border-success-surface: 57, 155, 109;
  --ax-sys-color-success-dark-surface: 37, 159, 106;
  --ax-sys-color-on-success-dark-surface: 231, 255, 244;
  --ax-sys-color-border-success-dark-surface: 30, 130, 87;
  --ax-sys-color-success-darker-surface: 0, 132, 81;
  --ax-sys-color-on-success-darker-surface: 231, 255, 243;
  --ax-sys-color-border-success-darker-surface: 0, 96, 59;
  --ax-sys-color-success-darkest-surface: 22, 109, 64;
  --ax-sys-color-on-success-darkest-surface: 232, 255, 241;
  --ax-sys-color-border-success-darkest-surface: 16, 79, 47;
  --ax-sys-color-warning-lightest-surface: 255, 236, 193;
  --ax-sys-color-on-warning-lightest-surface: 59, 43, 2;
  --ax-sys-color-border-warning-lightest-surface: 255, 225, 157;
  --ax-sys-color-warning-lighter-surface: 255, 223, 163;
  --ax-sys-color-on-warning-lighter-surface: 65, 40, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 211, 127;
  --ax-sys-color-warning-light-surface: 255, 201, 108;
  --ax-sys-color-on-warning-light-surface: 67, 39, 0;
  --ax-sys-color-border-warning-light-surface: 255, 188, 72;
  --ax-sys-color-warning-surface: 244, 163, 0;
  --ax-sys-color-on-warning-surface: 255, 250, 226;
  --ax-sys-color-border-warning-surface: 208, 139, 0;
  --ax-sys-color-warning-dark-surface: 215, 136, 0;
  --ax-sys-color-on-warning-dark-surface: 255, 250, 229;
  --ax-sys-color-border-warning-dark-surface: 179, 113, 0;
  --ax-sys-color-warning-darker-surface: 174, 107, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 250, 230;
  --ax-sys-color-border-warning-darker-surface: 138, 85, 0;
  --ax-sys-color-warning-darkest-surface: 138, 87, 20;
  --ax-sys-color-on-warning-darkest-surface: 255, 250, 230;
  --ax-sys-color-border-warning-darkest-surface: 107, 67, 15;
  --ax-sys-color-danger-lightest-surface: 255, 203, 211;
  --ax-sys-color-on-danger-lightest-surface: 71, 32, 40;
  --ax-sys-color-border-danger-lightest-surface: 255, 167, 181;
  --ax-sys-color-danger-lighter-surface: 255, 164, 179;
  --ax-sys-color-on-danger-lighter-surface: 87, 9, 34;
  --ax-sys-color-border-danger-lighter-surface: 255, 128, 149;
  --ax-sys-color-danger-light-surface: 250, 106, 134;
  --ax-sys-color-on-danger-light-surface: 255, 247, 249;
  --ax-sys-color-border-danger-light-surface: 249, 71, 106;
  --ax-sys-color-danger-surface: 162, 14, 63;
  --ax-sys-color-on-danger-surface: 255, 247, 249;
  --ax-sys-color-border-danger-surface: 129, 11, 50;
  --ax-sys-color-danger-dark-surface: 152, 0, 55;
  --ax-sys-color-on-danger-dark-surface: 255, 247, 249;
  --ax-sys-color-border-danger-dark-surface: 116, 0, 42;
  --ax-sys-color-danger-darker-surface: 140, 0, 46;
  --ax-sys-color-on-danger-darker-surface: 255, 247, 248;
  --ax-sys-color-border-danger-darker-surface: 104, 0, 34;
  --ax-sys-color-danger-darkest-surface: 123, 15, 43;
  --ax-sys-color-on-danger-darkest-surface: 255, 247, 248;
  --ax-sys-color-border-danger-darkest-surface: 91, 11, 32;
  --ax-sys-color-accent1-lightest-surface: 255, 198, 234;
  --ax-sys-color-on-accent1-lightest-surface: 71, 27, 58;
  --ax-sys-color-border-accent1-lightest-surface: 255, 162, 221;
  --ax-sys-color-accent1-lighter-surface: 255, 154, 216;
  --ax-sys-color-on-accent1-lighter-surface: 88, 0, 63;
  --ax-sys-color-border-accent1-lighter-surface: 255, 118, 202;
  --ax-sys-color-accent1-light-surface: 229, 111, 178;
  --ax-sys-color-on-accent1-light-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-light-surface: 224, 81, 162;
  --ax-sys-color-accent1-surface: 142, 28, 101;
  --ax-sys-color-on-accent1-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-surface: 112, 22, 80;
  --ax-sys-color-accent1-dark-surface: 133, 17, 94;
  --ax-sys-color-on-accent1-dark-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-dark-surface: 101, 13, 72;
  --ax-sys-color-accent1-darker-surface: 123, 0, 85;
  --ax-sys-color-on-accent1-darker-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darker-surface: 87, 0, 60;
  --ax-sys-color-accent1-darkest-surface: 111, 14, 76;
  --ax-sys-color-on-accent1-darkest-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darkest-surface: 79, 10, 54;
  --ax-sys-color-accent2-lightest-surface: 158, 255, 244;
  --ax-sys-color-on-accent2-lightest-surface: 0, 57, 52;
  --ax-sys-color-border-accent2-lightest-surface: 122, 255, 240;
  --ax-sys-color-accent2-lighter-surface: 118, 255, 233;
  --ax-sys-color-on-accent2-lighter-surface: 0, 57, 48;
  --ax-sys-color-border-accent2-lighter-surface: 82, 255, 227;
  --ax-sys-color-accent2-light-surface: 96, 235, 214;
  --ax-sys-color-on-accent2-light-surface: 0, 57, 48;
  --ax-sys-color-border-accent2-light-surface: 64, 231, 206;
  --ax-sys-color-accent2-surface: 43, 196, 176;
  --ax-sys-color-on-accent2-surface: 0, 57, 48;
  --ax-sys-color-border-accent2-surface: 37, 167, 150;
  --ax-sys-color-accent2-dark-surface: 0, 171, 151;
  --ax-sys-color-on-accent2-dark-surface: 227, 255, 255;
  --ax-sys-color-border-accent2-dark-surface: 0, 135, 119;
  --ax-sys-color-accent2-darker-surface: 0, 140, 122;
  --ax-sys-color-on-accent2-darker-surface: 227, 255, 254;
  --ax-sys-color-border-accent2-darker-surface: 0, 104, 91;
  --ax-sys-color-accent2-darkest-surface: 24, 113, 99;
  --ax-sys-color-on-accent2-darkest-surface: 227, 255, 254;
  --ax-sys-color-border-accent2-darkest-surface: 18, 84, 73;
  --ax-sys-color-accent3-lightest-surface: 208, 215, 255;
  --ax-sys-color-on-accent3-lightest-surface: 39, 43, 73;
  --ax-sys-color-border-accent3-lightest-surface: 172, 185, 255;
  --ax-sys-color-accent3-lighter-surface: 175, 183, 255;
  --ax-sys-color-on-accent3-lighter-surface: 37, 36, 95;
  --ax-sys-color-border-accent3-lighter-surface: 139, 151, 255;
  --ax-sys-color-accent3-light-surface: 133, 141, 228;
  --ax-sys-color-on-accent3-light-surface: 249, 252, 255;
  --ax-sys-color-border-accent3-light-surface: 104, 114, 222;
  --ax-sys-color-accent3-surface: 58, 58, 137;
  --ax-sys-color-on-accent3-surface: 250, 252, 255;
  --ax-sys-color-border-accent3-surface: 47, 47, 112;
  --ax-sys-color-accent3-dark-surface: 54, 53, 132;
  --ax-sys-color-on-accent3-dark-surface: 250, 252, 255;
  --ax-sys-color-border-accent3-dark-surface: 44, 43, 107;
  --ax-sys-color-accent3-darker-surface: 49, 47, 125;
  --ax-sys-color-on-accent3-darker-surface: 250, 252, 255;
  --ax-sys-color-border-accent3-darker-surface: 39, 37, 99;
  --ax-sys-color-accent3-darkest-surface: 45, 44, 115;
  --ax-sys-color-on-accent3-darkest-surface: 250, 252, 255;
  --ax-sys-color-border-accent3-darkest-surface: 35, 34, 89;
  --ax-sys-color-neutral-lightest-surface: 255, 217, 236;
  --ax-sys-color-on-neutral-lightest-surface: 63, 35, 51;
  --ax-sys-color-border-neutral-lightest-surface: 255, 181, 218;
  --ax-sys-color-neutral-lighter-surface: 253, 200, 220;
  --ax-sys-color-on-neutral-lighter-surface: 70, 30, 48;
  --ax-sys-color-border-neutral-lighter-surface: 252, 166, 198;
  --ax-sys-color-neutral-light-surface: 227, 175, 194;
  --ax-sys-color-on-neutral-light-surface: 70, 30, 47;
  --ax-sys-color-border-neutral-light-surface: 218, 149, 174;
  --ax-sys-color-neutral-surface: 173, 125, 143;
  --ax-sys-color-on-neutral-surface: 255, 246, 254;
  --ax-sys-color-border-neutral-surface: 159, 103, 124;
  --ax-sys-color-neutral-dark-surface: 154, 107, 125;
  --ax-sys-color-on-neutral-dark-surface: 255, 246, 254;
  --ax-sys-color-border-neutral-dark-surface: 134, 91, 108;
  --ax-sys-color-neutral-darker-surface: 130, 85, 103;
  --ax-sys-color-on-neutral-darker-surface: 255, 246, 255;
  --ax-sys-color-border-neutral-darker-surface: 108, 71, 86;
  --ax-sys-color-neutral-darkest-surface: 110, 70, 85;
  --ax-sys-color-on-neutral-darkest-surface: 255, 246, 254;
  --ax-sys-color-border-neutral-darkest-surface: 88, 56, 68;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 253, 243, 247;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 23, 24, 34;
  --ax-sys-color-lightest-surface: 30, 30, 40;
  --ax-sys-color-on-lightest-surface: 252, 252, 255;
  --ax-sys-color-border-lightest-surface: 50, 50, 66;
  --ax-sys-color-lighter-surface: 26, 27, 37;
  --ax-sys-color-on-lighter-surface: 251, 252, 255;
  --ax-sys-color-border-lighter-surface: 46, 47, 64;
  --ax-sys-color-light-surface: 24, 25, 34;
  --ax-sys-color-on-light-surface: 250, 253, 255;
  --ax-sys-color-border-light-surface: 42, 45, 62;
  --ax-sys-color-surface: 21, 23, 32;
  --ax-sys-color-on-surface: 250, 253, 255;
  --ax-sys-color-border-surface: 39, 43, 60;
  --ax-sys-color-dark-surface: 18, 21, 30;
  --ax-sys-color-on-dark-surface: 249, 253, 255;
  --ax-sys-color-border-dark-surface: 36, 41, 58;
  --ax-sys-color-darker-surface: 16, 19, 27;
  --ax-sys-color-on-darker-surface: 248, 253, 255;
  --ax-sys-color-border-darker-surface: 32, 39, 56;
  --ax-sys-color-darkest-surface: 12, 16, 24;
  --ax-sys-color-on-darkest-surface: 247, 254, 255;
  --ax-sys-color-border-darkest-surface: 27, 36, 55;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 235, 239;
  --ax-sys-color-primary-100: 255, 220, 226;
  --ax-sys-color-primary-200: 255, 190, 201;
  --ax-sys-color-primary-300: 255, 157, 175;
  --ax-sys-color-primary-400: 255, 120, 149;
  --ax-sys-color-primary-500: 255, 76, 125;
  --ax-sys-color-primary-600: 239, 52, 107;
  --ax-sys-color-primary-700: 216, 17, 89;
  --ax-sys-color-primary-800: 202, 0, 78;
  --ax-sys-color-primary-900: 186, 0, 69;
  --ax-sys-color-primary-950: 177, 0, 65;
  --ax-sys-color-secondary-50: 255, 241, 237;
  --ax-sys-color-secondary-100: 255, 232, 226;
  --ax-sys-color-secondary-200: 255, 213, 205;
  --ax-sys-color-secondary-300: 255, 193, 183;
  --ax-sys-color-secondary-400: 255, 173, 160;
  --ax-sys-color-secondary-500: 255, 151, 137;
  --ax-sys-color-secondary-600: 255, 127, 112;
  --ax-sys-color-secondary-700: 255, 111, 97;
  --ax-sys-color-secondary-800: 234, 92, 79;
  --ax-sys-color-secondary-900: 213, 72, 62;
  --ax-sys-color-secondary-950: 202, 62, 53;
  --ax-sys-color-success-50: 210, 255, 232;
  --ax-sys-color-success-100: 179, 255, 216;
  --ax-sys-color-success-200: 143, 253, 195;
  --ax-sys-color-success-300: 128, 238, 181;
  --ax-sys-color-success-400: 113, 224, 167;
  --ax-sys-color-success-500: 98, 209, 154;
  --ax-sys-color-success-600: 83, 195, 140;
  --ax-sys-color-success-700: 67, 181, 127;
  --ax-sys-color-success-800: 44, 163, 110;
  --ax-sys-color-success-900: 10, 146, 94;
  --ax-sys-color-success-950: 0, 137, 86;
  --ax-sys-color-warning-50: 255, 246, 216;
  --ax-sys-color-warning-100: 255, 239, 201;
  --ax-sys-color-warning-200: 255, 226, 171;
  --ax-sys-color-warning-300: 255, 212, 138;
  --ax-sys-color-warning-400: 255, 198, 99;
  --ax-sys-color-warning-500: 255, 184, 50;
  --ax-sys-color-warning-600: 255, 173, 32;
  --ax-sys-color-warning-700: 244, 163, 0;
  --ax-sys-color-warning-800: 221, 141, 0;
  --ax-sys-color-warning-900: 195, 122, 0;
  --ax-sys-color-warning-950: 182, 113, 0;
  --ax-sys-color-danger-50: 255, 231, 235;
  --ax-sys-color-danger-100: 255, 213, 219;
  --ax-sys-color-danger-200: 255, 174, 187;
  --ax-sys-color-danger-300: 255, 130, 154;
  --ax-sys-color-danger-400: 244, 101, 128;
  --ax-sys-color-danger-500: 216, 75, 106;
  --ax-sys-color-danger-600: 189, 49, 84;
  --ax-sys-color-danger-700: 162, 14, 63;
  --ax-sys-color-danger-800: 154, 0, 57;
  --ax-sys-color-danger-900: 146, 0, 51;
  --ax-sys-color-danger-950: 142, 0, 48;
  --ax-sys-color-accent1-50: 255, 229, 249;
  --ax-sys-color-accent1-100: 255, 209, 239;
  --ax-sys-color-accent1-200: 255, 165, 220;
  --ax-sys-color-accent1-300: 250, 130, 198;
  --ax-sys-color-accent1-400: 223, 106, 173;
  --ax-sys-color-accent1-500: 195, 81, 148;
  --ax-sys-color-accent1-600: 168, 56, 124;
  --ax-sys-color-accent1-700: 142, 28, 101;
  --ax-sys-color-accent1-800: 135, 19, 95;
  --ax-sys-color-accent1-900: 128, 8, 89;
  --ax-sys-color-accent1-950: 125, 2, 86;
  --ax-sys-color-accent2-50: 207, 255, 251;
  --ax-sys-color-accent2-100: 176, 255, 247;
  --ax-sys-color-accent2-200: 121, 255, 236;
  --ax-sys-color-accent2-300: 107, 245, 224;
  --ax-sys-color-accent2-400: 93, 233, 212;
  --ax-sys-color-accent2-500: 78, 220, 200;
  --ax-sys-color-accent2-600: 62, 208, 188;
  --ax-sys-color-accent2-700: 43, 196, 176;
  --ax-sys-color-accent2-800: 0, 176, 156;
  --ax-sys-color-accent2-900: 0, 156, 137;
  --ax-sys-color-accent2-950: 0, 146, 128;
  --ax-sys-color-accent3-50: 234, 239, 255;
  --ax-sys-color-accent3-100: 217, 223, 255;
  --ax-sys-color-accent3-200: 183, 191, 255;
  --ax-sys-color-accent3-300: 154, 162, 251;
  --ax-sys-color-accent3-400: 128, 135, 221;
  --ax-sys-color-accent3-500: 103, 109, 193;
  --ax-sys-color-accent3-600: 80, 83, 165;
  --ax-sys-color-accent3-700: 58, 58, 137;
  --ax-sys-color-accent3-800: 55, 54, 133;
  --ax-sys-color-accent3-900: 51, 50, 128;
  --ax-sys-color-accent3-950: 50, 48, 126;
  --ax-sys-color-neutral-50: 255, 236, 248;
  --ax-sys-color-neutral-100: 255, 224, 240;
  --ax-sys-color-neutral-200: 255, 204, 224;
  --ax-sys-color-neutral-300: 240, 188, 207;
  --ax-sys-color-neutral-400: 223, 172, 191;
  --ax-sys-color-neutral-500: 206, 156, 174;
  --ax-sys-color-neutral-600: 189, 140, 159;
  --ax-sys-color-neutral-700: 173, 125, 143;
  --ax-sys-color-neutral-800: 158, 111, 128;
  --ax-sys-color-neutral-900: 142, 96, 114;
  --ax-sys-color-neutral-950: 135, 90, 107;
  --ax-sys-color-primary-lightest-surface: 255, 220, 226;
  --ax-sys-color-on-primary-lightest-surface: 37, 14, 19;
  --ax-sys-color-border-primary-lightest-surface: 255, 266, 264;
  --ax-sys-color-primary-lighter-surface: 255, 190, 201;
  --ax-sys-color-on-primary-lighter-surface: 48, 2, 16;
  --ax-sys-color-border-primary-lighter-surface: 255, 236, 239;
  --ax-sys-color-primary-light-surface: 255, 157, 175;
  --ax-sys-color-on-primary-light-surface: 54, 0, 13;
  --ax-sys-color-border-primary-light-surface: 255, 203, 212;
  --ax-sys-color-primary-surface: 255, 76, 125;
  --ax-sys-color-on-primary-surface: 54, 0, 13;
  --ax-sys-color-border-primary-surface: 255, 122, 158;
  --ax-sys-color-primary-dark-surface: 239, 52, 107;
  --ax-sys-color-on-primary-dark-surface: 54, 0, 12;
  --ax-sys-color-border-primary-dark-surface: 242, 95, 138;
  --ax-sys-color-primary-darker-surface: 216, 17, 89;
  --ax-sys-color-on-primary-darker-surface: 255, 247, 250;
  --ax-sys-color-border-primary-darker-surface: 238, 41, 112;
  --ax-sys-color-primary-darkest-surface: 202, 0, 78;
  --ax-sys-color-on-primary-darkest-surface: 255, 247, 249;
  --ax-sys-color-border-primary-darkest-surface: 248, 0, 96;
  --ax-sys-color-secondary-lightest-surface: 255, 232, 226;
  --ax-sys-color-on-secondary-lightest-surface: 33, 18, 14;
  --ax-sys-color-border-secondary-lightest-surface: 255, 268, 272;
  --ax-sys-color-secondary-lighter-surface: 255, 213, 205;
  --ax-sys-color-on-secondary-lighter-surface: 40, 12, 8;
  --ax-sys-color-border-secondary-lighter-surface: 255, 252, 251;
  --ax-sys-color-secondary-light-surface: 255, 193, 183;
  --ax-sys-color-on-secondary-light-surface: 48, 3, 2;
  --ax-sys-color-border-secondary-light-surface: 255, 233, 229;
  --ax-sys-color-secondary-surface: 255, 151, 137;
  --ax-sys-color-on-secondary-surface: 56, 0, 0;
  --ax-sys-color-border-secondary-surface: 255, 191, 183;
  --ax-sys-color-secondary-dark-surface: 255, 127, 112;
  --ax-sys-color-on-secondary-dark-surface: 56, 0, 0;
  --ax-sys-color-border-secondary-dark-surface: 255, 168, 158;
  --ax-sys-color-secondary-darker-surface: 255, 111, 97;
  --ax-sys-color-on-secondary-darker-surface: 56, 0, 0;
  --ax-sys-color-border-secondary-darker-surface: 255, 153, 143;
  --ax-sys-color-secondary-darkest-surface: 234, 92, 79;
  --ax-sys-color-on-secondary-darkest-surface: 56, 0, 0;
  --ax-sys-color-border-secondary-darkest-surface: 239, 130, 120;
  --ax-sys-color-success-lightest-surface: 179, 255, 216;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 11;
  --ax-sys-color-border-success-lightest-surface: 225, 255, 240;
  --ax-sys-color-success-lighter-surface: 143, 253, 195;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 9;
  --ax-sys-color-border-success-lighter-surface: 188, 254, 219;
  --ax-sys-color-success-light-surface: 128, 238, 181;
  --ax-sys-color-on-success-light-surface: 0, 31, 9;
  --ax-sys-color-border-success-light-surface: 168, 243, 205;
  --ax-sys-color-success-surface: 98, 209, 154;
  --ax-sys-color-on-success-surface: 0, 31, 9;
  --ax-sys-color-border-success-surface: 133, 219, 177;
  --ax-sys-color-success-dark-surface: 83, 195, 140;
  --ax-sys-color-on-success-dark-surface: 0, 31, 9;
  --ax-sys-color-border-success-dark-surface: 117, 207, 163;
  --ax-sys-color-success-darker-surface: 67, 181, 127;
  --ax-sys-color-on-success-darker-surface: 0, 31, 9;
  --ax-sys-color-border-success-darker-surface: 97, 197, 150;
  --ax-sys-color-success-darkest-surface: 44, 163, 110;
  --ax-sys-color-on-success-darkest-surface: 0, 31, 9;
  --ax-sys-color-border-success-darkest-surface: 54, 199, 134;
  --ax-sys-color-warning-lightest-surface: 255, 239, 201;
  --ax-sys-color-on-warning-lightest-surface: 32, 20, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 253, 247;
  --ax-sys-color-warning-lighter-surface: 255, 226, 171;
  --ax-sys-color-on-warning-lighter-surface: 35, 18, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 242, 217;
  --ax-sys-color-warning-light-surface: 255, 212, 138;
  --ax-sys-color-on-warning-light-surface: 36, 18, 0;
  --ax-sys-color-border-warning-light-surface: 255, 229, 184;
  --ax-sys-color-warning-surface: 255, 184, 50;
  --ax-sys-color-on-warning-surface: 37, 17, 0;
  --ax-sys-color-border-warning-surface: 255, 200, 96;
  --ax-sys-color-warning-dark-surface: 255, 173, 32;
  --ax-sys-color-on-warning-dark-surface: 38, 16, 0;
  --ax-sys-color-border-warning-dark-surface: 255, 190, 78;
  --ax-sys-color-warning-darker-surface: 244, 163, 0;
  --ax-sys-color-on-warning-darker-surface: 38, 16, 0;
  --ax-sys-color-border-warning-darker-surface: 255, 182, 35;
  --ax-sys-color-warning-darkest-surface: 221, 141, 0;
  --ax-sys-color-on-warning-darkest-surface: 39, 15, 0;
  --ax-sys-color-border-warning-darkest-surface: 255, 167, 12;
  --ax-sys-color-danger-lightest-surface: 255, 213, 219;
  --ax-sys-color-on-danger-lightest-surface: 39, 11, 18;
  --ax-sys-color-border-danger-lightest-surface: 255, 259, 258;
  --ax-sys-color-danger-lighter-surface: 255, 174, 187;
  --ax-sys-color-on-danger-lighter-surface: 53, 0, 13;
  --ax-sys-color-border-danger-lighter-surface: 255, 220, 226;
  --ax-sys-color-danger-light-surface: 255, 130, 154;
  --ax-sys-color-on-danger-light-surface: 54, 0, 12;
  --ax-sys-color-border-danger-light-surface: 255, 176, 191;
  --ax-sys-color-danger-surface: 216, 75, 106;
  --ax-sys-color-on-danger-surface: 54, 0, 11;
  --ax-sys-color-border-danger-surface: 224, 113, 137;
  --ax-sys-color-danger-dark-surface: 189, 49, 84;
  --ax-sys-color-on-danger-dark-surface: 255, 247, 249;
  --ax-sys-color-border-danger-dark-surface: 208, 75, 109;
  --ax-sys-color-danger-darker-surface: 162, 14, 63;
  --ax-sys-color-on-danger-darker-surface: 255, 247, 249;
  --ax-sys-color-border-danger-darker-surface: 204, 18, 79;
  --ax-sys-color-danger-darkest-surface: 154, 0, 57;
  --ax-sys-color-on-danger-darkest-surface: 255, 247, 249;
  --ax-sys-color-border-danger-darkest-surface: 200, 0, 74;
  --ax-sys-color-accent1-lightest-surface: 255, 209, 239;
  --ax-sys-color-on-accent1-lightest-surface: 40, 7, 31;
  --ax-sys-color-border-accent1-lightest-surface: 255, 255, 255;
  --ax-sys-color-accent1-lighter-surface: 255, 165, 220;
  --ax-sys-color-on-accent1-lighter-surface: 50, 0, 34;
  --ax-sys-color-border-accent1-lighter-surface: 255, 211, 238;
  --ax-sys-color-accent1-light-surface: 250, 130, 198;
  --ax-sys-color-on-accent1-light-surface: 51, 0, 31;
  --ax-sys-color-border-accent1-light-surface: 252, 174, 218;
  --ax-sys-color-accent1-surface: 195, 81, 148;
  --ax-sys-color-on-accent1-surface: 51, 0, 31;
  --ax-sys-color-border-accent1-surface: 207, 115, 169;
  --ax-sys-color-accent1-dark-surface: 168, 56, 124;
  --ax-sys-color-on-accent1-dark-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-dark-surface: 195, 75, 148;
  --ax-sys-color-accent1-darker-surface: 142, 28, 101;
  --ax-sys-color-on-accent1-darker-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darker-surface: 180, 36, 128;
  --ax-sys-color-accent1-darkest-surface: 135, 19, 95;
  --ax-sys-color-on-accent1-darkest-surface: 255, 246, 255;
  --ax-sys-color-border-accent1-darkest-surface: 175, 25, 123;
  --ax-sys-color-accent2-lightest-surface: 176, 255, 247;
  --ax-sys-color-on-accent2-lightest-surface: 0, 29, 27;
  --ax-sys-color-border-accent2-lightest-surface: 222, 255, 252;
  --ax-sys-color-accent2-lighter-surface: 121, 255, 236;
  --ax-sys-color-on-accent2-lighter-surface: 0, 30, 24;
  --ax-sys-color-border-accent2-lighter-surface: 167, 255, 243;
  --ax-sys-color-accent2-light-surface: 107, 245, 224;
  --ax-sys-color-on-accent2-light-surface: 0, 30, 24;
  --ax-sys-color-border-accent2-light-surface: 150, 248, 233;
  --ax-sys-color-accent2-surface: 78, 220, 200;
  --ax-sys-color-on-accent2-surface: 0, 30, 24;
  --ax-sys-color-border-accent2-surface: 116, 228, 212;
  --ax-sys-color-accent2-dark-surface: 62, 208, 188;
  --ax-sys-color-on-accent2-dark-surface: 0, 30, 24;
  --ax-sys-color-border-accent2-dark-surface: 99, 217, 201;
  --ax-sys-color-accent2-darker-surface: 43, 196, 176;
  --ax-sys-color-on-accent2-darker-surface: 0, 30, 24;
  --ax-sys-color-border-accent2-darker-surface: 70, 215, 196;
  --ax-sys-color-accent2-darkest-surface: 0, 176, 156;
  --ax-sys-color-on-accent2-darkest-surface: 0, 30, 23;
  --ax-sys-color-border-accent2-darkest-surface: 0, 222, 197;
  --ax-sys-color-accent3-lightest-surface: 217, 223, 255;
  --ax-sys-color-on-accent3-lightest-surface: 17, 20, 42;
  --ax-sys-color-border-accent3-lightest-surface: 263, 262, 255;
  --ax-sys-color-accent3-lighter-surface: 183, 191, 255;
  --ax-sys-color-on-accent3-lighter-surface: 16, 11, 61;
  --ax-sys-color-border-accent3-lighter-surface: 229, 232, 255;
  --ax-sys-color-accent3-light-surface: 154, 162, 251;
  --ax-sys-color-on-accent3-light-surface: 18, 0, 77;
  --ax-sys-color-border-accent3-light-surface: 198, 203, 253;
  --ax-sys-color-accent3-surface: 103, 109, 193;
  --ax-sys-color-on-accent3-surface: 17, 0, 77;
  --ax-sys-color-border-accent3-surface: 136, 140, 206;
  --ax-sys-color-accent3-dark-surface: 80, 83, 165;
  --ax-sys-color-on-accent3-dark-surface: 250, 252, 255;
  --ax-sys-color-border-accent3-dark-surface: 107, 110, 183;
  --ax-sys-color-accent3-darker-surface: 58, 58, 137;
  --ax-sys-color-on-accent3-darker-surface: 250, 252, 255;
  --ax-sys-color-border-accent3-darker-surface: 72, 72, 169;
  --ax-sys-color-accent3-darkest-surface: 55, 54, 133;
  --ax-sys-color-on-accent3-darkest-surface: 250, 252, 255;
  --ax-sys-color-border-accent3-darkest-surface: 68, 67, 166;
  --ax-sys-color-neutral-lightest-surface: 255, 224, 240;
  --ax-sys-color-on-neutral-lightest-surface: 35, 14, 26;
  --ax-sys-color-border-neutral-lightest-surface: 255, 270, 262;
  --ax-sys-color-neutral-lighter-surface: 255, 204, 224;
  --ax-sys-color-on-neutral-lighter-surface: 42, 7, 24;
  --ax-sys-color-border-neutral-lighter-surface: 255, 250, 252;
  --ax-sys-color-neutral-light-surface: 240, 188, 207;
  --ax-sys-color-on-neutral-light-surface: 43, 6, 24;
  --ax-sys-color-border-neutral-light-surface: 248, 226, 234;
  --ax-sys-color-neutral-surface: 206, 156, 174;
  --ax-sys-color-on-neutral-surface: 43, 6, 23;
  --ax-sys-color-border-neutral-surface: 221, 187, 199;
  --ax-sys-color-neutral-dark-surface: 189, 140, 159;
  --ax-sys-color-on-neutral-dark-surface: 43, 6, 24;
  --ax-sys-color-border-neutral-dark-surface: 206, 169, 183;
  --ax-sys-color-neutral-darker-surface: 173, 125, 143;
  --ax-sys-color-on-neutral-darker-surface: 43, 6, 24;
  --ax-sys-color-border-neutral-darker-surface: 191, 153, 167;
  --ax-sys-color-neutral-darkest-surface: 158, 111, 128;
  --ax-sys-color-on-neutral-darkest-surface: 255, 246, 254;
  --ax-sys-color-border-neutral-darkest-surface: 176, 138, 152;
}
