/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 255, 248, 245;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 30, 24, 21;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 247, 246, 245;
  --ax-sys-color-on-lighter-surface: 47, 45, 45;
  --ax-sys-color-border-lighter-surface: 231, 227, 225;
  --ax-sys-color-light-surface: 241, 238, 238;
  --ax-sys-color-on-light-surface: 47, 45, 45;
  --ax-sys-color-border-light-surface: 225, 220, 218;
  --ax-sys-color-surface: 235, 231, 230;
  --ax-sys-color-on-surface: 48, 45, 44;
  --ax-sys-color-border-surface: 219, 213, 210;
  --ax-sys-color-dark-surface: 229, 224, 223;
  --ax-sys-color-on-dark-surface: 48, 45, 44;
  --ax-sys-color-border-dark-surface: 213, 205, 203;
  --ax-sys-color-darker-surface: 223, 217, 215;
  --ax-sys-color-on-darker-surface: 49, 45, 43;
  --ax-sys-color-border-darker-surface: 207, 198, 195;
  --ax-sys-color-darkest-surface: 215, 208, 205;
  --ax-sys-color-on-darkest-surface: 50, 44, 42;
  --ax-sys-color-border-darkest-surface: 199, 189, 185;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 240, 230;
  --ax-sys-color-primary-100: 255, 227, 213;
  --ax-sys-color-primary-200: 255, 208, 188;
  --ax-sys-color-primary-300: 255, 177, 146;
  --ax-sys-color-primary-400: 255, 131, 85;
  --ax-sys-color-primary-500: 255, 107, 53;
  --ax-sys-color-primary-600: 229, 83, 21;
  --ax-sys-color-primary-700: 197, 51, 0;
  --ax-sys-color-primary-800: 162, 42, 17;
  --ax-sys-color-primary-900: 122, 50, 36;
  --ax-sys-color-primary-950: 56, 24, 20;
  --ax-sys-color-secondary-50: 255, 238, 233;
  --ax-sys-color-secondary-100: 255, 223, 215;
  --ax-sys-color-secondary-200: 255, 202, 190;
  --ax-sys-color-secondary-300: 255, 166, 150;
  --ax-sys-color-secondary-400: 253, 125, 106;
  --ax-sys-color-secondary-500: 232, 106, 88;
  --ax-sys-color-secondary-600: 208, 85, 68;
  --ax-sys-color-secondary-700: 180, 58, 44;
  --ax-sys-color-secondary-800: 152, 43, 30;
  --ax-sys-color-secondary-900: 120, 45, 35;
  --ax-sys-color-secondary-950: 61, 27, 22;
  --ax-sys-color-success-50: 202, 255, 230;
  --ax-sys-color-success-100: 164, 255, 210;
  --ax-sys-color-success-200: 148, 243, 195;
  --ax-sys-color-success-300: 124, 218, 172;
  --ax-sys-color-success-400: 92, 187, 142;
  --ax-sys-color-success-500: 72, 168, 124;
  --ax-sys-color-success-600: 49, 148, 105;
  --ax-sys-color-success-700: 8, 123, 82;
  --ax-sys-color-success-800: 20, 103, 66;
  --ax-sys-color-success-900: 41, 85, 59;
  --ax-sys-color-success-950: 24, 42, 30;
  --ax-sys-color-warning-50: 255, 246, 222;
  --ax-sys-color-warning-100: 255, 238, 207;
  --ax-sys-color-warning-200: 255, 227, 184;
  --ax-sys-color-warning-300: 255, 209, 147;
  --ax-sys-color-warning-400: 255, 189, 114;
  --ax-sys-color-warning-500: 247, 178, 103;
  --ax-sys-color-warning-600: 216, 149, 73;
  --ax-sys-color-warning-700: 179, 114, 32;
  --ax-sys-color-warning-800: 146, 89, 22;
  --ax-sys-color-warning-900: 113, 74, 42;
  --ax-sys-color-warning-950: 43, 27, 17;
  --ax-sys-color-danger-50: 255, 236, 237;
  --ax-sys-color-danger-100: 255, 220, 221;
  --ax-sys-color-danger-200: 255, 196, 198;
  --ax-sys-color-danger-300: 255, 155, 162;
  --ax-sys-color-danger-400: 255, 101, 119;
  --ax-sys-color-danger-500: 233, 79, 100;
  --ax-sys-color-danger-600: 211, 57, 82;
  --ax-sys-color-danger-700: 184, 25, 61;
  --ax-sys-color-danger-800: 157, 23, 48;
  --ax-sys-color-danger-900: 122, 44, 49;
  --ax-sys-color-danger-950: 61, 27, 27;
  --ax-sys-color-accent1-50: 255, 239, 234;
  --ax-sys-color-accent1-100: 255, 225, 217;
  --ax-sys-color-accent1-200: 255, 204, 194;
  --ax-sys-color-accent1-300: 255, 171, 156;
  --ax-sys-color-accent1-400: 255, 125, 108;
  --ax-sys-color-accent1-500: 242, 107, 91;
  --ax-sys-color-accent1-600: 217, 84, 70;
  --ax-sys-color-accent1-700: 187, 56, 45;
  --ax-sys-color-accent1-800: 158, 40, 30;
  --ax-sys-color-accent1-900: 124, 45, 36;
  --ax-sys-color-accent1-950: 60, 26, 22;
  --ax-sys-color-accent2-50: 255, 248, 213;
  --ax-sys-color-accent2-100: 255, 242, 198;
  --ax-sys-color-accent2-200: 255, 233, 175;
  --ax-sys-color-accent2-300: 255, 218, 135;
  --ax-sys-color-accent2-400: 255, 203, 112;
  --ax-sys-color-accent2-500: 247, 194, 103;
  --ax-sys-color-accent2-600: 214, 163, 70;
  --ax-sys-color-accent2-700: 176, 126, 21;
  --ax-sys-color-accent2-800: 142, 98, 23;
  --ax-sys-color-accent2-900: 108, 80, 43;
  --ax-sys-color-accent2-950: 39, 28, 17;
  --ax-sys-color-accent3-50: 255, 236, 241;
  --ax-sys-color-accent3-100: 255, 219, 227;
  --ax-sys-color-accent3-200: 255, 195, 207;
  --ax-sys-color-accent3-300: 255, 153, 176;
  --ax-sys-color-accent3-400: 245, 111, 142;
  --ax-sys-color-accent3-500: 222, 91, 123;
  --ax-sys-color-accent3-600: 200, 71, 105;
  --ax-sys-color-accent3-700: 174, 45, 83;
  --ax-sys-color-accent3-800: 148, 32, 68;
  --ax-sys-color-accent3-900: 118, 42, 60;
  --ax-sys-color-accent3-950: 60, 26, 31;
  --ax-sys-color-neutral-50: 255, 241, 226;
  --ax-sys-color-neutral-100: 255, 229, 207;
  --ax-sys-color-neutral-200: 255, 217, 194;
  --ax-sys-color-neutral-300: 236, 197, 175;
  --ax-sys-color-neutral-400: 210, 172, 151;
  --ax-sys-color-neutral-500: 194, 157, 136;
  --ax-sys-color-neutral-600: 170, 134, 113;
  --ax-sys-color-neutral-700: 141, 106, 86;
  --ax-sys-color-neutral-800: 116, 85, 68;
  --ax-sys-color-neutral-900: 93, 71, 59;
  --ax-sys-color-neutral-950: 44, 30, 22;
  --ax-sys-color-primary-lightest-surface: 255, 227, 213;
  --ax-sys-color-on-primary-lightest-surface: 61, 40, 30;
  --ax-sys-color-border-primary-lightest-surface: 255, 203, 177;
  --ax-sys-color-primary-lighter-surface: 255, 208, 188;
  --ax-sys-color-on-primary-lighter-surface: 70, 35, 19;
  --ax-sys-color-border-primary-lighter-surface: 255, 183, 152;
  --ax-sys-color-primary-light-surface: 255, 177, 146;
  --ax-sys-color-on-primary-light-surface: 84, 21, 0;
  --ax-sys-color-border-primary-light-surface: 255, 151, 110;
  --ax-sys-color-primary-surface: 255, 107, 53;
  --ax-sys-color-on-primary-surface: 255, 248, 241;
  --ax-sys-color-border-primary-surface: 255, 81, 17;
  --ax-sys-color-primary-dark-surface: 229, 83, 21;
  --ax-sys-color-on-primary-dark-surface: 255, 248, 241;
  --ax-sys-color-border-primary-dark-surface: 196, 71, 18;
  --ax-sys-color-primary-darker-surface: 197, 51, 0;
  --ax-sys-color-on-primary-darker-surface: 255, 248, 242;
  --ax-sys-color-border-primary-darker-surface: 161, 42, 0;
  --ax-sys-color-primary-darkest-surface: 162, 42, 17;
  --ax-sys-color-on-primary-darkest-surface: 255, 248, 243;
  --ax-sys-color-border-primary-darkest-surface: 130, 34, 14;
  --ax-sys-color-secondary-lightest-surface: 255, 223, 215;
  --ax-sys-color-on-secondary-lightest-surface: 62, 39, 33;
  --ax-sys-color-border-secondary-lightest-surface: 255, 194, 179;
  --ax-sys-color-secondary-lighter-surface: 255, 202, 190;
  --ax-sys-color-on-secondary-lighter-surface: 72, 33, 24;
  --ax-sys-color-border-secondary-lighter-surface: 255, 173, 154;
  --ax-sys-color-secondary-light-surface: 255, 166, 150;
  --ax-sys-color-on-secondary-light-surface: 88, 13, 5;
  --ax-sys-color-border-secondary-light-surface: 255, 136, 114;
  --ax-sys-color-secondary-surface: 232, 106, 88;
  --ax-sys-color-on-secondary-surface: 255, 248, 244;
  --ax-sys-color-border-secondary-surface: 228, 78, 57;
  --ax-sys-color-secondary-dark-surface: 208, 85, 68;
  --ax-sys-color-on-secondary-dark-surface: 255, 248, 244;
  --ax-sys-color-border-secondary-dark-surface: 192, 66, 48;
  --ax-sys-color-secondary-darker-surface: 180, 58, 44;
  --ax-sys-color-on-secondary-darker-surface: 255, 248, 244;
  --ax-sys-color-border-secondary-darker-surface: 151, 49, 37;
  --ax-sys-color-secondary-darkest-surface: 152, 43, 30;
  --ax-sys-color-on-secondary-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-secondary-darkest-surface: 122, 35, 24;
  --ax-sys-color-success-lightest-surface: 164, 255, 210;
  --ax-sys-color-on-success-lightest-surface: 0, 59, 31;
  --ax-sys-color-border-success-lightest-surface: 128, 255, 192;
  --ax-sys-color-success-lighter-surface: 148, 243, 195;
  --ax-sys-color-on-success-lighter-surface: 0, 59, 30;
  --ax-sys-color-border-success-lighter-surface: 116, 239, 177;
  --ax-sys-color-success-light-surface: 124, 218, 172;
  --ax-sys-color-on-success-light-surface: 0, 59, 30;
  --ax-sys-color-border-success-light-surface: 96, 210, 154;
  --ax-sys-color-success-surface: 72, 168, 124;
  --ax-sys-color-on-success-surface: 231, 255, 245;
  --ax-sys-color-border-success-surface: 61, 143, 106;
  --ax-sys-color-success-dark-surface: 49, 148, 105;
  --ax-sys-color-on-success-dark-surface: 231, 255, 245;
  --ax-sys-color-border-success-dark-surface: 40, 121, 86;
  --ax-sys-color-success-darker-surface: 8, 123, 82;
  --ax-sys-color-on-success-darker-surface: 231, 255, 245;
  --ax-sys-color-border-success-darker-surface: 6, 89, 60;
  --ax-sys-color-success-darkest-surface: 20, 103, 66;
  --ax-sys-color-on-success-darkest-surface: 231, 255, 243;
  --ax-sys-color-border-success-darkest-surface: 14, 73, 47;
  --ax-sys-color-warning-lightest-surface: 255, 238, 207;
  --ax-sys-color-on-warning-lightest-surface: 57, 44, 18;
  --ax-sys-color-border-warning-lightest-surface: 255, 225, 171;
  --ax-sys-color-warning-lighter-surface: 255, 227, 184;
  --ax-sys-color-on-warning-lighter-surface: 63, 41, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 213, 148;
  --ax-sys-color-warning-light-surface: 255, 209, 147;
  --ax-sys-color-on-warning-light-surface: 69, 37, 0;
  --ax-sys-color-border-warning-light-surface: 255, 194, 111;
  --ax-sys-color-warning-surface: 247, 178, 103;
  --ax-sys-color-on-warning-surface: 73, 34, 0;
  --ax-sys-color-border-warning-surface: 245, 161, 69;
  --ax-sys-color-warning-dark-surface: 216, 149, 73;
  --ax-sys-color-on-warning-dark-surface: 255, 250, 230;
  --ax-sys-color-border-warning-dark-surface: 209, 132, 45;
  --ax-sys-color-warning-darker-surface: 179, 114, 32;
  --ax-sys-color-on-warning-darker-surface: 255, 250, 230;
  --ax-sys-color-border-warning-darker-surface: 149, 95, 27;
  --ax-sys-color-warning-darkest-surface: 146, 89, 22;
  --ax-sys-color-on-warning-darkest-surface: 255, 250, 231;
  --ax-sys-color-border-warning-darkest-surface: 115, 70, 17;
  --ax-sys-color-danger-lightest-surface: 255, 220, 221;
  --ax-sys-color-on-danger-lightest-surface: 63, 38, 39;
  --ax-sys-color-border-danger-lightest-surface: 255, 184, 186;
  --ax-sys-color-danger-lighter-surface: 255, 196, 198;
  --ax-sys-color-on-danger-lighter-surface: 74, 30, 34;
  --ax-sys-color-border-danger-lighter-surface: 255, 160, 164;
  --ax-sys-color-danger-light-surface: 255, 155, 162;
  --ax-sys-color-on-danger-light-surface: 91, 0, 25;
  --ax-sys-color-border-danger-light-surface: 255, 119, 129;
  --ax-sys-color-danger-surface: 233, 79, 100;
  --ax-sys-color-on-danger-surface: 255, 247, 248;
  --ax-sys-color-border-danger-surface: 229, 47, 72;
  --ax-sys-color-danger-dark-surface: 211, 57, 82;
  --ax-sys-color-on-danger-dark-surface: 255, 247, 248;
  --ax-sys-color-border-danger-dark-surface: 190, 42, 66;
  --ax-sys-color-danger-darker-surface: 184, 25, 61;
  --ax-sys-color-on-danger-darker-surface: 255, 247, 248;
  --ax-sys-color-border-danger-darker-surface: 153, 21, 51;
  --ax-sys-color-danger-darkest-surface: 157, 23, 48;
  --ax-sys-color-on-danger-darkest-surface: 255, 247, 247;
  --ax-sys-color-border-danger-darkest-surface: 126, 18, 38;
  --ax-sys-color-accent1-lightest-surface: 255, 225, 217;
  --ax-sys-color-on-accent1-lightest-surface: 61, 39, 34;
  --ax-sys-color-border-accent1-lightest-surface: 255, 197, 181;
  --ax-sys-color-accent1-lighter-surface: 255, 204, 194;
  --ax-sys-color-on-accent1-lighter-surface: 71, 33, 27;
  --ax-sys-color-border-accent1-lighter-surface: 255, 174, 158;
  --ax-sys-color-accent1-light-surface: 255, 171, 156;
  --ax-sys-color-on-accent1-light-surface: 86, 17, 9;
  --ax-sys-color-border-accent1-light-surface: 255, 141, 120;
  --ax-sys-color-accent1-surface: 242, 107, 91;
  --ax-sys-color-on-accent1-surface: 255, 248, 244;
  --ax-sys-color-border-accent1-surface: 239, 77, 58;
  --ax-sys-color-accent1-dark-surface: 217, 84, 70;
  --ax-sys-color-on-accent1-dark-surface: 255, 248, 244;
  --ax-sys-color-border-accent1-dark-surface: 208, 59, 43;
  --ax-sys-color-accent1-darker-surface: 187, 56, 45;
  --ax-sys-color-on-accent1-darker-surface: 255, 248, 244;
  --ax-sys-color-border-accent1-darker-surface: 158, 47, 38;
  --ax-sys-color-accent1-darkest-surface: 158, 40, 30;
  --ax-sys-color-on-accent1-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-accent1-darkest-surface: 128, 32, 24;
  --ax-sys-color-accent2-lightest-surface: 255, 242, 198;
  --ax-sys-color-on-accent2-lightest-surface: 56, 45, 3;
  --ax-sys-color-border-accent2-lightest-surface: 255, 234, 162;
  --ax-sys-color-accent2-lighter-surface: 255, 233, 175;
  --ax-sys-color-on-accent2-lighter-surface: 61, 43, 0;
  --ax-sys-color-border-accent2-lighter-surface: 255, 223, 139;
  --ax-sys-color-accent2-light-surface: 255, 218, 135;
  --ax-sys-color-on-accent2-light-surface: 63, 42, 0;
  --ax-sys-color-border-accent2-light-surface: 255, 207, 99;
  --ax-sys-color-accent2-surface: 247, 194, 103;
  --ax-sys-color-on-accent2-surface: 67, 39, 0;
  --ax-sys-color-border-accent2-surface: 245, 180, 69;
  --ax-sys-color-accent2-dark-surface: 214, 163, 70;
  --ax-sys-color-on-accent2-dark-surface: 255, 251, 221;
  --ax-sys-color-border-accent2-dark-surface: 203, 147, 45;
  --ax-sys-color-accent2-darker-surface: 176, 126, 21;
  --ax-sys-color-on-accent2-darker-surface: 255, 251, 221;
  --ax-sys-color-border-accent2-darker-surface: 144, 103, 17;
  --ax-sys-color-accent2-darkest-surface: 142, 98, 23;
  --ax-sys-color-on-accent2-darkest-surface: 255, 250, 225;
  --ax-sys-color-border-accent2-darkest-surface: 111, 77, 18;
  --ax-sys-color-accent3-lightest-surface: 255, 219, 227;
  --ax-sys-color-on-accent3-lightest-surface: 63, 37, 44;
  --ax-sys-color-border-accent3-lightest-surface: 255, 183, 199;
  --ax-sys-color-accent3-lighter-surface: 255, 195, 207;
  --ax-sys-color-on-accent3-lighter-surface: 74, 29, 41;
  --ax-sys-color-border-accent3-lighter-surface: 255, 159, 178;
  --ax-sys-color-accent3-light-surface: 255, 153, 176;
  --ax-sys-color-on-accent3-light-surface: 91, 0, 36;
  --ax-sys-color-border-accent3-light-surface: 255, 117, 148;
  --ax-sys-color-accent3-surface: 222, 91, 123;
  --ax-sys-color-on-accent3-surface: 255, 247, 250;
  --ax-sys-color-border-accent3-surface: 216, 61, 99;
  --ax-sys-color-accent3-dark-surface: 200, 71, 105;
  --ax-sys-color-on-accent3-dark-surface: 255, 247, 250;
  --ax-sys-color-border-accent3-dark-surface: 181, 54, 88;
  --ax-sys-color-accent3-darker-surface: 174, 45, 83;
  --ax-sys-color-on-accent3-darker-surface: 255, 247, 250;
  --ax-sys-color-border-accent3-darker-surface: 146, 38, 69;
  --ax-sys-color-accent3-darkest-surface: 148, 32, 68;
  --ax-sys-color-on-accent3-darkest-surface: 255, 247, 250;
  --ax-sys-color-border-accent3-darkest-surface: 119, 26, 55;
  --ax-sys-color-neutral-lightest-surface: 255, 229, 207;
  --ax-sys-color-on-neutral-lightest-surface: 61, 41, 23;
  --ax-sys-color-border-neutral-lightest-surface: 255, 210, 171;
  --ax-sys-color-neutral-lighter-surface: 255, 217, 194;
  --ax-sys-color-on-neutral-lighter-surface: 66, 38, 19;
  --ax-sys-color-border-neutral-lighter-surface: 255, 195, 158;
  --ax-sys-color-neutral-light-surface: 236, 197, 175;
  --ax-sys-color-on-neutral-light-surface: 67, 37, 19;
  --ax-sys-color-border-neutral-light-surface: 229, 176, 146;
  --ax-sys-color-neutral-surface: 194, 157, 136;
  --ax-sys-color-on-neutral-surface: 255, 249, 237;
  --ax-sys-color-border-neutral-surface: 182, 138, 112;
  --ax-sys-color-neutral-dark-surface: 170, 134, 113;
  --ax-sys-color-on-neutral-dark-surface: 255, 249, 237;
  --ax-sys-color-border-neutral-dark-surface: 155, 115, 93;
  --ax-sys-color-neutral-darker-surface: 141, 106, 86;
  --ax-sys-color-on-neutral-darker-surface: 255, 249, 237;
  --ax-sys-color-border-neutral-darker-surface: 119, 89, 72;
  --ax-sys-color-neutral-darkest-surface: 116, 85, 68;
  --ax-sys-color-on-neutral-darkest-surface: 255, 249, 238;
  --ax-sys-color-border-neutral-darkest-surface: 93, 69, 55;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 255, 248, 245;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 30, 24, 21;
  --ax-sys-color-lightest-surface: 42, 35, 32;
  --ax-sys-color-on-lightest-surface: 255, 251, 247;
  --ax-sys-color-border-lightest-surface: 68, 57, 52;
  --ax-sys-color-lighter-surface: 37, 31, 28;
  --ax-sys-color-on-lighter-surface: 255, 251, 247;
  --ax-sys-color-border-lighter-surface: 63, 52, 47;
  --ax-sys-color-light-surface: 34, 27, 25;
  --ax-sys-color-on-light-surface: 255, 251, 247;
  --ax-sys-color-border-light-surface: 60, 49, 44;
  --ax-sys-color-surface: 30, 24, 22;
  --ax-sys-color-on-surface: 255, 251, 248;
  --ax-sys-color-border-surface: 57, 45, 41;
  --ax-sys-color-dark-surface: 26, 21, 18;
  --ax-sys-color-on-dark-surface: 255, 251, 248;
  --ax-sys-color-border-dark-surface: 53, 42, 37;
  --ax-sys-color-darker-surface: 23, 17, 15;
  --ax-sys-color-on-darker-surface: 255, 251, 248;
  --ax-sys-color-border-darker-surface: 50, 38, 34;
  --ax-sys-color-darkest-surface: 18, 13, 11;
  --ax-sys-color-on-darkest-surface: 255, 252, 248;
  --ax-sys-color-border-darkest-surface: 46, 34, 28;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 241, 232;
  --ax-sys-color-primary-100: 255, 232, 219;
  --ax-sys-color-primary-200: 255, 213, 194;
  --ax-sys-color-primary-300: 255, 193, 168;
  --ax-sys-color-primary-400: 255, 172, 140;
  --ax-sys-color-primary-500: 255, 149, 110;
  --ax-sys-color-primary-600: 255, 125, 75;
  --ax-sys-color-primary-700: 255, 107, 53;
  --ax-sys-color-primary-800: 234, 88, 29;
  --ax-sys-color-primary-900: 214, 68, 0;
  --ax-sys-color-primary-950: 203, 58, 0;
  --ax-sys-color-secondary-50: 255, 240, 234;
  --ax-sys-color-secondary-100: 255, 229, 222;
  --ax-sys-color-secondary-200: 255, 207, 196;
  --ax-sys-color-secondary-300: 255, 185, 171;
  --ax-sys-color-secondary-400: 255, 161, 144;
  --ax-sys-color-secondary-500: 255, 136, 116;
  --ax-sys-color-secondary-600: 249, 121, 102;
  --ax-sys-color-secondary-700: 232, 106, 88;
  --ax-sys-color-secondary-800: 213, 89, 72;
  --ax-sys-color-secondary-900: 195, 72, 56;
  --ax-sys-color-secondary-950: 185, 63, 49;
  --ax-sys-color-success-50: 206, 255, 232;
  --ax-sys-color-success-100: 171, 255, 215;
  --ax-sys-color-success-200: 152, 247, 199;
  --ax-sys-color-success-300: 136, 231, 183;
  --ax-sys-color-success-400: 120, 215, 168;
  --ax-sys-color-success-500: 104, 199, 153;
  --ax-sys-color-success-600: 88, 183, 138;
  --ax-sys-color-success-700: 72, 168, 124;
  --ax-sys-color-success-800: 54, 152, 109;
  --ax-sys-color-success-900: 33, 136, 94;
  --ax-sys-color-success-950: 20, 128, 87;
  --ax-sys-color-warning-50: 255, 246, 223;
  --ax-sys-color-warning-100: 255, 241, 212;
  --ax-sys-color-warning-200: 255, 230, 190;
  --ax-sys-color-warning-300: 255, 218, 167;
  --ax-sys-color-warning-400: 255, 206, 142;
  --ax-sys-color-warning-500: 255, 195, 120;
  --ax-sys-color-warning-600: 255, 187, 112;
  --ax-sys-color-warning-700: 247, 178, 103;
  --ax-sys-color-warning-800: 222, 155, 79;
  --ax-sys-color-warning-900: 198, 132, 55;
  --ax-sys-color-warning-950: 186, 121, 41;
  --ax-sys-color-danger-50: 255, 238, 239;
  --ax-sys-color-danger-100: 255, 226, 227;
  --ax-sys-color-danger-200: 255, 202, 204;
  --ax-sys-color-danger-300: 255, 176, 181;
  --ax-sys-color-danger-400: 255, 148, 157;
  --ax-sys-color-danger-500: 255, 117, 132;
  --ax-sys-color-danger-600: 251, 96, 115;
  --ax-sys-color-danger-700: 233, 79, 100;
  --ax-sys-color-danger-800: 215, 62, 86;
  --ax-sys-color-danger-900: 198, 43, 72;
  --ax-sys-color-danger-950: 189, 32, 65;
  --ax-sys-color-accent1-50: 255, 240, 235;
  --ax-sys-color-accent1-100: 255, 230, 224;
  --ax-sys-color-accent1-200: 255, 209, 200;
  --ax-sys-color-accent1-300: 255, 188, 176;
  --ax-sys-color-accent1-400: 255, 166, 151;
  --ax-sys-color-accent1-500: 255, 141, 124;
  --ax-sys-color-accent1-600: 255, 121, 104;
  --ax-sys-color-accent1-700: 242, 107, 91;
  --ax-sys-color-accent1-800: 222, 89, 74;
  --ax-sys-color-accent1-900: 203, 71, 58;
  --ax-sys-color-accent1-950: 193, 62, 50;
  --ax-sys-color-accent2-50: 255, 248, 215;
  --ax-sys-color-accent2-100: 255, 244, 203;
  --ax-sys-color-accent2-200: 255, 235, 180;
  --ax-sys-color-accent2-300: 255, 226, 156;
  --ax-sys-color-accent2-400: 255, 216, 129;
  --ax-sys-color-accent2-500: 255, 209, 118;
  --ax-sys-color-accent2-600: 255, 201, 110;
  --ax-sys-color-accent2-700: 247, 194, 103;
  --ax-sys-color-accent2-800: 221, 169, 77;
  --ax-sys-color-accent2-900: 196, 145, 49;
  --ax-sys-color-accent2-950: 183, 133, 33;
  --ax-sys-color-accent3-50: 255, 237, 242;
  --ax-sys-color-accent3-100: 255, 226, 232;
  --ax-sys-color-accent3-200: 255, 201, 212;
  --ax-sys-color-accent3-300: 255, 175, 192;
  --ax-sys-color-accent3-400: 255, 147, 171;
  --ax-sys-color-accent3-500: 255, 123, 153;
  --ax-sys-color-accent3-600: 240, 107, 138;
  --ax-sys-color-accent3-700: 222, 91, 123;
  --ax-sys-color-accent3-800: 205, 75, 109;
  --ax-sys-color-accent3-900: 187, 59, 94;
  --ax-sys-color-accent3-950: 179, 51, 88;
  --ax-sys-color-neutral-50: 255, 242, 227;
  --ax-sys-color-neutral-100: 255, 234, 214;
  --ax-sys-color-neutral-200: 255, 220, 198;
  --ax-sys-color-neutral-300: 246, 207, 185;
  --ax-sys-color-neutral-400: 233, 194, 172;
  --ax-sys-color-neutral-500: 220, 182, 160;
  --ax-sys-color-neutral-600: 207, 169, 148;
  --ax-sys-color-neutral-700: 194, 157, 136;
  --ax-sys-color-neutral-800: 175, 138, 118;
  --ax-sys-color-neutral-900: 156, 120, 100;
  --ax-sys-color-neutral-950: 146, 112, 92;
  --ax-sys-color-primary-lightest-surface: 255, 232, 219;
  --ax-sys-color-on-primary-lightest-surface: 33, 18, 9;
  --ax-sys-color-border-primary-lightest-surface: 255, 261, 265;
  --ax-sys-color-primary-lighter-surface: 255, 213, 194;
  --ax-sys-color-on-primary-lighter-surface: 41, 12, 1;
  --ax-sys-color-border-primary-lighter-surface: 255, 245, 240;
  --ax-sys-color-primary-light-surface: 255, 193, 168;
  --ax-sys-color-on-primary-light-surface: 49, 3, 0;
  --ax-sys-color-border-primary-light-surface: 255, 226, 214;
  --ax-sys-color-primary-surface: 255, 149, 110;
  --ax-sys-color-on-primary-surface: 52, 0, 0;
  --ax-sys-color-border-primary-surface: 255, 183, 156;
  --ax-sys-color-primary-dark-surface: 255, 125, 75;
  --ax-sys-color-on-primary-dark-surface: 52, 0, 0;
  --ax-sys-color-border-primary-dark-surface: 255, 158, 121;
  --ax-sys-color-primary-darker-surface: 255, 107, 53;
  --ax-sys-color-on-primary-darker-surface: 53, 0, 0;
  --ax-sys-color-border-primary-darker-surface: 255, 141, 99;
  --ax-sys-color-primary-darkest-surface: 234, 88, 29;
  --ax-sys-color-on-primary-darkest-surface: 53, 0, 0;
  --ax-sys-color-border-primary-darkest-surface: 238, 119, 71;
  --ax-sys-color-secondary-lightest-surface: 255, 229, 222;
  --ax-sys-color-on-secondary-lightest-surface: 34, 17, 12;
  --ax-sys-color-border-secondary-lightest-surface: 255, 265, 268;
  --ax-sys-color-secondary-lighter-surface: 255, 207, 196;
  --ax-sys-color-on-secondary-lighter-surface: 43, 10, 4;
  --ax-sys-color-border-secondary-lighter-surface: 255, 244, 242;
  --ax-sys-color-secondary-light-surface: 255, 185, 171;
  --ax-sys-color-on-secondary-light-surface: 51, 0, 0;
  --ax-sys-color-border-secondary-light-surface: 255, 223, 217;
  --ax-sys-color-secondary-surface: 255, 136, 116;
  --ax-sys-color-on-secondary-surface: 56, 0, 0;
  --ax-sys-color-border-secondary-surface: 255, 175, 162;
  --ax-sys-color-secondary-dark-surface: 249, 121, 102;
  --ax-sys-color-on-secondary-dark-surface: 56, 0, 0;
  --ax-sys-color-border-secondary-dark-surface: 251, 160, 146;
  --ax-sys-color-secondary-darker-surface: 232, 106, 88;
  --ax-sys-color-on-secondary-darker-surface: 56, 0, 0;
  --ax-sys-color-border-secondary-darker-surface: 238, 142, 128;
  --ax-sys-color-secondary-darkest-surface: 213, 89, 72;
  --ax-sys-color-on-secondary-darkest-surface: 56, 0, 0;
  --ax-sys-color-border-secondary-darkest-surface: 222, 123, 109;
  --ax-sys-color-success-lightest-surface: 171, 255, 215;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 13;
  --ax-sys-color-border-success-lightest-surface: 217, 255, 237;
  --ax-sys-color-success-lighter-surface: 152, 247, 199;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 11;
  --ax-sys-color-border-success-lighter-surface: 195, 250, 222;
  --ax-sys-color-success-light-surface: 136, 231, 183;
  --ax-sys-color-on-success-light-surface: 0, 31, 10;
  --ax-sys-color-border-success-light-surface: 174, 239, 206;
  --ax-sys-color-success-surface: 104, 199, 153;
  --ax-sys-color-on-success-surface: 0, 31, 11;
  --ax-sys-color-border-success-surface: 137, 211, 176;
  --ax-sys-color-success-dark-surface: 88, 183, 138;
  --ax-sys-color-on-success-dark-surface: 0, 31, 11;
  --ax-sys-color-border-success-dark-surface: 120, 197, 160;
  --ax-sys-color-success-darker-surface: 72, 168, 124;
  --ax-sys-color-on-success-darker-surface: 0, 31, 11;
  --ax-sys-color-border-success-darker-surface: 98, 188, 147;
  --ax-sys-color-success-darkest-surface: 54, 152, 109;
  --ax-sys-color-on-success-darkest-surface: 0, 31, 11;
  --ax-sys-color-border-success-darkest-surface: 66, 186, 133;
  --ax-sys-color-warning-lightest-surface: 255, 241, 212;
  --ax-sys-color-on-warning-lightest-surface: 30, 20, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 256, 258;
  --ax-sys-color-warning-lighter-surface: 255, 230, 190;
  --ax-sys-color-on-warning-lighter-surface: 36, 18, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 248, 236;
  --ax-sys-color-warning-light-surface: 255, 218, 167;
  --ax-sys-color-on-warning-light-surface: 37, 16, 0;
  --ax-sys-color-border-warning-light-surface: 255, 237, 213;
  --ax-sys-color-warning-surface: 255, 195, 120;
  --ax-sys-color-on-warning-surface: 39, 15, 0;
  --ax-sys-color-border-warning-surface: 255, 215, 166;
  --ax-sys-color-warning-dark-surface: 255, 187, 112;
  --ax-sys-color-on-warning-dark-surface: 40, 14, 0;
  --ax-sys-color-border-warning-dark-surface: 255, 209, 158;
  --ax-sys-color-warning-darker-surface: 247, 178, 103;
  --ax-sys-color-on-warning-darker-surface: 40, 14, 0;
  --ax-sys-color-border-warning-darker-surface: 249, 200, 147;
  --ax-sys-color-warning-darkest-surface: 222, 155, 79;
  --ax-sys-color-on-warning-darkest-surface: 40, 14, 0;
  --ax-sys-color-border-warning-darkest-surface: 229, 177, 118;
  --ax-sys-color-danger-lightest-surface: 255, 226, 227;
  --ax-sys-color-on-danger-lightest-surface: 35, 16, 17;
  --ax-sys-color-border-danger-lightest-surface: 255, 272, 271;
  --ax-sys-color-danger-lighter-surface: 255, 202, 204;
  --ax-sys-color-on-danger-lighter-surface: 44, 7, 12;
  --ax-sys-color-border-danger-lighter-surface: 255, 248, 248;
  --ax-sys-color-danger-light-surface: 255, 176, 181;
  --ax-sys-color-on-danger-light-surface: 53, 0, 8;
  --ax-sys-color-border-danger-light-surface: 255, 222, 224;
  --ax-sys-color-danger-surface: 255, 117, 132;
  --ax-sys-color-on-danger-surface: 55, 0, 6;
  --ax-sys-color-border-danger-surface: 255, 163, 173;
  --ax-sys-color-danger-dark-surface: 251, 96, 115;
  --ax-sys-color-on-danger-dark-surface: 55, 0, 6;
  --ax-sys-color-border-danger-dark-surface: 252, 141, 154;
  --ax-sys-color-danger-darker-surface: 233, 79, 100;
  --ax-sys-color-on-danger-darker-surface: 55, 0, 6;
  --ax-sys-color-border-danger-darker-surface: 238, 120, 136;
  --ax-sys-color-danger-darkest-surface: 215, 62, 86;
  --ax-sys-color-on-danger-darkest-surface: 255, 247, 248;
  --ax-sys-color-border-danger-darkest-surface: 223, 100, 119;
  --ax-sys-color-accent1-lightest-surface: 255, 230, 224;
  --ax-sys-color-on-accent1-lightest-surface: 33, 17, 13;
  --ax-sys-color-border-accent1-lightest-surface: 255, 267, 270;
  --ax-sys-color-accent1-lighter-surface: 255, 209, 200;
  --ax-sys-color-on-accent1-lighter-surface: 42, 10, 6;
  --ax-sys-color-border-accent1-lighter-surface: 255, 247, 246;
  --ax-sys-color-accent1-light-surface: 255, 188, 176;
  --ax-sys-color-on-accent1-light-surface: 50, 1, 0;
  --ax-sys-color-border-accent1-light-surface: 255, 227, 222;
  --ax-sys-color-accent1-surface: 255, 141, 124;
  --ax-sys-color-on-accent1-surface: 56, 0, 0;
  --ax-sys-color-border-accent1-surface: 255, 181, 170;
  --ax-sys-color-accent1-dark-surface: 255, 121, 104;
  --ax-sys-color-on-accent1-dark-surface: 56, 0, 0;
  --ax-sys-color-border-accent1-dark-surface: 255, 162, 150;
  --ax-sys-color-accent1-darker-surface: 242, 107, 91;
  --ax-sys-color-on-accent1-darker-surface: 56, 0, 0;
  --ax-sys-color-border-accent1-darker-surface: 245, 145, 134;
  --ax-sys-color-accent1-darkest-surface: 222, 89, 74;
  --ax-sys-color-on-accent1-darkest-surface: 56, 0, 0;
  --ax-sys-color-border-accent1-darkest-surface: 229, 125, 113;
  --ax-sys-color-accent2-lightest-surface: 255, 244, 203;
  --ax-sys-color-on-accent2-lightest-surface: 30, 21, 0;
  --ax-sys-color-border-accent2-lightest-surface: 255, 254, 249;
  --ax-sys-color-accent2-lighter-surface: 255, 235, 180;
  --ax-sys-color-on-accent2-lighter-surface: 32, 20, 0;
  --ax-sys-color-border-accent2-lighter-surface: 255, 247, 226;
  --ax-sys-color-accent2-light-surface: 255, 226, 156;
  --ax-sys-color-on-accent2-light-surface: 33, 19, 0;
  --ax-sys-color-border-accent2-light-surface: 255, 239, 202;
  --ax-sys-color-accent2-surface: 255, 209, 118;
  --ax-sys-color-on-accent2-surface: 35, 18, 0;
  --ax-sys-color-border-accent2-surface: 255, 224, 164;
  --ax-sys-color-accent2-dark-surface: 255, 201, 110;
  --ax-sys-color-on-accent2-dark-surface: 36, 17, 0;
  --ax-sys-color-border-accent2-dark-surface: 255, 218, 156;
  --ax-sys-color-accent2-darker-surface: 247, 194, 103;
  --ax-sys-color-on-accent2-darker-surface: 36, 17, 0;
  --ax-sys-color-border-accent2-darker-surface: 249, 211, 147;
  --ax-sys-color-accent2-darkest-surface: 221, 169, 77;
  --ax-sys-color-on-accent2-darkest-surface: 36, 17, 0;
  --ax-sys-color-border-accent2-darkest-surface: 228, 188, 116;
  --ax-sys-color-accent3-lightest-surface: 255, 226, 232;
  --ax-sys-color-on-accent3-lightest-surface: 34, 15, 20;
  --ax-sys-color-border-accent3-lightest-surface: 255, 272, 268;
  --ax-sys-color-accent3-lighter-surface: 255, 201, 212;
  --ax-sys-color-on-accent3-lighter-surface: 44, 6, 18;
  --ax-sys-color-border-accent3-lighter-surface: 255, 247, 249;
  --ax-sys-color-accent3-light-surface: 255, 175, 192;
  --ax-sys-color-on-accent3-light-surface: 53, 0, 16;
  --ax-sys-color-border-accent3-light-surface: 255, 221, 228;
  --ax-sys-color-accent3-surface: 255, 123, 153;
  --ax-sys-color-on-accent3-surface: 54, 0, 14;
  --ax-sys-color-border-accent3-surface: 255, 169, 188;
  --ax-sys-color-accent3-dark-surface: 240, 107, 138;
  --ax-sys-color-on-accent3-dark-surface: 54, 0, 13;
  --ax-sys-color-border-accent3-dark-surface: 244, 149, 171;
  --ax-sys-color-accent3-darker-surface: 222, 91, 123;
  --ax-sys-color-on-accent3-darker-surface: 54, 0, 13;
  --ax-sys-color-border-accent3-darker-surface: 230, 129, 154;
  --ax-sys-color-accent3-darkest-surface: 205, 75, 109;
  --ax-sys-color-on-accent3-darkest-surface: 255, 247, 250;
  --ax-sys-color-border-accent3-darkest-surface: 215, 111, 138;
  --ax-sys-color-neutral-lightest-surface: 255, 234, 214;
  --ax-sys-color-on-neutral-lightest-surface: 33, 18, 4;
  --ax-sys-color-border-neutral-lightest-surface: 255, 258, 260;
  --ax-sys-color-neutral-lighter-surface: 255, 220, 198;
  --ax-sys-color-on-neutral-lighter-surface: 38, 15, 0;
  --ax-sys-color-border-neutral-lighter-surface: 255, 248, 244;
  --ax-sys-color-neutral-light-surface: 246, 207, 185;
  --ax-sys-color-on-neutral-light-surface: 40, 13, 0;
  --ax-sys-color-border-neutral-light-surface: 251, 235, 226;
  --ax-sys-color-neutral-surface: 220, 182, 160;
  --ax-sys-color-on-neutral-surface: 40, 13, 0;
  --ax-sys-color-border-neutral-surface: 232, 208, 194;
  --ax-sys-color-neutral-dark-surface: 207, 169, 148;
  --ax-sys-color-on-neutral-dark-surface: 40, 13, 0;
  --ax-sys-color-border-neutral-dark-surface: 221, 194, 180;
  --ax-sys-color-neutral-darker-surface: 194, 157, 136;
  --ax-sys-color-on-neutral-darker-surface: 40, 13, 0;
  --ax-sys-color-border-neutral-darker-surface: 210, 182, 166;
  --ax-sys-color-neutral-darkest-surface: 175, 138, 118;
  --ax-sys-color-on-neutral-darkest-surface: 40, 13, 0;
  --ax-sys-color-border-neutral-darkest-surface: 192, 163, 147;
}
