/************** Light Palette **************/
:root,
.ax-light,
.ax-dark .ax-light,
:root.ax-dark .ax-light {
  --ax-sys-color-light: 248, 246, 250;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 36, 32, 48;
  --ax-sys-color-lightest-surface: 255, 255, 255;
  --ax-sys-color-on-lightest-surface: 46, 46, 46;
  --ax-sys-color-border-lightest-surface: 237, 237, 237;
  --ax-sys-color-lighter-surface: 246, 245, 246;
  --ax-sys-color-on-lighter-surface: 46, 46, 46;
  --ax-sys-color-border-lighter-surface: 228, 227, 229;
  --ax-sys-color-light-surface: 239, 238, 239;
  --ax-sys-color-on-light-surface: 46, 45, 46;
  --ax-sys-color-border-light-surface: 221, 219, 222;
  --ax-sys-color-surface: 232, 231, 232;
  --ax-sys-color-on-surface: 46, 45, 47;
  --ax-sys-color-border-surface: 214, 212, 215;
  --ax-sys-color-dark-surface: 225, 223, 226;
  --ax-sys-color-on-dark-surface: 46, 45, 47;
  --ax-sys-color-border-dark-surface: 207, 205, 208;
  --ax-sys-color-darker-surface: 218, 216, 219;
  --ax-sys-color-on-darker-surface: 47, 45, 47;
  --ax-sys-color-border-darker-surface: 200, 197, 202;
  --ax-sys-color-darkest-surface: 209, 206, 210;
  --ax-sys-color-on-darkest-surface: 47, 45, 48;
  --ax-sys-color-border-darkest-surface: 191, 188, 193;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 231, 255;
  --ax-sys-color-primary-100: 247, 208, 255;
  --ax-sys-color-primary-200: 231, 178, 255;
  --ax-sys-color-primary-300: 194, 144, 222;
  --ax-sys-color-primary-400: 150, 101, 177;
  --ax-sys-color-primary-500: 123, 75, 148;
  --ax-sys-color-primary-600: 112, 65, 137;
  --ax-sys-color-primary-700: 100, 52, 124;
  --ax-sys-color-primary-800: 88, 45, 109;
  --ax-sys-color-primary-900: 75, 46, 90;
  --ax-sys-color-primary-950: 50, 30, 61;
  --ax-sys-color-secondary-50: 255, 232, 255;
  --ax-sys-color-secondary-100: 255, 210, 255;
  --ax-sys-color-secondary-200: 244, 192, 247;
  --ax-sys-color-secondary-300: 215, 163, 217;
  --ax-sys-color-secondary-400: 178, 129, 181;
  --ax-sys-color-secondary-500: 155, 107, 158;
  --ax-sys-color-secondary-600: 139, 92, 142;
  --ax-sys-color-secondary-700: 119, 73, 122;
  --ax-sys-color-secondary-800: 101, 60, 104;
  --ax-sys-color-secondary-900: 84, 55, 86;
  --ax-sys-color-secondary-950: 48, 29, 50;
  --ax-sys-color-success-50: 212, 255, 210;
  --ax-sys-color-success-100: 169, 255, 169;
  --ax-sys-color-success-200: 149, 248, 150;
  --ax-sys-color-success-300: 125, 224, 127;
  --ax-sys-color-success-400: 96, 194, 98;
  --ax-sys-color-success-500: 76, 175, 80;
  --ax-sys-color-success-600: 53, 154, 59;
  --ax-sys-color-success-700: 16, 128, 31;
  --ax-sys-color-success-800: 21, 107, 18;
  --ax-sys-color-success-900: 41, 87, 38;
  --ax-sys-color-success-950: 23, 42, 22;
  --ax-sys-color-warning-50: 255, 244, 217;
  --ax-sys-color-warning-100: 255, 234, 196;
  --ax-sys-color-warning-200: 255, 220, 166;
  --ax-sys-color-warning-300: 255, 197, 113;
  --ax-sys-color-warning-400: 255, 170, 45;
  --ax-sys-color-warning-500: 243, 156, 18;
  --ax-sys-color-warning-600: 215, 130, 0;
  --ax-sys-color-warning-700: 175, 102, 0;
  --ax-sys-color-warning-800: 139, 83, 20;
  --ax-sys-color-warning-900: 107, 71, 40;
  --ax-sys-color-warning-950: 44, 29, 18;
  --ax-sys-color-danger-50: 255, 237, 231;
  --ax-sys-color-danger-100: 255, 220, 212;
  --ax-sys-color-danger-200: 255, 195, 183;
  --ax-sys-color-danger-300: 255, 154, 137;
  --ax-sys-color-danger-400: 255, 99, 81;
  --ax-sys-color-danger-500: 231, 76, 60;
  --ax-sys-color-danger-600: 210, 54, 41;
  --ax-sys-color-danger-700: 184, 21, 12;
  --ax-sys-color-danger-800: 157, 23, 15;
  --ax-sys-color-danger-900: 123, 44, 35;
  --ax-sys-color-danger-950: 63, 28, 23;
  --ax-sys-color-accent1-50: 255, 237, 255;
  --ax-sys-color-accent1-100: 255, 221, 255;
  --ax-sys-color-accent1-200: 255, 197, 255;
  --ax-sys-color-accent1-300: 240, 171, 253;
  --ax-sys-color-accent1-400: 211, 143, 223;
  --ax-sys-color-accent1-500: 193, 126, 205;
  --ax-sys-color-accent1-600: 170, 105, 182;
  --ax-sys-color-accent1-700: 143, 79, 155;
  --ax-sys-color-accent1-800: 120, 62, 130;
  --ax-sys-color-accent1-900: 96, 56, 103;
  --ax-sys-color-accent1-950: 49, 25, 54;
  --ax-sys-color-accent2-50: 255, 243, 249;
  --ax-sys-color-accent2-100: 255, 236, 243;
  --ax-sys-color-accent2-200: 255, 227, 236;
  --ax-sys-color-accent2-300: 255, 216, 225;
  --ax-sys-color-accent2-400: 241, 203, 211;
  --ax-sys-color-accent2-500: 232, 194, 202;
  --ax-sys-color-accent2-600: 200, 163, 171;
  --ax-sys-color-accent2-700: 161, 126, 134;
  --ax-sys-color-accent2-800: 129, 98, 105;
  --ax-sys-color-accent2-900: 101, 80, 84;
  --ax-sys-color-accent2-950: 39, 26, 29;
  --ax-sys-color-accent3-50: 248, 246, 255;
  --ax-sys-color-accent3-100: 240, 238, 255;
  --ax-sys-color-accent3-200: 229, 226, 255;
  --ax-sys-color-accent3-300: 213, 207, 255;
  --ax-sys-color-accent3-400: 193, 187, 246;
  --ax-sys-color-accent3-500: 180, 174, 232;
  --ax-sys-color-accent3-600: 154, 147, 204;
  --ax-sys-color-accent3-700: 122, 116, 170;
  --ax-sys-color-accent3-800: 98, 92, 140;
  --ax-sys-color-accent3-900: 80, 76, 109;
  --ax-sys-color-accent3-950: 31, 28, 50;
  --ax-sys-color-neutral-50: 250, 243, 255;
  --ax-sys-color-neutral-100: 240, 234, 255;
  --ax-sys-color-neutral-200: 227, 221, 246;
  --ax-sys-color-neutral-300: 207, 201, 226;
  --ax-sys-color-neutral-400: 182, 176, 200;
  --ax-sys-color-neutral-500: 166, 160, 184;
  --ax-sys-color-neutral-600: 143, 137, 160;
  --ax-sys-color-neutral-700: 116, 110, 132;
  --ax-sys-color-neutral-800: 94, 89, 109;
  --ax-sys-color-neutral-900: 77, 74, 88;
  --ax-sys-color-neutral-950: 34, 32, 41;
  --ax-sys-color-primary-lightest-surface: 247, 208, 255;
  --ax-sys-color-on-primary-lightest-surface: 62, 31, 69;
  --ax-sys-color-border-primary-lightest-surface: 241, 172, 255;
  --ax-sys-color-primary-lighter-surface: 231, 178, 255;
  --ax-sys-color-on-primary-lighter-surface: 67, 19, 85;
  --ax-sys-color-border-primary-lighter-surface: 220, 142, 255;
  --ax-sys-color-primary-light-surface: 194, 144, 222;
  --ax-sys-color-on-primary-light-surface: 66, 18, 88;
  --ax-sys-color-border-primary-light-surface: 179, 116, 214;
  --ax-sys-color-primary-surface: 123, 75, 148;
  --ax-sys-color-on-primary-surface: 255, 248, 255;
  --ax-sys-color-border-primary-surface: 103, 63, 124;
  --ax-sys-color-primary-dark-surface: 112, 65, 137;
  --ax-sys-color-on-primary-dark-surface: 255, 248, 255;
  --ax-sys-color-border-primary-dark-surface: 92, 54, 113;
  --ax-sys-color-primary-darker-surface: 100, 52, 124;
  --ax-sys-color-on-primary-darker-surface: 255, 248, 255;
  --ax-sys-color-border-primary-darker-surface: 80, 41, 99;
  --ax-sys-color-primary-darkest-surface: 88, 45, 109;
  --ax-sys-color-on-primary-darkest-surface: 255, 248, 255;
  --ax-sys-color-border-primary-darkest-surface: 68, 35, 84;
  --ax-sys-color-secondary-lightest-surface: 255, 210, 255;
  --ax-sys-color-on-secondary-lightest-surface: 65, 30, 66;
  --ax-sys-color-border-secondary-lightest-surface: 255, 174, 255;
  --ax-sys-color-secondary-lighter-surface: 244, 192, 247;
  --ax-sys-color-on-secondary-lighter-surface: 68, 26, 71;
  --ax-sys-color-border-secondary-lighter-surface: 238, 160, 243;
  --ax-sys-color-secondary-light-surface: 215, 163, 217;
  --ax-sys-color-on-secondary-light-surface: 68, 25, 71;
  --ax-sys-color-border-secondary-light-surface: 204, 138, 207;
  --ax-sys-color-secondary-surface: 155, 107, 158;
  --ax-sys-color-on-secondary-surface: 255, 247, 255;
  --ax-sys-color-border-secondary-surface: 136, 91, 139;
  --ax-sys-color-secondary-dark-surface: 139, 92, 142;
  --ax-sys-color-on-secondary-dark-surface: 255, 247, 255;
  --ax-sys-color-border-secondary-dark-surface: 118, 78, 120;
  --ax-sys-color-secondary-darker-surface: 119, 73, 122;
  --ax-sys-color-on-secondary-darker-surface: 255, 247, 255;
  --ax-sys-color-border-secondary-darker-surface: 97, 60, 100;
  --ax-sys-color-secondary-darkest-surface: 101, 60, 104;
  --ax-sys-color-on-secondary-darkest-surface: 255, 247, 255;
  --ax-sys-color-border-secondary-darkest-surface: 79, 47, 81;
  --ax-sys-color-success-lightest-surface: 169, 255, 169;
  --ax-sys-color-on-success-lightest-surface: 0, 60, 0;
  --ax-sys-color-border-success-lightest-surface: 133, 255, 133;
  --ax-sys-color-success-lighter-surface: 149, 248, 150;
  --ax-sys-color-on-success-lighter-surface: 0, 60, 0;
  --ax-sys-color-border-success-lighter-surface: 116, 246, 117;
  --ax-sys-color-success-light-surface: 125, 224, 127;
  --ax-sys-color-on-success-light-surface: 0, 60, 0;
  --ax-sys-color-border-success-light-surface: 96, 217, 99;
  --ax-sys-color-success-surface: 76, 175, 80;
  --ax-sys-color-on-success-surface: 235, 255, 234;
  --ax-sys-color-border-success-surface: 65, 150, 69;
  --ax-sys-color-success-dark-surface: 53, 154, 59;
  --ax-sys-color-on-success-dark-surface: 235, 255, 234;
  --ax-sys-color-border-success-dark-surface: 44, 127, 49;
  --ax-sys-color-success-darker-surface: 16, 128, 31;
  --ax-sys-color-on-success-darker-surface: 235, 255, 234;
  --ax-sys-color-border-success-darker-surface: 12, 96, 23;
  --ax-sys-color-success-darkest-surface: 21, 107, 18;
  --ax-sys-color-on-success-darkest-surface: 235, 255, 232;
  --ax-sys-color-border-success-darkest-surface: 15, 76, 13;
  --ax-sys-color-warning-lightest-surface: 255, 234, 196;
  --ax-sys-color-on-warning-lightest-surface: 59, 43, 8;
  --ax-sys-color-border-warning-lightest-surface: 255, 221, 160;
  --ax-sys-color-warning-lighter-surface: 255, 220, 166;
  --ax-sys-color-on-warning-lighter-surface: 67, 39, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 206, 130;
  --ax-sys-color-warning-light-surface: 255, 197, 113;
  --ax-sys-color-on-warning-light-surface: 69, 38, 0;
  --ax-sys-color-border-warning-light-surface: 255, 182, 77;
  --ax-sys-color-warning-surface: 243, 156, 18;
  --ax-sys-color-on-warning-surface: 255, 250, 229;
  --ax-sys-color-border-warning-surface: 214, 136, 11;
  --ax-sys-color-warning-dark-surface: 215, 130, 0;
  --ax-sys-color-on-warning-dark-surface: 255, 250, 231;
  --ax-sys-color-border-warning-dark-surface: 179, 108, 0;
  --ax-sys-color-warning-darker-surface: 175, 102, 0;
  --ax-sys-color-on-warning-darker-surface: 255, 249, 232;
  --ax-sys-color-border-warning-darker-surface: 139, 81, 0;
  --ax-sys-color-warning-darkest-surface: 139, 83, 20;
  --ax-sys-color-on-warning-darkest-surface: 255, 249, 232;
  --ax-sys-color-border-warning-darkest-surface: 108, 64, 16;
  --ax-sys-color-danger-lightest-surface: 255, 220, 212;
  --ax-sys-color-on-danger-lightest-surface: 64, 38, 32;
  --ax-sys-color-border-danger-lightest-surface: 255, 191, 176;
  --ax-sys-color-danger-lighter-surface: 255, 195, 183;
  --ax-sys-color-on-danger-lighter-surface: 75, 30, 22;
  --ax-sys-color-border-danger-lighter-surface: 255, 165, 147;
  --ax-sys-color-danger-light-surface: 255, 154, 137;
  --ax-sys-color-on-danger-light-surface: 93, 0, 0;
  --ax-sys-color-border-danger-light-surface: 255, 123, 101;
  --ax-sys-color-danger-surface: 231, 76, 60;
  --ax-sys-color-on-danger-surface: 255, 248, 244;
  --ax-sys-color-border-danger-surface: 227, 47, 28;
  --ax-sys-color-danger-dark-surface: 210, 54, 41;
  --ax-sys-color-on-danger-dark-surface: 255, 248, 244;
  --ax-sys-color-border-danger-dark-surface: 180, 46, 35;
  --ax-sys-color-danger-darker-surface: 184, 21, 12;
  --ax-sys-color-on-danger-darker-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darker-surface: 150, 17, 10;
  --ax-sys-color-danger-darkest-surface: 157, 23, 15;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darkest-surface: 124, 18, 12;
  --ax-sys-color-accent1-lightest-surface: 255, 221, 255;
  --ax-sys-color-on-accent1-lightest-surface: 61, 35, 61;
  --ax-sys-color-border-accent1-lightest-surface: 255, 185, 255;
  --ax-sys-color-accent1-lighter-surface: 255, 197, 255;
  --ax-sys-color-on-accent1-lighter-surface: 70, 23, 72;
  --ax-sys-color-border-accent1-lighter-surface: 255, 161, 255;
  --ax-sys-color-accent1-light-surface: 240, 171, 253;
  --ax-sys-color-on-accent1-light-surface: 74, 7, 85;
  --ax-sys-color-border-accent1-light-surface: 234, 136, 252;
  --ax-sys-color-accent1-surface: 193, 126, 205;
  --ax-sys-color-on-accent1-surface: 255, 247, 255;
  --ax-sys-color-border-accent1-surface: 181, 100, 195;
  --ax-sys-color-accent1-dark-surface: 170, 105, 182;
  --ax-sys-color-on-accent1-dark-surface: 255, 247, 255;
  --ax-sys-color-border-accent1-dark-surface: 156, 82, 169;
  --ax-sys-color-accent1-darker-surface: 143, 79, 155;
  --ax-sys-color-on-accent1-darker-surface: 255, 247, 255;
  --ax-sys-color-border-accent1-darker-surface: 121, 67, 131;
  --ax-sys-color-accent1-darkest-surface: 120, 62, 130;
  --ax-sys-color-on-accent1-darkest-surface: 255, 247, 255;
  --ax-sys-color-border-accent1-darkest-surface: 98, 50, 106;
  --ax-sys-color-accent2-lightest-surface: 255, 236, 243;
  --ax-sys-color-on-accent2-lightest-surface: 55, 41, 47;
  --ax-sys-color-border-accent2-lightest-surface: 255, 200, 220;
  --ax-sys-color-accent2-lighter-surface: 255, 227, 236;
  --ax-sys-color-on-accent2-lighter-surface: 59, 39, 46;
  --ax-sys-color-border-accent2-lighter-surface: 255, 191, 212;
  --ax-sys-color-accent2-light-surface: 255, 216, 225;
  --ax-sys-color-on-accent2-light-surface: 65, 36, 44;
  --ax-sys-color-border-accent2-light-surface: 255, 180, 198;
  --ax-sys-color-accent2-surface: 232, 194, 202;
  --ax-sys-color-on-accent2-surface: 65, 36, 43;
  --ax-sys-color-border-accent2-surface: 222, 168, 179;
  --ax-sys-color-accent2-dark-surface: 200, 163, 171;
  --ax-sys-color-on-accent2-dark-surface: 255, 247, 251;
  --ax-sys-color-border-accent2-dark-surface: 187, 141, 151;
  --ax-sys-color-accent2-darker-surface: 161, 126, 134;
  --ax-sys-color-on-accent2-darker-surface: 255, 247, 252;
  --ax-sys-color-border-accent2-darker-surface: 145, 106, 115;
  --ax-sys-color-accent2-darkest-surface: 129, 98, 105;
  --ax-sys-color-on-accent2-darkest-surface: 255, 247, 251;
  --ax-sys-color-border-accent2-darkest-surface: 109, 83, 88;
  --ax-sys-color-accent3-lightest-surface: 240, 238, 255;
  --ax-sys-color-on-accent3-lightest-surface: 46, 44, 57;
  --ax-sys-color-border-accent3-lightest-surface: 209, 202, 255;
  --ax-sys-color-accent3-lighter-surface: 229, 226, 255;
  --ax-sys-color-on-accent3-lighter-surface: 46, 42, 64;
  --ax-sys-color-border-accent3-lighter-surface: 197, 190, 255;
  --ax-sys-color-accent3-light-surface: 213, 207, 255;
  --ax-sys-color-on-accent3-light-surface: 46, 39, 76;
  --ax-sys-color-border-accent3-light-surface: 182, 171, 255;
  --ax-sys-color-accent3-surface: 180, 174, 232;
  --ax-sys-color-on-accent3-surface: 46, 37, 84;
  --ax-sys-color-border-accent3-surface: 154, 146, 224;
  --ax-sys-color-accent3-dark-surface: 154, 147, 204;
  --ax-sys-color-on-accent3-dark-surface: 46, 36, 84;
  --ax-sys-color-border-accent3-dark-surface: 131, 123, 193;
  --ax-sys-color-accent3-darker-surface: 122, 116, 170;
  --ax-sys-color-on-accent3-darker-surface: 252, 251, 255;
  --ax-sys-color-border-accent3-darker-surface: 102, 95, 155;
  --ax-sys-color-accent3-darkest-surface: 98, 92, 140;
  --ax-sys-color-on-accent3-darkest-surface: 252, 251, 255;
  --ax-sys-color-border-accent3-darkest-surface: 83, 78, 118;
  --ax-sys-color-neutral-lightest-surface: 240, 234, 255;
  --ax-sys-color-on-neutral-lightest-surface: 48, 43, 58;
  --ax-sys-color-border-neutral-lightest-surface: 214, 198, 255;
  --ax-sys-color-neutral-lighter-surface: 227, 221, 246;
  --ax-sys-color-on-neutral-lighter-surface: 47, 42, 61;
  --ax-sys-color-border-neutral-lighter-surface: 204, 193, 239;
  --ax-sys-color-neutral-light-surface: 207, 201, 226;
  --ax-sys-color-on-neutral-light-surface: 47, 42, 61;
  --ax-sys-color-border-neutral-light-surface: 186, 178, 214;
  --ax-sys-color-neutral-surface: 166, 160, 184;
  --ax-sys-color-on-neutral-surface: 47, 42, 61;
  --ax-sys-color-border-neutral-surface: 147, 140, 169;
  --ax-sys-color-neutral-dark-surface: 143, 137, 160;
  --ax-sys-color-on-neutral-dark-surface: 255, 250, 255;
  --ax-sys-color-border-neutral-dark-surface: 124, 117, 144;
  --ax-sys-color-neutral-darker-surface: 116, 110, 132;
  --ax-sys-color-on-neutral-darker-surface: 255, 250, 255;
  --ax-sys-color-border-neutral-darker-surface: 99, 94, 113;
  --ax-sys-color-neutral-darkest-surface: 94, 89, 109;
  --ax-sys-color-on-neutral-darkest-surface: 255, 250, 255;
  --ax-sys-color-border-neutral-darkest-surface: 77, 73, 89;
}

/************** Dark Palette **************/
:root.ax-dark,
.ax-dark {
  --ax-sys-color-light: 248, 246, 250;
  --ax-sys-color-neutral: 128, 128, 128;
  --ax-sys-color-dark: 36, 32, 48;
  --ax-sys-color-lightest-surface: 45, 40, 55;
  --ax-sys-color-on-lightest-surface: 255, 250, 255;
  --ax-sys-color-border-lightest-surface: 67, 59, 82;
  --ax-sys-color-lighter-surface: 41, 36, 51;
  --ax-sys-color-on-lighter-surface: 255, 250, 255;
  --ax-sys-color-border-lighter-surface: 63, 56, 77;
  --ax-sys-color-light-surface: 38, 34, 47;
  --ax-sys-color-on-light-surface: 255, 250, 255;
  --ax-sys-color-border-light-surface: 60, 53, 74;
  --ax-sys-color-surface: 36, 31, 44;
  --ax-sys-color-on-surface: 255, 250, 255;
  --ax-sys-color-border-surface: 57, 50, 71;
  --ax-sys-color-dark-surface: 33, 28, 41;
  --ax-sys-color-on-dark-surface: 255, 250, 255;
  --ax-sys-color-border-dark-surface: 54, 47, 68;
  --ax-sys-color-darker-surface: 30, 26, 37;
  --ax-sys-color-on-darker-surface: 255, 250, 255;
  --ax-sys-color-border-darker-surface: 52, 44, 65;
  --ax-sys-color-darkest-surface: 26, 22, 33;
  --ax-sys-color-on-darkest-surface: 255, 250, 255;
  --ax-sys-color-border-darkest-surface: 48, 40, 61;
  /* Ranges */
  --ax-sys-color-primary-50: 255, 233, 255;
  --ax-sys-color-primary-100: 250, 217, 255;
  --ax-sys-color-primary-200: 236, 184, 255;
  --ax-sys-color-primary-300: 213, 161, 241;
  --ax-sys-color-primary-400: 189, 139, 217;
  --ax-sys-color-primary-500: 167, 117, 194;
  --ax-sys-color-primary-600: 145, 96, 171;
  --ax-sys-color-primary-700: 123, 75, 148;
  --ax-sys-color-primary-800: 115, 67, 139;
  --ax-sys-color-primary-900: 106, 59, 130;
  --ax-sys-color-primary-950: 102, 55, 126;
  --ax-sys-color-secondary-50: 255, 234, 255;
  --ax-sys-color-secondary-100: 255, 219, 255;
  --ax-sys-color-secondary-200: 249, 196, 252;
  --ax-sys-color-secondary-300: 229, 178, 232;
  --ax-sys-color-secondary-400: 210, 159, 213;
  --ax-sys-color-secondary-500: 192, 142, 195;
  --ax-sys-color-secondary-600: 173, 124, 176;
  --ax-sys-color-secondary-700: 155, 107, 158;
  --ax-sys-color-secondary-800: 142, 95, 145;
  --ax-sys-color-secondary-900: 129, 83, 132;
  --ax-sys-color-secondary-950: 123, 77, 126;
  --ax-sys-color-success-50: 215, 255, 213;
  --ax-sys-color-success-100: 186, 255, 185;
  --ax-sys-color-success-200: 153, 252, 153;
  --ax-sys-color-success-300: 137, 236, 138;
  --ax-sys-color-success-400: 122, 221, 124;
  --ax-sys-color-success-500: 107, 205, 109;
  --ax-sys-color-success-600: 92, 190, 94;
  --ax-sys-color-success-700: 76, 175, 80;
  --ax-sys-color-success-800: 58, 158, 63;
  --ax-sys-color-success-900: 37, 141, 46;
  --ax-sys-color-success-950: 25, 133, 37;
  --ax-sys-color-warning-50: 255, 245, 219;
  --ax-sys-color-warning-100: 255, 238, 204;
  --ax-sys-color-warning-200: 255, 224, 174;
  --ax-sys-color-warning-300: 255, 209, 141;
  --ax-sys-color-warning-400: 255, 194, 104;
  --ax-sys-color-warning-500: 255, 178, 57;
  --ax-sys-color-warning-600: 255, 167, 41;
  --ax-sys-color-warning-700: 243, 156, 18;
  --ax-sys-color-warning-800: 220, 135, 0;
  --ax-sys-color-warning-900: 196, 116, 0;
  --ax-sys-color-warning-950: 183, 107, 0;
  --ax-sys-color-danger-50: 255, 238, 233;
  --ax-sys-color-danger-100: 255, 226, 219;
  --ax-sys-color-danger-200: 255, 201, 190;
  --ax-sys-color-danger-300: 255, 175, 161;
  --ax-sys-color-danger-400: 255, 147, 130;
  --ax-sys-color-danger-500: 255, 115, 96;
  --ax-sys-color-danger-600: 250, 94, 76;
  --ax-sys-color-danger-700: 231, 76, 60;
  --ax-sys-color-danger-800: 214, 59, 45;
  --ax-sys-color-danger-900: 197, 40, 29;
  --ax-sys-color-danger-950: 189, 29, 19;
  --ax-sys-color-accent1-50: 255, 238, 255;
  --ax-sys-color-accent1-100: 255, 227, 255;
  --ax-sys-color-accent1-200: 255, 203, 255;
  --ax-sys-color-accent1-300: 252, 182, 255;
  --ax-sys-color-accent1-400: 237, 167, 249;
  --ax-sys-color-accent1-500: 222, 153, 234;
  --ax-sys-color-accent1-600: 207, 140, 220;
  --ax-sys-color-accent1-700: 193, 126, 205;
  --ax-sys-color-accent1-800: 175, 109, 187;
  --ax-sys-color-accent1-900: 157, 92, 169;
  --ax-sys-color-accent1-950: 149, 84, 160;
  --ax-sys-color-accent2-50: 255, 244, 249;
  --ax-sys-color-accent2-100: 255, 239, 245;
  --ax-sys-color-accent2-200: 255, 229, 237;
  --ax-sys-color-accent2-300: 255, 222, 230;
  --ax-sys-color-accent2-400: 254, 215, 223;
  --ax-sys-color-accent2-500: 246, 208, 216;
  --ax-sys-color-accent2-600: 239, 201, 209;
  --ax-sys-color-accent2-700: 232, 194, 202;
  --ax-sys-color-accent2-800: 206, 169, 177;
  --ax-sys-color-accent2-900: 181, 145, 153;
  --ax-sys-color-accent2-950: 169, 133, 141;
  --ax-sys-color-accent3-50: 249, 247, 255;
  --ax-sys-color-accent3-100: 243, 241, 255;
  --ax-sys-color-accent3-200: 232, 229, 255;
  --ax-sys-color-accent3-300: 221, 216, 255;
  --ax-sys-color-accent3-400: 211, 205, 255;
  --ax-sys-color-accent3-500: 200, 194, 254;
  --ax-sys-color-accent3-600: 190, 184, 243;
  --ax-sys-color-accent3-700: 180, 174, 232;
  --ax-sys-color-accent3-800: 159, 153, 209;
  --ax-sys-color-accent3-900: 138, 132, 187;
  --ax-sys-color-accent3-950: 128, 122, 176;
  --ax-sys-color-neutral-50: 250, 244, 255;
  --ax-sys-color-neutral-100: 244, 237, 255;
  --ax-sys-color-neutral-200: 230, 224, 250;
  --ax-sys-color-neutral-300: 217, 211, 236;
  --ax-sys-color-neutral-400: 204, 198, 223;
  --ax-sys-color-neutral-500: 191, 185, 210;
  --ax-sys-color-neutral-600: 179, 172, 197;
  --ax-sys-color-neutral-700: 166, 160, 184;
  --ax-sys-color-neutral-800: 148, 142, 165;
  --ax-sys-color-neutral-900: 130, 124, 147;
  --ax-sys-color-neutral-950: 121, 115, 138;
  --ax-sys-color-primary-lightest-surface: 250, 217, 255;
  --ax-sys-color-on-primary-lightest-surface: 34, 10, 38;
  --ax-sys-color-border-primary-lightest-surface: 256, 263, 255;
  --ax-sys-color-primary-lighter-surface: 236, 184, 255;
  --ax-sys-color-on-primary-lighter-surface: 40, 0, 54;
  --ax-sys-color-border-primary-lighter-surface: 248, 230, 255;
  --ax-sys-color-primary-light-surface: 213, 161, 241;
  --ax-sys-color-on-primary-light-surface: 40, 0, 59;
  --ax-sys-color-border-primary-light-surface: 231, 201, 247;
  --ax-sys-color-primary-surface: 167, 117, 194;
  --ax-sys-color-on-primary-surface: 40, 0, 59;
  --ax-sys-color-border-primary-surface: 187, 149, 208;
  --ax-sys-color-primary-dark-surface: 145, 96, 171;
  --ax-sys-color-on-primary-dark-surface: 40, 0, 59;
  --ax-sys-color-border-primary-dark-surface: 166, 126, 187;
  --ax-sys-color-primary-darker-surface: 123, 75, 148;
  --ax-sys-color-on-primary-darker-surface: 255, 248, 255;
  --ax-sys-color-border-primary-darker-surface: 147, 95, 174;
  --ax-sys-color-primary-darkest-surface: 115, 67, 139;
  --ax-sys-color-on-primary-darkest-surface: 255, 248, 255;
  --ax-sys-color-border-primary-darkest-surface: 141, 82, 170;
  --ax-sys-color-secondary-lightest-surface: 255, 219, 255;
  --ax-sys-color-on-secondary-lightest-surface: 36, 10, 37;
  --ax-sys-color-border-secondary-lightest-surface: 255, 265, 255;
  --ax-sys-color-secondary-lighter-surface: 249, 196, 252;
  --ax-sys-color-on-secondary-lighter-surface: 41, 0, 45;
  --ax-sys-color-border-secondary-lighter-surface: 253, 240, 254;
  --ax-sys-color-secondary-light-surface: 229, 178, 232;
  --ax-sys-color-on-secondary-light-surface: 41, 0, 44;
  --ax-sys-color-border-secondary-light-surface: 241, 213, 243;
  --ax-sys-color-secondary-surface: 192, 142, 195;
  --ax-sys-color-on-secondary-surface: 41, 0, 45;
  --ax-sys-color-border-secondary-surface: 209, 172, 211;
  --ax-sys-color-secondary-dark-surface: 173, 124, 176;
  --ax-sys-color-on-secondary-dark-surface: 41, 0, 45;
  --ax-sys-color-border-secondary-dark-surface: 191, 153, 193;
  --ax-sys-color-secondary-darker-surface: 155, 107, 158;
  --ax-sys-color-on-secondary-darker-surface: 41, 0, 45;
  --ax-sys-color-border-secondary-darker-surface: 174, 135, 176;
  --ax-sys-color-secondary-darkest-surface: 142, 95, 145;
  --ax-sys-color-on-secondary-darkest-surface: 255, 247, 255;
  --ax-sys-color-border-secondary-darkest-surface: 163, 120, 166;
  --ax-sys-color-success-lightest-surface: 186, 255, 185;
  --ax-sys-color-on-success-lightest-surface: 0, 31, 0;
  --ax-sys-color-border-success-lightest-surface: 231, 255, 231;
  --ax-sys-color-success-lighter-surface: 153, 252, 153;
  --ax-sys-color-on-success-lighter-surface: 0, 31, 0;
  --ax-sys-color-border-success-lighter-surface: 198, 253, 198;
  --ax-sys-color-success-light-surface: 137, 236, 138;
  --ax-sys-color-on-success-light-surface: 0, 31, 0;
  --ax-sys-color-border-success-light-surface: 177, 242, 177;
  --ax-sys-color-success-surface: 107, 205, 109;
  --ax-sys-color-on-success-surface: 0, 31, 0;
  --ax-sys-color-border-success-surface: 141, 217, 143;
  --ax-sys-color-success-dark-surface: 92, 190, 94;
  --ax-sys-color-on-success-dark-surface: 0, 31, 0;
  --ax-sys-color-border-success-dark-surface: 125, 203, 126;
  --ax-sys-color-success-darker-surface: 76, 175, 80;
  --ax-sys-color-on-success-darker-surface: 0, 31, 0;
  --ax-sys-color-border-success-darker-surface: 106, 190, 110;
  --ax-sys-color-success-darkest-surface: 58, 158, 63;
  --ax-sys-color-on-success-darkest-surface: 0, 31, 0;
  --ax-sys-color-border-success-darkest-surface: 74, 188, 79;
  --ax-sys-color-warning-lightest-surface: 255, 238, 204;
  --ax-sys-color-on-warning-lightest-surface: 32, 20, 0;
  --ax-sys-color-border-warning-lightest-surface: 255, 253, 250;
  --ax-sys-color-warning-lighter-surface: 255, 224, 174;
  --ax-sys-color-on-warning-lighter-surface: 36, 17, 0;
  --ax-sys-color-border-warning-lighter-surface: 255, 242, 220;
  --ax-sys-color-warning-light-surface: 255, 209, 141;
  --ax-sys-color-on-warning-light-surface: 37, 17, 0;
  --ax-sys-color-border-warning-light-surface: 255, 228, 187;
  --ax-sys-color-warning-surface: 255, 178, 57;
  --ax-sys-color-on-warning-surface: 38, 16, 0;
  --ax-sys-color-border-warning-surface: 255, 196, 103;
  --ax-sys-color-warning-dark-surface: 255, 167, 41;
  --ax-sys-color-on-warning-dark-surface: 39, 15, 0;
  --ax-sys-color-border-warning-dark-surface: 255, 186, 87;
  --ax-sys-color-warning-darker-surface: 243, 156, 18;
  --ax-sys-color-on-warning-darker-surface: 39, 15, 0;
  --ax-sys-color-border-warning-darker-surface: 245, 174, 62;
  --ax-sys-color-warning-darkest-surface: 220, 135, 0;
  --ax-sys-color-on-warning-darkest-surface: 40, 14, 0;
  --ax-sys-color-border-warning-darkest-surface: 255, 161, 11;
  --ax-sys-color-danger-lightest-surface: 255, 226, 219;
  --ax-sys-color-on-danger-lightest-surface: 35, 16, 12;
  --ax-sys-color-border-danger-lightest-surface: 255, 263, 265;
  --ax-sys-color-danger-lighter-surface: 255, 201, 190;
  --ax-sys-color-on-danger-lighter-surface: 45, 7, 3;
  --ax-sys-color-border-danger-lighter-surface: 255, 239, 236;
  --ax-sys-color-danger-light-surface: 255, 175, 161;
  --ax-sys-color-on-danger-light-surface: 54, 0, 0;
  --ax-sys-color-border-danger-light-surface: 255, 214, 207;
  --ax-sys-color-danger-surface: 255, 115, 96;
  --ax-sys-color-on-danger-surface: 56, 0, 0;
  --ax-sys-color-border-danger-surface: 255, 155, 142;
  --ax-sys-color-danger-dark-surface: 250, 94, 76;
  --ax-sys-color-on-danger-dark-surface: 56, 0, 0;
  --ax-sys-color-border-danger-dark-surface: 251, 134, 121;
  --ax-sys-color-danger-darker-surface: 231, 76, 60;
  --ax-sys-color-on-danger-darker-surface: 56, 0, 0;
  --ax-sys-color-border-danger-darker-surface: 236, 114, 101;
  --ax-sys-color-danger-darkest-surface: 214, 59, 45;
  --ax-sys-color-on-danger-darkest-surface: 255, 248, 244;
  --ax-sys-color-border-danger-darkest-surface: 221, 95, 83;
  --ax-sys-color-accent1-lightest-surface: 255, 227, 255;
  --ax-sys-color-on-accent1-lightest-surface: 33, 13, 33;
  --ax-sys-color-border-accent1-lightest-surface: 255, 273, 255;
  --ax-sys-color-accent1-lighter-surface: 255, 203, 255;
  --ax-sys-color-on-accent1-lighter-surface: 41, 1, 43;
  --ax-sys-color-border-accent1-lighter-surface: 255, 249, 255;
  --ax-sys-color-accent1-light-surface: 252, 182, 255;
  --ax-sys-color-on-accent1-light-surface: 45, 0, 49;
  --ax-sys-color-border-accent1-light-surface: 254, 228, 255;
  --ax-sys-color-accent1-surface: 222, 153, 234;
  --ax-sys-color-on-accent1-surface: 43, 0, 52;
  --ax-sys-color-border-accent1-surface: 234, 191, 242;
  --ax-sys-color-accent1-dark-surface: 207, 140, 220;
  --ax-sys-color-on-accent1-dark-surface: 43, 0, 53;
  --ax-sys-color-border-accent1-dark-surface: 222, 175, 231;
  --ax-sys-color-accent1-darker-surface: 193, 126, 205;
  --ax-sys-color-on-accent1-darker-surface: 43, 0, 52;
  --ax-sys-color-border-accent1-darker-surface: 209, 159, 218;
  --ax-sys-color-accent1-darkest-surface: 175, 109, 187;
  --ax-sys-color-on-accent1-darkest-surface: 43, 0, 53;
  --ax-sys-color-border-accent1-darkest-surface: 192, 140, 202;
  --ax-sys-color-accent2-lightest-surface: 255, 239, 245;
  --ax-sys-color-on-accent2-lightest-surface: 29, 19, 23;
  --ax-sys-color-border-accent2-lightest-surface: 255, 285, 274;
  --ax-sys-color-accent2-lighter-surface: 255, 229, 237;
  --ax-sys-color-on-accent2-lighter-surface: 33, 16, 22;
  --ax-sys-color-border-accent2-lighter-surface: 255, 275, 269;
  --ax-sys-color-accent2-light-surface: 255, 222, 230;
  --ax-sys-color-on-accent2-light-surface: 36, 14, 21;
  --ax-sys-color-border-accent2-light-surface: 255, 268, 265;
  --ax-sys-color-accent2-surface: 246, 208, 216;
  --ax-sys-color-on-accent2-surface: 38, 13, 20;
  --ax-sys-color-border-accent2-surface: 253, 247, 248;
  --ax-sys-color-accent2-dark-surface: 239, 201, 209;
  --ax-sys-color-on-accent2-dark-surface: 38, 12, 20;
  --ax-sys-color-border-accent2-dark-surface: 249, 236, 239;
  --ax-sys-color-accent2-darker-surface: 232, 194, 202;
  --ax-sys-color-on-accent2-darker-surface: 38, 12, 20;
  --ax-sys-color-border-accent2-darker-surface: 245, 227, 231;
  --ax-sys-color-accent2-darkest-surface: 206, 169, 177;
  --ax-sys-color-on-accent2-darkest-surface: 38, 12, 20;
  --ax-sys-color-border-accent2-darkest-surface: 223, 198, 204;
  --ax-sys-color-accent3-lightest-surface: 243, 241, 255;
  --ax-sys-color-on-accent3-lightest-surface: 22, 21, 30;
  --ax-sys-color-border-accent3-lightest-surface: 282, 287, 255;
  --ax-sys-color-accent3-lighter-surface: 232, 229, 255;
  --ax-sys-color-on-accent3-lighter-surface: 22, 19, 37;
  --ax-sys-color-border-accent3-lighter-surface: 273, 275, 255;
  --ax-sys-color-accent3-light-surface: 221, 216, 255;
  --ax-sys-color-on-accent3-light-surface: 23, 16, 44;
  --ax-sys-color-border-accent3-light-surface: 261, 262, 255;
  --ax-sys-color-accent3-surface: 200, 194, 254;
  --ax-sys-color-on-accent3-surface: 23, 10, 56;
  --ax-sys-color-border-accent3-surface: 241, 239, 255;
  --ax-sys-color-accent3-dark-surface: 190, 184, 243;
  --ax-sys-color-on-accent3-dark-surface: 23, 11, 56;
  --ax-sys-color-border-accent3-dark-surface: 226, 223, 250;
  --ax-sys-color-accent3-darker-surface: 180, 174, 232;
  --ax-sys-color-on-accent3-darker-surface: 23, 11, 56;
  --ax-sys-color-border-accent3-darker-surface: 213, 210, 242;
  --ax-sys-color-accent3-darkest-surface: 159, 153, 209;
  --ax-sys-color-on-accent3-darkest-surface: 23, 11, 55;
  --ax-sys-color-border-accent3-darkest-surface: 189, 185, 223;
  --ax-sys-color-neutral-lightest-surface: 244, 237, 255;
  --ax-sys-color-on-neutral-lightest-surface: 24, 19, 31;
  --ax-sys-color-border-neutral-lightest-surface: 272, 283, 255;
  --ax-sys-color-neutral-lighter-surface: 230, 224, 250;
  --ax-sys-color-on-neutral-lighter-surface: 24, 18, 36;
  --ax-sys-color-border-neutral-lighter-surface: 262, 264, 256;
  --ax-sys-color-neutral-light-surface: 217, 211, 236;
  --ax-sys-color-on-neutral-light-surface: 24, 19, 36;
  --ax-sys-color-border-neutral-light-surface: 245, 243, 250;
  --ax-sys-color-neutral-surface: 191, 185, 210;
  --ax-sys-color-on-neutral-surface: 24, 18, 36;
  --ax-sys-color-border-neutral-surface: 217, 213, 228;
  --ax-sys-color-neutral-dark-surface: 179, 172, 197;
  --ax-sys-color-on-neutral-dark-surface: 24, 18, 36;
  --ax-sys-color-border-neutral-dark-surface: 204, 199, 216;
  --ax-sys-color-neutral-darker-surface: 166, 160, 184;
  --ax-sys-color-on-neutral-darker-surface: 24, 18, 36;
  --ax-sys-color-border-neutral-darker-surface: 191, 186, 204;
  --ax-sys-color-neutral-darkest-surface: 148, 142, 165;
  --ax-sys-color-on-neutral-darkest-surface: 24, 18, 36;
  --ax-sys-color-border-neutral-darkest-surface: 172, 168, 185;
}
